[2017-05-10 14:09] elvisangelaccio commented on #6749
Counter-example, Transmissions is a torrent client that uses `.part`.

I should stress that If you want to keep your own extension, you _can_. Just [submit a patch against shared-mime-info](https://cgit.freedesktop.org/xdg/shared-mime-info/tree/HACKING) and make sure the new mimetype inherits from the `application/x-partial-download` mimetype.

Then we should file a similar issue against libtorren

[2017-05-10 14:34] glassez commented on #5766
You're right... So I've updated my answers.

1. Agree
2. Agree
3. Agree
4. Disagree. We should maintain a predefined set.

We should delete them from our repo/distributions first. I don't think that creating a repository of plugins is too difficult and long. Moreover, we have someone who is willing to do it. @ngosang, isn't it? I hope he even make it to 3.4 final release.

[2017-05-10 14:49] glassez opened #6767 "Steps for version 3.4 release"
@sledgehammer999, @qbittorrent/frequent-contributors, as (more or less) big update coming, I would like to know how we stop. We have made many major changes to the code. What each of you expects to be there before we will release a public beta version (I hope no one was left in doubt of the need for a public beta version before the major update)?

My expectations are #5375, #5766, #6724.

[2017-05-10 16:10] tekko commented on #6749
https://github.com/arvidn/libtorrent/issues/388

[2017-05-10 16:49] thalieht commented on #6767
Considering all the icons were changed for this version, #6484 should be in as well.

[2017-05-10 16:59] sledgehammer999 commented on #6767
I'll comment in a couple of hours. But now something I don't want to forget:

Isn't v3.4.0 a great opportunity to dump the ".unwanted" folder functionality? Especially now that we support 1.1.x which puts unwanted blocks into a "parts" file? My intention is to make RC_1_1 the main series for 3.4.x.

If we agree to the above, doesn't anyone volunteer to make it happen? I assume we would need a migr

[2017-05-10 17:06] LordNyriox commented on #6767
@glassez, @evsh, @Chocobo1, @sledgehammer999:  Besides the PRs mentioned above (which I also am interested in seeing merged), there are several feature PRs that I would like to see merged (hopefully) sometime this year.  ;}

I believe it would be advisable to include [<https://github.com/qbittorrent/qBittorrent/pull/4994>], which completes the per-file availability feature, for one.

There is a fa

[2017-05-10 18:27] glassez commented on #6767
I'm not sure that #4029 and #3810 can be completed in a reasonable time.

Is migration required in this case? IMO, we can just stop doing it and leave existing files as is (and notice users about new behavior in release announcement).

[2017-05-10 18:31] evsh commented on #6767
Regarding libtorrent 1.1: take a look at libtorrent issue 1967. Such replacement to .unwanted files might enrage users even more.

[2017-05-10 18:37] WolfganP commented on #6767
I'm just happy https://github.com/qbittorrent/qBittorrent/pull/5465 was merged already, so I assume it will hit v3.4.0
Due all the changes included, I support the release of a beta version (Win10 in my case) for interested users to shake up the RC a bit beforehand.

[2017-05-10 18:38] Yogi1 commented on #6137
Well, it would surprise me if qBT can hash-check AND upload/download chunks at the same moment. I would assume (just a logical guess) that one task is excluding the other.

[2017-05-10 18:53] Yogi1 commented on #6557
@fbriere You are welcome!
Please note that in my scenario there was not any file which actually was in an incomplete state. All the torrent data was 100% present from the start of the operation. So I wonder how qBT is working internally, since in this process some files which actually are _not_ there (in this precise location) seem to be already "renamed" somehow internally. I never saw any file(n

[2017-05-10 19:02] KingLucius commented on #6723
@evsh  can you please write a wiki or guide me how to compile everything dynamically. I keep trying but I couldn't be succeeded.

[2017-05-10 19:50] top-ed opened #6768 "div by zero in piecesbar.cpp"
### qBittorrent version and Operating System:
3.3.12 on win10do

### If on linux, libtorrent and Qt version:
n/a

### What is the problem:
crash when trying to view torrent details

### What is the expected behavior:
not crashing

### Steps to reproduce:
magnet:?xt=urn:btih:b625dfb475a8622e1c9cf5e6146ccd02507a72b5&dn=cute%20anime%20chicks.txt

### Extra info(if any):
https://my.mixtape.moe/uapycu.

[2017-05-10 20:16] Tirka opened #6769 "qBittorrent UI freeze when I click on new RSS node of specified RSS Feed"
### qBittorrent version and Operating System:
qBittorrent  ver. 3.3.12. Windows 10 x64

### What is the problem:
qBittorrent UI freeze for a few seconds like it performing a blocking call when I click on RSS node of specified RSS Feed - http://www.lostfilm.tv/rss.xml

### What is the expected behavior:
I believe there should not be any freeze

### Steps to reproduce:
1) Add this RSS Feed: http://w

[2017-05-10 20:26] evsh commented on #6767
I actually would like to see #4994 in 3.4.0 too.

[2017-05-10 21:32] evsh commented on #6767
From my experience it is worth to force rechecking all half-downloaded torrents after upgrading to libtorrent 1.1 in order to create and fill proper .parts files. Otherwise I/O errors pop-up when these torrent are seeded.

[2017-05-10 21:58] skarp7 commented on #6748
Now I got it to give me the torrent created, but it shows up in inactive at
0% stalled

On Tue, May 9, 2017 at 12:45 PM, Samantha Karp Hauser <
samanthakarphauser@gmail.com> wrote:

[2017-05-10 23:20] LordNyriox commented on #6767
@glassez, @evsh:

True.  For one, someone else has to take over [<https://github.com/qbittorrent/qBittorrent/pull/4029>], since @takiz has mysteriously vanished since posting it.

As for [<https://github.com/qbittorrent/qBittorrent/pull/3810>]—which I personally consider related to issue [<https://github.com/qbittorrent/qBittorrent/issues/2433>]—I really would like to see @evsh rebasing and updati

[2017-05-10 23:24] evsh commented on #6767
#3810 is important for Linux users only in its current state (but I wanted to add configurable notifications, i.e. user can select which event they want to see in notifications and which to ignore). As such, I don't think it has anything but minor priority, don't you agree?

[2017-05-10 23:26] evsh commented on #6767
At the same time I'd like to point you at #6156, which clearly adds benefits and needs just updating the libs for distribution/appveyour.

[2017-05-10 23:46] LordNyriox commented on #6767
@evsh:

In my experience it is advisable to force-recheck all active torrents **whenever** one restarts the application, because resume data gets corrupted so irritatingly easily—especially if one clears temp files during runtime.

Not precisely true.  It was not the added configurability, but the code refactoring that interests me in that one.  I like the way [<https://github.com/qbittorrent/qBit

[2017-05-11 03:53] Chocobo1 commented on #6767
To keep things manageable, maybe we can use this: https://github.com/qbittorrent/qBittorrent/projects/1
I've already put in my notes and devs can put in theirs too (in a new column).

[2017-05-11 07:52] #6768 closed

[2017-05-11 09:45] klara31 commented on #5693
+1 for this feature!

[2017-05-11 10:26] napouser opened #6771 "request for statistics"
hello

i am interested to transfer from utorrent after 10 years to qBittorrent

one of the issues i am facing is statistics

i dont know how to transfer my total download upload

the qBittorrent-data.ini file does not make sense

also is it possible for qBittorrent to add certain usefull stats

like data transfered last 30 days
total program running time
total torrents added
times program launched

[2017-05-11 10:52] strayge commented on #6552
Same problem with qBittorrent 3.3.12, win 10 x64.

Seems like qbt not setting "Port Mapping Lifetime" field in NAT-PMP request. It always equals 0.
RFC 6886 said: "The NAT gateway SHOULD NOT offer a lease lifetime greater than that requested by the client."
So, miniupnpd return 0 as lifetime and as external port because it can't lease for 0 seconds.

Request:
![default](https://cloud.githubusercon

[2017-05-11 12:23] #6265 closed

[2017-05-11 17:21] KingLucius commented on #6723
I compiled the whole toolchain dynamically but when I compile qbittorrent.pro there is an error
[code]
Here is my folder structure
[code]
and here is winconf.pri file
[code]
winconf-msvc.pri
[code]

I hope I am close :)

[2017-05-11 17:27] evsh commented on #6723
LIBS += Ole32.lib

[2017-05-11 17:47] KingLucius commented on #6723
Thanks @evsh for help, everything is running as it should.

[2017-05-11 17:47] #6723 closed

[2017-05-12 03:27] Uncle808 commented on #6758
1x11- matches everthing from episode 11 onwards.
regular expression can be used to format a custom episode filter by using \d for a single digit, and . for a single random symbol.

In other words, Basic Show Title S2 Ep 95 is matched by [b]Basic Show Title S\d Ep \d\d[/b]

[2017-05-12 04:05] Uncle808 opened #6772 "[Wishlist] Execute command on completion for rss downloader"
Allows to automaticaly integrate released patches into software, copy files to media server or compose custom push mails without compromising normal behavior (I want to execute commands only on rss downloaded files).

[2017-05-12 06:40] Seeker2 commented on #6137
Hash-checking apparently doesn't gain exclusive control over the files in a torrent. It's only reading them, so they're not locked from access by other programs since that would definitely cause more problems than it might solve.

(Re)Downloading chunks of a torrent might lock files as far as write access goes, but even that might not lock out other attempts to read them.

Uploading chunks of a to

[2017-05-12 08:33] kevin-stuart commented on #6393
I was using the latest version at the time. It has been some time, I have since switched to directly submitting new files via command line most of the time as opposed to using the watch directory. It also happened very sporadically, which made this very hard to track. So unfortunately, I do not have anything new to add at this time.

[2017-05-12 08:53] zxcvb2 commented on #6696
I have been having this issue with qbittorrent freezing my computer requiring me to hold down the power button to turn it off.  For awhile, I was trying to figure out what was causing it.  I have pinpointed that it happens only when qbittorrent is downloading.  I have been running qbittorrent seeding for 4 days without incident.  i'm using the same windows version as the original poster and qbitto

[2017-05-12 12:49] gilasanchez opened #6773 "qBittorrent has to be restarted manually after autostart"
**qBittorrent v3.3.12** (64-bit) - **OpenSUSE Tumbleweed 20170510**
**Kernel:** x86_64 Linux 4.10.13-1-default
**DE:** GNOME

**libtorrent**: 1.1.3-1.1
**libqt4**: 4.8.7-6.1
**libqt5**: 5.7.1-1.2

### What is the problem:

When qBittorrent autostarts at system startup it is not seeding/downloading torrents (stalled).  It has to be restarted manually for seeding/downloading the torrents correctly.

[2017-05-12 15:48] evsh commented on #6773
How does the system start it automatically?

[2017-05-12 16:25] FranciscoPombal commented on #6767
@glassez, @evsh, @Chocobo1, @sledgehammer999
I would also like to see https://github.com/qbittorrent/qBittorrent/issues/6726 addressed as well, I think it is a serious security issue.

[2017-05-12 16:32] gilasanchez commented on #6773
There is a "Startup Applications" option in Gnome Tweak Tool where you can choose any application what you want to run at startup. It starts correctly, but does not seeding/downloading...

[2017-05-12 16:34] evsh commented on #6773
Could you share qBt log, please? It is in `~/.local/share/data/qBittorrent/logs/`.

[2017-05-12 16:42] gilasanchez commented on #6773
Of course.
[qbittorrent.zip](https://github.com/qbittorrent/qBittorrent/files/997379/qbittorrent.zip)

[2017-05-12 16:43] Chocobo1 commented on #6726
AFAIK there is only one way to secure the passwords:
* Setup 1 master password for all stored passwords.
  qbt then must query the user for master password on every startup or password usage (like linux command `sudo`).
  I doubt users will like this idea. Or someone please point out a viable solution.

Just to clarify, the current way of storing WebUI password isn't secure, don't get a false sens

[2017-05-12 17:21] evsh commented on #6773
Your network connects on logon too? It is not available until a user logs in?

[2017-05-12 17:33] evsh commented on #6726
If we go to platform-specific solution, we may use secret storage provided by environment, e.g. KWallet, DPAPI, Gnome keyring...

[2017-05-12 17:53] Seeker2 commented on #6767
I know there's no hope for "Alternate connections per torrent while seeding":  https://github.com/qbittorrent/qBittorrent/issues/2193  ...making it into v3.4.
But please consider it for a future version of qBT.

[2017-05-12 18:18] gilasanchez commented on #6773
Wow. I checked it, and the network does not connect before login. How could I solve that? I'm using GDM.

[2017-05-12 18:32] #5826 closed

[2017-05-12 18:34] gilasanchez commented on #6773
Oh God.. **PROBLEM SOLVED!!!**
I just had to **make available the network for other users in Network Manager**.

So there is no bug, just my fault. :+1:  :)

@evsh Thank you for your helpfulness!

[2017-05-12 18:39] Yogi1 commented on #6137
Fair logical reasoning. Now what if middle of a hash check a piece turns out to be corrupted at the same moment in time you are just seeding it? That of course can me multiplied by many in a very small time frame. And yes, if you would download at the same time a chunk while trying to hash check it, it would absolutely be a mess. Both processes should not be allowed to run simultaneously. Anyway,

[2017-05-12 18:44] dankerino opened #6774 "[Wishlist] Show number of pieces in Torrent Creator"
Hi, it would be very helpful to show the actual number of pieces that will be created. Maybe not for everybody, but for me and more advanced users it would. I was using dottorrent-gui for a while for creating torrents and now coming back, this feature is missing. Thanks

![pieces](https://cloud.githubusercontent.com/assets/1644971/26012117/bf9dfb6a-3753-11e7-90c5-e1b9051db6a2.jpg)

[2017-05-12 19:40] evsh commented on #6773
Then the bug is that qBittorrent does not react properly when connection appears. However, your log contains several events when qBt reports about network connection twice during the same minute. I guess it might be logon and then qBt tries to reconnect but maybe does it too early?

[2017-05-12 19:49] gilasanchez commented on #6773
As for me qBittorrent starts too early and a startup delay time setting also could solve the problem, but in Gnome the network setup is a more easier intervention.

[2017-05-13 00:49] alzebud opened #6775 "Search error v3.3.12"
qBittorrent v3.3.12 Windows 10

I can no longer perform searches with qBittorrent since I updated to version 3.3.12. Now I tried reverting to v3.3.11 and the search still doesn't work. Whenever I try searching for something, it seems to be doing something for a while, but no torrent search results ever show up. Then I get the "search aborted" message in the bottom left corner.

Something went wron

[2017-05-13 00:53] alzebud commented on #6753
I had the same issue for a while after updating to v3.3.12. As soon as I restarted, it seemed to revert to v3.3.11. I had to manually uninstall the current and install the latest version (v3.3.12) several times, before the issue was gone. I can no longer perform searches with qBittorrent either.

[2017-05-13 00:54] alzebud commented on #6753
I have always used qBittorrent on Windows 10 64-bit.

[2017-05-13 11:37] mostlyhuman opened #6778 "randomly downloading unselected files in a multi-file torrent"
**Please provide the following information**

### qBittorrent version and Operating System:
3.3.12  Windows 10 x64
### If on linux, libtorrent and Qt version:

### What is the problem:
Qbittorrent is randomly downloading unselected files in a multi-file torrent

### What is the expected behavior:
To only download the files with checked boxes

### Steps to reproduce:
Download several multi-file tor

[2017-05-13 12:53] ngosang commented on #5766
Sorry, I'm late..

I don't care about the core, but the plugins should be in powerful scripting language like Python, Lua... I can combine nova2 & nova3 code to make it compatible with Python2 and Python3 so we don't need to duplicate code...

I could make him admin in the new repo...

I prefer an official repo with admin permissions. That will make plugins more trustworthy..

And we shouldn't hav

[2017-05-13 13:58] thalieht commented on #6778
https://github.com/qbittorrent/qBittorrent/wiki/Frequently-Asked-Questions#I_configured_qBittorrent_to_not_download_some_files_in_a_torrent_but_they_still_appear_on_my_hard_disk_why_is_that
At the moment qBittorrent dumps the unselected files that contain cross-file-pieces in the same directory as the desired files.

libtorrent 1.1.0+ (the backend of qBittorrent) supports partfiles so we must wait

[2017-05-13 15:01] Yann-Kaelig commented on #6615
Something new. Qbittorrent-3.4.0 alpha doesn't have this issue, see my screenshot.
![qbittorrent-3 4 0-alpha](https://cloud.githubusercontent.com/assets/3901237/26026560/db7f0194-37fd-11e7-965f-1071796c74f3.png)

[2017-05-13 15:52] jfritz commented on #6594
I set connections per torrent to unlimited, Disk write cache size to 1000 MiB, and Disk cache expiry interval to 600s. With this setup I was able to upload 40-50mb/s on one torrent via 200-300 connections for a sustained amount of time with no errors, which is great.

I feel it is now definitely related to the amount of memory use, as you suspected.

[2017-05-13 17:01] dimon222 commented on #5393
4k Resolution - manual set of
WindowsArguments = dpiawareness=1

Gives perfectly clear icons and text.

[2017-05-13 20:22] darkmorpher commented on #5652
+1

[2017-05-13 20:24] darkmorpher commented on #5652
@Chocobo1

+1

[2017-05-13 21:03] datdamnmachine commented on #6728
Regarding this, see the updates in the issue referenced above:

Just to be clear we spoof the user agent when we do non-bittorrent related stuff (eg fetching rss, search results, update version).
The activity you see is that qbt tries to download the favicon for that particular tracker to display it in the sidepanel. It doesn't always work. And I guess sometimes dodgy trackers sent back malicious

[2017-05-14 02:00] KingLucius opened #6780 "Crossplatform free disk space"
While working on #6764 (As a way to get in Qt, I hope you don't mind), I noticed that method at
https://github.com/qbittorrent/qBittorrent/blob/master/src/base/utils/fs.cpp#L237
is not working on windows (version 10 for me) and you're using native WinAPI but I wonder why not using something like
https://doc.qt.io/qt-5/qstorageinfo.html

It's cross-platform and working like charm.

That's the resul

[2017-05-14 02:09] Chocobo1 commented on #5652
Currently I don't see a way to achieve this in libtorrent library.
Maybe someone will forward this issue to https://github.com/arvidn/libtorrent

or we may try pinging @arvidn...

[2017-05-14 02:35] Chocobo1 commented on #6780
Because we were limited make compatible with Qt4 when the code was written.

If you intend to push this feature to qbt repo:
I'm curious that how do you calculate the free disk space if a user have multiple hdds/partitions?
If you count 1 hdd/partition, then which hdd should it be?
If you count all hdds/partitions, well that info doesn't look informative for me...

[2017-05-14 02:40] Chocobo1 commented on #5393
@sledgehammer999
Lots of users seems to favor `dpiawareness=1` over `0`, maybe it's time to make the change?

[2017-05-14 02:42] KingLucius commented on #6780
This could change now I think.

And I just calculate the free disk space on the default save path.
Just like deluge works.

[2017-05-14 03:17] arvidn commented on #5652
what's the use-case for this?

[2017-05-14 06:21] ahmedtds commented on #5652
As someone else told in qBt forums: https://qbforums.shiki.hu/index.php?topic=2632.0

Some private trackers require you to create torrents with using this feature when uploading torrents for reasons like having a clean, well organized catalog in site.

Many clients have this feature. There's a "preserve file order" option in uTorrent when creating a torrent file if you want to see what it is exact

[2017-05-14 08:37] UsernamesAreOutdated commented on #5173
This issue is still alive in qBittorrent v3.3.12
Downloaded 20 GB for nothing yesterday.

[2017-05-14 08:39] UsernamesAreOutdated commented on #2691
This issue is still alive in qBittorrent v3.3.12
Happened 3 times now in the past months.

[2017-05-14 10:43] asturel opened #6784 "Broken 'Content' tab"
**Please provide the following information**

### qBittorrent version and Operating System:
compiled from a2d5d48affb46abc66672e9328eeda070dcde661
Windows 10 Pro x64, libtorrent RC 1.1
### libtorrent and Qt version:
qt-everywhere-opensource-src-5.9.0-beta3
libtorrent RC 1.1 (ff63557f582ee5d7f6afbc11e5c80e9d5077d18b)
msvc-15.1
### What is the problem:
![image](https://cloud.githubusercontent.com/as

[2017-05-14 13:58] BradleyDS2 commented on #453
+1

[2017-05-14 15:05] evsh commented on #6784
f3658daf7235348ccb16b59974f3abe8ac427a57 is broken for me as well.

[2017-05-14 15:36] thalieht commented on #6784
No problem for me
 current master
 qt 5.8.0

[2017-05-14 17:20] evsh commented on #6784
I'm also on Qt 5.9.0 beta 3. @asturel, are you sure  f3658da is free from the bug on your system?

[2017-05-14 19:27] zywo commented on #6784
No problem here.

[2017-05-14 23:03] arvidn commented on #5652
I know, I implemented this feature in uTorrent. I was just curious because files aren't ordered on disk, so it seems odd to expect any particular order in a torrent file too. These trackers require filenames to be sorted alphabetically? Does anyone know why?

it seems arbitrary. If you want to look at a list sorted, you just sort it before you display it.

[2017-05-14 23:16] arvidn commented on #5652
In order to not have libtorrent re-order files, in the ``create_torrent`` [constructor](http://libtorrent.org/reference-Create_Torrents.html#create_torrent()),  make sure to not pass in the ``optimize_alignment`` nor ``mutable_torrent_support`` flags, see [here](http://libtorrent.org/reference-Create_Torrents.html#flags_t).

[2017-05-15 07:13] Mitko0111 opened #6786 "Creating files which are not selected to download"
### qBittorrent version and Operating System:
Windows 10 Pro x64, qBittorrent v3.3.12

### What is the problem:
![image](https://cloud.githubusercontent.com/assets/28700207/26046033/a9eefa4a-3955-11e7-8a0f-f4d26021bfdb.png)

### What is the expected behavior:
It makes files in the download folder which I didin't select or either download. When I delete them and force recheck it remakes them.
### S

[2017-05-15 07:19] #6786 closed

[2017-05-15 09:59] bLightZP commented on #6457
Chocobo1 implemented support for this, can the changes be integrated into the next release?

[2017-05-15 11:01] shthed commented on #3045
This appears to be a duplicate of #470

[2017-05-15 14:22] ilyakol opened #6787 "[Issue] RSS Downloader not downloading matched filters automatically"
**qBittorrent:** v3.3.12 (64-bit)
**OS:** Windows 10 x64
**RSS:** Refresh - 1 min | Max articles: 250

**Problem:** I have auto download enabled with a set of RSS rules. Right now, there are 2 episodes for two of my shows available which match my filter...however:

They:

1. DON'T show up in the master RSS list with my 250 entries (the ones that I have manually excluded do - such as the 720p versi

[2017-05-15 15:06] evsh commented on #6784
I had a package built from 94909d9b926c84fe15dc80455555b81bc0a0240a and it worked fine, now package built from  954f05b4a9dc355a930bd60e662d614c63d1cba1 shows the bug.

[2017-05-15 15:22] evsh commented on #6784
Removing `TorrentProperties/qt5\FilesListState` config key helps.

[2017-05-15 15:38] evsh commented on #6784
So, obviously, when number of columns changes,  `QHeaderView::restoreState()` (at least in Qt 5.9) corrupts header. Could anyone with Qt 5.8, please, do the following experiment:
1. Check out any commit before 5c10a24923f39d1828af2b4b65f4724e8c82cc22. For example, f3658daf7235348ccb16b59974f3abe8ac427a57.
2. Compile and run qBt. Exit qBt to save configuration file.
3. Checkout HEAD, compile and ru

[2017-05-15 16:33] thalieht commented on #6784
@evsh i tested it with f3658da as you said and then back to current master and there is no corruption, no problem for me with qt 5.8.0.

[2017-05-15 16:34] evsh commented on #6784
Thanks a lot, @thalieht!

[2017-05-15 16:51] evsh commented on #6784
https://bugreports.qt.io/browse/QTBUG-60837

[2017-05-15 17:01] asturel commented on #6784
@evsh  yeah, currently using f3658daf7235348ccb16b59974f3abe8ac427a57 and no problem.

straight upgraded from b5f81a3, but I had to restore the previous config which used on b5f81a3, may that did the trick?

[2017-05-15 17:10] Mattia98 opened #6788 "[Feature request] Continue to seed lonely torrents"
Could you please add an option to continue to seed lonely torrents?

Basically another checkbox in the "Share Ratio Limiting" group which enables seeding for lonely torrents outside of the limit and a textbox specifying when a torrent becomes lonely (e.g. under 4 seeders).

That would be very cool so that one could continue to seed disappearing torrents after reaching the ratio limit and stop seed

[2017-05-15 18:57] evsh commented on #6784
Crashes? I didn't see any crashes? Could you share a backtrace, please?

[2017-05-15 19:27] Chaz17 opened #6789 "Capped Downloads"
**Please provide the following information**

v3.3.12 - Windows 10

### If on linux, libtorrent and Qt version: (Do not know what this means)

### What is the problem: All my downloads seemed to be capped at 600kbs and a little and never goes over 650kbs

I do not know whether this is an anti-virus program limiting it or something else...

It also makes my internet browsers extremely slow

I have

[2017-05-15 19:33] thalieht commented on #6789
This is a [support forum](https://qbforums.shiki.hu/) question.

[2017-05-15 19:59] wind77 opened #6790 "Bsod, qBT restarted, lost all settings"
qBT v3.3.12 (portable), win 7.
PC bsod, qBT restarted, but settings reset.
Where to find the backup settings, and how to overwrite default settings?

[2017-05-15 20:01] evsh commented on #6790
https://github.com/qbittorrent/qBittorrent/wiki/Frequently-Asked-Questions#Where_does_qBittorrent_save_its_settings

[2017-05-15 20:49] wind77 commented on #6790
The default method doesn't seem to work on portable version.
In addition, all my rss subscriptions and feeds are also reset.
Anyway to recover them?

[2017-05-15 20:50] evsh commented on #6790
We do not distribute portable version (yet). As such we do not know how was it modified and where does it keep settings.

[2017-05-15 20:51] #6790 closed

[2017-05-15 20:55] wind77 commented on #6790
Could you at least tell me, what is the file name for:
1. qBT settings
2. rss subscription list
3. Rss settings
4. History of rss feeds?

[2017-05-15 21:02] evsh commented on #6790
Sure:
1. `qBittorrent.conf`
2. `feeds.json`
3. Don't understand what did you mean, probably the main settings file.
4. In directory `rss/articles`. File name is produced from feed url replacing special symbols with underscores. For example, `http_extratorrent.cc_rss.xml_type...`

[2017-05-15 21:37] wind77 commented on #6790
Thanks!

[2017-05-16 01:56] wind77 opened #6792 "Crash report"
qBittorrent version: v3.3.12 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 7 SP 1 6.1.7601 x86_64

[code]

[2017-05-16 02:37] Seeker2 commented on #6792
More information is helpful...
1.Was this just after starting qBT?
2.Did you have lots of torrents running?
3.Using a proxy or VPN?
4.Was qBT minimized at the time or if not, what window was it on if you recall?

[2017-05-16 02:41] wind77 commented on #6792
1. Within 15 mins after starting qBT.
2. Less than 300 torrents, mostly on queue.
3. Nope.
4. Was actually clicking feeds on rss of qBT.

[2017-05-16 02:58] Chocobo1 commented on #6792
Could be this: https://bugreports.qt.io/browse/QTBUG-59528
Lets see if it still crash in the next release.

[2017-05-16 03:04] wind77 commented on #6792
I dunno. I look through the comments, and seems like the issue that u linked me, was triggered by other causes.
Most of my crashes were experienced when I was manually using rss.

[2017-05-16 07:45] asturel commented on #6784
Crash occured only when I downgraded from a2d5d48 to f3658da, still need it?

[2017-05-16 08:09] KE55ARD commented on #453
+1 probably going to end up writing something to parse the RSS feed and poke the API myself at this rate...

[2017-05-16 12:08] glassez commented on #453
@buinsky, you still can't complete your work about this?

[2017-05-16 12:14] buinsky commented on #453
@glassez I can not unfortunately.

[2017-05-16 12:43] VlijmenFileer commented on #5154
I got "hit" just now by the "extra" subdirs with seemingly random names.

I was a bit taken aback as to why such behaviour would be programmed in.  Now I understand the issue fixed by it, but I have to say that the way it was fixed has serious buglike qualities: Every time user needs, for whatever reason, to find something in the list of incomplete torrents he has to click through all his thousand

[2017-05-16 13:42] VlijmenFileer commented on #5503
This is about the naming scheme for the temp folders.  I think the chosen naming is not good as a solution, seeing the names are non-human readable while the files in the temp folders are probably regularly accessed by users: sets of files of which some have downloaded and thus are already usable, or even films that have downloaded partially and that somebody wants to preview like that.

I also th

[2017-05-16 14:20] blackley commented on #5693
+1 for this feature!

[2017-05-16 14:50] evsh commented on #6615
@Yann-Kaelig, did you switch between cmake and make builds?

[2017-05-16 16:19] #6780 closed

[2017-05-16 16:23] evsh commented on #6615
@Yann-Kaelig: #6793 could be related.

[2017-05-16 20:00] yathavan101 commented on #453
I really apreciate @glassez for trying to fix this issue. Is there a rough timeline you can give us on the implementation of the fix and the version of qBittorrent that will have the fix probably?

[2017-05-16 23:56] dezza commented on #3785
My interest on this is to expose it via the WebUI API.

This would become beneficial for a lot of applications and extensions .. In my case I want to show a low disk space warning in my browser extension to add torrents/magnets remotely from (A) => (B) where (B) runs qbittorrent and (A) adds torrents via the WebUI

[2017-05-17 05:02] cryptoz commented on #6444
Same problem.  After a month no one is assigned to this?  I hope the project is not dead.

[2017-05-17 06:19] duzers commented on #6778
I have the same problem.

[2017-05-17 11:00] evsh commented on #6784
Qt sources confirm that this is a Qt bug, introduced after 5.8. Let's hope they fix this before 5.9 release. In the meantime, https://bugreports.qt.io/browse/QTBUG-60837 contains a patch.

[2017-05-17 11:02] evsh commented on #6784
So it is not related?

[2017-05-17 11:29] myron0815 opened #6796 "Data loss due to unintuitive .unwanted handling :("
### qBittorrent version and Operating System:
recent 3.3.x, Windows

First time user, and already big data loss :|

This is what happened:
Torrent contains Folders A-Z
I already have A, B & C on my harddrive
Added torrent, pointing to same location.
Unfortunately, nothing matched (wrong checksum, whatever), so i unchecked C
Since A & B matched neither (after a force recheck) i further unchecked th

[2017-05-17 11:41] evsh commented on #6772
This functionality is already present: you can assign a category to your specific downloads and then check category name in your script. Feel free to reopen if  that does not suite your needs.

[2017-05-17 11:41] #6772 closed

[2017-05-17 11:42] evsh commented on #6775
Can you execute nova2 manually and share its output?

[2017-05-17 11:44] evsh commented on #6740
Closing as duplicate of #1426. Thank you, @thalieht!

[2017-05-17 11:44] #6740 closed

[2017-05-17 11:47] #6687 closed

[2017-05-17 11:48] evsh commented on #6745
@glassez, shall we close this one?

[2017-05-17 12:48] glassez commented on #6745
I think yes, since libtorrent doesn't support it now.

[2017-05-17 12:48] #6745 closed

[2017-05-17 12:51] simonbcn commented on #1242
Same problem:
![captura de pantalla de 2017-05-17 14-48-15](https://cloud.githubusercontent.com/assets/428231/26154532/22ef82d2-3b10-11e7-85ff-fedbbccfe22e.png)

Why is this option if it has never worked?

[2017-05-17 14:41] kovacsattila-hun commented on #6771
Plus:

Daily uploaded (GB):
Daily downloaded (GB):
Monthly (last 30 days) downloaded (GB):
Monthly (last 30 days) uploaded (GB):
Total downloaded (GB):
Total uploaded (GB):

Plus! Reset statistic button!

[2017-05-17 15:01] ilyakol commented on #6787
Anyone? I have another show sitting out there that matches a filter but qBittorrent doesn't seem to have an intention of downloading it.

[2017-05-17 17:42] thalieht commented on #1242
I don't know whether overhead can be so big.. but have you tried
`Options-> Speed-> Apply rate limit to transport overhead`?

[2017-05-17 18:08] wind77 commented on #6792
Another crash report:

qBittorrent version: v3.3.12 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 7 SP 1 6.1.7601 x86_64

[code]

[2017-05-17 18:28] ArionMiles commented on #5766
This is worth discussing over. @Chocobo1 initially wanted to remove the plugins because of what happened to PopCorn Time, but those guys were directly promoting piracy through their tool. It isn't the same for qBit.

OTOH, While we do not have legal troubles now, there may be a time in future, though.

[2017-05-17 18:47] #6708 closed

[2017-05-17 18:54] LordNyriox commented on #6132
@tuxayo, @glassez, @evsh, @Chocobo1, @sledgehammer999:

I figured I would re-post this bit I wrote in [<https://github.com/qbittorrent/qBittorrent/pull/6724#issuecomment-300971974>]:

[2017-05-17 19:00] LordNyriox commented on #6132
@tuxayo, @glassez, @evsh, @Chocobo1, @sledgehammer999:

Also, a couple of follow-up notes:

0.  All of the above and below notes are regarding behavior of the 3.3.12 release version of qBittorrent with Libtorrent 1.1.3.  The build in question can be found in [<https://github.com/Gelmir/qBittorrent/releases>].  I have had no luck whatsoever figuring out how to build qBittorrent myself, so I cannot

[2017-05-17 19:03] LordNyriox commented on #6132
@tuxayo, @glassez, @evsh, @Chocobo1, @sledgehammer999:

Also, a couple of follow-up notes on [<https://github.com/qbittorrent/qBittorrent/pull/6724#issuecomment-300971974>]:

0.  All of the above and below notes are regarding behavior of the 3.3.12 release version of qBittorrent with Libtorrent 1.1.3.  The build in question can be found in [<https://github.com/Gelmir/qBittorrent/releases>].  I hav

[2017-05-17 19:25] simonbcn commented on #1242
@thalieht it doesn't work.

[2017-05-17 20:25] xnoreq opened #6797 "Simple tracker management in Web UI"
Using v3.3.11 ([https://www.archlinux.org/packages/community/x86_64/qbittorrent-nox/](url)) with the Web UI.

### The problem
Right now there's only an add tracker (+) button in the trackers tab which opens a popup with a textarea to enter one tracker per line.

### Proposal
Change the add tracker (+) into a modify or edit trackers button which opens the same popup but fills the textarea with all

[2017-05-17 20:42] xnoreq opened #6798 "Unusable content management in Web UI"
Using v3.3.11 [https://www.archlinux.org/packages/community/x86_64/qbittorrent-nox/](url) with the Web UI with latest Firefox as browser.

### The problem
Content managment in the Web UI is unusable for me as it is:
![Screenshot Content Tab](https://i.imgur.com/xc1GYlg.png)

The columns cannot be resized, such as in the Peers tab.
The first column is too narrow to (de)select individual files

###

[2017-05-17 21:09] #5978 closed

[2017-05-17 21:18] JoshLambda commented on #294
I'm getting I/O errors with qB version 3.3.12 64bit on both Ubuntu + SSD and W10 + mechanical drive.

Even when I delete files and I change download location to a different physical drive then the I/O error always happens on the same torrent. I get the same result when running the client with admin rights.

So it doesn't seem to be an error related to filesystem integrity or write permissions or s

[2017-05-17 21:42] arvidn commented on #294
the errors on windows will be different than the ones on ubuntu. Do you know specifically which errors you get? error message or error code

[2017-05-17 21:57] JoshLambda commented on #294
On Windows the error is :
`5/17/2017 23:50 - An I/O error occurred, '<torrent name>' paused. <torrent name> file (<file name>) error: Access is denied`
Both partial file and parent folder have "Full control" for Everyone so this doesn't make sense. I tried running the client as Administrator with same result.

[2017-05-17 21:59] arvidn commented on #294
great, my theory is that on windows, you may get this error if you have too many file descriptors open, and libtorrent (prior to 1.1.3) would set an unreasonably high limit on how many files it would open. Which version of libtorrent are you using?

I would not expect the errors you see on Ubuntu to be related to the ones you see on windows. what errors do you see there?

[2017-05-17 22:02] JoshLambda commented on #294
According to qbittorrent.org (current version downloaded today) libtorrent version is libtorrent-rasterbar	1.0.11+gitbda4fd60c4c7.
I can't check the errors on Ubuntu because I uninstalled the client since.

[2017-05-17 22:46] thalieht commented on #6798
The hidden checkboxes is fixed by #6701 and will be in 3.4.0.

[2017-05-17 22:50] xnoreq commented on #6798
That's great. What about resizable columns? Is there any reason why not all tables have resizable columns?

[2017-05-17 23:19] thalieht commented on #6798
Well, not many WebUI devs.

[2017-05-18 03:58] jaxjexjox commented on #6642
Hello,

Sorry guys, can I ask a very elementary stupid question.
Is this actually rolled into any of the builds yet?
I just installed 3.3.12 (FreeBSD / FreeNAS) and the problem persists.
Would I be right in assuming the fix is not in this version and I need to wait for a newer build?

[2017-05-18 05:17] LordNyriox commented on #6726
@evsh:  What about Windows/Mac?

[2017-05-18 06:10] Chocobo1 commented on #6642
Correct, expect it in the upcoming release.

[2017-05-18 07:30] Deepcuts opened #6801 "upnp setting error"
### qBittorrent version and Operating System: 3.3.12

### What is the problem: Sometimes upnp will not send requests to the router (miniupnpd) even if the setting "Use UPnP / NAT-PMP port forwarding from my computer" is enabled.
Restarting qbt wont fix it.
I have to un-check the setting. Click OK. Check the setting again and click OK to make it work.

### What is the expected behavior:

### Steps

[2017-05-18 07:44] wind77 commented on #6792
And another:

qBittorrent version: v3.3.12 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 7 SP 1 6.1.7601 x86_64

[code]

[2017-05-18 14:32] thalieht opened #6804 "[WebUI] Connection status icon has a problem"
### qBittorrent version and Operating System:
3.4.0alpha (current master)

### What is the problem:

<img width="667" alt="webui_icon" src="https://cloud.githubusercontent.com/assets/6451685/26207245/a9beafce-3bef-11e7-83f5-1881718b0f6c.PNG">

[2017-05-18 15:54] #6804 closed

[2017-05-18 17:09] sledgehammer999 commented on #6767
General comment for the rest of the devs: Guys, I'm on a tight schedule till Wednesday. Please give me time until 29th May. My top priority is to put a v3.3.12 version out containing important webui fixes. In the meantime I'll try to resume commenting on pending PRs.

[2017-05-18 17:11] sledgehammer999 commented on #6457
What's the PR number?

[2017-05-18 17:36] LordNyriox commented on #6767
@sledgehammer999:  Don't you mean `v3.3.13`?

`v3.3.12` is already released.

[2017-05-18 18:00] lobster2012-user opened #6808 "add option in gui to disable moving to ".unwanted""
I often add torrents fo serials.
Adding of new torrent with new episodes moves old episodes to unwanted folder. I add torrent via web api and set priority of old episodes to 'not downloaded'.

Thanks.

[2017-05-18 18:00] lobster2012-user opened #6809 "add option full stop after download completed"
Thanks.

[2017-05-18 20:17] Nivius commented on #6809
set seeding goal to 0.00 and it should pause instantly when its done

[2017-05-19 04:03] corebela commented on #6449
Yes the torrentst that do it always do it and ones that don't never do.  I
have yet to see a pattern. At first I thought it was just for .avi files
but .mkv is doing it as well.  It is rare.  I am pretty sure not all .avi
files do it and I know for sure that hardly any .mkv files do it.   The
only ones I ever uncheck are for tv shows so my experience with it is
fairly limited.

On Tue, May 2, 2017

[2017-05-19 08:06] Chocobo1 commented on #6552
Ping @arvidn: https://github.com/qbittorrent/qBittorrent/issues/6552#issuecomment-300754420

[2017-05-19 12:47] DrunkenSasquatch commented on #6767
@sledgehammer999 Damnit, I was hoping for the 3.4.0 release

![crying-on-sofa1](https://cloud.githubusercontent.com/assets/16097892/26248173/8ec0ee1c-3ce4-11e7-8cb0-3d36eeab0fc6.gif)

[2017-05-19 12:51] arvidn commented on #6552
The message you see with a lifetime of 0 is a *deletion* of the port mapping:

[2017-05-19 13:06] strayge commented on #6552
It's interesting. Wireshark doesn't show any other NAT-PMP packets on qbt start or enabling/disabling the appropriate option (except "external address request")

[2017-05-19 15:39] serhound commented on #3664
TCP Optimizer has solved this issue for me. Run it, select your connection speed, tick Optimal and Apply changes. Restart follows.
Thanks Ivan and kiss4luna https://answers.microsoft.com/en-us/windows/forum/windows_10-other_settings/windows-10-high-dpc-latency/da0b269b-6e22-4275-81ee-3671fb554528?page=2

[2017-05-19 16:19] pseudoid commented on #6604
I sometimes [more rare than often] get a similar "Stalled" prompt with V3312 using Win10.  Especially noticeable if transitioning from between IPs (i.e. start or change VPN connection) during dl/ul.
Seems to get corrected if "Force Start/Resume" (torrent' right click) menu item is selected.

[2017-05-19 17:16] pirania111 opened #6812 "RSS Lostfilm BUG"
**Please provide the following information**

### qBittorrent version : 3.3.12 64
 Operating System Windows Server 2012r2

### What is the problem:
on Utorrent i can write line:
http://retre.org/rssdd.xml:COOKIE:uid=1954874; usess=131b321ce55b132c7f8173139161f5ec
to RSS downloader and all works good. But on qBittorrent if i add RSS

http://retre.org/rssdd.xml

and add COOKIE on manager

uid=195487

[2017-05-19 17:29] MadeOfMagicAndWires commented on #6719
I made a [thing](https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/skytorrents.py)

[2017-05-19 18:09] xavier83 commented on #639
@sarim any luck?

[2017-05-19 18:39] rnyberg commented on #294
I started getting this error as well last week. Windows 10 qBittorrent v3.3.12. As far as I can tell, this begun when I started to use a different (checked it, and it's healthy) disk for torrents. Old one was 1TB Samsung and new is a 4TB WD.

Couple of larger torrents error out and so far restarting qBittorrent and force-rechecking seems to work for a while, but when checking on the torrent again

[2017-05-19 21:06] Nadia-PK commented on #6736
I understand but is there anyway that I can rename those download torrents in to DONE
or is there any other addin or software out there which will help me modify the torrents log file so that I can change the names to DONE

[2017-05-19 21:08] Nadia-PK commented on #6707
I think it has to do with my PC, also the qBitorrent Interface has bugs.
So far I like the its feature where a user is able to import multiple magnet links once.
You cant find this feature in Bitorrent {Clone of uTorrent} and uTorrent.

What I would like to see is a feature where I can rename all downloaded torrents at once by selecting them and just renaming them to whatever I want, I usually ren

[2017-05-19 21:13] Nadia-PK opened #6813 "I would like to see RENAMING Multiple Torrents AT ONCE in the new version"
I am using the latest version of qBitorrent with Windows 7 Duo Core.

Here is what I am really looking farward to see in the new version.

A feature to rename multiple torrents at once.

So lets say if I hightlight {select} torrents, I will be able to rename them to what ever word / phrase I want.

I usually rename them as DONE so that in the future if I use another HDD to download the torrents I

[2017-05-19 21:15] Hrxn commented on #6736
Renaming files already stored on your storage device? Where is the problem?

[2017-05-19 22:49] arvidn commented on #294
I just thought of an alternate theory. Is it the case that this error appears to happen only or more likely to large files?

I recall early versions of vista had a bug where a sparse file ended up having too many extents, the filesystem would break and the system would hang. Perhaps the underlying issue is just now surfaced as this error rather than hanging the system.

Has anyone seen this error

[2017-05-19 23:41] Pireo commented on #6719
@ngosang if you are going to add this perhaps it's better to make btdb unofficial, this site even though it has less torrents, it has no ads, is privacy focused and shows seeds and leechers.

[2017-05-20 02:45] sam1275 commented on #6604
@pseudoid Your problem maybe different from mine, because mine won't be solved by using "Force Start/Resume", and after I set "maximum number of half open connections" to 99999, it won't happen even if I switch on/off VPN.

[2017-05-20 03:44] Seeker2 commented on #6604
It's broken behavior to ALLOW a higher half open connection than global maximum connections.
Sort of like saying: "Count to 5 by 10's, stop at 20!"

Half open limits set higher than the global max connection limit have to be ignored.
qBitTorrent won't allow over 2000 and Deluge over 9000 global connections, so this puts an upper limit on half open connections at once.

On the opposite end of the p

[2017-05-20 04:42] akyag commented on #1692
Sorry for posting on the old bug but I faced the issue @chrishirst mentionied, a few times recently. I was trying to add multiple magent links at once, and all "add torrent" dialog boxes opened with wrong z-index order. I am on fedora and using v3.3.11

[2017-05-20 09:04] xnoreq commented on #6813
That's what categories are for.

[2017-05-20 09:07] xnoreq opened #6815 "Web UI basic functionality improvements"
Using v3.3.11 ([https://www.archlinux.org/packages/community/x86_64/qbittorrent-nox/](url)) with the Web UI.

There are a couple of features missing from the Web UI that would be quite useful. This also concerns other remote interfaces!

- **Set location...** (open a simple popup with a single textfield with the current location pre-set)
- **Rename...** (dito)
- **Automatic Torrent Management** (s

[2017-05-20 09:28] xnoreq commented on #6812
Works for me.
You are aware that you have 2 cookies here?
One has name `uid` and value 195...
The other one has name `usess` and value 131b3...

Both for the domain `retre.org` and path `/`.

Re-add your RSS feed after changing the cookies, and please close the issue.

[2017-05-20 12:02] xnoreq commented on #6739
@yemlodis I have reported this bug 1-2 years ago directly to libtorrent-rasterbar.
The problem is that even acknowledgements of the torrent protocol ("I have received this piece, now give me the next one") also count towards the upload speed limit.

An open-source client where this is done right is Transmission, for example. It only counts actual upload of the torrent's content towards the upload

[2017-05-20 14:29] asd567800 opened #6816 "Can libtorrent update to version 1.1.3 ?"
Same as the title ! Thanks

[2017-05-20 15:33] pirania111 commented on #6812
Did as you said. Still nothing works :((

http://savepic.ru/14062840.png
http://savepic.ru/14055672.png
http://savepic.ru/14041336.png

[2017-05-20 15:58] MadeOfMagicAndWires commented on #6719
It was more meant as an unofficial plugin for those whoever wants it rather than to be pushed upstream.
I mean you're free to do so of course, but I'll happily maintain it myself.

[2017-05-20 17:30] nAoxide opened #6817 "Create a torrent should be implemented"
Hi,
thanks for this great software..
I think it must be able to create new torrents, not just downloading them
what do you think ?

[2017-05-20 18:18] anacondaqq commented on #6817
open qbittorrent, and press CTRL + N, and you will create torrent.

[2017-05-20 20:22] naikel commented on #6746
The API is not anonymous.  You have to log in first, get a cookie, and then use that for the next REST API calls.

It works on your browser because you're already logged in the WebUI and the browser is sending the cookie for you.

[2017-05-20 20:38] #6817 closed

[2017-05-21 01:44] sam1275 commented on #6604
Really? even if I set unlimited in the setting?

[2017-05-21 06:13] Seeker2 commented on #6604
The hard-coded limits still exist even without manually setting the global max connections limits.

[2017-05-21 07:27] bunnyhu opened #6819 "It's impossible to registere to the forum"
I try to write some suggestion, but I cannot register to the forum, because I got error:
"Sorry, E-mail accounts from that provider cannot be used, we have had members reporting emails not being received when using the E-Mail addresses from your provider,please use an alternative email address.We are sorry for the inconvenience caused by your E-Mail provider."

I have two my own domain (bunny.hu a

[2017-05-21 07:30] RichardWilliamPearse commented on #6741
so this bug should be marked as a duplicate of #4950 and then closed (?)

[2017-05-21 08:56] nAoxide commented on #6817
Oh!
I wasn't aware of it despite months of using it..
Thanks for the help

On Sat, May 20, 2017 at 11:38 PM, Eugene Shalygin <notifications@github.com>
wrote:

[2017-05-21 09:42] xnoreq commented on #6812
Oh, the download doesn't work.. I had only checked if qBittorrent made the right request for the RSS feed.

Here's why:
Open the RSS feed URL in your browser.
Note that the links all point to `tracktor.in` and not `retre.org`.

Solution:
Add the same cookies again for the domain `tracktor.in`.

[2017-05-21 10:35] thalieht commented on #6819
1. I think it wouldn't be hard to implement however i can't see how that would be useful but it's not up to me to decide or judge.
2. I don't understand what you mean.
3. Will be in 3.4.0.

[2017-05-21 11:25] bol-van opened #6822 "download corrupts on specific torrents"
Qbittorrent 3.1.11 x64

magnet:?xt=urn:btih:8636cb2c8e1add69c01c0a027c64f4817cadc504&tr=http%3A%2F%2Fbt02.nnm-club.cc%3A2710%2F006ef5b2584d899a13fb9225fcbc2b9e%2Fannounce

data1.bin always gets corrupted. its hashsum differs from the one downloaded by utorrent

[2017-05-21 11:40] FranciscoPombal commented on #6822
Have you tried using the latest version of qbittorrent?
Please check if this also happens on 3.3.12

[2017-05-21 11:55] DarkwaterV3 commented on #2428
Chiming in here. I need a functionality like this and at the moment it's looking like it's gonne be hours of work.

[2017-05-21 12:09] ngosang commented on #5766
The must send you a DCMA requesting the removal of torrents/features before legal actions. If you comply and won't be any trial.

[2017-05-21 12:09] bunnyhu commented on #6819
Great news, thank you!
About the point 2: There is a torrent with 3 file inside, for example a movie with sample, nfo file etc. But I want only the movie file without others. If I check only the movie file, but the QBt also download the other files. I think the separation working only if I select a whole directory.

[2017-05-21 12:12] evsh commented on #6819
This happens only when those files share pieces with the main file. A piece can not be downloaded partially. The next version of libtorrent (1.1) puts such unneeded piece parts into a separate hidden file.

[2017-05-21 12:23] ngosang commented on #6719
We are discussing here => #5766 I'm not going to add new search plugins until it's all clear.

[2017-05-21 12:24] bol-van commented on #6822
After further tests and multiple redownloads this does not seem to be qbitorrent related.
I always get corrupted downloads with different corruptions.
Version downloaded by utorrent  also corrupted
Strange, I tried to download 5 different Prey repacks and ALL OF THEM cannot install.
Others say it installs.

[2017-05-21 12:26] bunnyhu commented on #6819
evsh: Superb, ty! Yes, the UTorrent also do what you said, make a separated temp file for the unwanted information. I am not sure ,there is the whole unselected file or just some bookmark. Sorry for comparing Utorrent, but I really want moving from that to QBt because I am sick about the "rechecking file" if I forgot stop the stupid Ut after downloading. So If you can implement the missing functio

[2017-05-21 12:27] ngosang commented on #5766
@qbittorrent/frequent-contributors any more thoughts about this topic? The development of 2 plugins is hold on until we have an agreement on that.

[2017-05-21 13:07] Chocobo1 commented on #5766
I can agree we move to another repo (official one or not) as a first step.

[2017-05-21 13:19] xnoreq commented on #6819
What do you mean by "download time"? Download time to me means the duration the torrent is downloading, so sorting that descending would give you the longest downloading torrents on top?!

If you mean the estimated time it takes for the download to finish: you can also sort by ETA in qBittorrent.

But if you want to see the latest completed torrents then simply sort by Completed On? Or sort by Add

[2017-05-21 13:46] asd567800 opened #6823 "error code : metadata too large"
qb version 3.4.0 beta

When open a torrent file which is  24M size , it happened . error message : metadata too large .

It is Libtorrent's problem in the codes.

when I upgrade the libtorrent to 1.1.13 ， error code is : bencoded item count limit exceeded !

Is it a bug?

[2017-05-21 13:55] glassez commented on #5766
At least I would manage all plugins the same way (i.e. I wouldn't distribute official plugins inside app binaries) and I would move it outside the main app sources tree.

[2017-05-21 13:59] glassez commented on #5766
I mean, they should be installed by app installer (if we choose to distribute it with app) or by app itself from repo.

[2017-05-21 14:29] bunnyhu commented on #6819
Nono, I mean when I download the torrent. Sorry my bad english.
year/month/day H:m:s in any format. Timestamp.

[2017-05-21 15:51] ngosang commented on #5766
What about a build-in downloader in qBittorrent? The installer wouldn't contains any plugin. The Search plugins list will show all "official" plugins and let you install with one click.

[2017-05-21 16:45] sam1275 commented on #6604
Okay, if "setting "maximum number of half open connections" to 0 (or -1) could be changed to mean quit making outgoing connections", then the description in the setting GUI is wrong(which claims unlimited at 0).
However, with that value set to 0, torrent do not always stall, just randomly, so it's still a bug even without the wrong text.
Also, if the global connection is maxed out at 2000, then it

[2017-05-21 17:05] rhchristian opened #6824 "Crashing Google Chrome when open qBittorrent"
**Please provide the following information**

### qBittorrent version and Operating System:
qBittorrent 3.3.12, Windows 10 v.1703

### What is the problem:
when I launch qbittorrent the browser google chrome start crash, the window thats open at the moment starts freezing and after, the browser stop working, all what I have to do is open the qBittorrent or download a magnet link, and the problem s

[2017-05-21 17:28] naikel commented on #6822
That happened to me and in my case, it was something with an HDD.  I didn't have to redownload the torrent, rechecking it detected corruptions, redownloaded some parts again, and still everything was corrupted.

Only happened with very BIG files, or several gigabytes, when I diff'd them with the original I could see that sometimes a single 0 byte was saved corrupting everything.

I also have an SS

[2017-05-21 18:33] starobots opened #6825 "the same name torrent ... idk how to fill in the tittle of this problem"
**Please provide the following information**

### qBittorrent version and Operating System:
version 3.3.12 at win7 64bit
### What is the problem:
2 files has the same name but totally different, if they finished download and then copy into "finished folder", the last finished one will cover the elder one with no alarm or warn.
### What is the expected behavior:
idk, but I think it's better to keep

[2017-05-21 19:21] netswap commented on #6824
I tried reproducing the issue, sadly without success. Could you provide which architecture your Windows 10 is (32- or 64-bit), and the specific version of qBittorrent too (same thing, 32- or 64-bit)? Thanks in advance.

As for me:
qBittorrent 3.3.12 64-bit, Windows 10 v.1703 64-bit, Google Chrome Version 58.0.3029.110 (64-bit)

[2017-05-21 19:28] netswap commented on #6825
You can rename a file before adding the torrent to the queue, so both files can be saved without causing trouble.

To do so, add the .torrent-file to qBittorrent, right-click the file and click on "rename".

This is a workaround.
You saying that if a filename (lets say "file.name") is already existing in the set location, and qBittorrent automatically should rename the file being downloaded in ord

[2017-05-21 19:32] netswap commented on #6808
Should be fixed in v3.4.0, since a new version of libtorrent makes it possible to save the unneeded pieces of the torrent into a hidden file instead of the .unwanted folder.

[2017-05-21 20:12] pirania111 commented on #6812
THX DUDE! All work i just add some cookies for tracktor.in

[2017-05-21 20:13] #6812 closed

[2017-05-21 20:17] pirania111 opened #6826 "no RRS and cookie manager in WebUI"
Why in webUI there is no possibility of management RRS and cookie?

[2017-05-21 20:36] MadeOfMagicAndWires commented on #5766
Sorry to chime in as a unofficial plugin creator but I agree with @ngosang that making installing plugins a completely manual, or even adding one more extra step to the process makes it more or less useless. People will at that point just switch to searching on the sites instead.

The problem with Popcorn Time and others is that it's software tailored towards TV Series and Films. There are no legi

[2017-05-21 21:49] KingLucius commented on #6824
qBittorrent 3.3.12 64-bit, Windows 10 v.1703 64-bit, Google Chrome Version 58.0.3029.110 (64-bit)

Also master branch no problem at my end.

[2017-05-21 22:16] alzebud commented on #6775
Sorry, no idea what nova2 is.

[2017-05-21 22:58] rhchristian commented on #6824
qBittorrent 3.3.12, Windows 10 v.1703 64-bit, Google Chrome Version 58.0.3029.110 (64-bit)

[2017-05-21 23:02] naikel commented on #6767
I'm loving 3.4.0 so far.  I'm really testing it now and using it daily.  I found a couple of bugs in WebUI and created PRs #6818 and #6827.

[2017-05-22 01:09] Seeker2 commented on #6604
The hard-coded global max connections limit in qBitTorrent needs to be increased  for the fiber internet connections that can upload faster than 100 MegaBYTES/second AND is sharing lots of busy torrents at once. Even they have little or no use for >50 half-open connections, since after 20 minutes about all qBT will be doing with half-open connections is retrying dead and firewalled ips over-and-ov

[2017-05-22 03:09] sam1275 commented on #6604
They are max **limit** right? That would not mean the client is forcing to use that many connections all the time, but they are allowed to use as many as those connections when they need.

[2017-05-22 03:46] Saltystew commented on #6824
qBittorrent 3.3.12 64-bit, Windows 10 v.1607 64-bit, Google Chrome Version 58.0.3029.110 (64-bit)

Same thing happening here. Opening WebUi in chrome, have a few torrents active and you can see the qbittorrent task in chrome task manager slowly go up and after 20-30 minutes its at 1GB and continues to get higher and eventually the tab will crash.

[2017-05-22 05:36] lobster2012-user commented on #6808
My media player does not see hidden files(folders).

[2017-05-22 08:03] Saltystew opened #6828 "Info in lower menu of Web UI disappears after a few seconds of clicking on torrent"
**Please provide the following information**

### qBittorrent version and Operating System:

qBittorrent v3.3.12 (64-bit) & Windows 10 1607 64-bit

### What is the problem:

If you click on a torrent, info shows up in the lower menu depending on which tab you've selected but after a few seconds the Web UI flashes, to update the interface I guess, and whatever info was shown down below as well as t

[2017-05-22 10:51] KingLucius commented on #6828
Can't reproduce on master.

[2017-05-22 11:00] thalieht commented on #6828
Can't reproduce on 3.3.12 (32-bit) firefox.

[2017-05-22 11:31] Aerozolic commented on #6787
Downgrade to v3.3.10. I had a similar issue with 3.3.11 and downgraded to 3.3.10 and it worked.

[2017-05-22 13:33] ilyakol commented on #6787
Thanks @Aerozolic, I'll give that a try. Might be hard to replicate now since all of my shows are on break though lol.

[2017-05-22 13:58] Saltystew commented on #6828
So after thinking for a hit I decided to try using the web ui in incognito mode and it worked fine.

So it's just some browser extension I have installed, not sure which yet though.

[2017-05-22 14:59] Seeker2 commented on #6604
If you have enough busy torrents, qBitTorrent will stay close or at max global and half open connections limits. If there wasn't a hard coded limit, qBT would probably overload and crash under such conditions. Even without crashes occurring, ISPs may treat 1000's of connections as a Denial-of-Service attack.

Many private trackers hand out 50 ips to each connecting peer or seed on each tracker upd

[2017-05-22 15:14] glassez commented on #5766
I meant to give up the current 3 tier architecture (qBittorrent manages plugins via nova3), but leave it (nova3) as a helper library. But this far-reaching plans...
Now I propose to do the following (assuming we still have the official plug-ins):
1. Remove plugins from qBittorrent sources tree (and move to another repo)
2. Don't distribute it as part of qBittorrent binaries
3. When user use Search

[2017-05-22 15:16] leuldereje opened #6830 "Random quits and opening/closing Chrome browser without permission"
Using qBittorrent v3.3.12 Win 7 Ultimate.

### What is the problem:
Random quits and opening web browser without permission are killing me.
Look what my chrome looks like => http://imgur.com/a/mg1IQ
And whenever this happens the help menu of qbittorent continuously pops up and flood my chrome with new tabs like above pic.
Eventually, both chrome and qbittorrent crashes and I have to restart them i

[2017-05-22 15:33] ArionMiles commented on #5766
If we're doing this, can we at least have the Search tab enabled by default? There's no way newer users will know about the feature, much less use it, if they don't see it.

[2017-05-22 15:36] ghost opened #6831 "New Version 3.3.12 is labelled 3.3.11 when program opens"
**Please provide the following information**

### qBittorrent version and Operating System: ###
 3.3.12

### If on linux, libtorrent, and Qt version:  ###
N/A

### What is the problem:###
New program 3.3.12 installs correctly but when you open it, the program name in the upper left says 3.3.11

### What is the expected behavior: ###
Have 3.3.12 in the upper left to show you've installed the correc

[2017-05-22 16:06] glassez commented on #5766
Maybe it makes sense... but how this your offer is related to plugin distribution method?

[2017-05-22 16:34] starobots commented on #6825
yeap, after finished the nearly dead torrent and it was covered by this issue, I felt very sick for it...
I have to restart the missing torrent.
when the buddy meets this issue, it's really annoying.
thanks for your reply!

[2017-05-22 19:52] KingLucius commented on #6819
You can modify the language online via
https://www.transifex.com/sledgehammer999/qbittorrent/

[2017-05-22 20:11] netswap commented on #6824
I tried leaving qBittorrent and its WebUI open for quite some hours, have been watching the Chrome Task Manager  (just as @Saltystew mentioned) but still cannot reproduce.

I was downloading various ISOs from several Linux Distros to be sure something was running in that time, plus seeding around 60 torrents of all kind (some one file, some more than 10'000 files), the tab took around 70MB, +/- 10

[2017-05-22 20:29] hannsen commented on #6070
this site needs a captcha for each search

[2017-05-22 20:31] marianalex commented on #6690
Solution found: use Deluge client. It works quite fine.

[2017-05-22 20:40] ArionMiles commented on #5766
It doesn't. It just came up in my mind so I made a suggestion.

[2017-05-22 22:42] chuccck opened #6832 "won't release files of complete torrents; get error messages trying to move or rename files"
### qBittorrent version and Operating System:
3.3.1 Windows 7 x64

### What is the problem:
After a torrent has stopped seeding and shows "complete" as the status, qbittorrent won't let go of the file.  When I try to move it or rename it, I get the windows error message "the action can't be completed because the file is open in qBitrroent - A Bittorrent Client".   I have auto downloads setup with

[2017-05-22 23:06] DrunkenSasquatch commented on #6832
Have you tried updating the latest version of qb?

[2017-05-22 23:32] DrunkenSasquatch commented on #6828
@Saltystew

Can you close this issue then?

[2017-05-23 02:04] #6828 closed

[2017-05-23 03:06] chuccck commented on #6832
I will try that tonight but I have been weary of any versions past 3.3.1 due to the proxy connection timing out and requiring a restart every day or so.

[2017-05-23 03:23] tnbagwell commented on #6753
After a couple of complete uninstalls and reinstalls, it seems to be sticking with 3.3.12.

[2017-05-23 04:11] vg8open opened #6833 "Connection to a remote tracker doesn't use Outgoing port Min/Max setting"
### qBittorrent version and Operating System:
qBittorrent v3.3.12 (64 bit)
Windows 10 x64

### What is the problem:
The outgoing port setting of qBittorrent doesn't seem to be working correctly for connecting to the remote tracker to get seeds/peers when downloading a torrent.  I have the Outgoing ports (Min) = 50000 and Outgoing ports (Max) = 50010, but it doesn't seem to use that setting.  I cap

[2017-05-23 16:25] MadeOfMagicAndWires commented on #6615
I come across this from time to time and removing duplicate files from the `~/.local/share/data/qBittorrent/nova3` fixed it from me.

[2017-05-23 17:48] Nadia-PK commented on #6813
Categories are buggy.

If you are dealing with 4500+ torrents the qBitorrent UI gets messy.

I would highly recommend to add a feature where a user can rename multiple torrents ONCE.

I mean how hard it can be to implement this feature, basically its just a STRING variable where all the names gets changed by a phrase provided by a user.

Sometimes if I categorize the torrents it not all torrents g

[2017-05-23 18:09] xnoreq commented on #6813
Then that's the bug that needs to be fixed.

Why would you want to give multiple torrents the same name? It makes no sense at all.

As simple as setting a category, but not everything that is easy to implement should be implemented..

I really don't see how it would change anything.

[2017-05-23 19:18] GithubUser5462 opened #6835 "Add option to update all RSS feeds sequentially"
Using qBittorrent 3.3.12 on Windows 10.

If I update all the feeds at once (click on "Update all") only one or two feeds update successfully.
If i manually update them one by one they all succeed.

Please add an option to update all rss feed sequentially instead of in parallel.

There are no errors in the execution log.

Steps to reproduce:
1. Add multiple rss feeds from nyaa.si. For example:

htt

[2017-05-23 19:45] chuccck commented on #6832
No luck. The proxy would not connect in the morning but overnight there was on torrent still locked by qbitorrent. I moved back to 3.3.1 and changed the seed ratio to 0.05 from 0 to see if that helped.

[2017-05-24 00:22] nadrii commented on #1646
I would also love to have this feature. I echo was others have said in that this is the only feature from uTorrent that I am missing right now.

[2017-05-24 00:42] tekko commented on #6831
You might have to do it a few times. uninstall, restart computer, install
https://github.com/qbittorrent/qBittorrent/issues/6753

[2017-05-24 05:12] #5128 closed

[2017-05-24 05:27] sam1275 commented on #6604
Thank you, but my key point is, if the limit is hardcoded like you said, then it cannot be overridden by any method on the user side, this is always a bad thing. Yes too many connection may have negative impacts, that's why default setting is a bit lower. If a user decide to raise the limit, why block them? You can always put sensitive settings in the advanced tab, put a big warning near that, or

[2017-05-24 07:48] patriciavanroon commented on #6831
Dear Tekko:

I have done it a few times.

Sincerely,
Patricia Van Roon, MSc
Ph.D. Candidate, Carleton University
100846042

55 Gristmill Court, Unit 203
Halifax, Nova Scotia   B3M 0B9

613-407-5482 (home)

*"The most exciting phrase to hear, the one that heralds new discoveries,
is not "Eureka" but "That's funny...". Isaac Asimov*

On 23 May 2017 at 21:42, tekko <notifications@github.com> wrote:

[2017-05-24 11:06] sandybeachit commented on #5890
I get the same as MrVulcan, when i click on a magnet link on a website (does not matter what website or what link), most of the time qbittorrent will freeze, running all windows updates (win10) and on latest qbittorrent client.

Adding .torrrent files are fine, no issues there.

I am running the 64bit version of qbittorrent, does anything have this issue with the 32bit version?

[2017-05-24 15:15] craige1 commented on #6398
How did this go?
I'm interested in api support for changing the location of a torrent(it doesn't need to move the torrent itself, I'm just telling qbt were the torrent files are now) and the names of the files in the torrent.

[2017-05-24 16:21] bunnyhu commented on #6819
Good idea, I will check it. But it is hard to write it with short words or one word.

[2017-05-24 23:22] tebruno99 opened #6837 "zfs on mac volumes always complete to 100% but are corrupt"
Update at bottom of report.

### qBittorrent version and Operating System:
OSX 10.12.4
qBittorrent 3.3.12
qBittorrent 3.3.6
zfs on osx 1.6.1
https://openzfsonosx.org/wiki/Downloads

### What is the problem:
All torrents complete to 100% and start seeding but are corrupt. If I force recheck they redownload about 720k and then complete correctly.

### What is the expected behavior:
Its ok for torren

[2017-05-25 02:22] Seeker2 commented on #6604
I cannot tell you where in the code the 2000 limit is, but it's probably in multiple places and removing it in only 1 location could cause more bugs.

Many settings MUST scale with the connection max -- trying to cram 1000 connections' traffic through 10 KB/sec max upload speed pretty much can't work. Either qBT uses way more than 10 KB/sec upload as a result or it drops a huge amount of packet tr

[2017-05-25 03:19] GiowGiow commented on #4176
This issue is still hapenning for me

[2017-05-25 03:46] SkinMan95 opened #6838 ""Set Location" option from drop-down menu bug."
### qBittorrent version and Operating System:
- **qBittorrent version:** 3.3.11
- **OS:** Arch Linux 64-bit
- **libtorrent version:** 1.1.1.0
- **Qt version:** 5.8.0

### What is the problem:
When a torrent is saved in another location other than the _default_, if the "Set Location" drop-down option on torrent is selected, and then canceled, then the application starts moving it to the _default_ d

[2017-05-25 03:58] KingLucius commented on #6819
I didn't dig inside the code but I think the tooltips is translatable. You can detail the tooltip.

[2017-05-25 04:12] KingLucius commented on #6833
Tracker port is a thing and listening port is another thing.
The port range control the port that qbt will listen to it.
Tracker port is the port that tracker owners set it so qbt (or another) can communicate with the tracker and it is a fixed port.

[2017-05-25 07:59] thalieht commented on #6838
Fixed in 3.3.12 by #6581

[2017-05-25 09:14] vctls commented on #3695
This could be handy when switching from another client.
I've got hundreds of finished torrents I need to import, and they're saved in different locations based on their tracker. Importing them one by one would take me ages.
I ended up disabling the new torrent prompt and importing them in batches, while changing the default location between each batch.
It worked nicely.

I tried Deluge before that

[2017-05-25 09:28] evsh commented on #6838
Thanks for reporting, thank you, @thalieht. Closing as resolved.

[2017-05-25 09:28] #6838 closed

[2017-05-25 09:48] vctls commented on #117
This behaviour is just unacceptable. It can easily lead to loss of data. Moving back to another client.

[2017-05-25 14:32] finchy70 opened #6839 "Installed qBittorrent-nox to Debian (OMV 3) and GUI extremely slow to load."
**Please provide the following information**

### qBittorrent version and Operating System:
qBittorrent v3.1.10 (Web UI)
Open Media Vault 3.0.76 Erasmus (Debian Jessie)

### If on linux, libtorrent and Qt version:
Not sure how to get that sorry.

### What is the problem:
GUI takes an age to load

### What is the expected behavior:
windows set up loads instantly

### Steps to reproduce:

### Extra

[2017-05-25 16:05] keppi5 commented on #5917
3.4.0alpha doesn't show any error or any messages at all when socks5 is enabled. some years ago it showed using external ip socksip when proxy is enabled.

[2017-05-25 16:10] Deepcuts commented on #6454
3.3.12 still has this problem.

[2017-05-25 17:37] Maltavius opened #6841 "Only Move file after Seeding is complete"
**Please provide the following information**

### qBittorrent version and Operating System:
3.3.12 Windows 10 (10.0.1xxxx)

### What is the problem:
Program set to "run on completion" cannot move files since they are still seeding.

### What is the expected behavior:
Have "Run on completion" only trigger when Seeding is done.

### Steps to reproduce:
Download file with program set to run and have

[2017-05-25 19:40] LossAngeles commented on #2428
Hard to believe this hasn't been implemented. Should have been done a long time ago. I was able to change 200+ trackers in an old copy of uTorrent 2.2.1.

[2017-05-25 19:42] kaizokan commented on #72
+1 for the automatic URL updating and visual indication of blocks
Deluge for example already has a default blocklist option with these features, but we want to use qBittorent : )

[2017-05-25 21:44] naikel commented on #6841
Your problem and my problem is the definition of "complete".

For me, and probably for you, a complete torrent is a torrent that has finished BOTH tasks: downloading and seeding.

But right now a completed torrent is a fully downloaded torrent that's it.

In my personal build of qBittorrent a complete torrent has finished downloading & seeding, and then I don't have that problem since "run on comp

[2017-05-25 21:48] naikel commented on #6835
I don't think you should hammer nyaa.si like that.  Isn't it better to have just one big RSS feed and then use the regular expressions in the RSS downloader to get what you want?  That's how I do it.

[2017-05-25 21:48] dogancelik commented on #4842
Duplicate of #4548

[2017-05-25 21:49] dogancelik commented on #4353
I would like to seed torrent forever if it's seed count is lower than 2-3

[2017-05-25 21:52] naikel commented on #6831
@patriciavanroon  you are definitely running 3.3.11.  Build 3.3.12 definitely says 3.3.12 everywhere.

[2017-05-25 23:14] naikel commented on #6826
Just click on the RSS?

![RSS](http://i.imgur.com/VTwobY2.png)

I'm kidding :) it's not finished yet, but it's coming ;)

[2017-05-26 00:04] vg8open commented on #6833
I am not sure what you mean.  Is there a setting for setting the outgoing tracker port?  All I am seeing are the Outgoing ports (Min) and Outgoing ports (Max) under Tools->Options->Advanced

[2017-05-26 05:53] eb0lavirus commented on #2428
Well it's ugly but I found a solution that works for me.  A keyboard\mouse macro recorder.   I made a 24 action recording and looped it, it's gonna take a few minutes but I'll update all my torrents tracker info.

https://sourceforge.net/projects/minimousemacro/

[2017-05-26 06:09] glassez commented on #6841
Is torrent can complete seeding? I understand that it is unsolvable in General. Torrent may interrupt the seeding only temporarily. Or am I wrong?

[2017-05-26 06:12] glassez commented on #6815
qBittorrent project has no active web developer currently. We can fix some bugs only.

[2017-05-26 06:13] DrunkenSasquatch commented on #6831
I see three possible scenarios.

1. The site you are downloading the installer from has the incorrect version name.
-- Where exactly did you download the installer from? I assume Fosshub?

2. The site you are downloading the installer from has been compromised.
-- Unlikely, but possible depending on where you are downloading the installer from.

3. You installed the 3.3.12 64-bit installer over th

[2017-05-26 06:18] glassez commented on #6813
Agree.
Or the author incorrectly explained it (eg. uses the wrong terms). Please explain step by step (with examples) what is required?

[2017-05-26 09:06] slrslr opened #6843 "Feature: Allow creating new parent directory for the files in torrent payload"
### qBittorrent version and Operating System:
3.3.11, Windows 10 Home 64bit

### What is the problem:
By payload i mean the files that are download in torrent (example: .md, .iso and other files + folder structure). Some torrent payloads consists of a folder structure and some contains only files, not folders which makes a mess sometimes, needing me to manually create parent folder for the torrent

[2017-05-26 09:13] glassez commented on #6835
Server can have some restrictions on requests count/frequency etc.

[2017-05-26 09:19] glassez commented on #117
So "Don't replace existing files" is expected behavior of "Set location"?

[2017-05-26 09:36] AndyScull opened #6844 "[Feature Request] RSS autodownloader - option to also filter by <description>"
Hi,
just a simple suggestion for those trackers which do not provide customized/categorized RSS feeds (AniRena for example). Usually uploader leaves some comments or signature in <description> field which I could use to filter required torrents.
Not a big rewrite of filter, a single checkbox in autodownloader window would be enough (label it "Apply filter to desctription" or like that)

[2017-05-26 09:37] tekko commented on #6831
In the mean time, if you really want to use the new version.
You can extract the files from the installer with 7zip and try to replace the files manually.
Do you have qbittorrent set to run at startup?

[2017-05-26 10:01] KingLucius commented on #6843
Do you mean this?
![torrentadd](https://cloud.githubusercontent.com/assets/17493070/26490311/11dc0842-420b-11e7-9d5c-ca4509fb4d16.png)

If yes, it will be available in the next release. please close the issue if this is enough.

[2017-05-26 10:47] pacmac34 opened #6846 "RSS shows matches but not downloading"
qbittorrent v3.3.12 (64-bit) on Windows 10

RSS was working ok with previous versions but now it doesn't work, if I go to it's config, it shows matches for my rules, but these matches are not adding to download queue. I have take a look at the logs and there is no info about these matches.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/is

[2017-05-26 10:52] pacmac34 commented on #6846
I forgot to mention that it download some torrents from RSS feed but others are ignored.

For example, in the attached image, it have downloaded the "Lion" torrent but not the others.

![2017-05-26 12_50_39-descargador rss](https://cloud.githubusercontent.com/assets/16527336/26491941/01650b42-4212-11e7-92aa-d62e6a5f1a47.png)

[2017-05-26 11:21] #6843 closed

[2017-05-26 11:27] patriciavanroon commented on #6831
Dear qBittorrent:

It's all installed properly now.

Sincerely,
Patricia Van Roon, MSc
Ph.D. Candidate, Carleton University
100846042

55 Gristmill Court, Unit 203
Halifax, Nova Scotia   B3M 0B9

613-407-5482 (home)

*"The most exciting phrase to hear, the one that heralds new discoveries,
is not "Eureka" but "That's funny...". Isaac Asimov*

On 26 May 2017 at 06:37, tekko <notifications@github.co

[2017-05-26 15:56] Wrufesh opened #6847 "Unknown font along qbittorrent interface"
**qBittorrent version 3.3.11
os: Antergos Linux 64-bit
ibtorrent-0.13.6-3 and Qt 5**

I see puzzled words in unknown font along qbittorrent interface

I believe it shoeld be in english language and my lacale is ialso set to en_US

![screenshot from 2017-05-26 21-22-48](https://cloud.githubusercontent.com/assets/4590723/26502270/edf1ffd0-425b-11e7-8239-f5cbe485a7df.png)

[2017-05-26 16:45] thalieht commented on #6847
Have you set the language to english inside qbit?
It's the 1st drop down combobox on the right when you enter options and then restart qbit.

[2017-05-26 17:55] naikel commented on #6841
It's solvable if we redefine the definition of "complete".  A seeding torrent must be manually moved (pause, set location, resume), but a really finished torrent (finished downloading and seeding) can be moved automatically.

[2017-05-26 17:55] Wrufesh commented on #6847
even the word english in language select dropdown is having weired font.
![screenshot from 2017-05-26 23-37-46](https://cloud.githubusercontent.com/assets/4590723/26506505/a2d38f4e-426c-11e7-92f4-c81eab186a08.png)

[2017-05-26 18:54] evsh commented on #6847
The language in your screenshots is Hindi. Most likely your locale is wrongly set. Please show output of ` $ locale`.

[2017-05-26 19:04] Wrufesh commented on #6847
Even though it is Hindi (Devnagari script) the words are meaningless. Letters in words are in random order.
The output of my locale is as follow:
[code]

[2017-05-26 19:43] evsh commented on #6847
And what locale is set in qBt (`$ grep Locale= ~/.config/qBittorrent/qBittorrent.conf`)?

[2017-05-26 19:46] Wrufesh commented on #6847
It is english.

[code]

[2017-05-26 19:53] evsh commented on #6847
Thanks. Could you run qBt from command line and check for any locale related messages in its output? Since you showed screenshot with no torrent, debug log has to be very short and shall not contain any private information, so you cab share the whole output, if you like.

[2017-05-26 20:01] Wrufesh commented on #6847
It shows like this:
[code]

![screenshot from 2017-05-27 01-40-14](https://cloud.githubusercontent.com/assets/4590723/26510629/e3c6b3f8-427d-11e7-828f-8d58b3dd817a.png)

As I said earlier other Qt using app also has same issue so i think it might be  an issue related to Qt5.
Please check my third screenshot from the beginning.

[2017-05-27 05:05] bobbintb opened #6849 "Cannot log into webui without clearing cookies"
**Please provide the following information**

### qBittorrent version and Operating System:
3.3.12 in Docker

### If on linux, libtorrent and Qt version:

### What is the problem:
Cannot log into webui without clearing browser cookies

### What is the expected behavior:
Enter my username and password at login screen and it takes me to the torrent interface

### Steps to reproduce:
Logging into web

[2017-05-27 05:07] bobbintb opened #6850 "Change torrent location in webui"
Is there any way to change the download location or move a torrent in the webui? I know it can be done with the desktop client but it doesn't seem to be possible in the webui, nor is it in the api documentation. Perhaps it's just undocumented. If not, can this be added?

[2017-05-27 07:24] viruslab1 commented on #366
I have same issue

[2017-05-27 10:28] #6457 closed

[2017-05-27 10:33] Chocobo1 commented on #6457
#6836, merged in git master already.

[2017-05-27 11:38] Symbai opened #6851 "Exclude files by extension"
I would like to request a feature that lets you exclude files based on file extension in the add torrent dialog.
Means if I say "exclude all *.png files" then all png files are automatically unchecked when I open the torrent.

~~Additionally and probably easier to add I would like to request a second feature that shows the file icon in the add torrent dialog so I can quickly see whats an image, a

[2017-05-27 11:49] Symbai commented on #3369
2015? :-( This will very likely never added then, that sucks.

[2017-05-27 13:03] infideler commented on #5439
Also having this issue on 3.3.12, unfortunately.

[2017-05-27 13:09] Chocobo1 commented on #5439
@infideler

Can you try out the build in https://github.com/qbittorrent/qBittorrent/issues/5497#issuecomment-284640536 and let me know if it works?

[2017-05-27 14:50] thalieht commented on #6851
#3369 duplicate

[2017-05-27 15:41] DmitriyLanchakov opened #6852 "If there is no space on the disk the torrent list disappears"
OpenSUSE 42.2
Linux 4.4.62
Qt 5.6.1
qbittorent 3.3.11-2.3.1

If there is no space on the disk the torrent list disappears.

[2017-05-27 20:04] MonaxDK opened #6853 "unregistered torrent file indication"
### qBittorrent version and Operating System:
Qbittorrent 3.3.12, Windows 7 x64

### What is the problem:
Torrent client does not show that the torrent file was changed.
This is very inconvenient, especially in the case of TV series, when a new series is added once a week. It is necessary to click on each torrent, open the bookmark "trackers" and see if the torrent file has been updated.

### What

[2017-05-27 23:39] wyrex opened #6854 "qBittorrent silently fails if DNS resolution is not available"
**Please provide the following information**

### qBittorrent version and Operating System:
v3.3.11 Linux x86_64
### If on linux, libtorrent and Qt version:
1.1.3, 5.8
### What is the problem:
If you don't have DNS servers in resolv.conf qBittorrent shows DHT: 0 nodes and tracker status as Offline and it looks like firewall problem. Process also hanged on quit and I needed two Ctrl-C traps. This d

[2017-05-28 04:55] Apollo314 opened #6855 "Sequential download not working"
v3.3.12 Windows 10 Pro 64 Bits

Download in sequential order sometimes doesn't work properly. Resulting in not being able to watch things as they're downloaded.

![qbit](https://cloud.githubusercontent.com/assets/29009961/26526178/36d86846-437a-11e7-945c-4cfd49b526c2.JPG)

It doesn't download the first bits although I have these boxes checked.

![aa](https://cloud.githubusercontent.com/assets/2900

[2017-05-28 06:45] Seeker2 commented on #6855
Either not very many of the peers have the early parts you need OR qBitTorrent was unable to Tit-For-Tat with them (they may have even SNUBBED your connection) due to them trying to get rare pieces first instead of downloading sequentially.
Also, the seeds you're connected to may not be uploading to you in a timely manner due to weaknesses of BitTorrent:    https://github.com/qbittorrent/qBittorre

[2017-05-28 07:34] wind77 commented on #6792
And another...

qBittorrent version: v3.3.12 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 7 SP 1 6.1.7601 x86_64

[code]

[2017-05-28 09:12] Pireo opened #6856 "[Search Engine] Add linuxtracker plugin"
Now that extratorrent gone (there is a clone called extratorrent.ag but it's fake just like yts.ag), I recommend to add this 100% lawful site:
https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py
Since it has free content, it has no reason to be shut down and a lot of qBTusers have Linux as OS.

[2017-05-28 11:06] zmira opened #6857 "suggestion: remove fastresume file if unable to resume"
**qBittorrent:** 3.3.12 (64-bit)
**Qt:** 5.8.0
**libtorrent:** 1.0.11.0
**boost:** 1.63.0
**OS version:** Windows 10

**Problem:** categories kept re-appearing after being deleted

**Expected behaviour:** once a category has been deleted, it should remain deleted

**Extra info:** apparently this was happening because there were `.fastresume` files with category definitions left behind, even though

[2017-05-28 12:27] minimihi commented on #5780
Reinstallation of the program helped me solve this problem.
When uninstalling I kept my configurations and torrents data.
Both old and new qBittorent are of the same version - 3.3.12

It's not my first time I used reinstallation as a solution.

[2017-05-28 13:39] KevinSkull commented on #4572
Anyone using PCE-A68 the older drive version is he talking about is Version 2.0.8.8 here

https://www.asus.com/ie/Networking/PCEAC68/HelpDesk_Download/

Fixed my problems with that error with no restarts needed

[2017-05-28 13:51] trch15 opened #6858 "[Feature Request] Make the WebUI failed authentication ban configurable"
The WebUI failed authentication ban should be configurable through the WebUI.

[Request] A checkbox to turn the feature on/off, and options to configure the ban length and number of failed authentication attempts before a ban.

[2017-05-28 14:01] insurw commented on #294
Win10 QB 3.3.12

The only situations it seems to happen for me as I wrote before is when **completing a season folder that has missing episodes** (i.e. before I've downloaded seperate episodes and then adding a season torrent to complete the season). But I made sure the episode torrents were removed in QB and it still happened, so that seems irrelevant.

It'll download for X seconds but then give

[2017-05-28 14:42] trch15 opened #6860 "[Bug] localhost without authentication banned from WebUI"
**Please provide the following information**

### qBittorrent version and Operating System: 3.3.12 & 3.3.11 on Windows 8.1

### What is the problem: When using the WebUI from localhost with "Bypass authentication for localhost" enabled, I'm getting the message "Your IP address has been banned after too many failed authentication attempts" after using the WebUI successfully, albeit briefly. It seem

[2017-05-28 15:48] thalieht commented on #6860
Related PR #6779

[2017-05-28 16:56] TravisCHoward commented on #6860
It turns out that if an application tries to authenticate with the WebUI API using a blank username and password while "Bypass authentication for localhost" is enabled, the failed authentication counter increases until localhost is banned. Proposed checking if auth is required before increasing the counter #6861

[2017-05-28 17:43] TravisCHoward commented on #6860
Modified to start the session if user/pass are correct or localhost auth bypass is enabled #6862

[2017-05-28 18:54] YamazakiRobert opened #6865 "Ability to "automatically add these trackers to new downloads" from file or URL"
**Please provide the following information**

### qBittorrent version and Operating System:
version 3.3.12 on windows
### If on linux, libtorrent and Qt version:

### What is the problem:
add a option to inject utorrent compatible tracker list url
we have nice dvs like this https://github.com/ngosang/trackerslist with regular updates on open lists its a nice addon to the tracker injection
### What

[2017-05-28 18:54] superbonaci opened #6866 "Save torrent of selected download"
Want to save the torrent of a current download, not only the magnetic link.

[2017-05-28 19:29] war59312 commented on #5439
@Chocobo1 Pretty sure all you really needed to do was change in Line 264 `cmd.exe /C` to `cmd.exe /K`.

[2017-05-28 20:36] superbonaci opened #6867 "Re-check download doesn't always detect the 100%"
Steps:
1) Start downloading a file.

2) Pause the download before it ends

3) Replace some file that is not yet completed with other file which is the same but completed.

4) Select the download and Force-Recheck.

Some times it does not show the 100% completion, only 99.something.
If you close and re-open qBittorrent and do the recheck sometimes it shows the 100%.

[2017-05-28 20:39] thalieht commented on #6865
Trackers tab -> Right click -> Add a new tracker...?

[2017-05-28 20:43] thalieht commented on #6866
PR #1296

[2017-05-28 21:46] thalieht commented on #6518
PR #6779 does it.

[2017-05-28 21:54] thalieht commented on #6458
Not sure if related: PR #6829

[2017-05-29 04:53] Chocobo1 commented on #5439
I don't think so, the external program is supposed to run and exit, using `/K` will cause it keep running right?

[2017-05-29 05:10] Chocobo1 commented on #6860
Are you using a web browser?

[2017-05-29 05:39] trch15 commented on #6860
A Chrome extension is causing this behavior.

[2017-05-29 05:54] Chocobo1 commented on #6860
which one? I'm thinking it might be the extension fault...

[2017-05-29 10:18] sledgehammer999 commented on #5766
I had been reading this thread and thinking. Finally, I came here to write my decision and I discover to my amazement that already the general consensus is in the same direction.
Here is the decision:

1. Move the plugins in a new repo under "qbittorrent" org. Unless there is strong opposition and someone else entirely wants to host it(eg ngosang).
2. Point the subdomain to the new repo
3. Don't i

[2017-05-29 10:54] glassez commented on #5766
Agree with @sledgehammer999 plan.
I have some questions. Who will perform this changes? Do you want to make it yourself? Or someone can help you? Or we should split this task into several jobs? IIRC, this issue is only blocking v3.4 release.

[2017-05-29 11:02] sledgehammer999 commented on #5766
@glassez, I'll do it myself. Today, I am starting to cherry-pick commits for v3.3.13. Then I'll do this(while building). And then 3.4.0 beta can proceed.

[2017-05-29 15:02] KingLucius commented on #6784
This Qt5 bug is fixed now.

[2017-05-29 15:27] evsh commented on #6784
Closing then.

[2017-05-29 15:27] #6784 closed

[2017-05-29 15:42] evsh commented on #6852
Do you mean there is no space left on target filesystem or in home directory? Do all the torrents disappear or only those added since the last start-up?

[2017-05-29 17:36] lobster2012-user commented on #6809
@Nivius  take screenshot please

[2017-05-29 18:19] ngosang commented on #5766
But plugins could be downloaded from qBittorrent with one click? Or the user has to open the Browser and install plugins manually?

[2017-05-29 19:24] uvestruz commented on #5540
I know its a year later, but check your ownership, read and write permissions of the drive you are trying to download the torrent.

[2017-05-29 20:14] DmitriyLanchakov opened #6869 "[Feature request] Add "Download in sequential order" and "Download first and last pieces first" to the permanent settings"
Should "Download in sequential order" and "Download first and last pieces first" be added to permanent settings?
May be this options should be turned on if there are many seeds and/or the file is media type and/or the download speed is good.

[2017-05-29 23:39] movalex commented on #5391
I'm trying to build qbittorrent-nox (with `--disable-gui` option) on Mac, currently with no success. Would you please explain what should I change to enable `c++11` for libtorrent?
The error is following:

    linking qbittorrent-nox.app/Contents/MacOS/qbittorrent-nox
    Undefined symbols for architecture x86_64:
    "libtorrent::session_handle::wait_for_alert(std::__1::chrono::duration<long long

[2017-05-30 07:51] YamazakiRobert commented on #6865
its not the same the list  on this github are always updated

[2017-05-30 07:54] YamazakiRobert commented on #6865
if we can use https://raw.githubusercontent.com/ngosang/trackerslist/master/trackers_all.txt we have allways a updated open tracker list, think as this like a block list url but for a open trackerlist.
is you use the manual way yo add trackers have the option to use utorrent compatible tracker url list

[2017-05-30 18:28] KingLucius commented on #6865
You mean you want an ability to load the tracker list from a file?

[2017-05-30 21:28] sledgehammer999 commented on #5766
In the search tab there will be informative text for the user to click the "Search plugins..." button.
In that dialog the user can click the "Update" button and get any plugins available in the repo.
Behavior will be changed to ensure that auto-update doesn't happen before the user explicitly opens and downloads the list first.

Does the above make sense?

[2017-05-30 22:20] evsh commented on #6837
I doubt it has something to do with qBittorrent code. If this is a bug in the app, then it has to be in libtorrent or below.

[2017-05-30 22:29] JodyLeSage opened #6872 "[Feature Request] Automatically redirect Web UI HTTP requests to HTTPS when HTTPS is enabled"
*version information:*
qBittorrent: 3.3.12
Qt: 5.8.0
libtorrent: 1.0.11.0
boost: 1.63.0
OS version: Windows 10 Home version 10.0.15063

When running the web UI using HTTPS, I was unable to find a way to direct traffic to the HTTPS address without having to type https:// before the IP/URL.  Having HTTP traffic redirected to HTTPS internally would make it easier to share the web UI address with less

[2017-05-30 23:25] YamazakiRobert commented on #6865
yes from a file or a url, if you see this url is maintained with a list of of public trackers and this help the speed a lot
if you go on a torrent on your list and trackers have the option to import from a utorrent compatible url
would be great on the options ave this option to all new added torrents

[2017-05-31 05:00] war59312 commented on #5439
Whoops, you are correct... Guess I was thinking something else for some odd reason.

Sorry about that.

[code]

[2017-05-31 06:30] ngosang commented on #5766
yes

[2017-05-31 08:06] zero77 opened #6873 "[Request] Running Multiple Processes"
Can you add support to run more than one process of qbittorrent that has different settings and users.
Thanks

[2017-05-31 10:00] pacmac34 commented on #6867
Do you have the same files in two torrents? This happened to me when I download a torrent from one tracker and, without stopping it, I create another torrent with the same files for another tracker. When it finishes to create it and recheck the files, it doesn't detect the 100% until I stop the first torrent.

[2017-05-31 10:21] KingLucius commented on #6865
+1

[2017-05-31 13:13] KingLucius commented on #6873
Put every instance in its own folder and run it with --portable command parameter.

[2017-05-31 16:41] KingLucius commented on #6856
If you can install it externally, Is there a reason to bundle in within qbt?

[2017-05-31 17:19] zfrogg opened #6875 "Crash report"
**Please provide the following information**
qBittorrent has crashed
Please file a bug report at http://bugs.qbittorrent.org and provide the following information:

qBittorrent version: v3.3.12 (64-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.8.0
Boost version: 1.63.0
OS version: Windows 10 (10.0) 10.0.15063 x86_64

[code]

### What is the problem:

### What is the expected behavior:

### Steps

[2017-05-31 18:36] MarkusProkott opened #6877 "[Bug] 2-component Python version (e.g. 2.7) not detected"
_Note: I'm a newbie to working on github_

### qBittorrent version and Operating System:

- qBittorrent v3.3.12 Portable (from PortableApps.com)
- WinXP SP3
- Python 2.7 (=2.7.0)

### What is the problem:

QBT says "Undeterminded Python version" (stating it found the string "2.7").

The problem is
- in file [mainwindow.cpp](http://github.com/qbittorrent/qBittorrent/blob/70d0fb741f227119aa863ce00f4

[2017-05-31 22:48] asturel commented on #6784
sorry, nope.
So http://download.qt.io/official_releases/qt/5.9/5.9.0/single/qt-everywhere-opensource-src-5.9.0.zip.mirrorlist should fix it? Because I recompiled the qt5.9.0 + qbt but the issue isnt fixed :/

[2017-05-31 22:51] evsh commented on #6784
If you had the problem, Qt wrote damaged state to the config file. You have no other choice but remove it by hand from the qBt configuration file.

[2017-06-01 10:46] sueridgepipe opened #6878 "Unable to re-order paused torrents after libtorrent upgrade to 1.1.1.3"
**Please provide the following information**

### qBittorrent version and Operating System:
Manjaro Linux
KDE Plasma 5.9.5
qBittorrent 3.3.12

### If on linux, libtorrent and Qt version:
libtorrent-rasterbar 1.1.1.3
boost-libs 1.64.0
Qt 5.8.0

### What is the problem:
Can not move paused torrents within the UI using the Top Priority / Increase Priority / Decrease Priority / Minimum Priority toolba

[2017-06-01 12:29] Chocobo1 commented on #6878
Thanks for the report!

FYI, the recommended version for libtorrent-rasterbar is 1.0.11 as stated here:
https://www.qbittorrent.org/download.php

We don't have full support for libtorrent 1.1 branch now but we will in the future.

[2017-06-01 12:29] kovacsattila-hun opened #6879 "qBittorrent big memory usage"
**Please provide the following information**

### qBittorrent version and Operating System:
Qbittorrent 3.3.12 -  64 bit
Windows 10 Pro - 64 bit

### If on linux, libtorrent and Qt version:
No.

### What is the problem:
Big memory usage.
If run the program, engage about 1 GB RAM. Than restart the program, and usage about 100 MB RAM.

### What is the expected behavior:
Increased memory usage.

###

[2017-06-01 12:45] evsh commented on #6879
Probably duplicate of #5804. Could you check, please?

[2017-06-01 16:37] kovacsattila-hun commented on #6879
I test the 32-bit edition to see if it is there...

[2017-06-01 16:56] evsh commented on #6879
I don't understand why would you need the 32-bit version. Just check what kind of memory makes that 1 GB. It can be private set or cache.

[2017-06-01 18:24] 4C3T opened #6880 "[Requested feature] - Minimize by Esc-button"
**Please provide the following information**

### qBittorrent version and Operating System:
Any Windows-version
### If on linux, libtorrent and Qt version:
--
### What is the problem:
I'd love to see the feature for minimizing the main window by pressing the Escape-button - So nice to be able to do that.
### What is the expected behavior:
--
### Steps to reproduce:
--
### Extra info(if any):
If th

[2017-06-01 19:03] k21689 commented on #5503
Since the problem was created after v335, the solution is pretty simple --> go back to use v334 and before.

[2017-06-01 23:55] marc0nline opened #6881 "v3.3.1.3 not working with Sonarr"
**Please provide the following information**

### qBittorrent version and Operating System: v3.3.13 and WHS2012

### If on linux, libtorrent and Qt version:

### What is the problem: qbit will no longer connect to Sonarr

### What is the expected behavior:

### Steps to reproduce: install v3.3.13

### Extra info(if any): had to re install v3.3.12 to fix the problem

[2017-06-02 00:17] naikel opened #6882 "[WebUI] All alternatives WebUI clients are being broken with 3.3.13 except official one"
The 3.3.13 update has included an enforcement to check a 'referer' header that has to be present and also has to be the same than the 'Host' header.

That means only the official WebUI client is allowed now.

A simple python client like this, similar to thousands of scripts being used worldwide for several things, doesn't work now.  The example below is used to ask an Amazon Echo what is the curre

[2017-06-02 00:30] Guyver commented on #6882
CSRF...it's unusable with sonarr on the same box

[2017-06-02 00:32] naikel commented on #6882
@Guyver I'm afraid this breaks everything.  In my opinion, a REST API service can't have that kind of checks, since you're providing a service that must be accessed from _anywhere_ not inside your own box, don't you think?

[2017-06-02 00:39] naikel commented on #6881
Same as #6882.  Commit 087856d3d8d6d77881c3d8378a95d80d693af2dd must definitely be removed.  It's perfectly fine and I even encourage something like that for a normal website, but it's just non-sense for a REST API service.

[2017-06-02 00:41] Guyver commented on #6882
@naikel Yeah, it needs to be revised. I rolled back to the previous version once I noticed the code. Solely checking the referrer isn't the way to go! [Info](https://stackoverflow.com/questions/2392100/how-to-prevent-csrf-in-a-restful-application)

[2017-06-02 01:03] sledgehammer999 commented on #5766
Take a look at @6883

[2017-06-02 01:13] tomfisk opened #6884 "Compile error"
**Please provide the following information**

### qBittorrent version and Operating System: 3.3.13, Debian Linux armv7l GNU/Linux

### If on linux, libtorrent and Qt version: libtorrent , Qt 5.3.2

### What is the problem: Compiling server.cpp fails

### What is the expected behavior: Compiles successfully

### Steps to reproduce:
./configure --disable-gui --with-boost-libdir=/usr/lib/arm-linux-gn

[2017-06-02 02:30] naikel commented on #6884
Please fill the whole thing.  Version of Qt for example.  Why are you compiling on ARM? What platform is this?

[2017-06-02 03:14] marc0nline commented on #6881
I understand stand why, the smart comment was called for, especially since I posted first. A simple thank you and explanation would of sufficed. You can best believe I'll never post again.

Marc

________________________________
From: Scorpius <notifications@github.com>
Sent: Thursday, June 1, 2017 8:39:37 PM
To: qbittorrent/qBittorrent
Cc: marc0nline; Author
Subject: Re: [qbittorrent/qBittorrent]

[2017-06-02 03:18] naikel commented on #6881
What are you talking about?!? I confirmed your problem, I told you there's another issue like yours, which is a serious problem.  I also commented what was the modification that caused the problem in qBittorrent, and I also said that what is causing this problem is not a good idea for a program like qBittorrent.

Maybe english isn't your native language?

[2017-06-02 03:22] Chocobo1 commented on #6882
@naikel
I'm thinking of adding a switch for CSRF check, maybe titled: `Enable alternative WebUI clients`.
The default value of the switch will be off for qbt-nox and on for GUI qbt.
Does it make sense?

[2017-06-02 03:37] marc0nline commented on #6881
When you make the comment " it just non sense " in your comment it's demeaning to someone that is trying to be helpful.  Then you insult me again with the " maybe English isn't my first language"

I was only born in the US.  Hopefully ill say this to you so you can understand stand .  You are a fucking ass hat.  Fuck you and your piece of shit app.  Your customer service skills are shit.

Marc

__

[2017-06-02 03:45] naikel commented on #6882
@Chocobo1 I guess that will work.

[2017-06-02 03:48] naikel commented on #6881
Well Marc, I'm sorry that your extremely low IQ (and now YES I AM INSULTING YOU though I didn't before) doesn't let you realize that I was talking about a code that was introduced in the program that caused all of this.  That was non-sense, not your or your total inability of understand what you're trying to read.

You can go back to uTorrent.  You deserve it as well as them.

[2017-06-02 03:55] tomfisk commented on #6884
I'm running the nox-daemon on a Synology DS414 running under debian chroot.  Thus the ARM platform.  I've been compiling and running for 2-3 years with no problems.

[2017-06-02 03:56] naikel commented on #6884
Qt version?

[2017-06-02 03:57] tomfisk commented on #6884
Qt 5.3.2.  Still trying to figure out libtorrent version

[2017-06-02 04:06] naikel commented on #6884
You need 5.5 or higher.  QSsl::Ec is defined >= 5.5

[2017-06-02 04:09] tomfisk commented on #6884
OK.  I will update.  Thanks!

[2017-06-02 04:12] lgallard commented on #6882
Confirmed, it breaks the authentication in apps like [qBittorrent Controller](https://github.com/lgallard/qBittorrent-Controller) (Android App)

[2017-06-02 04:17] Chocobo1 commented on #6882
Sorry, more questions:

1. The first example is a minimal script, but you can make it work with qbt trivially adding the `Referer` header, python lib allows it, no?

2. The second example is exactly what CSRF defends for, what is the usage story of it? may I ask.

3. For other 3rd-party apps/controllers, simply add a `Referer` header isn't that impossible!?

[2017-06-02 04:24] jungletek commented on #5128
While I appreciate the fix, it's still 'broken' in the file list in the window that pops-up when you add a new torrent.

Guessing this slipped your mind during testing? ;)

[2017-06-02 04:30] naikel commented on #6882
@Chocobo1

1.- Yes, but that means all the people in the world would have to do that.  As impressive as it sounds, the WebUI REST API is used way more often than the WebUI itself, and that would mean everybody would have to change their clients to spoof a referer, since there will be no real referer.

2.- I have my own WebUI written in Angular + Bootstrap that runs in a different server and it use

[2017-06-02 04:31] jungletek commented on #5846
Bumped for visibility, though the behavior of qBT when it can't find a file, etc., seems to have improved since I opened this issue. It seems to throw an error, but in most cases continue if the loss of the file handle was just temporary, rather than just shitting itself, bitching about missing media, and demanding a re-check.

Will do a bit of testing just to see if this behavior is consistent. I

[2017-06-02 04:50] naikel commented on #6882
Well, I guess we could all add an Origin: <same as Host:> header in our apps.   What was the idea of this? People clicking links in the "Comment:" section of a torrent and getting their qBittorrent hijacked?  I don't really see how can somebody attack via CSRF a poor victim using the qBittorrent WebUI.

[2017-06-02 05:19] Chocobo1 commented on #6882
Framing someone by uploading torrent with illegal content (the one that FBI bust into your house)?

[2017-06-02 05:56] #6774 closed

[2017-06-02 07:53] Matth7878 commented on #6882
Can confirm, Transdrone app for android not working anymore with latest version. :-/
Rolling back to previous version.

[2017-06-02 08:01] evsh commented on #6881
Closing as duplicate of #6882.

[2017-06-02 08:01] #6881 closed

[2017-06-02 08:03] evsh commented on #6884
So the bug is that `configure` does not fail  due to Qt version < 5.5.1, while it has to.

[2017-06-02 08:59] Seeker2 commented on #6879
qBitTorrent 32-bit version and 64-bit version both seem to consume about 30% more ram than their cache size suggests when under very heavy loads. What I mean is, with everything else unchanged raising the cache size 100 MB can cause qBT to consume about 130 MB more ram. This is not Windows caching qBT's accessed files, this is qBT itself consuming the ram.

If qBT 32bit version's cache is set to 1

[2017-06-02 09:03] Taloth commented on #6882
I checked those CSRF guidelines linked in the commit. (_Source: [owasp.org](https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet#Verifying_Same_Origin_with_Standard_Headers)_)

If neither of these headers is present, which should be VERY rare, you can either accept or block the request. We recommend blocking, particularly if you aren't using a random CSRF token

[2017-06-02 09:40] #3083 closed

[2017-06-02 09:41] Balls0fSteel commented on #5573
Closing this as OP disappeared. If this still happens to you OP, feel free to open a new issue or tag me if you require assistance. (Please do update to the latest version and verify before opening a new issue.)

[2017-06-02 09:41] #5573 closed

[2017-06-02 09:42] Balls0fSteel commented on #3770
Well, this ticket is rather old (though that is no reason for closing a ticket).
The behavior you reported OP should not happen in the latest versions (it never does for me) if the files are in the correct place.

[2017-06-02 09:42] #3770 closed

[2017-06-02 10:05] Balls0fSteel commented on #6819
@bunnyhu We only allow "well accepted" providers such as Gmail to keep out spammers. While this caused some minor inconveniences for a few people - including yourself, it has reduced our spam by 99.999+ percent. So it's an okay trade-off.

- You can register on our forums with a custom email address by emailing me. You can find my address on the Forum's main site, on the top.
- Tickets should cont

[2017-06-02 10:05] #6819 closed

[2017-06-02 10:07] Balls0fSteel commented on #6486
@evsh Spoofing is what got qBittorrent banned for a long time on private trackers. Adding such features would get the client banned again for a very long time. :/

[2017-06-02 10:47] Balls0fSteel commented on #5595
Closing this. Thank you DrKittens for the nice explanation.

[2017-06-02 10:47] #5595 closed

[2017-06-02 10:57] Balls0fSteel commented on #1764
Seems like the bug has been fixed by Microsoft, thanks andris155 for the report.

- Pretty sure the fix will trickle down to Windows 7 and Windows 8.1, in a few months.
- Until then, use Wifi Tethering. I mean, there is zero drawback to it, as wifi speeds exceed 4G speeds all the time.
- This update may appear as "Optional" in previous Windows installations, do check those from time to time as wel

[2017-06-02 10:57] #1764 closed

[2017-06-02 10:58] Balls0fSteel commented on #3426
Closing as it is an old and answered report. (Basically, use regex rules, think how regex works, rely on those.)

[2017-06-02 10:58] #3426 closed

[2017-06-02 10:59] Balls0fSteel commented on #3147
Closing as the ticket died.

[2017-06-02 10:59] #3147 closed

[2017-06-02 11:00] Balls0fSteel commented on #4049
@ngosang Should we close this? Is this still relevant? (Thanks!)

[2017-06-02 11:01] Balls0fSteel commented on #4365
The page has been 'fixed' by our regular contributor Chocobo1. Kudos to him, and thank you for the report OP.

[2017-06-02 11:01] #4365 closed

[2017-06-02 11:02] Balls0fSteel commented on #4427
Closing.
The ticket's answer: You have to open the PIA client, and request a port. THEN you THAT port in your qBittorrent client. This port may change after each connect to PIA's network, so be sure you change it each time in the client as well.

Good luck!

[2017-06-02 11:02] #4427 closed

[2017-06-02 11:05] Balls0fSteel commented on #3100
Closing.
The answer is: UPNP is used to open ports on a router. If you have no router that responds to UPNP request, this is the message. This does not mean error or anything. Your stalled issue was due to something else.

[2017-06-02 11:05] #3100 closed

[2017-06-02 11:11] Balls0fSteel commented on #891
Closing as ticket died.

[2017-06-02 11:11] #891 closed

[2017-06-02 12:26] demize commented on #6882
I don't agree that it's an issue of semantics. This change would make sense if the API was being discontinued, as it restricts API requests to the official client; of course, this means that anything you do to attempt to legitimately access the API will mimic what an illegitimate application would do to try to access a private API.

When you have an API in place, particularly a RESTful API, its en

[2017-06-02 12:41] n-o-o-b opened #6885 "Bug when trying to check for plugin updates"
### qBittorrent version and Operating System:
Version 3.3.13 64-bit, Windows 10.
### What is the problem:
When I click on "check for updates" in the search plugins window, the loading wheel appears but it's not moving and nothing happens.
### What is the expected behavior:
The loading wheel should spin and the update process should not freeze without any sign that anything is going on.
### Steps t

[2017-06-02 12:41] n-o-o-b opened #6886 "[Feature Request] More information on status bar during search"
It would be great if you guys could make the status bar at the bottom show more information about what's going on, like what sites are being connected to.

For example, I have another program called Bit Che which tells you about what sites are being connected to on the status bar:

![bit che](https://cloud.githubusercontent.com/assets/19697175/26725575/16c4c2b8-4797-11e7-8a66-2c63aad86f39.png)

It

[2017-06-02 12:52] naikel commented on #6882
@demize totally agree with you, but I also understand the devs concern.  With that in mind and knowing that all browsers include a Referer and/or an Origin header every single time, the CSRF defense should only be applied when one of those headers appear, and not block everything else that don't include those, like the REST API calls.   CSRF only applies to browsers, if a browser is not involved i

[2017-06-02 12:59] lgallard commented on #6882
I've used several public APIs and I've never seen a CSRF validation per requests. Instead they use other mechanisms to validate them (username/password, tokens, cookies, oauth, etc).

[2017-06-02 13:06] naikel commented on #6882
@lgallard that's the thing: CSRF only applies to browsers, nothing else.  With the cookie auth for our REST API calls is more than enough.

[2017-06-02 13:16] dbanet commented on #2346
@sledgehammer999 as @eadmaster reports, μTorrent-like parts file implementation had apparently been added in libtorrent's trunk more than three years ago.

Has it made it to a released version already? Is it ready to be used in qBT?

[2017-06-02 13:17] hogaNmTw opened #6888 "Error after update"
**Please provide the following information**

### qBittorrent version and Operating System:

### If on linux, libtorrent and Qt version:

### What is the problem:qBittorrent has crashed
Please file a bug report at http://bugs.qbittorrent.org and provide the following information:

qBittorrent version: v3.3.13 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version:

[2017-06-02 13:20] Chocobo1 commented on #6882
I agree with it.

Also thanks to @naikel for summarizing: https://github.com/qbittorrent/qBittorrent/issues/6882#issuecomment-305764198

In response, I've opened PR #6887 which relax the CSRF defense.

[2017-06-02 14:10] duzers opened #6890 "Files which are not checked are downloaded."
### qBittorrent version and Operating System:
v3.3.13 and previous, Windows 7 x64

### What is the problem:
Files which are not checked are downloaded.

[2017-06-02 14:27] thalieht commented on #6885
Have you disabled or have any disabled plugin in the Search Plugins list? I had the same issue recently and enabling them all fixed it.

When i clicked `Check for updates` my wheel was spinning endlessly and i could click on everything in the Search Plugins window but the update never finished.

[2017-06-02 14:46] n-o-o-b commented on #6885
I've disabled some of them in the past but I've got them all enabled now and whenever I tried updating them they were all enabled. Unlike for you, my wheel doesn't spin at all and when I move the mouse over certain parts of the search plugins window like the title bar, the border or the link to get more plugins, the wheel disappears. This was all happening for me in 3.3.12 as well.

[2017-06-02 15:29] KingLucius commented on #6890
That's because of the shared pieces between files, This will be fixed with libtorrent 1.1.x releases.

[2017-06-02 16:06] thalieht commented on #6890
https://github.com/qbittorrent/qBittorrent/wiki/Frequently-Asked-Questions#I_configured_qBittorrent_to_not_download_some_files_in_a_torrent_but_they_still_appear_on_my_hard_disk_why_is_that
At the moment qBittorrent dumps the unselected files that contain cross-file-pieces in the same directory as the desired files.

libtorrent 1.1.0+ (the backend of qBittorrent) supports partfiles so we must wait

[2017-06-02 16:14] FuturePilot commented on #6884
Same problem on Raspbian. Qt 5.3.2 is too old.

[2017-06-02 16:32] asturel commented on #6784
Thanks, works as expected

[2017-06-02 16:43] sledgehammer999 commented on #2346
This was implemented in the 1.1.x series of libtorrent. Current qbt 3.3.x series are compatible with that, but the official builds use the 1.0.x series.
It is planned that the next series 3.4.x series will use 1.1.x officially. v3.3.x series are in maintenance mode, and preparations are underway to release 3.4.0 as the next official build.
You just have to wait a bit. (or build it yourself)

[2017-06-02 16:54] andgua opened #6891 "crash/Bug adding a torrent"
qBittorrent version: v3.3.13 (64-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.8.0
Boost version: 1.63.0
OS version: Windows 10 (10.0) 10.0.14393 x86_64

[code]

[2017-06-02 17:24] ERYuyNIrbNKrsc opened #6892 "atom RSS broken"
**Please provide the following information**

### qBittorrent version and Operating System:

qBittorrent v3.4.0alpha c503583046bf49d062cb0406a97bff9f547cca8d
Kubuntu 17.10 amd64

### If on linux, libtorrent and Qt version:

libtorrent RC_1_1 Qt 5.7.1

### What is the problem:

if you add atom rss (for example https://github.com/qbittorrent/qBittorrent/commits/master.atom)
rss update stop workin...

[2017-06-02 19:59] adem4ik opened #6893 "Translations haven't been updated since 3.3.12 release"
**Please provide the following information**

### qBittorrent version and Operating System: 3.3.13, Windows 10

### What is the problem: Translations haven't been updated/synced before the last release

### What is the expected behavior: Translations are updated

### Steps to reproduce:
1) Select Russian language
2) Go the main window's left panel
3) Search for 'Uncategorized'

### Extra info(if a

[2017-06-02 21:01] nippur72 opened #6894 "Set location on multiple files apparently bugged"
### qBittorrent version and Operating System:
3.3.13, windows 10 x64

### What is the problem:
Using "Set Location" on multiple files (multiple selection) did move the files but did not update the location in the program, resulting in "missing files" on close/reopen.

[2017-06-02 22:03] RandomGOTI opened #6895 "[Cosmetic Suggestion] Edit speed limits for 100% torrents"
Would be nice to edit or **remove** the speed limit on download for even completed torrents...

[2017-06-03 02:20] naikel opened #6896 "3.4.0alpha Random Crashes"
I'm getting random crashes in 3.4.0 while I'm not actively using the GUI, but the crash happens in a GUI Widget.  This is the last one I got:

[code]

My version of qBittorrent has become very unstable because of this.  It usually kills itself after 2 or 3 days.

[2017-06-03 08:35] Chocobo1 commented on #5652
Even not passing in these flags, I did not find a way to create a torrent sorted by name.

I tried the followings:

1. pass dir/files path directly to `create_torrent::add_files`.
  It seems to add files based on their order on disk, so the result isn't the correct order.

2. prepared a list of files with absolute path sorted and call  `create_torrent::add_files` multiple times.
  libtorrent faile

[2017-06-03 11:16] dreamhunt commented on #867
Same problem here with Arch Linux and the latest qbittorrent version 3.3.13. I have this problem for years and it is really annoying.

v-fox, can you tell me what I need to do with your solution? Make a script, put it in /usr/local/bin/qbittorrent and than? Use it like executable instead qbittorrent's bin? Thank you.

[2017-06-03 11:23] #6773 closed

[2017-06-03 12:47] PlatypusSixtyNine opened #6897 "v3.3.13 fails to upgrade v3.3.12 in Program Files (x86) folder"
I am using Windows 8.1 x64.

Using qBittorrent for years now. So started off on x86.

With some version the software upgraded itself to x64 bit from x86 in the C:\Program Files (x86)\qBittorrrent directory.

So today v3.3.12 said there was an update. I tried to upgrade to v3.3.13.

So the installer failed as it said it could not write to the C:\Program Files\qBittorrent directory.

I had to cancel

[2017-06-03 13:02] v-fox commented on #867
Well, yeah ! You've said it yourself just now. Only now I've added `"$@"` to the second invocation so it would work with multiple parameters. For some reason it doesn't like just being launched with that when there is only one parameter, like path to torrent-file given by browser, hence the `if [ -f "${1}" ]` part.

[2017-06-03 13:05] ivan commented on #6605
I am on Linux with Qt4 builds, and I started seeing this bug after upgrading from 3.3.12 to 3.3.13.  I am not using a SOCKS5 proxy.  Browser is Chrome 59.
![qbittorrent-content-length-mismatch](https://cloud.githubusercontent.com/assets/4458/26753750/257e21fc-485d-11e7-955e-60f47b192a50.png)

[2017-06-03 14:06] dreamhunt commented on #867
Thank you very much!
If I understand you correctly, the final version of the script is this:
[code]
Or I'm wrong?

[2017-06-03 14:12] v-fox commented on #867
Like [this](https://github.com/v-fox/live_opensuse_hsf/blob/master/source/root/usr/local/bin/qbittorrent):
[code]

[2017-06-03 14:20] dreamhunt commented on #867
Great, thank you once again! Best regards!

[2017-06-03 14:40] tgregerson commented on #13
I've also been putting off switching from uTorrent due to this feature, so I finally broke down and started implementing it myself. I have a working prototype for a Tags system using the main GUI. Compared to Categories, the primary differences are:

- A torrent can have any number of Tags.
- Tags are unstructured. You can assign two tags to a torrent without needing one to be a child of the other

[2017-06-03 15:24] RandomGOTI commented on #6897
Can confirm if you have a x86 qb and want to update to x64 the installer won't uninstall the 86 version and it will set it's install path to overwrite the 86 version
If i uninstall qb before starting the installer the 64 installs corectly to the 64 progfiles not sure about different versions but happens with v3.3.13

@OP just uninstall (exe in qb folder or any uninstall software) and rerun the ins

[2017-06-03 17:53] valdotdev commented on #5684
Any updates on the bug? Updated to latest and saw a lot of WebUI fixes by @Chocobo1 . Bummer this wasn't one of 'em. I had to rely on WebUI alternatives but sadly that doesn't work anymore at least for now #6882

[2017-06-03 19:57] hhiru opened #6899 "flexget fails to add new entries to v3.3.13 - Everything works fine with v3.3.12"
### qBittorrent version and Operating System: v3.3.13 - Windows 10 x64

### What is the problem: Flexget fails to add entries into qbittorrent when using v3.3.13

### What is the expected behavior: Torrent added in the list

### Steps to reproduce: Let flexget execute and look for new entries in the torrent list

### Extra info(if any): Opened a ticket on the flexget github but I've been redirecte

[2017-06-03 19:58] hhiru commented on #6899
If necessary I can make a video of the system working on the v3.3.12 and not on the v3.3.13

[2017-06-03 22:05] jaimesD opened #6901 "Topped Text"
### qBittorrent version and Operating System:
v3.3.1 (Spanish) Ubuntu 16.04

### If on linux, libtorrent and Qt version:
Qt: 5.5.1
libtorrent: 1.0.7.0

![captura de pantalla de 2017-06-03 17-01-04](https://cloud.githubusercontent.com/assets/29168242/26757339/479c1fe8-487e-11e7-9e0d-85e7078c4c00.png)

### What is the problem:
The text is topped.

[2017-06-03 23:59] satysin commented on #465
Looks like this didn't make it into 3.3.13?? :(

[2017-06-04 00:53] NokTham commented on #3793
Oh I've asked for this a long time ago, it was a straight no, because apparently it's not useful for the majority of people....

+1

[2017-06-04 01:37] lfmnovaes commented on #6899
I'm getting similar error with SickRage, when trying to add a torrent.
2017-06-03 22:35:01 SEARCHQUEUE-MANUAL-267440 :: qbittorrent: Unable to send Torrent

And WebUI don't seems to work as before (3.3.12)

[2017-06-04 01:50] lfmnovaes commented on #6899
The current fix for this is to stick with the previous version in the meanwhile.
https://ufpr.dl.sourceforge.net/project/qbittorrent/qbittorrent-win32/qbittorrent-3.3.12/qbittorrent_3.3.12_x64_setup.exe
Now everything works fine here. :)

[2017-06-04 02:16] naikel commented on #6901
You should upgrade your qBittorrent.  Doesn't happen in newer versions.

[2017-06-04 02:32] mesvam commented on #13
This looks perfect! Just what we've all been waiting for. Are you going to submit a pull request?

[2017-06-04 02:37] kitt13 opened #6902 ".13 crash"
**Please provide the following information**
Bittorrent version: v3.3.13 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 7 SP 1 6.1.7601 x86_64

[code]

windows 7 running in vmware esx 5.5

[2017-06-04 04:54] PlatypusSixtyNine commented on #6897
So my point is that it has worked with every other version of x64 installer. v3.3.13 had the cannot write to c:\Program Files (x86)\qBittorrent.
THAT IS THE BUG.
So currently I have 64-bit v3.3.12 still in c:\Program Files (x86)\qBittorrent and now 64-bit v3.3.13 in c:\Program Files\qBittorrent.
I should only have one EXE, whether it is in x86 or x64 path is irrelevant.

I CANNOT UNINSTALL the v3.

[2017-06-04 07:14] bustani85 commented on #6492
The same problem still remains in version 3.3.13 :(

[2017-06-04 08:27] niko-yanev opened #6903 "ShutdownDialogAction"
**Please provide the following information**

### qBittorrent version and Operating System: 3.4.0 - current git

### If on linux, libtorrent and Qt version: qt 5.8.0 and libtorrent 1.1.3

configure: Good, your configure finished.

cd src/ && ( test -e Makefile || /usr/bin/qmake -o Makefile /home/gericom/PPA/Manjaro/qbittorrent/src/qBittorrent/src/src.pro QMAKE_LRELEASE= ) && make -f Makefile
make[

[2017-06-04 08:43] thalieht commented on #465
Nope, it'll be in 3.4.0

[2017-06-04 10:18] infideler commented on #5439
@Chocobo1

Sorry for the delay. Can confirm that build 3.4.0alpha does work as expected.

[code]

[2017-06-04 10:24] thalieht commented on #3793
PR #5222 implements the things from 1. but it's abandoned for over a year.

[2017-06-04 10:47] Misiek304 commented on #5503
Except those versions are having a pretty nasty bug that causes qBt to crash up to 48h of run time.

[2017-06-04 10:51] Misiek304 commented on #6882
Wait a second.
qBittorrent has another WebUI interfaces?

Please share a link.

[2017-06-04 11:43] gumicsirke42 opened #6904 "remember last scroll position and selected category from "CATEGORIES" after restart"
**qBittorrent version and Operating System:**
qBittorrent: v3.3.13 64-bit on Win7 x64

**What is the problem:**

1. After restart the selected category is always switched to "CATEGORIES\All", the program doesn't remember the last selection from before closing. However the selected subcategory of STATUS is restored.
2. The torrent list is also scrolled to the uppermost position after every restart.

[2017-06-04 13:29] lawndart4711 opened #6905 "Does not save manually entered cookie information?"
**Please provide the following information**

### qBittorrent version and Operating System:
3.3.13 on Windows 7
### If on linux, libtorrent and Qt version:

### What is the problem:
Client RSS was not downloading, uploads stalled, but RSS feed was updating. Tracked it down to cookie settings. Had to manually enter UID and IDH (pass-key hash). However, after restarting the client, the two cookie se

[2017-06-04 14:10] KosmiK2001 commented on #1789
Well, hellow from 2017.06.
Its still "Open".
Why?
It will be Very usefull, when you havine all torrents sorted in your storage.
Is this so hard to add "Download to .torrect file is located" as default or checkbox?

[2017-06-04 15:47] arvidn commented on #6486
the solution applied to libtorrent does not involve spoofing. It just disable the anonymous-mode behavior for user-agent in tracker requests when the torrent is private. Namely, it includes the correct user-agent for private torrents, but not for other torrents.

[2017-06-04 16:52] tobia commented on #1789
@KosmiK2001 All of us who commented on this issue think that this would be a useful option. If you think so too, you could just add a "me too" thumbs up icon or something, or actually do it if you can. Bitching about it or wondering what's "so hard" isn't going to solve anything, in fact it's going to alienate the people who might have the skill and time to add the option to the program. I would l

[2017-06-04 17:29] Smile4ever opened #6906 "News page is not updated with latest versions"
https://qbittorrent.sourceforge.io/news.php does not include changelogs of the latest versions of qBittorrent.

[2017-06-04 17:36] thalieht commented on #6906
http://www.qbittorrent.org/news.php is the official.

[2017-06-04 19:16] Smile4ever commented on #6906
Thanks. Could you @thalieht redirect the qbittorrent.sourceforge.io website to qbittorrent.org?

[2017-06-04 19:51] naikel commented on #6882
@Misiek304 well I do have alternative WebUIs, but they are not ready for the public.  Basically two sites: a desktop site, that allows RSS and Search through the WebUI, and a mobile site.  Both written in Angular + Bootstrap.

I wrote them because the extreme limitations of the very obsolete (but very pretty) MochaUI framework that the official WebUI uses.  Since MochaUI only allows one desktop, y

[2017-06-04 19:57] thalieht commented on #6906
Nope i'm just a contributor :)

[2017-06-05 11:44] thalieht commented on #265
Implemented by #5532 i think. Will be in 3.4.0.

[2017-06-05 13:22] #4049 closed

[2017-06-05 14:01] thalieht commented on #869
I don't know when this was fixed but i can't reproduce in 3.3.12.

[2017-06-05 14:14] Xiaminou opened #6909 ".torrent stuck on "stalled" and magnets stuck on "downloading metadata""
**Please provide the following information**

### qBittorrent version and Operating System:
qbittorrent v3.3.13
Windows 7

### What is the problem:
All my torrents are stuck on stalled, new .torrent I add get stuck on stalled, they do not pre-allocate, magnets I add get stuck on downloading metadata.

### What is the expected behavior:
It should pre-allocate and download.

### Steps to reproduce:

[2017-06-05 14:23] thalieht commented on #1174
Can't reproduce in 3.3.12.

[2017-06-05 14:24] ValdikSS commented on #1174
It's from 2013. If you can't reproduce, let's assume it's fixed.

[2017-06-05 14:24] #1174 closed

[2017-06-05 14:32] thalieht commented on #1153
Implemented by #5375. Will be in 3.4.0.

[2017-06-05 14:34] thalieht commented on #5669
#5375 merged. Will be in 3.4.0.

[2017-06-05 14:44] thalieht commented on #1456
PR #5222 implements this but it's stale for over a year.

[2017-06-05 14:46] #1153 closed

[2017-06-05 14:47] thalieht commented on #1428
Can't reproduce in 3.3.12.

[2017-06-05 14:52] thalieht commented on #4512
Isn't this fixed?

[2017-06-05 15:13] thalieht commented on #1586
This is fixed right? Mentioned PR has been merged since 3.3.5.

[2017-06-05 15:22] thalieht commented on #3551
#1427 duplicate. Also it will probably (not sure if on windows) be implemented by PR #3810

[2017-06-05 15:23] thalieht commented on #1427
Will probably (not sure if on windows) be implemented by PR #3810

[2017-06-05 15:26] thalieht commented on #1423
OP disappeared and with #6484 in the horizon this issue has no purpose.

[2017-06-05 15:34] thalieht commented on #1545
Can't reproduce in 3.3.12. In fact, clicking on any part of a line has the same effect.

[2017-06-05 15:51] thalieht commented on #1533
Is this still a problem with the latest version?

[2017-06-05 15:53] thalieht commented on #1533
Probably not as the labeling system (categories now) changed in 3.3.5 and i haven't seen any recent reports with such issue.

[2017-06-05 16:02] thalieht commented on #1774
@prodigeni is probably gone (judging from his profile activity) and all links are gone as well. Is there any point keeping this open? Linking to the relevant PR #6484 in case he's still around.

[2017-06-05 16:19] thalieht commented on #1113
#1830 is a duplicate of this issue. Saying it here because that issue contains a screenshot and whoever implements this might want to see it.

[2017-06-05 16:23] thalieht commented on #1797
PR #5222 implements some of these.

[2017-06-05 16:31] thalieht commented on #2087
Can't reproduce with 3.3.12.

[2017-06-05 16:40] thalieht commented on #2131
Is it still happening with latest version 3.3.13?

[2017-06-05 16:55] bjd223 commented on #2131
Not sure I switched due to this issue back to uTorrent.

[2017-06-05 17:19] thalieht commented on #2556
Implemented by #6840. Will be in 3.4.0.

[2017-06-05 18:36] 7h3ju57 commented on #6860
qbittorrent-now from source commit=6f6a17341f7788ec7d303e10bd99cf21f9e54230
can confirm using commands below no longer works.
curl -d 'hash=hashes' http://localhost:8080/command/recheck
wget --post-data='hash=hashes' http://localhost:8080/command/recheck

[2017-06-05 18:57] frozenspider commented on #1545
Can confirm, no I/O error is shown anymore - at least for Windows 8.1 x64. However, only `Name` column double-click opens folder, double-clicking other columns for a directory entry in qBittorrent does nothing.
Still, closing the ticket as the original issue was apparently fixed in the meantime.

[2017-06-05 18:57] #1545 closed

[2017-06-05 19:21] abioneperhobby opened #6910 "qbittorrent-nox : watched folder not saved (empty array on setPreference)"
On a Raspberry Pi3 running Raspbian i installed qbittorrent-nox as descripted here https://github.com/qbittorrent/qBittorrent/wiki/Setting-up-qBittorrent-on-Ubuntu-server-as-daemon-with-Web-interface-%2815.04-and-newer%29 .

Everything is updated (qBittorrent v3.1.10)
Everything works but not watched folder.

if i set a watched folder, folder returns blank after save.

why setPreference pass a emp

[2017-06-05 19:46] thalieht commented on #6910
3.3.13 is latest.

[2017-06-05 21:28] abioneperhobby commented on #6910
on raspbian the last version is 3.3.10 ... i Will wait.

[2017-06-05 22:19] Balls0fSteel commented on #6852
@evsh Ran into this just recently. Had a limited amount of disk space and added torrents. So free space was like ~50gb, and I added 100GB through the "watched folder" feature. When I got back, Windows complained that I have no more free space.

Once I finished cleaning up junk so I would have enough space, I have restarted qBittorrent. To my surprise, only 2 of the torrents were left in the list,

[2017-06-05 22:23] Balls0fSteel commented on #1194
Well it's been 3+ years, and I am pretty sure this is working as intended. Please ping me if it does not.

[2017-06-05 22:23] #1194 closed

[2017-06-05 22:24] Balls0fSteel commented on #1565
My 2 cents. This sounds like the HDD/storage is writing out the finished data after the download is done. Have you checked IO speeds when this happens?

[2017-06-05 22:28] Balls0fSteel commented on #3008
Closing as requested.

[2017-06-05 22:28] #3008 closed

[2017-06-05 22:28] Balls0fSteel commented on #3013
Thanks for reporting, closing due it's an old (RC) version. Thanks for testing!

[2017-06-05 22:28] #3013 closed

[2017-06-05 22:30] Balls0fSteel commented on #3320
Closing this as the ticket is 2 years old. I mean, qBittorrent has changed a lot since.
However, if these issues arise again on the latest version, please make a new ticket about it.

You can use the pre-existing text of course if the issue you experience on newer versions matches the description.

[2017-06-05 22:30] #3320 closed

[2017-06-05 22:32] Balls0fSteel commented on #3316
@ngosang You could add this? Like it seems like a very easy fix, and since you became a contributor... as far as I know. Just an idea though, found this ticket while hunting. (But I may be wrong and this might be hard to implement.) Just a ping for your feedback.

[2017-06-05 22:33] Balls0fSteel commented on #3297
Yeah it's a toolkit thing, like GTK2 had an option to disable them but they took that away in GTK3.
However, qBittorrent is written in Qt.

@evsh Is this possible, feasible, or straight out rejected?
Thank you.

[2017-06-05 22:34] Balls0fSteel commented on #3254
Please ping me if this still happens on the latest version and I will re-open the ticket.
Thank you.

[2017-06-05 22:34] #3254 closed

[2017-06-05 22:34] Balls0fSteel commented on #3289
@evsh Should we keep old crashes/traces open?

[2017-06-05 22:35] Balls0fSteel commented on #3238
Thank you for your report.
Closing as the issue does not contain valuable information.
By that, I simply mean, unresponsive can happen from a lot of things - and from only one hang, we cannot really hunt this down. Lots have changed since 2015 as well.

[2017-06-05 22:35] #3238 closed

[2017-06-05 22:38] Balls0fSteel commented on #4055
Closing as ngosang has linked the ticket for this wishlist request.

[2017-06-05 22:38] #4055 closed

[2017-06-05 22:41] Balls0fSteel commented on #4415
@sledgehammer999 Sorry for pinging you on this one, it is really a tiny thing. Just a quick feedback, and it is one more closed ticket... : )

[2017-06-05 22:43] #4512 closed

[2017-06-05 22:44] Balls0fSteel commented on #4348
Closing this, as OP disappeared. Sadly.

[2017-06-05 22:44] #4348 closed

[2017-06-05 23:13] thalieht commented on #3316
Everything after `Port mapping successful, message:` is hard-coded in libtorrent. When we change to libtorrent 1.1.x it will show the protocol in the same format as the bottom messages. Changed in arvidn/libtorrent@d8b88ba381c9f71420658304cb0176794739f458

[2017-06-05 23:42] thalieht commented on #3062
Can't reproduce in 3.3.12.

[2017-06-06 00:18] tgregerson commented on #13
Thanks for the kind words. You can see the PR linked above.

[2017-06-06 02:51] rolly12345678 opened #6912 "Crash in boost::asio"
**Please provide the following information**

### qBittorrent version and Operating System:
qBittorrent version: v3.3.13 (32-bit)
OS version: Windows 10 10.0.14393 x86_64

### If on linux, libtorrent and Qt version:
Libtorrent version: 1.0.11.0 Qt version: 5.7.1 Boost version: 1.63.0

### What is the problem:

### What is the expected behavior:

### Steps to reproduce:

### Extra info(if any):
[co

[2017-06-06 05:40] Seeker2 commented on #6912
I feel like the title is yelling at me, but I can't quite make out what it's saying.
Something about RtlSubscribeWnfStateChangeNotification() ?

[2017-06-06 08:29] AroninTx commented on #6891
Same thing happened to me and while I was unable to interact with the qbit UI, all my active torrents were allowed to finish before closing out completely. I was able to restart with no problems at all and the added torrent that apparently caused the crash was there and continued normally. I just wanted give more info about the nature of the crash.

version: v3.3.13 (64-bit)
Libtorrent version: 1.

[2017-06-06 08:57] Balls0fSteel commented on #3316
@thalieht I see, thanks for the information! Keeping it open then.

[2017-06-06 08:59] Balls0fSteel commented on #5643
Socks5 does not support port forwarding, that's all.
If you want to be active, use a VPN service that provides active port forwarding such as AirVPN, or Private Internet Access. (These services do not sponsor the project, we do not endorse them, these are just two examples I know of.)

[2017-06-06 08:59] #5643 closed

[2017-06-06 09:41] Missinginch opened #6913 "qBittorrent has crashed"
qBittorrent has crashed
Please file a bug report at http://bugs.qbittorrent.org and provide the following information:

qBittorrent version: v3.3.13 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 10 10.0.15063 x86_64

[code]

[2017-06-06 10:15] dreamhunt commented on #867
Unfortunately this solution doesn't work on my installation :( I tried both variants of the script with no avail. Still looking for solutuon :(

[2017-06-06 10:25] v-fox commented on #867
Well, I can only suggest making sure that the script is executable and that /usr/share/applications/qBittorrent.desktop doesn't have full path hardcoded in `Exec` directive.

[2017-06-06 10:30] FranciscoPombal commented on #48
@geotavros You need to Force Recheck the torrent after you have created enough free space. No need to restart the client.
Can you follow these steps and confirm it works as intended in the latest version (3.3.13)? That way we can close this issue.

[2017-06-06 10:42] FranciscoPombal commented on #61
@thalieht @archish The title of this issue is misleading IMO. Just tested this in 3.3.13, with a torrent with a single root folder; here is what I observed after following the steps outlined in the OP:

Only the empty _folder_ was recreated, not the _files_ themselves.

[2017-06-06 10:44] FranciscoPombal commented on #63
@evsh Cannot reproduce in 3.3.13

[2017-06-06 11:16] thalieht commented on #61
Just tested in 3.3.12. Nothing is recreated for me.

[2017-06-06 11:42] FranciscoPombal commented on #269
@nocniduh
Qbittorrent and other torrent clients will merge trackers as long as both torrents have the same infohash.

Two identical torrents (that is, torrent files that list identical content) will have the same infohash _even if the tracker announce URLs are different_. This is kind of counter-intuitive but it's just the way it is.

In order to keep to torrent files "sperate" when adding the sec

[2017-06-06 11:44] FranciscoPombal commented on #273
@evsh Can't this issue be closed? It is very old, the provided torrent file no longer exists and I personally have never seen this issue on any recent qBittorrent version

[2017-06-06 11:49] FranciscoPombal commented on #559
@cmonelt Does anything similar still happen with recent versions of qBittorrent? personally I have never had this happen to me.

@evsh This is a very old issue, good candidate for closing

[2017-06-06 11:51] FranciscoPombal commented on #712
Cannot reproduce in 3.3.13

@evsh Old issue that is most likely fixed, should be closed

[2017-06-06 11:52] v-fox commented on #867
Should be fine like that.

[2017-06-06 11:54] FranciscoPombal commented on #709
@evsh This issue is solved, can be closed

[2017-06-06 11:57] FranciscoPombal commented on #838
@Nicoly Never had this happen on a recent version of qBittorrent

@evsh This is a very old issue for a very old version of qBittorrent, it can probably be closed

[2017-06-06 11:58] dreamhunt commented on #867
But it doesn't work... It is problem that it occurs randomly. When I first try the first version of the script, I expressly tried to download 30 or 40 times different torrents and evetything was ok. On the next day the second instance was opened at first download. With the second version of the script was the same story. Yesterday I worked the whole day without a problem, but today it is again her

[2017-06-06 12:08] nocniduh commented on #269
Ok. I somewhat forgot about this problem, but curious, why are sometimes trackers ordered by same number (zero), and other times each tracker gets it's on number (0,1,2...)?

[2017-06-06 12:09] FranciscoPombal commented on #1023
@gaq07ar Never had this happen on recent versions of qBittorrent

@evsh This issue is very old, can probably be closed

[2017-06-06 12:11] FranciscoPombal commented on #1029
@pr4nk573r Never had this happen on recent versions of qBittorrent.
Should you still have this or other issues with qBittorrent, please refer to https://raw.githubusercontent.com/qbittorrent/qBittorrent/master/CONTRIBUTING.md
before opening an issue.

@evsh This issue is very old, can probably be closed

[2017-06-06 12:11] #63 closed

[2017-06-06 12:12] #273 closed

[2017-06-06 12:14] FranciscoPombal commented on #1656
@gaq07ar Never had this happen on recent versions of qBittorrent.

@evsh This issue is very old, can probably be closed

[2017-06-06 12:17] evsh commented on #1023
@gaq07ar, feel free to re-open if you experience this problem with the current version. Thanks, @FranciscoPombal.

[2017-06-06 12:17] #1023 closed

[2017-06-06 12:22] FranciscoPombal commented on #61
@thalieht Interesting, did the torrent you tested with have all files on top level or did it have o root folder with all files in it?

[2017-06-06 12:25] thalieht commented on #61
I tested both with the same outcome. I'm gonna test 3.3.13 in a while to see if it matters. Probably doesn't matter but i'm on win 7.

[2017-06-06 12:33] FranciscoPombal commented on #269
@nocniduh
It seems to me that only the trackers listed on the original torrent file itself get numbered from 0 to N (0, 1, 2, 3, ..., N).
Any manually added trackers get 0 assingned to them. This also happens when making use of the option `Tools --> Options --> Bittorrent --> Automatically add these trackers to new downloads`. All the trackers in that list get assingned 0.

This behaviour is proba

[2017-06-06 12:38] thalieht commented on #61
Still nothing in 3.3.13.

[2017-06-06 12:40] FranciscoPombal commented on #61
@thalieht ok, maybe I did something wrong when testing this.
@evsh @Chocobo1 @sledgehammer999 can somebody else also test this please?

[2017-06-06 12:46] FranciscoPombal commented on #2257
@evsh Very old issue for very old version, probably should be closed
@primegm Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 12:47] FranciscoPombal commented on #2240
@evsh Very old issue for very old version, probably should be closed
@dpetroff  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 12:47] FranciscoPombal commented on #692
@evsh Very old issue for very old version, probably should be closed
@ABC181 Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 12:49] Balls0fSteel commented on #5647
Closing as OP disappeared. If the issue still persists, please update to the latest version and include more information. (how much is "intensive"? use "iotop" next time, screenshots are also welcome.)

Thank you for your report.

[2017-06-06 12:49] #5647 closed

[2017-06-06 12:50] Balls0fSteel commented on #5646
@Markismus Any news on this? Does it still happen with the latest version

[2017-06-06 12:50] FranciscoPombal commented on #2130
@evsh Can not reproduce in 3.3.13. I have always been using the "add .!qB" option in recent versions ofqBittorrent, recheck works fine. This should be closed.

@Vikenti-Potapov Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 12:50] Balls0fSteel commented on #5642
Closing as the ticket has been (long) answered.

[2017-06-06 12:50] #5642 closed

[2017-06-06 12:51] Balls0fSteel commented on #5630
Closing the ticket as you could not repro it. Thanks for the report and the detailed description.

- Please open a new ticket if this happens with a new (stable) version.
- Please open a new ticket for the "BTW" part. One ticket, one thing. :)

[2017-06-06 12:51] #5630 closed

[2017-06-06 12:52] Balls0fSteel commented on #5634
@Silurus Did this ever happen again? Is it reproducable?

[2017-06-06 12:52] Balls0fSteel commented on #4485
@Chocobo1 Should we close this? Old ticket with no replies. Thank you!

[2017-06-06 12:58] Balls0fSteel commented on #5689
You may have some very weird things going on with your %APPDATA% folder, or Windows installation.
Anyhow, clear out qBittorrent configuration files from here: "%APPDATA\qBittorrent"

1) Back the files up before deleting them.
2) This will make you lose your settings and everything, but there is really not much else you can do.

Also check your Windows installation, this sounds like your %APPDATA%/

[2017-06-06 12:59] Balls0fSteel commented on #5691
@filipac Does this still happen? Did it get fixed since?
Did you use the PPA version or the repo version of qBittorrent??

[2017-06-06 12:59] #5908 closed

[2017-06-06 12:59] Balls0fSteel commented on #5908
Thank you for reporting back!

[2017-06-06 13:13] FranciscoPombal commented on #6913
@Missinginch
Under what circumstances did this happen? Can you provide more details please?

[2017-06-06 13:24] nocniduh commented on #269
I don't use torrents as much as I used to now, but judging from those torrents I'm still seeding, I can tell that qBittorrent is now reporting to all added trackers, and getting peer info from them, and not just the first, which was the case in my problem report. So I guess it's solved.

My thanks to you and all the other developers/contributors in this project, for devoting your spare time and ef

[2017-06-06 13:24] #269 closed

[2017-06-06 13:31] FranciscoPombal commented on #974
@buinsky @sledgehammer999 This feature would be very nice to have, any chance it can make it to 3.4.0?

[2017-06-06 14:34] Missinginch commented on #6913
I added a torrent. The program crashes when I delete the torrent waiting in line after adding it. I clicked on the right mouse button a couple of times, crushed in the exact same time. (Google translate.)

[2017-06-06 14:39] gddeluca opened #6915 "3.3.13 WebUI stopped working"
**Please provide the following information**

### qBittorrent version and Operating System:
qBittorrent 3.3.13
Windows 7 64bit

### If on linux, libtorrent and Qt version:

### What is the problem:
Sonarr can no longer connect to qBittorrent via the WebUI
Using standard 8080 port with a previously working UserID and password.

### What is the expected behavior:
Connection succeeded.

### Steps to

[2017-06-06 14:52] FranciscoPombal commented on #1727
@evsh Very old issue for very old version, probably should be closed
@Bencici Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:53] FranciscoPombal commented on #2335
@evsh Very old issue for very old version, probably should be closed. OP seems to have disapeared
@Pedro292003 Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:54] FranciscoPombal commented on #2336
@evsh Very old issue for very old version, probably should be closed
@ahmadosra Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:55] FranciscoPombal commented on #2658
@evsh Very old issue for very old version, probably should be closed
@herda05 Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:55] FranciscoPombal commented on #2878
@evsh Very old issue for very old alpha version, probably should be closed
@nicorobinhood Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:56] FranciscoPombal commented on #2951
@evsh Very old issue for very old version, probably should be closed. OP seems to have disapeared.
@Galxy Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:57] FranciscoPombal commented on #3125
@evsh Very old issue for very old version, probably should be closed.
@TheMadSword  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:58] FranciscoPombal commented on #3387
@evsh Very old issue for very old version, probably should be closed.
@earthquake13  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:58] FranciscoPombal commented on #3390
@evsh Very old issue for very old version, probably should be closed.
@deja-vu232 Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 14:59] FranciscoPombal commented on #3347
@evsh Very old issue for very old version, probably should be closed.
@skylabpampax  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-06 15:21] DrunkenSasquatch commented on #6915
Duplicate of #6882

[2017-06-06 15:45] thalieht commented on #61
In another issue you mentioned you use ".!qB". I wanna say i haven't tested with it nor using an incomplete folder.

[2017-06-06 16:14] Chocobo1 commented on #4485
Indeed, thanks.

@InstallShieldWizard
If the problem persist, leave a message and I'll reopen it.

[2017-06-06 16:14] #4485 closed

[2017-06-06 16:15] Chocobo1 commented on #6915
@gddeluca
Thanks for reporting, closing as duplicate (#6882).

[2017-06-06 16:15] #6915 closed

[2017-06-06 16:16] Chocobo1 commented on #6906
tagging @sledgehammer999

[2017-06-06 16:43] thalieht commented on #3272
So this can be closed now.

[2017-06-06 16:49] thalieht commented on #3341
This can be closed then.

[2017-06-06 16:53] thalieht commented on #3514
Does this still happen with 3.3.13?

[2017-06-06 16:53] Balls0fSteel commented on #4869
Closing this as ... this was a one time thing. 👍

[2017-06-06 16:53] #4869 closed

[2017-06-06 16:55] Balls0fSteel commented on #4862
@qbittorrent/demigods Should I tag "random crashes" with a new label, or simply straight close them up? I mean there are many random crash reports with no content, repro steps or any detail whatsoever. Are they useful, if so, should I make a new tag for them, or ask for feedback?
Cheers, and sorry for the team tag!

[2017-06-06 16:55] thalieht commented on #3496
This has been fixed long ago.

[2017-06-06 17:22] thalieht commented on #3667
#907 duplicate.

[2017-06-06 17:25] thalieht commented on #3785
PR #6829 implements this.

[2017-06-06 17:26] Balls0fSteel commented on #4819
@theodore Does the crash still happen? (Archlinux updates every day, several times, so many things have changed since the report.) Thank you for your report.

[2017-06-06 17:29] thalieht commented on #3752
So this can be closed.

[2017-06-06 17:49] thalieht commented on #6555
Maybe it's the same as #4180

[2017-06-06 18:08] Balls0fSteel commented on #1320
Closing as 60MB/s+ speed limits are now possible. (as of 3.3.13)

[2017-06-06 18:08] #1320 closed

[2017-06-06 18:10] Balls0fSteel commented on #1481
@cbj4074 Did this ever happen again? If so, please create a new ticket with it. (This ticket was about something else.) Thank you for your report!

[2017-06-06 18:10] #1481 closed

[2017-06-06 18:11] Balls0fSteel commented on #1461
@chrishirst Hey! Does this still happen with the recent versions? Shall I close the ticket?

[2017-06-06 18:16] sledgehammer999 commented on #6906
That't not the official page. It probably has the old html before the migration. I am going to disable it now.

[2017-06-06 18:16] #6906 closed

[2017-06-06 18:18] #2878 closed

[2017-06-06 18:29] n-o-o-b commented on #6897
I had this, just delete the one from the Program Files (x86) folder. I agree that it's kinda annoying and that it probably shouldn't happen but I'm kinda grateful that it did because now I won't be confused as to whether I have the 32- or 64-bit version. Just as it was for you, I had previously updated to a 64-bit version from 32-bit and it had just overwritten the one in the x86 Program Files, bu

[2017-06-06 19:23] zzdf opened #6916 "Does silently not start when temporary folder not present"
### qBittorrent version and Operating System:
3.3.13 Windows 7

### What is the problem:
If the temporary folder is not present (e.g. the containing volume is not yet mounted) qbittorrent does not start, nor shows an error message nor logs an error in the logfile.

### What is the expected behavior:
Show error message "Temporary folder ... not accessible, please choose a temporary folder: ..."

##

[2017-06-06 20:55] thalieht commented on #61
Yep, found the culprit! When i have ".!qB" enabled it indeed creates an empty folder!

[2017-06-06 23:15] thalieht commented on #4310
Implemented in PR #5196. Will be in 3.4.0.

[2017-06-07 00:44] naikel commented on #6896
I'm the only one hitting this bug?

It happened again today ...

[code]
There's something very wrong in the RSS section...

[2017-06-07 03:18] #4310 closed

[2017-06-07 06:29] andyalford opened #6917 "Ability to limit the amount of data transfered per day"
My ISP gives me a daily download limit.  I would love a feature to **specify how much bandwidth to use per day**, so that I don't get blocked each time I use too much.

I am aware of speed constraints, but I need a number of GB with a reset at midnight, local PC time.

A reset for the counter would also be great, as when I pay them money, I get another block of bandwidth for the day.  If you displ

[2017-06-07 07:12] SpasV opened #6918 "qBittorrent has crashed"
qBittorrent version: v3.3.13 (64-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.8.0
Boost version: 1.63.0
OS version: Windows 10 (10.0) 10.0.14393 x86_64

[code]

[2017-06-07 07:33] Silurus commented on #5634
All is fine, I didn't see any crashes for a long time. Thanks for your concern!

[2017-06-07 08:28] thalieht commented on #4389
Does it still happen with latest release 3.3.13?

[2017-06-07 08:32] thalieht commented on #4359
Can be closed.

[2017-06-07 08:38] thalieht commented on #4336
Is this still a problem? For me it isn't in 3.3.13.

[2017-06-07 08:49] #4359 closed

[2017-06-07 11:02] FranciscoPombal commented on #3593
@evsh @Balls0fSteel Very old issue ("random crash") for very old beta version probably should be closed.
@gericom-hummer  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:02] FranciscoPombal commented on #3588
@evsh @Balls0fSteel Very old issue ("random crash") for very old beta version probably should be closed.
@asd55   Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:03] FranciscoPombal commented on #3755
@evsh @Balls0fSteel Very old issue ("random crash") for very old beta version probably should be closed.
@martinrotter Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:03] FranciscoPombal commented on #3952
@evsh @Balls0fSteel Very old issue ("random crash") for very old beta version probably should be closed.
@cpscooter   Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:04] #3755 closed

[2017-06-07 11:04] FranciscoPombal commented on #3944
@evsh @Balls0fSteel Very old issue ("random crash") for very old beta version probably should be closed.
@Grenaid @duytrung  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:05] FranciscoPombal commented on #4089
@evsh @Balls0fSteel Very old issue ("random crash") for very old version probably should be closed.
@Toddimyre  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:06] FranciscoPombal commented on #4090
@evsh @Balls0fSteel Very old issue ("random crash") for very old version probably should be closed.
@ghohh   Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:06] FranciscoPombal commented on #4173
@evsh @Balls0fSteel Very old issue ("random crash") for very old version probably should be closed.
@pyto00  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:06] FranciscoPombal commented on #4154
@evsh @Balls0fSteel Very old issue ("random crash") for very old version probably should be closed.
@sewmeister Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:07] FranciscoPombal commented on #4213
@evsh @Balls0fSteel Very old issue ("random crash") for very old beta version probably should be closed.
@Siban  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:07] glassez commented on #6896
@naikel, fixed in #6919.

[2017-06-07 11:11] FranciscoPombal commented on #4180
@evsh @Balls0fSteel Very old issue ("random crash" which does not seem to happen anymore) for very old version probably should be closed.
@noob1337  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:12] FranciscoPombal commented on #4128
@gr33nh07n Did you have this happen again with recent (3.3.x) versions of qBittorrent?

[2017-06-07 11:14] FranciscoPombal commented on #2548
@evsh @Balls0fSteel Very old issue ("random crash" which does not seem to happen anymore) for very old version probably should be closed.
@azias   Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:15] FranciscoPombal commented on #3195
@evsh @Balls0fSteel Very old issue ("random crash" which does not seem to happen anymore) for very old version probably should be closed.
@Bitim  Thanks for the report, should you have more issues with recent versions of qBittorrent feel free to open another issue

[2017-06-07 11:33] thalieht commented on #4569
Linking to relevant PR #6484

[2017-06-07 11:41] gr33nh07n commented on #4128
I don't use Torrents anymore.

DigitalEconomyAct

[2017-06-07 11:43] FranciscoPombal commented on #4128
@evsh ok, this can be closed I guess.

_Sent from my Samsung SM-G920F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 13:29] kopurando commented on #4334
Same issue on 3.3.13 on MacOS (Sierra), cheers.

[2017-06-07 13:47] thalieht commented on #4540
I can't reproduce in 3.3.13 win 7.

[2017-06-07 13:52] thalieht commented on #4641
So this can be closed.

[2017-06-07 13:55] thalieht commented on #4579
This can be closed then.

[2017-06-07 14:14] thalieht commented on #4854
#907 duplicate.

[2017-06-07 14:16] thalieht commented on #4866
Same as #4857

[2017-06-07 14:17] thalieht commented on #4872
Does this still happen in latest version 3.3.13?

[2017-06-07 14:23] PlatypusSixtyNine opened #6920 "v3.3.13 Crashes often"
Just upgraded to v3.3.13 (x64).
Getting crashed every day. v3.3.12 (x64) was rock solid before hand.

qBittorrent version: v3.3.13 (64-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.8.0
Boost version: 1.63.0
OS version: Windows 8.1 (6.3) 6.3.9600 x86_64

[code]

[2017-06-07 14:27] PlatypusSixtyNine commented on #6920
What was I doing at the time?
Clicked on 3-5 torrents.
Left the add torrent dialog box where it populates the file names, sizes, etc associated with torrent.
Came back after 30 minutes. Most were associates. Started clicking OK button to add them to torrent list.

[2017-06-07 14:44] thalieht commented on #5377
PR #6829 implements this.

[2017-06-07 14:50] thalieht commented on #5468
Can be closed.

[2017-06-07 15:00] Balls0fSteel commented on #5468
Thank you @thalieht for the heads up!

[2017-06-07 15:00] #5468 closed

[2017-06-07 15:00] Balls0fSteel commented on #4641
@thalieht Thank you!

[2017-06-07 15:00] #4641 closed

[2017-06-07 15:01] Balls0fSteel commented on #4579
Thanks @thalieht !

[2017-06-07 15:01] #4579 closed

[2017-06-07 15:09] naikel commented on #6896
Thanks @glassez !!

[2017-06-07 15:09] #6896 closed

[2017-06-07 15:19] Balls0fSteel commented on #4180
@FranciscoPombal Yes I pinged "demigods" (devs) about these crashes, but have not heard back since. I am waiting for some agreement on how these random crashes should be handled. The entire tracker is swarmed by them and they usually contain no information whatsoever. We will see. Once there is an official word on this, I will handle the tickets per se.

[2017-06-07 15:20] Balls0fSteel commented on #4180
Thank you for the ping/tag!

[2017-06-07 15:31] FranciscoPombal commented on #4180
@Balls0fSteel ok, thanks, I hope you guys aren't too annoyed with these pings, I just want to help clearing up the insane issue backlog.

_Sent from my Samsung SM-G920F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-06-07 15:31] Balls0fSteel commented on #5634
No, thank you @Silurus for reporting the issue originally, and for reporting back!

[2017-06-07 15:31] #5634 closed

[2017-06-07 17:03] Chocobo1 commented on #6891
does the crash **always** happens with a specific torrent?

[2017-06-07 17:06] gericom-hummer opened #6921 "libboost 1.64.0"
**Please provide the following information**

### qBittorrent version and Operating System:
 3.4.0 git, Arch / Manjaro

### If on linux, libtorrent and Qt version:
 5.8.0 and libtorrent - 1.1.3

### What is the problem:

unable to work with the new libbosst 1.64.0, please make it so. On Arch system boost is already 1.64 and after updating it is complaining about 1.63 files are missing.
Thanks

[2017-06-07 17:11] evsh commented on #6921
Could you clarify, please, what do you mean by "it is complaining about 1.63 files are missing"?

[2017-06-07 17:23] vladosssk opened #6922 "v3.3.13 (32-bit) crashed"
**Please provide the following information**

qBittorrent version: v3.3.13 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 10 10.0.10586 x86_64

[code]

[2017-06-07 18:10] Isabelxxx commented on #4698
You can put a link (the source for ex.) using an editable comment field, tags are useful for other tasks not that.

Different things. Comments would be a great addition.

[2017-06-07 18:24] gericom-hummer commented on #6921
i mean that until todays Manjaro update it was working with boost libs 1.63.0 and i was updating it over git to my repo, and it was working. Starting from today, i was with boost 1.64.0 and compiled it with these libs, but when i was supposed to start it, it was complaining that 1.63.0 libs are missing, so i downgraded boost to 1.63.0, but then QB wanted boost-libs 1.64.0, so the only resolution t

[2017-06-07 18:26] evsh commented on #6921
This is not a bug. You need to recompile those packages that depend on boost. From your explanation I guess that libtorrent was not recompiled against boost 1.64.

[2017-06-07 18:26] #6921 closed

[2017-06-07 18:28] gericom-hummer commented on #6921
i will recompile rasterbar against it and will report in a minutes

[2017-06-07 18:39] cybericius commented on #4540
Yes, since one of the upcoming versions it has been fixed.
Thanks for that!

[2017-06-07 18:39] #4540 closed

[2017-06-07 18:45] gericom-hummer commented on #6921
DONE! recompiled rasterbar against 1.64.0 and now QB if working fine.
Thanks

[2017-06-08 02:32] tgregerson commented on #4698
As it stands, you can put a link in a tag if you want.

![qbt-tags-url](https://user-images.githubusercontent.com/6699718/26909674-d69b933a-4bc7-11e7-8fc0-1ca69c411402.png)

Although there is some discussion on the PR about whether to restrict the contents of tags.

[2017-06-08 03:47] tomfisk opened #6923 "qbitorrent-nox webui inconsistent"
**Please provide the following information**

### qBittorrent version and Operating System: 3.3.13, Linux debian jessie 8.8 armhf

### If on linux, libtorrent and Qt version: 1.0.11, 5.7.1

### What is the problem: Webui is inconsistent, sometimes it paints only part of screen, sometimes dialog boxes do not close, sometimes it indicates client cannot connect.  See attached screen shots. Happens in

[2017-06-08 04:39] Chocobo1 commented on #6923
Thanks for reporting.
The issue *might* be resolved in #6898, wait for the next release.

[2017-06-08 05:28] Seeker2 commented on #4336
Many proxies and maybe a few VPNs don't support UDP packets and udp trackers won't work through them.

[2017-06-08 05:33] pesgh opened #6924 "[Feature Request] [Cosmetic Suggestion] Display subcategories on right-click context menu as submenus"
Hi, I'm just a qbittorrent user and I liked the new 'plus' sign that allows expanding/collapsing subcategories, but such behaviour isn't replicated on the right-click menu, where users select the subcategories.
My suggestion, which probably has already been thought of, is to make qb display subcategories on the context right-click menu as submenus.

[2017-06-08 05:42] tomfisk commented on #6923
Indeed it appears to be resolved in #6898.  I've applied change and it appears to be working.  Will report it any inconsistencies appear again.

[2017-06-08 05:42] #6923 closed

[2017-06-08 05:48] pesgh opened #6925 "qb won't recheck torrents loaded from "Watch folder" (monitored folder...)"
### qBittorrent version and Operating System: 3.3.13, win 7
(but this has happened on previous versions as well)

Steps to reproduce:
1) set a monitored folder;
2) make qb load a torrent from that monitored folder;
3) set a new location (....to where files are actually located, torrent content is complete, hash is the same)
4) force re-check.

What should be expected: files are checked, then one c

[2017-06-08 08:09] asturel opened #6926 "qBittorrent RSS crash"
**Please provide the following information**

### qBittorrent version and Operating System:
qBittorrent 6f6a17341f7788ec7d303e10bd99cf21f9e54230
libtorrent RC-1.1 (7e106b26601ae54bc1f305fdecb34d90647a8a25)
Qt 5.9
Windows 10 x64 Pro

`qBittorrent has crashed
Please file a bug report at http://bugs.qbittorrent.org and provide the following information:

qBittorrent version: v3.4.0alpha (64-bit)
Libt

[2017-06-08 14:52] idandan opened #6927 "compiling openssl1.1.0 error ms\nt.mak not found"
E:\qBittorrent\openssl-1.1.0f>perl Configure VC-WIN64A no-shared zlib no-zlib-dynamic threads --openssldir=C:\openssl --prefix=E:\qBittorrent\install_msvc64\base -IE:\qBittorrent\install_msvc64\base\include -LE:\qBittorrent\install_msvc64\base\libms\do_win64a
File::Glob::glob() will disappear in perl 5.30. Use File::Glob::bsd_glob() instead. at Configure line 272.
Configuring OpenSSL version 1.1.0

[2017-06-08 15:31] fsword7 opened #6928 "qBittorrent crashed with I/O errors when memory is full."
With big TB-sized torrent and gigabit speed, it cause qBittorrent crash with big memory hog. When it reaches 1800+ MB in memory space some seconds later after resume, it crashed with I/O errors and froze up.

qBittorrent version: v3.3.13 (32-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.7.1
Boost version: 1.63.0
OS version: Windows 10 10.0.14393 x86_64

[code]

[2017-06-08 15:45] fsword7 commented on #6928
Switched to 64-bit version and resolved issue problems.

[2017-06-08 16:29] Isabelxxx commented on #4698
Despite whatever implementation of tags we get in the future... tags are used for categorizing (and therefore shared among multiple torrents) and comments are torrent specific, unique.

Different things.

[2017-06-08 16:55] snakyjake1 commented on #4192
My problem seems to be related to torrent queuing.

Maximum torrents   = 10
Maximum download = 10
Maximum uploads = 3

If I have both uploads and downloads, I should have 7 (10-3) torrents that I can download.
But I don't.  My torrent downloads are queued.  I have 0 active torrents.
If I force them, they will download (and yes they have plenty of seeds).
If I disable torrent queuing, they will dow

[2017-06-08 17:37] daviddoji opened #6929 "Error while loading shared libraries: libtorrent-rasterbar.so.8"
**Please provide the following information**

### qBittorrent version and Operating System:
qBittorrent 3.3.13-1 in an Archlinux up-to-date system

### If on linux, libtorrent and Qt version:
libtorrent 0.13.6-3
libtorrent-rasterbar 1:1.1.3-4
qt5-base 5.8.0-12

### What is the problem:
Can't launch qBittorrent getting the error mention above.

### What is the expected behavior:
qBittorrent starts

[2017-06-08 17:46] evsh commented on #6929
This is a packaging error (libtorrent .so version bumped without recompiling and bumping qBt package version). Submit a report to Arch bug tracker instead.

[2017-06-08 17:46] #6929 closed

[2017-06-08 17:47] trbocode opened #6930 "Instant Crash on Windows 10"
**Please provide the following information**

### qBittorrent version and Operating System:
Windows 10 enterprise 1703, Qbittorrent 3.3.13

### What is the problem:
Instant crash straight after installation and The notice.

### What is the expected behavior:
Not crashing, at least showing the menu.

### Steps to reproduce:
For me, I just installed it happened.

### Extra info(if any):
I would be h

[2017-06-08 20:59] andylofgren opened #6932 "bug report, filing as requested"
qBittorrent has crashed
Please file a bug report at http://bugs.qbittorrent.org and provide the following information:

We just recently restored our system using a one month old backup, and this crash error was encountered upon re-loading .torrent files corresponding to downloads, some completed, and some not, already stored on the external drives and having been created and/or completed since th

[2017-06-08 22:43] Syntax7error opened #6933 "[Wishlist] limiting downloads number when using alternative speed + not counting slow torrents"
Hello.

I have been using qBittorrent v.3.3.13 on Windows 7 for a few weeks now, and I noticed an issue that may be sfixed in a future version:

I noticed that when I switch to alternative speed limits (10 KiB/s) while having the option "Do not count slow torrents in these limits" (Options/BitTorrent/Torrent Queueing), the number of torrents downloading goes up to 15-20, and when I go back to the

[2017-06-09 00:37] snakyjake1 commented on #4192
Something is definitely going wrong with Torrent Queuing; and maybe something with the "Do not count slow torrents in these links" with no check mark.

If I check mark the "do not count slow torrents", torrents works.

[2017-06-09 01:59] kitt13 commented on #6902
2nd crash

[2017-06-09 02:00] kitt13 commented on #6902
clipboard didnt hold the crashinfo this time :/

[2017-06-09 02:00] saltyeyes commented on #6444
Another +1. I really dig qb, but I'll probably have to switch off it if this remains ignored.

[2017-06-09 06:30] Seeker2 commented on #6928
Problem is known and understood, just not fully fixed yet:
https://code.google.com/archive/p/libtorrent/issues/508
https://github.com/xlgjjff/libtorrent/issues/508
http://qbforums.shiki.hu/index.php/topic,2042.0.html
https://qbforums.shiki.hu/index.php/topic,3198.0.html
https://github.com/qbittorrent/qBittorrent/issues/6594
https://github.com/qbittorrent/qBittorrent/issues/6879
https://github.com/

[2017-06-09 06:54] Chocobo1 commented on #6902
what were you doing before the crash?

[2017-06-09 07:09] Seeker2 commented on #6933
For the same reason, when upload is limited to 10 KB/sec...upload slots needs to drastically decrease.
Otherwise qBitTorrent will probably be automatically snubbed by other BitTorrent clients.

Half open connection rate can be rather aggressive as well and probably needs to decrease when in slower alternative speed limit mode.

Quite a few other settings won't work well with a low DL/UL speed limi

[2017-06-09 09:07] Balls0fSteel commented on #4180
@FranciscoPombal No problem at all, but I still have no word on what to do with these tickets. So.. until then, no action will be taken. Once there is an agreement/word from the contributors, I will act accordingly.

[2017-06-09 09:51] KingLucius commented on #6930
Are you in a limited environment ?
My thoughts, this is related to access something without permission. Either it is file system or network related thing (port mapping maybe)

[2017-06-09 11:02] trbocode commented on #6930
Chtbrkg.DLL was on my PC, this can be closed. I really don't know how to troubleshoot windows.

[2017-06-09 11:02] #6930 closed

[2017-06-09 11:27] Daitallica opened #6934 "Crashed when I loaded a torrent"
It crashed when I double clicked a torrent from my browsers (opera Version: 45.0.2552.888 (PGO)) download menu. The application was already open

qBittorrent version: v3.3.13 (64-bit)
Libtorrent version: 1.0.11.0
Qt version: 5.8.0
Boost version: 1.63.0
OS version: Windows 10 (10.0) 10.0.15063 x86_64

[code]

[2017-06-09 13:52] kitt13 commented on #6902
2 450GB torrents had been downloading since crash 1, shortly after adding another 39Gb torrent to dl i got crash2.
this is a virtual machine that i watch via remote deskop, I do keep firefox open on it and have a tracker page and this page open in ff.

[2017-06-09 14:31] #6927 closed

[2017-06-09 14:31] idandan commented on #6927
its version wrong

[2017-06-09 16:11] Timmy93 opened #6935 "Blurry write and icons"
System: QBittorrent 3.3.13 - Linux Mint 18.1 - 64bit

### If on linux, libtorrent and Qt version:
Libtorrent 1.0.11.0 - Qt: 5.5.1

### What is the problem:
I cannot see properly the window of qbittorrent because all the images and section are super zoomed, I can imagine that's a problem related to the HiDPI infact I've an old 1920x1080 Samsung screen.
Until yesterday, before the update, I had no r

[2017-06-09 16:14] alexblhr opened #6936 "Static builds ? Sponsorship ?"
Do you ever plan to release static builds ?
If you don't , is there a way i can sponsor static builds for linux ?

[2017-06-09 16:18] giogio11 commented on #6920
Similar Crashes here... same version

[2017-06-09 16:50] Chocobo1 commented on #6935
Try setting environment variable `QT_AUTO_SCREEN_SCALE_FACTOR=0` and then run qBittorrent.

[2017-06-09 17:04] Chocobo1 commented on #6934
@Daitallica
How many files does the torrent have?
and does the crash always happens with the same torrent?

---

@qbittorrent/frequent-contributors
The number of report of this kind of crash dump is on the rise for the latest release, they all look similar, maybe we should address it before the next release?
Haven't got any clues so far...

https://github.com/qbittorrent/qBittorrent/issues?utf8=%E

[2017-06-09 17:04] Chocobo1 commented on #6902
How many files does that 39GB torrent contains?

[2017-06-09 18:07] Timmy93 commented on #6935
@Chocobo1 Can you please explain me where to find this parameter to change?
Is it in an external file or in the qbittorrent settings?

[2017-06-09 19:33] kitt13 commented on #6902
I dont see a tab that contains that specific information but it looks like a few hundred files maybe 200ish , same scenario in the first crash, the 1 450gb download had been running for a while then i added a 2nd 450gb download and got the crash shortly after, upon restart it seems to work but the "checking" needs to be avoided as there is no logical reason to believe it could have downloaded much

[2017-06-09 23:23] drfarmerdave commented on #6095
I would like to support this idea!
In the content tab I would like to be able to sort by torrent name. Many torrents are placed in sub-folders, and if you want to toggle only a number of the files/folders (rather than every single subfolder) it is very time consuming.
A very helpful feature would be to have an expandable directory structure for the torrent names under the content tab.

[2017-06-09 23:32] kovacsattila-hun commented on #6879
I disabled "OS cache" in advanced settings, and works normally memory usage...

[2017-06-10 00:00] andoruB commented on #2779
Completely forgot about this issue. It has been fixed for a while now. Closing the issue.

[2017-06-10 00:00] #2779 closed

[2017-06-10 00:00] andoruB commented on #6135
Seems to be working fine as of the current version (3.3.13)

[2017-06-10 00:00] #6135 closed

[2017-06-10 00:14] andoruB opened #6937 "Huge log files in the home folder"
**Please provide the following information**

### qBittorrent version and Operating System:

3.3.13, Debian Sid

### If on linux, libtorrent and Qt version:

QT - 5.7.1
libtorrent - 1.0.10.0
Boost - 1.62.0

### What is the problem:

I get quite large log files whenever I run qBittorrent in my home folder, I've even seen some of them get as big as a few GiB.
The files in question: disk_access.log,

[2017-06-10 05:13] wengang1 opened #6938 "since upgrading to 3.3.13, lots of "Unknown" in the seeder and leecher columns"
**Please provide the following information**

### qBittorrent version and Operating System: Windows 10 64bit, QB v. 3.3.13

### If on linux, libtorrent and Qt version:

### What is the problem:  In search results, most results show "Unknown" seeders and "Unknown" leechers instead of a number

### What is the expected behavior:  Before upgrade to 13, most results had a number in these columns

###

[2017-06-10 06:15] Chocobo1 commented on #6935
open a terminal/console, and type:
[code]

[2017-06-10 07:15] thalieht commented on #6938
Surely they're not random, most of them must be from some specific sites. It would be helpful for the devs to list which sites.

I just did a search and only "btdb.in" does that. If you confirm you should change the issue title accordingly

[2017-06-10 07:46] thalieht commented on #6937
It's libtorrent. I don't know if there's a way to stop it.

[2017-06-10 08:03] Chocobo1 commented on #6937
try create a link that points to `/dev/null`?

[2017-06-10 08:19] #3272 closed

[2017-06-10 08:28] #3496 closed

[2017-06-10 08:28] #3341 closed

[2017-06-10 09:54] ibrahimduran opened #6939 "[FEATURE REQUEST] Do not delete .unwanted folder with the torrent"
Deleting the torrent removes the .unwanted folder too, I've just lost data because of this. It could be good to have a checkbox to delete/not to delete .unwanted folder too.

[2017-06-10 12:23] anewuser commented on #6939
You "lost data"  in a folder dedicated to files that you didn't even check while starting a torrent?

[2017-06-10 12:39] ibrahimduran commented on #6939
Actually, I think my problem was caused by another issue that I've found [solution](https://github.com/qbittorrent/qBittorrent/issues/2691#issuecomment-77868840). My scenario was like this:
1. Some files downloaded 100%
2. Restarted qbittorrent and lost torrent list (full issue and solutions is referenced above)
3. Added same torrent again and tried recheck but didn't work
4. Unchecked the already

[2017-06-10 12:52] anewuser commented on #6939
You consciously unchecked the files. Unchecking them means "I don't want them", as I said above.

[2017-06-10 12:59] Rouzax commented on #6882
Is this also the reason that my Reverse Proxy with Microsoft ARR is breaking the Web GUI?

[2017-06-10 13:13] ibrahimduran commented on #6939
Yes, but they were being downloaded again from %0 although they were already downloaded. I think a checkbox for deleting the .unwanted folder just below the "delete content of the torrent" option can help users by reminding them that .unwanted folder will be deleted.

I think so this is not a important/urgent feature request and this is related to prevent bugs or user related possible issues that

[2017-06-10 13:33] Adowrath opened #6940 "[Feature-Request] Way to reset download progress to sanitize a share ratio"
Background:
---
I converted from using μTorrent to using qBittorrent some months ago, and in the process I "ported over" some of my old torrents to continue seeding them - I have a rule of seeding torrents until I achieved a certain Share Ratio before deleting them ('cause I'll keep the files most of the time anyway). What happend after importing was, some torrents, after including them in qBittor

[2017-06-10 13:40] anewuser commented on #6939
As I said before, follow the issues that already exist about recheck errors.

If you find it all so complicated to the point of having to get reminders that files you don't want and aren't even supposed to exist will be deleted when you remove a torrent, you can just **start moving all the files to another folder before deleting a torrent** from the list of transfers or, even better, keep seeding

[2017-06-10 14:04] Flamaros commented on #6462
Seems to be a duplicate of https://github.com/qbittorrent/qBittorrent/issues/2428

[2017-06-10 14:09] Flamaros commented on #2428
I made a second try to build it, I figured out, but after it crashed at launch. But I also found the solution, zlib wasn't compiled with right options.
Now that I already putted few hours to build it correctly, I will be able to look at this issue. I hope that it will be easier.

[2017-06-10 14:25] Ivi104 opened #6941 "Unexpected crash"
**Please provide the following information**

### qBittorrent version and Operating System:

### If on linux, libtorrent and Qt version: see extra info

### What is the problem: unexpected program crash

### What is the expected behavior: large number (55) of torrents being added

### Steps to reproduce:
1. set default location in which the program will look for torrent files
2. click OK, and wait

[2017-06-10 16:34] LossAngeles commented on #2428
Has anyone tried this hack?

http://dev.deluge-torrent.org/attachment/ticket/2047/0001-Added-a-hack-to-multi-edit-trackers.patch

[2017-06-10 16:51] anewuser commented on #6941
Make a report to that site, or use the official download link: https://www.qbittorrent.org/download.php

[2017-06-10 17:04] Timmy93 commented on #6935
@Chocobo1 No changes also setting this variable. Here is a pic of the problem:
![a](https://user-images.githubusercontent.com/10899430/27004761-7f3d3ac2-4e0f-11e7-96c6-fc90bf2bd52c.png)

[2017-06-10 17:07] Flamaros commented on #2428
I don't understand, deluge is an other software.

[2017-06-10 17:13] andoruB commented on #6937
Okay, then I'll take this discussion there.

That's an idea, but that would still cause useless disk writes, and also that would still fill up .xsession-errors. If I have no other choice, I'd likely have to use this method...

[2017-06-10 20:43] asturel commented on #6926
sorry, duplicate of #6896

[2017-06-10 20:43] #6926 closed

[2017-06-10 20:47] asturel opened #6942 "CrossSiteRequest protection "broke" WebAPI"
src\webui\abstractwebapplication.cpp:
bool AbstractWebApplication::isCrossSiteRequest(const Http::Request &request)
Since this, the examples in https://github.com/qbittorrent/qBittorrent/wiki/WebUI-API-Documentation#login doesnt work anymore, you have to pass "Origin" "Referer" headers also otherwise you got 401, even on localhost while the auth is bypassed for localhost!

[2017-06-10 21:17] Flamaros commented on #2428
I just made a pull request :
https://github.com/qbittorrent/qBittorrent/pull/6943

[2017-06-10 23:28] thalieht commented on #6942
#6882 and PR #6887

[2017-06-11 02:46] Hypernova-5 opened #6944 "Metadata Retrieving window freezing when opening more than one magnet link"
**Please provide the following information**

### qBittorrent version and Operating System: qBittorrent v3.3.13, Mac Sierra 10.12.5

### What is the problem: Opening a magnet link and then opening a different magnet link without confirming the one opened first beforehand causes the Metadata Retrieving window (with the Torrent Management Mode options) to become unresponsive.

### What is the expect

[2017-06-11 05:06] BruceZac opened #6945 "Automatically rolling back to 3.3.12 after installing 3.3.13, again and agian, WTF?"
**Please provide the following information**

### qBittorrent version and Operating System:
Windows 7 x64  current version 3.3.12/3.3.13
### If on linux, libtorrent and Qt version:

### What is the problem:
several days ago I received a pop up asking me download newer version 3.3.13, I did, and installed it, and the client restart as version 3.3.13. However, the next day after booting my PC, the m

[2017-06-11 06:09] Chocobo1 commented on #6942
Thanks for reporting, closing as duplicate of #6882.

[2017-06-11 06:09] #6942 closed

[2017-06-11 08:13] Balls0fSteel commented on #6945
The installer must have had a brain fart. Simply save your settings from %APPDATA%\qBittorrent. Uninstall qBittorrent, then install the new one. (Your settings should remain untouched during the process, but always do a backup.)

Ps.: This is not an official 'word' on the issue, just believe it is a one-time thing and it can be easily 'fixed'. Indeed if this happens to others, it's a serious probl

[2017-06-11 08:15] Balls0fSteel commented on #6936
What do you mean by 'sponsor'?

If you would like, you can make a build for yourself. In the age of pbuilder and COPR, static builds are not too popular. Especially since qBittorrent has only a few small dependencies.

[2017-06-11 08:18] Balls0fSteel commented on #6738
What CPU do you use @kc1212 ? I did 100+MB/s speeds over SOCKS5 with almost no load (5-10%).

[2017-06-11 08:19] Balls0fSteel commented on #6696
@zxcvb2 This sounds like a storage or PSU problem. Or maybe even RAM. You should do a full hardware checkup/troubleshoot on your computer.

[2017-06-11 08:21] Balls0fSteel commented on #6696
Closing ticket @evsh as it seems there was never a leak to begin with.
(Also, Killer chips/drivers are trash. Proof? I use a Killer chip. The biggest tech purchase mistake I ever did.)

[2017-06-11 08:21] #6696 closed

[2017-06-11 08:24] Balls0fSteel commented on #6650
Are we **sure** that it is a client issue?

The tracker lags behind have wrong data usually, it is usually just a rough estimate of how many peers are there but it is never accurate. It is mostly used for sorting on sites but no one should rely on them. **There IS a tracker interface**, but regular peers and users cannot access that. Basically, you can list the peers for each torrent directly from

[2017-06-11 08:27] Balls0fSteel commented on #6644
@evsh Closing this as OP disappeared, it must have been a permission issue as you suspect.

[2017-06-11 08:27] #6644 closed

[2017-06-11 08:28] Balls0fSteel commented on #6611
Closing as OP disappeared.
As native-api said, the log tells you why it won't forward, what happens, etc.

[2017-06-11 08:28] #6611 closed

[2017-06-11 08:29] Balls0fSteel commented on #6605
As a workaround, you could use OpenVPN, very easy to set up with pre-shared key. (takes 10 minutes.)

[2017-06-11 08:32] Balls0fSteel commented on #6594
I seeded with 100MB/s+ speeds, hundreds of gigabytes. With auto cache, then 1GB, then 4GB. Also seeded with downloading ~80MB/s while seeding. No crashes.

Are you sure your disk / RAM is OK?
Have you tried disabling your AV software?

[2017-06-11 08:33] Balls0fSteel commented on #6578
Closing as OP disappeared.

[2017-06-11 08:33] #6578 closed

[2017-06-11 08:39] Atamas95 opened #6946 "Cant see torrents in web ui"
**Please provide the following information**

### qBittorrent version and Operating System:
v3.3.13 WEB UI on Ubuntu 16.04.2 Server

### If on linux, libtorrent and Qt version:

### What is the problem:

I updated now my qbittorrent server in ubuntu 16.04 server.

After update, my categories and torrent lists have been deleted. In options everything stayed like before versions.
If i upload a torre

[2017-06-11 08:40] Balls0fSteel commented on #6559
There is Snap too, by Canonical. (_That_ xkcd comic anyone?)

[2017-06-11 08:41] Balls0fSteel commented on #6551
Closing as OP disappeared.
(Thank you for your helpful comments people!)

[2017-06-11 08:41] #6551 closed

[2017-06-11 08:44] Balls0fSteel commented on #6518
@frumbert You can disable "save form details" and only enable password retention. This worked for me in Chrome/Firefox. Had the same problem as you had, the saved form data was always wrong.

Then again, the feature is on it's way. Once it's merged, it will be in the next version most likely.

[2017-06-11 08:45] Balls0fSteel commented on #6485
Closing as OP disappeared.

[2017-06-11 08:45] #6485 closed

[2017-06-11 08:46] Balls0fSteel commented on #6446
This sounds like a Qt issue but I may be wrong.

[2017-06-11 09:18] fioda commented on #6446
Yeah, but since windows 10 creators update it never happened again, so, could be a issue with the previous version of windows, but still QT related.

[2017-06-11 09:45] Boulder08 commented on #6650
Based on my tests, uTorrent works up to v3.0 build 26473. Anything after that has the exact same issue with the display. I'm currently using v2.2.1 because of this issue and the number of seeds has been fairly accurate all the time. I tend to download things with something like less than 5 seeders to make sure I'm able to finish them before they die. There has always been almost the same number of

[2017-06-11 11:36] fehergeri13 opened #6947 "Annoying update alert on every startup (not ergonomic)"
Hi!
This is very annoying, that each time my windows start up, i have to click on that NO button about updates. Either only ask once a week, or only once, or make updates automatic please. I don't have time to download and install updates manually so often.

[2017-06-11 12:43] IgorPolyakov opened #6948 "Memory leak: var sender."
**Please provide the following information**

### qBittorrent version and Operating System:
windows v3.3.13
### If on linux, libtorrent and Qt version:

### What is the problem:
I'm check source code by cppchecker, and find some issuse.
in `src\app\application.cpp` has memory leak (variable sender)
[code]
### What is the expected behavior:
Maybe need `delete sender`?
### Steps to reproduce:
git cl

[2017-06-11 13:18] thalieht commented on #6947
You can turn it off in `Options -> Advanced -> Check for software updates`.

[2017-06-11 13:52] dreamhunt commented on #867
5 days already and there isn't second instance of qb! Thank you once again v-fox!!!

[2017-06-11 13:56] ivan commented on #6946
Do you see "qBittorrent client is not reachable" in the bottom-left of the webui?

What do you see if you open the browser devtools with F12 and reload the page?

[2017-06-11 14:10] fehergeri13 commented on #6947
This is not the point. This is still annoying. If I turn on my computer, I dont want to care about this. I would like to do my stuff. For example reply my urgent emails. So i click on NO. But this is happening every time. I dont have even time for turning off in the setting. This is not ergonomic. For example it would be better, if I open the app, a small notification bar persistently notifies me

[2017-06-11 14:12] fehergeri13 commented on #6947
On the other hand, i dont know where i can find this setting, so either i serach for the net, or seek through all the setting. So maybe if there is a small checkbox near the NO button, to dont show this notification in the future would be better

[2017-06-11 14:49] Chocobo1 commented on #6948
Thanks for reporting, but this is a false positive.

https://github.com/qbittorrent/qBittorrent/blob/fff66401274ac216ecb1afbc3c8a0ce07b106656/src/base/net/smtp.cpp#L116
You can see the `sender` object will be deleted after the socket is closed and entered Qt event loop.

[2017-06-11 14:49] #6948 closed

[2017-06-11 16:48] Atamas95 commented on #6946
Hi Ivan!

Nope, there wasnt any error message. I logged in successfully.

The problem "solved". I opened the webui in my phone after hours of searching, config editing. And there works everything fine. But on my PC isnt.
So I deleted all cookies, logins, restart the browser and it works now.

I dont understand it, but works.

Anyway, thank you for the reply! :)

[2017-06-11 17:10] Balls0fSteel commented on #72
@sledgehammer999 Should we break this report up? I mean it's three+ things in one ticket. Some may be easier to implement, some may be harder. I will look into the gz/format reading.