[2021-03-13 18:32] glassez commented on #14452
It looks like it is. At least, I'm not aware of any other possibilities.

To be honest, I've never really delved into the licensing issues of qBittorrent before. But what I see now is very disappointing. Looks like we're screwed. And it's not just about Qt 6. Look, for example, here:
https://doc.qt.io/archives/qt-5.9/licensing.html

@sledgehammer999?

[2021-03-13 18:57] glassez commented on #14452
Damn, I'm really confused! I had already started to sink into depression because of the inability to develop further... But then I decided to double-check it myself. What the hell makes you think qBittorrent is licensed strictly under the GPLv2? Let's look at the qBittorrent licence header. What does it say?
[code]

[2021-03-13 18:59] glassez commented on #14452
So we can continue to develop under GPLv3+. We even have to do this because of the current Qt license.

[2021-03-13 20:03] ChainofChaos opened #14542 "qBittorrent uses lots of RAM on Ubuntu 20.10"
### qBittorrent version and Operating System
4.3.3
Ubuntu 20.10

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar = 1.2.12
Qt = 5.14.2

### What is the problem
qBitttorrent uses lots of RAM on idle state and downloading. It uses about 368M - 428M

### What is the expected behavior
Is it normal? Because the windows version only uses 2.2M

### Steps to reproduce
Default ubun

[2021-03-13 20:11] mzso commented on #7748
I guess what might have happened (for the second part) is data being downloaded undesirably, and after renaming the folder in QB it overwrote the file already there.

[2021-03-13 20:21] #14534 closed

[2021-03-13 21:53] flakyton commented on #14523
The same issue here. I'm not sure it is a disk space issue, but I've observed the configuration got reset to default after upgrading to 4.3.3. After I have updated configuration manually to match the previous one, it got reset back after the restart. The tell is that created `$HOME/.config/qBittorrent/qBittorrent_new.conf` is a bare bones empty configuration.

[2021-03-13 23:55] Taloth commented on #14443
I've added the necessary code to Sonarr and tested it with the nightly build. For existing qbit versions I've added code to check if the torrent was added successfully before issuing further commands.

Glassez, my apologies for my responses earlier, it was shortsighted of me and I should've addressed you differently. Thank you for your effort.

[2021-03-14 03:47] jagannatharjun commented on #14541
Confirmed

[2021-03-14 06:01] glassez commented on #14535
Anyone is free to offer Pull Request.

[2021-03-14 06:30] glassez commented on #7748
@mzso
Unfortunately, some fixes/improvements were merged immediately after the 4 3.3 release, so they didn't get there. You should wait for the next release (hopefully soon) and try it again.

[2021-03-14 08:58] mzso commented on #7748
[**@glassez**](https://github.com/glassez) commented on [2021. márc. 14. 07:30 CET](https://github.com/qbittorrent/qBittorrent/issues/7748#issuecomment-798842938 "2021-03-14T06:30:08Z - Replied by Github Reply Comments"):

Okay. By the way, were beta releases discontinued? The last one seems to have been released in 2019.

[2021-03-14 11:50] glassez commented on #14536
What update interval would you consider appropriate?

[2021-03-14 13:40] gatszegi commented on #14536
From a user perspective 5 secs is fine in my opinion

You might consider having a setting in the advanced options section for this.
And if you feel like this can cause problems in non-transient inaccessibility scenarios an incremental retry pattern with a plateau around half a minute could be any option as well.

[2021-03-14 14:00] HermesZum opened #14544 "qBittorrent does not automatically recognize OpenVPN Wintun"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent 4.3.3/all versions issue
OS: Windows 10 20H2 x64 10.0.19042

### What is the problem
qBittorrent does not automatically recognize OpenVPN Wintun network interface, torrent download and upload is blocked.

### What is the expected behavior
qBittorrent automatically recognize OpenVPN Wintun network

[2021-03-14 14:24] StreetDebugger opened #14545 "Force automatic (and immediate) re-announce to private trackers after port or IP change"
**Please provide the following information**

### qBittorrent version and Operating System
V4.3.3, Windows 10

### What is the problem
I‘m running qBittorrent behind a PIA VPN. It changes the WAN IP and the WAN port quite often, say 3-5 times a day. I have a script up & running which detects a change and then updates the qBittorrent settings (port) accordingly. That works fine, but most private tr

[2021-03-14 16:00] DimitriDR commented on #14510
Same issue!!! That's annoying.

[2021-03-14 16:01] thalieht commented on #14544
You mean it doesn't show up in Advanced -> Network Interface?

[2021-03-14 17:39] glassez commented on #14536
Isn't that too often? Do not forget that this will slow down the normal operation of the application (seeding/downloading using permanently mounted storages).

I would start with 30 seconds and dynamically increase the interval to a few minutes (say until 10-15 min.).

[2021-03-14 19:20] HermesZum commented on #14544
Yes, it's show up. But I need manual configure it, and restart the app, to not block the torrent conection. Also I need manual choose the IP that works with Wintun. Then when I need restart the app, the IP I choose resets, I need configure again.

[2021-03-14 19:36] gatszegi commented on #14536
Sure, It has impact on the overall performance.
Quickly googled and there is a File System Events API of macOS. The best solution performance wise if possible as it is a pushed based.

As a second best option what you've described is also good for such scenarios what I've described and even for network drives.
The shorter the cadence the better final result but as you said performance impact shoul

[2021-03-15 04:27] glassez commented on #14536
Of course.

Unfortunately I can't implement macOS specific solution having no mac at a hand.

I think there's nothing critical if your torrents start working within several minutes after external storage is mounted (in general case).

[2021-03-15 04:54] oogetyboogety commented on #14160
@multiduplikator
Would you be able to follow the instructions here:
https://github.com/oogetyboogety/qbittorrent-web-ui#development
to run through an example this here:

https://user-images.githubusercontent.com/3319254/111105276-3df35a80-8518-11eb-8dce-3f78b172250f.mp4

[2021-03-15 06:02] reeyon commented on #13581
v4.3.3 is still having the issue. End task or taskkill command won't work.
Until a _Force_ reboot to resolve this.
![image](https://user-images.githubusercontent.com/3666089/111110187-0bd50d80-8597-11eb-9bc1-f2790e0932af.png)

[2021-03-15 06:26] shiftypenguin commented on #7850
For context, I'm running qbit 4.1.5 on Debian 10, which is being virtualized in bhyve with the files shared over virtio-9p. I don't think the virtualization or virtio-9p is a factor...

I migrated my config and torrents from 4.3.1 and it had to re-check all 183 of my torrents, I assume because fastresume files changed formats or something. But 3 torrents so far have gotten stuck at 99.9% and stall

[2021-03-15 06:27] GregariousJB commented on #13446
Same problem here. Been happening for a long time off and on, but only qbittorrent is failing. Visiting the RSS feed manually in a web browser is perfectly fine, and using a different RSS program is perfectly fine.

`3/15/2021 2:22 AM - Failed to download RSS feed at [redacted]. Reason: The access to the remote content was denied (401)`

[2021-03-15 09:19] multiduplikator commented on #14160
@oogetyboogety
Sure, followed the first link of instructions - mostly :)

I edited .env directly instead of creating .env.local - should be ok.

When trying to start, I ran into all kinds of errors, but the following resolved all of them:

[code]

Then I ran into ECONNRESET error on the proxy. This was due to the fact that I had forced qbit to https. So I enabled http again and restarted qbit.

I

[2021-03-15 09:41] Raiyan235 opened #14548 "Torrents aren't ordered based on the time i started them anymore"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.3
Windows 10 Pro

### What is the problem
I can not see the number of the torrent

### What is the expected behavior
When a torrent used to be added, it was numbered, for example if i deleted all the torrents and then added a torrent then the second one will have a "2" in the "#" category in the top, bu

[2021-03-15 10:09] sam20e opened #14549 "Web UI Port not getting changed"
**Please provide the following information**

### qBittorrent version and Operating System
Version 4.0.3
Ubuntu 18.04

### If on linux, libtorrent-rasterbar and Qt version
4.0.3

### What is the problem
I'm trying to change the qbittorrent web ui port to something else. When i use webui to change this im getting this error -

Unable to save program preferences, qBittorrent is probably unreachable.

[2021-03-15 10:10] sam20e opened #14550 "Unable to upgrade to the latest version"
I'm running qBittorrent/4.0.3 + ubuntu 18.04.

I tried upgrading but its not getting upgraded for some reason -

I ran these commands :

sudo add-apt-repository ppa:qbittorrent-team/qbittorrent-stable
and then sudo apt-get update && sudo apt-get install qbittorrent

but it's still v4.0.3...

qbittorrent-nox -v
qBittorrent v4.0.3

There is a bug or you guys need to update your docs on proper upgrad

[2021-03-15 10:13] sam20e opened #14551 "Auto resume stalled torrents"
I'm running qBittorrent/4.0.3 + ubuntu 18.04. Randomly 1 or 2 of my torrents status getting changed to "Stalled" state.. We need a function/option like "Auto reload torrents" every 5/10/15/60 minutes or so on..

Right now if you dont monitor the list overnight at least 2-3 torrents will go back to stalled state and it's affecting my seed ration. I can right click and start again but we need an aut

[2021-03-15 10:48] chgans opened #14552 "Weird Ipv4/v6 mixup"
### qBittorrent version and Operating System
Acting as server: Stock qBittorrent 4.03, Qt 5.9, libtorrent-rasterbar 1.1.5 on KUbuntu 18.04
Problematic client, very simple test app using libtorrent-rasterbar v2.0.2, no Qt, test app is running on same host, using same address, but different port.

### What is the problem

The client cannot connect to peer once tracker announce is done:
[code]

### W

[2021-03-15 13:14] thalieht commented on #14548
"#" is the torrent's queue position. Re-enable `Options -> BitTorrent -> Torrent Queueing` to get it back, although for what you're using it, you should be using the "added on" column as you said.

[2021-03-15 13:14] #14548 closed

[2021-03-15 14:30] Raiyan235 commented on #14548
thanks a lot dude, love you!

[2021-03-15 15:13] thalieht commented on #14552
Try with the official PPA: [stable](https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-stable) or [unstable](https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-unstable) and report back.

[2021-03-15 15:36] thalieht commented on #14551
First of all use the official PPA [stable](https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-stable) or [unstable](https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-unstable)

Secondly "stalled" is meant to be "no peers to download/upload to" but IIRC from other issues, there's a problem if you run out of space where you have to restart qBt in order for download

[2021-03-15 16:04] sam20e commented on #14551
I'm only using the official PPA. Im not using anything else.

I have more than 1TB space in my VM so space is not an issue. And randomly Active torrents (with enough seeders/peers) going into Stalled state. Thats why im confused.

I don't know what you mean by Stalled torrents are never stopped. When my torrents goes to Stalled state its under "Inactive" section and stops seeding etc. If i right c

[2021-03-15 16:38] TheBestPessimist commented on #14529
I cant provide a proper repro, however I also observed that force closing QBT (via task manager, windows) during download using the temporary folder leads to "progress loss" sometimes.
Force recheck does not help in this case, as qbt does not check the files downloaded in the temp folder. instead, it resets the download progress to 0 and when it starts downloading, the files are written directly t

[2021-03-15 16:45] xavier2k6 commented on #14550
@sam20e Did you try `sudo apt update && sudo apt install qbittorrent`?

[2021-03-15 16:48] thalieht commented on #14551
I don't think so. 4.0.3 is over 3 years old and i don't see it in the PPA, 4.3.3 is the latest. We are not going to waste a moment on such an old version.

Ok then that's not it. I mentioned it so you are aware of it.

I don't know why we call it "Force".... all it does (currently) is make the torrent exempt from the queueing logic. Try disabling Torrent Queueing in settings and see if it makes a

[2021-03-15 16:53] xavier2k6 commented on #13581
@reeyon What OS?

[2021-03-15 17:08] xavier2k6 commented on #14486
@Avtroman Please provide more information, the template is there for a reason....

What is the OS????
Expected behavior etc etc.

[2021-03-15 17:22] xavier2k6 commented on #12970
`QNetworkInformation Class` or `QHostInfo Class` as possible replacements too.

[2021-03-15 17:27] sam20e commented on #14550
managed to fix the issue. i forgot the -nox part.

sudo apt install qbittorrent-nox  fixed the issue.

[2021-03-15 17:27] #14550 closed

[2021-03-15 17:28] xavier2k6 commented on #14452
We probably need to discuss/review all licensing in general as some of the icons that qBittorrent still use are now no longer "Free" & are under a paywall. (They are certainly not included anymore in the free package)

[2021-03-15 17:30] sam20e commented on #14551
i dont expect you to waste a moment on an old version. To be very honest i hate old version. i was following this guide when installing - https://www.linuxbabe.com/ubuntu/install-qbittorrent-ubuntu-18-04-desktop-server so for some reason v4.0.3 was installed.. i had an issue with the upgrade just managed to fix it so now im running v4.3.3. will monitor again. Thanks for your time

[2021-03-15 17:35] sam20e commented on #14551
thank you for your time. i will monitor again..

[2021-03-15 17:35] #14551 closed

[2021-03-15 17:37] sam20e commented on #14549
upgrading to the latest version resolved the issue. thanks

[2021-03-15 17:37] #14549 closed

[2021-03-15 17:54] xavier2k6 commented on #13581
@rumanzo Is `Options->Advanced->libtorrent Section=>Enable OS cache` checked or unchecked?

[2021-03-15 19:06] a-usov opened #14553 "qBittorrentWebUI ampersand rename error"
### qBittorrent version and Operating System
4.3.3 - Ubuntu Focal

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar10_1.2.12 - libqt5core5a_5.12.8

### What is the problem
![image](https://user-images.githubusercontent.com/35306617/111206970-fecd1400-85c0-11eb-888a-1a8154188110.png)

Trying to rename this file in the web ui gives an empty box and console shows this error

[2021-03-15 19:19] a-usov commented on #14553
`decodeURIComponent` seems to be used in several [places ](https://github.com/qbittorrent/qBittorrent/search?q=decodeURIComponent)from just searching the repo. I'd be happy to make a PR given advice on how to best fix this

[2021-03-15 19:36] thalieht commented on #14553
Seems to be related #14432

[2021-03-15 21:10] finqq opened #14555 "RSS feed names are not updating"
### qBittorrent version and Operating System
v4.3.3
Windows 10

### What is the problem
The RSS feed name/title is only getting set once, right after you have just added a new feed to the feed list. A number of my RSS feeds update their feed titles every time the feed itself is updated at its source. These feed titles include the date and time of the most recent update, along with other useful inf

[2021-03-15 21:49] chgans commented on #14552
Using stable PPA, the problem is gone, but another shows up :(
qBittorrent v4.3.3 (server)
[code]

torrent-rasterbar 1.2.13 (client)
[code]

Logs on server side:
[code]
Logs on client side:
[code]

[2021-03-15 22:47] chgans commented on #14552
OK, so it looks like this is an edge case, running 2 clients on the same ip address/interface but different ports, upset libtorrent-rasterbar.
With this change to the client:
[code]
Everything works as expected.

[2021-03-16 01:14] reeyon commented on #13581
Windows 10 20H2.
Process priority set to Normal.
Everything else is default.
Enable OS cache checked.

[2021-03-16 02:41] asorel1942 commented on #13789
@olfek I just attempted your proposed manual process on a clean install of Manjaro; I made a copy of .local/share/data/qBittorrent, and copied that folder into that same location on the new install. However, when I open up qBittorrent, my torrent list is empty. Do you have any suggestions as to how I may troubleshoot this?

[2021-03-16 06:39] easypickings commented on #14379
So will there be a eta on universal build?

[2021-03-16 12:04] ted423 opened #14556 "Display the error tracker status like the GUI"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3 Win&Linux both
### If on linux, libtorrent-rasterbar and Qt version

Qt: | 5.15.2
Libtorrent: | 1.2.12.0
Boost: | 1.75.0
OpenSSL: | 1.1.1i
zlib: | 1.2.11

### What is the problem
this is the screen from gui ,but webui doesn't have
![image](https://user-images.githubusercontent.com/7042766/111305291-b50

[2021-03-16 13:06] xavier2k6 commented on #13652
@mikesafari What happens if you click the qBittorrent icon **again** in the system tray when this happens, does it display normally??

[2021-03-16 13:12] xavier2k6 commented on #12935
If you can reproduce this in **4.3.3** or later, please open a "new issue"

[2021-03-16 13:12] #12935 closed

[2021-03-16 15:19] xavier2k6 commented on #10360
@necros2k7 We really only allow one issue/request..... (I should close it, but.......)

Elaborate on this, Do the GHA builds not suffice for you?

libtorrent 2.0.1

WIP

This is still in "ALPHA" Stage.

Unsure if this is required/needed.

@thalieht @FranciscoPombal thoughts?

[2021-03-16 15:35] Juancafr opened #14557 "qbittorrent-nox closes"
**Please provide the following information**

### qBittorrent 4.1.5 /  DietPi v7.0.2

### I have qBittorrent that when I download something, I automatically move it to a Team Drive that I have and when it has been doing it for a while, qBittorrent closes alone and I have to restart it. It also closes me when it has to check a file such as the one that has been cut while moving it.

### I have trie

[2021-03-16 16:01] j1warren commented on #7748
Is that feasible to change dropdown list for Content Layout to radio-buttons?

[2021-03-16 16:15] glassez commented on #7748
Guys, if you have any Feature Requests etc., please open new Issues.

[2021-03-16 16:23] j1warren opened #14558 "Change Content layout from list to buttons in Add new torrent window"
Is that feasible to change dropdown list for Content Layout to radio-buttons?
Kinda annoying to open it and select another item every time I need to.

Currently it takes 1 line, with radio-buttons I suppose it would take 2 lines
1) Content layout:
2) three radio-buttons: original, create subfolder, don't create subfolder (should also check translations' length)

[2021-03-16 17:14] wizarduss opened #14559 "Trackers not connecting"
qBittorrent version and Operating System
4.3.3 on windows 10 pro 64bit (10.0.1xxxx)

What is the problem
Trackers are all indicating not working for any torrent

What is the expected behavior
Connecting to trackers

Steps to reproduce
Adding any torrent via file or magnet link

Extra info(if any)
I've tried the following to perhaps resolve/figure out limitations:
torrents from several different so

[2021-03-16 17:16] thalieht commented on #14558
You can change the default in options.

[2021-03-16 17:21] j1warren commented on #14558
No sense in my case, I very often have to change between Original and Don't create subfolder.

[2021-03-16 17:51] sledgehammer999 commented on #14452
This: https://github.com/qbittorrent/qBittorrent/blob/master/COPYING

And the git history on that file reveals that the original author tried to switch to GPLv3 but afterwards switched back to GPLv2.
Commits [one](https://github.com/qbittorrent/qBittorrent/commit/54f9375b325cc03f8d5da9abbf6c4e25e8ee698f#diff-400d38e5cfee181230373a8b02d38f50271a5bf62c62410382efddb8e8b19e22) and [two](https://github

[2021-03-16 17:58] thalieht commented on #14557
4.3.3 is the latest.

[2021-03-16 17:58] #14557 closed

[2021-03-16 18:04] Juancafr commented on #14557
4.1.5-1+deb10u1

 It tells me that it is the most recent

[2021-03-16 18:51] thalieht commented on #14557
It is... in debian stable. Nothing we can do about it.

[2021-03-16 19:06] xavier2k6 commented on #14452
@sledgehammer999
#### Qt 5.15.2
`configure -opensource`

![Qt 5 License](https://user-images.githubusercontent.com/42386382/111365579-90ed1f00-868a-11eb-9350-9d615873bf48.png)

#### Qt 6.0.2
`configure -opensource`
[code]

[2021-03-16 19:08] xavier2k6 commented on #14452
https://www.qt.io/faq/tag/qt-open-source-licensing?hsLang=en

[2021-03-16 19:12] sledgehammer999 commented on #14452
@xavier2k6 don't post that kind of output in a comment. Use a gist/pastebin. The output for `configure --help` would be more helpful for qt6.

[2021-03-16 19:27] xavier2k6 commented on #14452
I don't see the issue as it was in a `code block` I could've put in a `collapsible markdown` i suppose?!

I have an output from `configure --help` & created a secret `gist file`, is it ok to post that link here?!

[2021-03-16 19:32] sledgehammer999 commented on #14452
The issue not secrecy. It is creating a wall-of-text making harder to scroll through the issue.
So yes, post the gist link here.

[2021-03-16 19:51] xavier2k6 commented on #14452
Understandable, No bother.

[gist file link](https://gist.github.com/xavier2k6/7b88f628b52126eb4a13c00503f5292e#file-gistfile1-txt)

[2021-03-16 19:52] glassez commented on #14452
So if Qt 5.15 still has GPLv2 as an option there is no problem with it.

It turns out that it contradicts what is indicated in the file headers. The question is the legitimacy of these headers.  When did they start including a mention of GPLv2 (**and above**)? And who put that in there?

[2021-03-16 20:12] glassez commented on #14452
The conclusion is this. You can re-license in two cases: either the current license allows you to do this (for example, _GPLv2 (and above)_ allows you to distribute derived code under the terms of the GPLv2+, GPLv3+, etc.), or the copyright holder (all copyright holders together) if the current code allows you to do this (you need to get explicit permission from each of them, which is almost impos

[2021-03-16 20:13] olfek commented on #13789
@asorel1942 The default location of app data has changed from `.local/share/data/qBittorrent` to `.local/share/qBittorrent`.

[2021-03-16 20:40] sledgehammer999 commented on #14452
I think that is the only option here. Moreover, I'll attempt the following interpretation: Before switching to GPLv3 and back to GPLv2, the `COPYING` file contained only license text aka GPLv2. The short top text about GPLv2 and openssl exception was prepended to `COPYING` after switching back to GPLv2. **HOWEVER**, the source files seem to always have had the `or later` part alongside the openssl

[2021-03-16 20:50] sledgehammer999 commented on #14452
Onto the qt6 license: It seems the configure script doesn't have a relevant option. However, [LICENSE.QT-LICENSE-AGREEMENT](https://code.qt.io/cgit/qt/qtbase.git/tree/LICENSE.QT-LICENSE-AGREEMENT?h=6.0.0#n155) file indicates that it is available under GPLv2+ and LPGLv2.1+. The same root also contains license files only for GPLv2, GPLv3 and LGPLv3. (LICENSE.GPL2, LICENSE.GPL3, LICENSE.LGPL3). Not L

[2021-03-16 21:08] glassez commented on #14452
It's really confusing because they only mention LGPLv3 and GPLv3 in https://doc.qt.io/qt-6/licensing.html

[2021-03-16 21:14] sledgehammer999 commented on #14452
Exactly! (I think that was the reason of my initial comment on licensing).
But the same page says to see page http://qt.io/licensing/  for details. And that page says ` or other projects where all (L)GPL obligations can be met." which is a link. Clicking on that you arrive at https://www.qt.io/download. Then scrolling and choosing "Go open source" you arrive at the final page before download where

[2021-03-17 01:33] necros2k7 commented on #10360
What`s GHA builds?

[2021-03-17 03:33] sakkamade commented on #10360
Github Actions
https://github.com/qbittorrent/qBittorrent/actions

[2021-03-17 05:44] glassez commented on #14452
If this is the case, then it looks like we don't have any critical issues at this time.
But it is still very important for us to "dot the i's and cross the t's" with our license and bring all its references in line with the actual one in order to avoid future confusions.

[2021-03-17 06:37] necros2k7 commented on #10360
can you point to actual latest binary?

[2021-03-17 09:04] luorng opened #14560 "qBittorrent has crashed"
qBittorrent version: v4.3.0 (64-bit)
Libtorrent version: 1.2.10.0
Qt version: 5.15.1
Boost version: 1.74.0
OpenSSL version: 1.1.1h
zlib version: 1.2.11
OS version: Windows 10 Version 1909 10.0.18363 x86_64

Caught signal: SIGABRT
[code]

[2021-03-17 09:32] xavier2k6 commented on #14560
@luorng This has been rectified, please update qBittorrent to **4.3.3**

[2021-03-17 09:32] #14560 closed

[2021-03-17 10:12] txtsd commented on #14509
Ok so I paused most of the torrents and I'm seeding ~40 now. qbittorrent sits at ~1GB RAM usage. Still too high. If it can start and run at ~300MB, it should be able to maintain that regardless of how many torrents are active.

[2021-03-17 10:35] jagannatharjun commented on #14452
will you guys allow QML for UI with Qt6 ? (https://www.qt.io/blog/desktop-styling-with-qt-quick-controls)

[2021-03-17 10:45] glassez commented on #14452
Let's not mix it all up. Just open a separate Issue if you have any specific ideas. But I don't think we'll be able to discuss this constructively until we officially support Qt6.

[2021-03-17 11:17] binhex commented on #7200
Just been struggling with this bug running qBittorrent v4.3.3 via Web UI, i just could NOT get the path to stick for the monitored folder, tried all of the above and it still would not save - checked folder exists, checked permissions and everything looked fine.

however i then thought i would take it one step at a time and save going up the path, so entered in '/data', clicked file icon and saved

[2021-03-17 12:33] thalieht commented on #10360
In that list, which is sorted by time, if the middle column says "master" (or first column starts with "Merged pull request...") that is the latest change that was accepted and merged in master branch (which contains all changes since the last release). Every change comes in pairs of 2 lines. Pick the one that doesn't mention "file health",  go down to "Artifacts" and dl what you want.

[2021-03-17 12:51] xavier2k6 commented on #10360
Simply get the newest/latest "master" that will always appear at the top of this list from below link (this excludes the "file health):
https://github.com/qbittorrent/qBittorrent/actions/workflows/ci.yaml?query=branch%3Amaster

- Click the newest/latest **"Merge pull request #..... from"**
- Scroll down to **Artifacts**
- Click on relevant named file for **"Your OS"** e.g. if running windows -> `q

[2021-03-17 13:09] xavier2k6 commented on #10360
@necros2k7 This should basically cover all from https://github.com/qbittorrent/qBittorrent/issues/10360#issuecomment-800354697 except for the `OSS-Fuzz` request.

The `OSS-Fuzz` request is legitimate enough & I would probably suggest to create a "new issue" for that & close this if you are satisfied that your previous needs have been fulfilled?!

@thalieht If necros2k7 creates a "new issue" for th

[2021-03-17 17:02] sukkerfri opened #14561 "Tracker for all torrents stuck on "Not contacted yet"."
**Please provide the following information**

### qBittorrent version and Operating System
qBittorent 4.3.3.0
Windows 10 20H2 b 19042.867

### What is the problem
No torrents (existing or newly added) are able to download or seed. Tracker reports status of 'Not contacted yet' for every torrent.
Noticed qBittorrent.exe is not listening on the configured 'Listening Port' (In my case TCP/UDP 49153).

[2021-03-17 17:52] space-orca commented on #14489
Has there been any word from Microsoft about why qBittorent was blacklisted? Seems ridiculous to ban open source software as a threat, when its code is publicly available

[2021-03-17 18:26] sukkerfri commented on #14561
qBittorrent is working normally after reboot. But this still seems like a bug. Interesting logentries:
``(I) 2021-03-15T22:33:11 - Trying to listen on: 0.0.0.0:49153,[::]:49153
(N) 2021-03-15T22:33:11 - Peer ID: -qB4330-
(N) 2021-03-15T22:33:11 - HTTP User-Agent is 'qBittorrent/4.3.3'
(I) 2021-03-15T22:33:11 - DHT support [ON]
(I) 2021-03-15T22:33:11 - Local Peer Discovery support [OFF]
(I) 2021-0

[2021-03-17 22:22] Ryrynz commented on #13704
@arvidn is this still an issue?

[2021-03-17 22:27] necros2k7 commented on #10360
Last time I posted feat.req. for OSS  Fuzz on some of my favorite projects - Github tried to ban me for spam, and during week I explained what I meant with techsup., so sorry I can`t make new issue) If anyone likes pls do.

[2021-03-17 22:29] necros2k7 commented on #10360
Same is that it`s fuzzing methods, so maybe it can be beneficial to merge these two into something "Fuzzing" named issue

[2021-03-17 22:53] athelas64 commented on #14489
Cannot comment on whether there is word from Microsoft, but Windows Defender keeps silently removing the software despite being explicitly allowed on the machine.  This error in not reported on Windows Insiders Feedback Hub.
After allowing the quarantined software, qBittorrent works.... until the next restart.

[2021-03-18 00:13] tangre commented on #4498
I tried this but now when I open QBittorrent after loggin in, I can't get any Torrents to start. They all say "not contacted yet." It seems my Torrents are seeding though since a website I typically download from shows I'm seeding. Is a byproduct of this losing desktop functionality?

[2021-03-18 01:18] tangre commented on #4498
This seems to work but I have a problem I'm wondering if you can help me solve. I used the original method and it ruined desktop functionality for me, so I tried your method. What it seems to have done is made it so I can open qbittorrent in 2 different ways, one being the way I've always been using it just from my desktop icon, which I have to log into Windows and launch if I want to start it, an

[2021-03-18 07:11] DTG123 opened #14563 "QT not respecting preset upload limits?"
**Please provide the following information**

### qBittorrent version and Operating System
Win10,  QT  4.3.3

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
QT is uploading data beyond preset limits even when uploading is turned off

### What is the expected behavior
If I set an upload limit to 20kib/s I expect it to not go above that.

### Steps to repro

[2021-03-18 08:07] sakkamade commented on #14563
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/13950

[2021-03-18 09:50] glassez commented on #14563
🤔

[2021-03-18 10:35] xavier2k6 commented on #10360
@thalieht

`OSS-Fuzz` currently uses AFL but are replacing/integrating AFL++

Ref.:
[Integrate afl++ with OSS-Fuzz, deprecate vanilla afl.](https://github.com/google/oss-fuzz/issues/4280)

[2021-03-18 12:06] #14563 closed

[2021-03-18 12:16] thalieht commented on #10360
Guess we can close the other issue then.

[2021-03-18 13:00] xavier2k6 commented on #5449
Closing in favour of #10360

[2021-03-18 13:00] #5449 closed

[2021-03-18 14:41] CBiederman opened #14564 "Deleted torrents reappear in qBitTorrent"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.3 | Windows 10 Pro 20H2 10.0.19042

### If on linux, libtorrent-rasterbar and Qt version
N/A

### What is the problem
After deletion, deleted torrents reappear in qBitTorrent

### What is the expected behavior
After deletion, deleted torrents do not reappear in qBitTorrent

### Steps to reproduce
1. I o

[2021-03-18 15:38] an0n666 commented on #13686
@thalieht I think this issue should be closed now since there's no string left to be translated to Russian on transifex.

[2021-03-18 15:39] multiduplikator commented on #14160
@oogetyboogety Should try and build 4.4.0alpha1?

[2021-03-18 15:46] #13686 closed

[2021-03-18 16:09] xavier2k6 commented on #11366
This was resolved in the appropriate repository!

[2021-03-18 16:09] #11366 closed

[2021-03-18 16:16] FranciscoPombal commented on #14509
Nope, just because a program uses a certain amount of memory at startup does not mean that it "should" continue using that amount throughout its execution. A bunch of data may need to be allocated as needed. For example, the libtorrent disk cache will usually be a large contributor to the memory usage. You could try setting it to some lower value, like 128 or 256 MiB.

How do you know if it is unn

[2021-03-18 16:19] FranciscoPombal commented on #14530
Basically a duplicate of https://github.com/qbittorrent/qBittorrent/issues/11419.

[2021-03-18 16:19] #14530 closed

[2021-03-18 16:22] FranciscoPombal commented on #14379
We have to wait at least until Qt supports M1 Macs.

[2021-03-18 16:28] FranciscoPombal commented on #14542
Often the most significant contributor to memory usage is the libtorrent disk cache. It is set to `auto` by default, which will provide the best performance in most cases, at the cost of slightly excessive memory usage in others. Depending on your specific situation, you could get away with a smaller value such as 128 MiB or even less and not suffer a performance penalty for that.

Impossible. You

[2021-03-18 16:34] #14538 closed

[2021-03-18 18:11] FranciscoPombal commented on #14522
More specifically, please use the latest stable version provided via https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-stable.

[2021-03-18 18:14] FranciscoPombal commented on #14529
"Data loss" is not the right label for this, at least not right now. From the OP's description, any number of things could have been the cause for the data loss, not necessarily qBittorrent.

[2021-03-18 18:43] FranciscoPombal commented on #14452
@glassez @sledgehammer999

Qt isn't making this mess any easier... but at least there is light at the end of the tunnel.

Best case: all source files have had the "GPLv2 or later" header since the beginning. In this case, we can also adopt my suggestion above and remove the header from all the files, and create a new `LICENSE.txt` file at top-level with the following content (copy-pasted from http

[2021-03-18 18:56] txtsd commented on #14509
libtorrent disk cache is set to -1 (auto). Are you suggesting I should try setting it to a low value like 128MB and I'll see my RAM usage go down? If you could explain what needs to remain in RAM instead of being cached on disk, that would definitely help.
And how do I profile qbittorrent?

[2021-03-18 19:25] FranciscoPombal commented on #14509
auto cache in libtorrent 1.2.x sets the cache size to some percentage of your system's RAM. If you have a lot of RAM, this will be wasteful. No such problem exists in libtorrent 2.x, where cache is auto managed by the kernel itself. Caching stuff in RAM is necessary for good I/O performance. In most programs this happens transparently with the help of the kernel, and this will also be the case wit

[2021-03-18 20:13] Kolcha commented on #12616
due to https://github.com/qbittorrent/qBittorrent/commit/f022458383577e1a8409b4c087c07ade84d42559 builds for Debian 10 (and other distro based on it, like Raspbian) are not possible anymore. so, no more nightly builds will be provided for these systems.

also, very likely **I'll drop whole my repo** at https://software.opensuse.org//download.html?project=home%3Anikoneko%3Aqbittorrent-nightly&packa

[2021-03-18 20:54] necros2k7 commented on #10360
So I guess there is no need in OSSfuzz? Just correct AFL++ setup?

[2021-03-18 21:11] ChainofChaos commented on #14542
Can I flush the disk cache? Because 585M is too much for not doing anything.
![image](https://user-images.githubusercontent.com/17515882/111697499-390c0f00-8868-11eb-8ab9-98124886d205.png)

[2021-03-18 21:21] DTG123 commented on #13950
I didnt see ticket so I posted a new one ( closed already).  I was seeing Mb/s upload rate when global rate limit was set to KiB/s.

[2021-03-18 21:41] txtsd commented on #14509
I'll try it.
Building with libtorrent 2.0 is not officially supported yet, right?

[2021-03-18 22:06] ouraios opened #14566 "General and Trackers tabs stay empty on torrent select"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.3
Debian 10 Buster

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar v1.2.11
Qt v5.11.3

### What is the problem
In the WebUI when a torrent is selected the tabs "General" and "Trackers" stay completely empty.
![image](https://user-images.githubusercontent.com/952686

[2021-03-18 23:33] armaguedes commented on #14489
Has anyone tried running the PortableApps version of qBT? I would assume the end result would be the same, but it may be worth checking. [I'm running qBT v4.3.3x64 without issue, but WinDef has taken a backseat as I'm running Bitdefender AV (free edition).]

[2021-03-19 01:37] fsmith9999 commented on #14489
I had the same issue, where I was able to use utorrent as recently as yesterday. deleted and qbtorrent also blocked from installing.
However I did  make a change in Windows Security (running Windows 10 Pro) to turn off the Check apps and files and the Potentially unwanted app blocking. This allowed be to install qbtorrent and run it. Don't know that I am going to stick with that long term, but at

[2021-03-19 04:49] kovacsgergely83 commented on #12690
Many thanks to @Arakys7 for raising the issue, I also expereince the same with assigning multiple tags and sorting on the Tags column on 4.3.3 (web interface of the linux.io docker image opened from Chrome). Since I use my tags for Audio, Resolution, Quality, and so on, would be quite beneficial, if the "resulting multi-tag" string would be always sorted alphabetically by the individual tags 1st,

[2021-03-19 05:40] oogetyboogety commented on #14160
@multiduplikator  definitely should see something similar to variables I had in the datagrid, but probably only after you add bigbuckbunny, as I had it polling for changes and only adding changes to the dataframe. We can add some aggregate statistics which would show for preexisting torrents, but the sync API (definitely the right API for stats, as you can see in https://github.com/qbittorrent/qBi

[2021-03-19 06:37] Seeker2 commented on #14449
Peers should not be disconnecting.
Either there's unstable connections involved or it's likely a bug.

[2021-03-19 07:19] glassez commented on #14452
The problem with the license deserves a separate discussion. Since it looks like it is no longer critical for Qt6 support, let's not mix it up here. @FranciscoPombal, please open a separate Issue, if you don't mind.

[2021-03-19 07:22] ted423 opened #14568 "open new exe when add torrent"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3 windows 10 19042.868

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
(type here)
![image](https://user-images.githubusercontent.com/7042766/111744833-ca11d300-88c6-11eb-9306-2345a4026d60.png)

same as https://github.com/qbittorrent/qBittorrent/issues/14093
###

[2021-03-19 08:41] gurtrude opened #14569 "No search results"
### qBittorrent version and Operating System
v4.3.3. windows 10 64 bit

### What is the problem
I don't see any search results in the engine, I doubled checked all the plugins are correct, I have also uninstalled and reinstalled. The only changes I've made is installing Jupyter Notebook for my classes, I'm not sure if the python set up is thus effected? and if so is there a fix?

### What is the e

[2021-03-19 10:47] FranciscoPombal commented on #14569
Yeah that probably messed with the Python PATH or something.

[2021-03-19 11:38] xavier2k6 commented on #10360
I believe there is a need for it or to at least implement our own parts of what is on offer......

`OSSfuzz` also includes `sanitizers` (AddressSanitizer, MemorySanitizer, ThreadSanitizer, LeakSanitizer) so I think overall this would be a good idea to look in to more thoroughly  indeed.

[2021-03-19 12:28] FranciscoPombal opened #14571 "Clearing up project licensing"
Currently, some important aspects about qBittorrent's licensing are not as clear as they should be. We must resolve this in order to ensure we can continue working smoothly with external dependencies such as Qt without any licensing troubles or ambiguities.

Additional context: refer to the discussion about licensing brought up in https://github.com/qbittorrent/qBittorrent/issues/14452.

Here is t

[2021-03-19 14:18] txtsd commented on #14509
Is `/fsanitize=address` a make flag?

[2021-03-19 16:29] xavier2k6 commented on #14489
This may have coincided with the "on-premises Exchange Server attacks" `"server-side request forgery (SSRF) vulnerability` `HAFNIUM

Perhaps, these should be enabled by default?

`Validate HTTPS tracker certificates`
`Disallow connection to peers on priviliged ports`

[2021-03-19 18:00] glassez commented on #14568
Do you use official build of qBittorrent?

[2021-03-19 18:20] glassez commented on #14571
This is not true.
The copyright owner can distribute his product under any conditions that he pleases, and change these conditions whenever he wants. So even if the `COPYING` file (with `GPLv2 only` in it) appeared earlier, and then `GPLv2 and above` appeared in all the other files, then it may be a case of re-licensing by the copyright holder himself (he just forgot to update `COPYING` to follow

[2021-03-19 18:32] glassez commented on #14571
LICENSE file is expected to contain a license but not only mention of license. Why not put the proposed text in COPYING?

[2021-03-19 18:45] ghost opened #14572 "Automatic Torrent Management is stupidly stupid."
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3

### What is the problem
Mistakenly clicked on the "Automatic Torrent Management" option when I right clicked with all the torrents selected. Each and every single one of my 605 torrents started moving to the default location. Couldn't find any way to stop it. Tried shutting down the app, the moving co

[2021-03-19 19:07] sebastianfast commented on #6236
Any update on this?

[2021-03-19 21:51] a-raccoon commented on #4064
This is a big issue for me, too.  I don't have a 4K monitor like all the cool kids, just a 1080p.  Previous to 4.2.2 I used to see 42 line items in my transfer list, which has now been reduced to 33 1/2 (80%).  `FEATURE: Refactored Transfer List code to allow theming. As a sideffect the row height has more padding. (glassez)`

I absolutely hate hate hate hate hate this, but I can't return to 4.2.1

[2021-03-19 22:08] sledgehammer999 commented on #14452
For license clarification see PR #14575

I made this offline before reading the new comments here.

[2021-03-19 22:10] sledgehammer999 commented on #14571
For license clarification see PR #14575

I made this offline before reading the new comments here.

[2021-03-20 01:05] sakkamade commented on #4064
@a-raccoon Try [legacy custom theme](https://github.com/FoxInFlame/legacy-qBittorrent).
Also look [How to use custom UI themes](https://github.com/qbittorrent/qBittorrent/wiki/How-to-use-custom-UI-themes).

[2021-03-20 01:28] lelandyang commented on #14529
Honestly speaking, there are little problems with qbittorrent half-finished file mangement:
+ for many download software, a typical implementation is to  download file content to a temp file and keep a download progress file in the **SAME** folder so that the download session can be easily moved to another machine, I have never experienced progress loss in download software such as thunder.

+ add

[2021-03-20 01:35] lelandyang commented on #14529
Honestly speaking, there are little problems with qbittorrent half-finished file mangement:
+ for many download software, a typical implementation is to  download file content to a temp file and keep a download progress file in the **SAME** folder so that the download session can be easily moved to another machine, I have never experienced progress loss in download software such as thunder.

+ add

[2021-03-20 03:39] ted423 commented on #14568
yes

[2021-03-20 05:51] Chocobo1 commented on #14489
In the news: https://torrentfreak.com/utorrent-continues-to-be-flagged-as-severe-threat-and-its-not-alone-210318/

[2021-03-20 11:01] glassez commented on #14571
https://www.gnu.org/licenses/gpl-faq.en.html#NoticeInSourceFile

[2021-03-20 11:13] oyvindsaether commented on #10529
I'm seeing a now really old Red Star Linux torrent. It is still interesting even though it's been a while. The original trackers no longer work, they are all dead.

It's possible to edit the trackers in qBittorrent but they can't be saved to a updated torrent in 4.4.0alpha1. That's very annoying. Further, I can't just cp the torrent from .local/share/data/qBittorrent/BT_backup/ (finding out which

[2021-03-20 11:26] xavier2k6 commented on #11360
Seems to be fixed!, If you can reproduce this with qBittorrent **4.3.3** or later & Radarr **3.0.2.4552** or later - please feel free to open a "New Issue"

[2021-03-20 11:26] #11360 closed

[2021-03-20 11:28] xavier2k6 commented on #11130
No response from OP & unsupported qBittorrent version now

[2021-03-20 11:28] #11130 closed

[2021-03-20 11:30] xavier2k6 commented on #10823
4.1 series of qBittorrent are no longer supported & Win 10 1903 has known performance issues...

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:30] #10823 closed

[2021-03-20 11:34] xavier2k6 commented on #10881
No response from OP...

4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:34] #10881 closed

[2021-03-20 11:36] xavier2k6 commented on #10091
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:36] #10091 closed

[2021-03-20 11:36] xavier2k6 commented on #11079
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:36] #11079 closed

[2021-03-20 11:38] xavier2k6 commented on #10840
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:38] #10840 closed

[2021-03-20 11:43] xavier2k6 commented on #11087
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:43] #11087 closed

[2021-03-20 11:44] xavier2k6 commented on #11487
OP Disappeared....

4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:44] #11487 closed

[2021-03-20 11:46] xavier2k6 commented on #10640
@fireattack To confirm if it's fixed for you.

Simply get the newest/latest "master" that will always appear at the top of this list from below link (this excludes the "file health"):
https://github.com/qbittorrent/qBittorrent/actions/workflows/ci.yaml?query=branch%3Amaster

- Click the newest/latest **"Merge pull request #..... from"**
- Scroll down to **Artifacts**
- Click on relevant named file

[2021-03-20 11:50] xavier2k6 commented on #8511
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:50] #8511 closed

[2021-03-20 11:52] xavier2k6 commented on #9581
4.1 series of qBittorrent are no longer supported

The issue described isn't in qBittorrent **4.3.3**

[2021-03-20 11:52] #9581 closed

[2021-03-20 11:54] xavier2k6 commented on #9549
@zdlo Is this still an issue in **4.3.3**?? as I know the icons have been re-factored/tweaked since...

[2021-03-20 11:55] xavier2k6 commented on #9688
Op disappeared..

4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:55] #9688 closed

[2021-03-20 11:57] xavier2k6 commented on #8207
4.0 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 11:57] #8207 closed

[2021-03-20 12:00] xavier2k6 commented on #2065
If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 12:00] #2065 closed

[2021-03-20 12:01] xavier2k6 commented on #2075
If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 12:01] #2075 closed

[2021-03-20 12:10] xavier2k6 commented on #2682
Ref.: https://github.com/qbittorrent/qBittorrent/pull/3929#issuecomment-520197801

[2021-03-20 12:19] xavier2k6 commented on #1656
OP disappeared...

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 12:19] #1656 closed

[2021-03-20 12:25] xavier2k6 commented on #11547
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 12:25] #11547 closed

[2021-03-20 12:27] xavier2k6 commented on #11549
OP disappeared...

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 12:27] #11549 closed

[2021-03-20 12:30] escape0707 commented on #6236
You can always replace the config path qB will use by a symlink pointing to another file which will save the actual content.

You'd better save all those actual files inside a folder and use git to sync them to GitHub, etc. I suggest collect $PROFILE coursera-dl.conf arai2.conf youtube-dl.conf..... etc, etc. All together.

[2021-03-20 12:30] xavier2k6 commented on #11519
@Nemesis77swe Are you still experiencing this with qBittorrent **4.3.3**?

[2021-03-20 12:33] xavier2k6 commented on #14211
@milfer322 Do you still experience this with qBittorrent **4.3.3**?

[2021-03-20 14:27] TheBestPessimist commented on #14529
Please no.

[2021-03-20 18:37] xavier2k6 commented on #9573
`Ctrl+Shift+O` works for me too as expected on Windows 10 Pro x64 Version 10.0.19042.867 using latest qBittorrent **4.3.3**

(Haven't check my windows 7 machine yet)

@MushyShaman Is this still an issue for you using latest qBittorrent **4.3.3**?

[2021-03-20 18:39] xavier2k6 commented on #10374
Ref,: https://github.com/qbittorrent/qBittorrent/issues/9667#issuecomment-611023530

[2021-03-20 18:39] #10374 closed

[2021-03-20 18:40] sledgehammer999 commented on #14571
Yeah, I agree with what they're saying. I pretty much had come to the same conclusion. Each file should have it's own noticed for the reasons stated in that link.

I agree that this line isn't being in sync with the actual edits in a given file. The given file might be edited so much over the course of months/years that nothing remains from the original code and author.
So as name of author someth

[2021-03-20 18:42] xavier2k6 commented on #13228
If you experience this issue with "Official" qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 18:42] #13228 closed

[2021-03-20 18:45] xavier2k6 commented on #12712
@mrskizzex I believe this was resolved, If you still experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue" & referenc this issue & you can @ me for reference too.

[2021-03-20 18:45] #12712 closed

[2021-03-20 18:54] xavier2k6 commented on #12559
@blaiseludvig Do you still experience this issue with **4.3.3**?
I can't reproduce it on windows 10 pro x64 Version 10.0.19042.867 with **4.3.3**

[2021-03-20 18:55] xavier2k6 commented on #12196
If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 18:55] #12196 closed

[2021-03-20 18:56] glassez commented on #14571
If OpenSSL has GPL incompatible license then we should keep this exception clause.

[2021-03-20 19:01] xavier2k6 commented on #7940
If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-20 19:01] #7940 closed

[2021-03-20 19:05] xavier2k6 commented on #14571
OpenSSL Licensing Info

https://www.openssl.org/source/license.html

https://www.openssl.org/source/OCB-patent-grant-OpenSSL.pdf

[2021-03-20 22:27] Arakys7 commented on #12690
I'm glad someone else ran into the same problem, to help raise awareness.
But, it's been almost a year, so I don't think this will be fixed any time soon. It seems to be stuck due to indecision: fix it the quick way by sorting whenever needed, or the better way by using a sorted list originally, which prevents either from being implemented.

[2021-03-20 23:12] userdocs opened #14578 "qbittorrent linking issue with libtorrent RC_2_0 when using this default mmap-disk-io=on"
**Please provide the following information**

### qBittorrent version and Operating System

4.3.3 or 4.4 (master) / Debian buster amd64 / Alpine 3.13 x64

### If on linux, libtorrent-rasterbar and Qt version

libtorrent-rasterbar RC_2_0

### What is the problem

@arvidn maybe you can provide insight here?

Linking issue with mmap_storage / undefined references when using default settings for build

[2021-03-20 23:47] multiduplikator commented on #14160
@oogetyboogety I will spin up a vanilla qbit instance and try to run the same scenario again - tomorrow I should have news.

[2021-03-21 00:41] userdocs commented on #14578
I found the problem and solution. Libtorrent RC_2_0 creates this file `libtry_signal.a`  and `libboost_system.a`  when built with `b2`

I needed to add `-l:libtry_signal.a` to my build command

[code]

[2021-03-21 00:41] #14578 closed

[2021-03-21 01:09] ITCMD opened #14579 "Uninstalls on every Windows 10 Update"
**Please provide the following information**

### qBittorrent version and Operating System
Windows 10

### If on linux, libtorrent-rasterbar and Qt version
(type here)

Every Time Windows 10 installs an update, once it has booted up QBittorrent is gone. The appdata is still there, but the install dir is gone. Windows defender tries to stop it from installing by marking it as "potentially unwanted

[2021-03-21 01:27] thalieht commented on #14579
Duplicate of #14489

[2021-03-21 01:27] #14579 closed

[2021-03-21 01:36] Ambiwlans commented on #10685
This appears to still be broken. I think it may only happen when there are 0 leeches. Possibly a bit of code written to avoid having 0s there (on load, etc).

[2021-03-21 02:48] sam20e opened #14580 "Port is automatically getting changed"
Hi

I'm running v4.33 web ui - ubuntu 18.04 server.

The latest version is working great.. but yesterday suddenly my webui didnt respond so i did a restart by running this command -

sudo systemctl restart qbittorrent-nox

That restart command somehow changed my custom webui port to 8080. The password and all remained the same when i checked the qbittorrent.conf file i saw the web ui port 8080. So

[2021-03-21 05:07] lornally commented on #12502
qBittorrent 4.3.3 crash on macos 10.15.7catalina

[2021-03-21 11:21] xavier2k6 commented on #14461
OP disappeared, crash report useless

[2021-03-21 11:21] #14461 closed

[2021-03-21 11:28] xavier2k6 commented on #13942
@evinierato this issue report is incomprehensible in it's current form, you haven't followed the issue template correctly & haven't given any more info/feedback.

[2021-03-21 11:28] #13942 closed

[2021-03-21 11:37] xavier2k6 commented on #13911
Or at least confirm if it's reproducible with qBittorrent **4.3.3**

@cypher619 Ping

[2021-03-21 11:47] xavier2k6 commented on #13516
OP disappeared.....

@anshuls32 If you still have the issue with qBittorrent **4.3.3** & can prove it's qBittorrrent's fault, then please feel free to open a "New Issue"

[2021-03-21 11:47] #13516 closed

[2021-03-21 11:48] xavier2k6 commented on #13315
OP Disappeared...

4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-21 11:48] #13315 closed

[2021-03-21 11:50] xavier2k6 commented on #13372
@spirulin Do you still experience this with **4.3.3**?

[2021-03-21 11:52] xavier2k6 commented on #13287
OP disappeared.

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-21 11:52] #13287 closed

[2021-03-21 12:06] xavier2k6 commented on #13330
OP Disappeared

If you experience this issue with qBittorrent **4.3.3** or later, please feel free to open a "New Issue"

[2021-03-21 12:06] #13330 closed

[2021-03-21 13:01] thalieht commented on #10685
Indeed:
https://github.com/qbittorrent/qBittorrent/blob/7a26a92edd09b5effd9e9d927d06669c5ba6b4e6/src/base/bittorrent/torrentimpl.cpp#L1094-L1098

and explanation what are `num_complete`, `num_incomplete` and `list_peers`: https://libtorrent.org/reference-Torrent_Status.html#num_complete

[2021-03-21 14:21] glassez commented on #14568
@ted423
Can you provide me with configuration path from both application instances next time you encounter this issue (you can see it in application log)?

[2021-03-21 15:26] Ambiwlans commented on #10685
Nice! Looks like an easy fix after narrowing it down so much. Hardly seems worth it for me to clone and get it to compile if an existing contributor wants to fix it.

[2021-03-22 01:22] ted423 commented on #14568
`(N) 2021-03-18T18:17:14 - qBittorrent v4.3.3 已启动
(N) 2021-03-18T18:17:14 - 使用配置目录：C:/Users/Priston/AppData/Roaming/qBittorrent/
(I) 2021-03-18T18:17:14 - 尝试监听：0.0.0.0:36289,[::]:36289
(N) 2021-03-18T18:17:14 - Peer ID：-qB4330-
(N) 2021-03-18T18:17:14 - HTTP User-Agent 为 'qBittorrent/4.3.3'
(I) 2021-03-18T18:17:14 - DHT 支持 [开启]
(I) 2021-03-18T18:17:14 - 本地用户发现支持 [开启]
(I) 2021-03-18T18:17:14 - PeX

[2021-03-22 04:08] #14526 closed

[2021-03-22 04:16] glassez commented on #14568
@ted423
Please don't show me so much log messages. What I want is:
1. When you encounter this issue you see two qBittorrent instances
2. Open first of them, switch to the Log tab and copy entry about configuration folder (near the start of log)
3. Open second of them, switch to the Log tab and copy entry about configuration folder

[2021-03-22 06:45] ted423 commented on #14568
OK sorry , I will try next time.
But I think they use same configuration folder

and in that log you will  see
[code]
(N) 2021-03-19T11:10:33-The options are saved successfully.
(C) 2021-03-19T11:10:34-Unable to monitor IP: 192.168.225.1, port: TCP/36289. Reason: Usually each socket address (protocol/network address/port) is only allowed to be used once.
(C) 2021-03-19T11:10:34-Unable to monitor I

[2021-03-22 08:30] lifenstein commented on #14251
My ISP sells me bandwidth in Mbps. Speed testing websites all use Mbps. I want to know whether I'm bottle-necked by my connection speed or something else such as settings. I think it would be best if the program used to download also uses the same unit.

The client already tells me the ETA, so I don't need to know how many bytes I'm downloading to divide the filesize by to know how much time it wi

[2021-03-22 11:45] FranciscoPombal commented on #14542
Not really. libtorrent 2.0 address this by letting the kernel manage it. support for libtorrent 2.0 in qBittorrent is WIP. Also, why are you running qBittorrent as root? You should not do that.

[2021-03-22 12:12] FranciscoPombal commented on #14571
@glassez @sledgehammer999

I disagree. Quoting from the link:

This a largely imaginary/irrelevant problem. Putting the notice at the start of each file doesn't prevent anyone from removing it if they want to anyway.
It's not our problem if others using qBittorrent code mess the licensing notice themselves in their code; they would be the ones liable and in legal trouble. As I have stated above:

[2021-03-22 13:31] HEEMO-95 opened #14582 "Error : file contains a virus or potentially unwanted software"
**Please provide the following information**

### qBittorrent version and Operating System
(4.3.3 w10)

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
(system error when opening setup.exe: operation did not complete successfully because the file contains a virus or potentially unwanted software )

### What is the expected behavior
(type here)

### Steps t

[2021-03-22 13:35] thalieht commented on #14582
Duplicate of #14489

[2021-03-22 13:35] #14582 closed

[2021-03-22 13:59] greysave commented on #13875
I can confirm adding the class path to /etc/rc.local resolved the issue.

Thanks much for the help on that.

[2021-03-22 15:36] cipixul commented on #13875
You're welcome :)

[2021-03-22 17:17] DanielSmedegaardBuus opened #14584 "qBittorrent discards torrents that are in "Downloading metadata" state on exit."
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent 4.3.2 (via MacPorts), OS X 10.10.5

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar           @1.2.10         net/libtorrent-rasterbar
qt59-qtbase                    @5.9.9          aqua/qt59

### What is the problem
When torrents are added as magnet links — in this case

[2021-03-22 17:19] #14066 closed

[2021-03-22 18:37] thalieht commented on #14584
I think that's the problem but there is also qBt 4.3.3. Anyway update.

[2021-03-22 18:37] #14584 closed

[2021-03-22 22:55] tcjdesign commented on #11599
This is a reasonable request and while nobody is forcing anyone to do anything, it would be nice if the developers weren't so antagonistic about their lack of interest in supporting it.

[2021-03-23 00:33] oogetyboogety commented on #14160
@multiduplikator  hmmm when i ran it, it seemed okay, although admittedly all the properties don't fill in every row, the torrent hashes are filled in so that aggregate queries by torrent hash should return appropriate results
![image](https://user-images.githubusercontent.com/3319254/112074976-1bc39300-8b3d-11eb-85d5-459904c11cd3.png)

[2021-03-23 05:06] DanielSmedegaardBuus commented on #14584
4.3.3 changed compiler requirements, so it doesn't compile (yet) on a lot of older macOSes, so I can't do that (yet). Are you saying this is a know bug that has been fixed in 4.3.3? Thanks :)

[2021-03-23 08:19] SinTan1729 opened #14585 "qBittorrent associates itself to all file formats"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3-1 (64-bit), Linux (Manjaro KDE)

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar 1:1.2.11-1
Qt version 5.15.2

### What is the problem
qBittorrent associates itself to all file formats.

### What is the expected behavior
It should only associate itself to `.torrent`, magnet li

[2021-03-23 09:08] Seeker2 commented on #14489
This important enough to make it a pinned issue?

[2021-03-23 09:12] glassez commented on #14489
How can we really fix it?

[2021-03-23 09:56] xavier2k6 commented on #14489
#### We could probably make the binaries `CET Shadow Stack compatible` for Windows 10 2004 onwards.

https://docs.microsoft.com/en-us/cpp/build/reference/cetcompat?view=msvc-160

#### Look in to [sigstore](https://sigstore.dev/what_is_sigstore/)

These may help mitigate the impact of this type of issue.

In any case, I think `CET Shadow Stack compatible` binaries is a good feature to add regardles

[2021-03-23 10:08] multiduplikator commented on #14160
@oogetyboogety Installed latest ubuntu LTS, used "official" qbit package repo. Left all at vanilla when setting up the solution as per instructions. I do have proper results now:

![image](https://user-images.githubusercontent.com/66225282/112129176-6db0fb00-8bc7-11eb-80dc-94be458590ab.png)

![image](https://user-images.githubusercontent.com/66225282/112129837-1cedd200-8bc8-11eb-8977-4a43ffffebe3.

[2021-03-23 10:20] cjoin commented on #14412
[qBittorrent has crashed_v4.3.3_2021-03-23_01.52_find_carsh.txt](https://github.com/qbittorrent/qBittorrent/files/6188636/qBittorrent.has.crashed_v4.3.3_2021-03-23_01.52_find_carsh.txt)
[qBittorrent has crashed_v4.3.3_2021-03-23_01.52_qbittorrent.log](https://github.com/qbittorrent/qBittorrent/files/6188637/qBittorrent.has.crashed_v4.3.3_2021-03-23_01.52_qbittorrent.log)

[qBittorrent has crashed_

[2021-03-23 10:21] cjoin commented on #14412
@The5kull

[2021-03-23 10:53] thalieht commented on #14584
I have encountered this problem and it was fixed with an update.

[2021-03-23 10:58] #14553 closed

[2021-03-23 10:58] #12892 closed

[2021-03-23 11:10] rafi-d commented on #14489
Easy enough - just exclude the supposedly offending app in Win 10 Defender...

[2021-03-23 11:10] DanielSmedegaardBuus commented on #14584
Alright, cool. Did you update to qbt 4.3.3 or upgrade libtorrent-rasterbar? If qbt, did you only have the problem with 4.3.2? Because ATM I can't upgrade, but I could downgrade to 4.3.1, if the problem is only with 4.3.2. Thanks :)

[2021-03-23 11:25] thalieht commented on #14584
I was testing a few commits before 4.3.3 was released and encountered it with libt 1.2.10, then tested the same commit with libt 1.2.11 and the problem was gone.

[2021-03-23 11:37] DanielSmedegaardBuus commented on #14584
Awesome, thanks for the info. I'll see if I can figure out how to compile with 1.2.11. Or perhaps an earlier version if I can't? I'm thinking this might be specific to that particular version, as I have used much older versions of qbt that didn't do this, and I assume they used much older version of libtorrent-rasterbar as well.

[2021-03-23 11:59] thalieht commented on #14584
That's strange. Minimum libtorrent version was bumped to 1.2.11 before 4.3.2 was released. When i was testing i had to edit files to make it compile with libtorrent 1.2.10. So either get libt 1.2.11 or if you can't, go back to 4.3.1. I have to mention that there's an official 4.3.3 release for Mac https://www.qbittorrent.org/download.php but for some reason you prefer to compile.

[2021-03-23 12:10] DanielSmedegaardBuus commented on #14584
Alright, cool :) And no, it's not that I prefer to compile, it's that I'm on Yosemite, and the officially available builds have required a much later version of macOS for a while now. MacPorts is very friendly in that regard, supporting older OS versions for as long as possible, so they offer all the way up to 4.3.2. 4.3.3 hasn't happened, though, as it depends on what I believe is the default com

[2021-03-23 12:19] DanielSmedegaardBuus commented on #14584
The build succeeded, and preliminary testing by adding a magnet link and quitting qbittorrent before it has retrieved metadata confirms that using libtorrent-rasterbar 1.2.11 does indeed fix the problem. Thank you! I'll report this to i0ntempest, the qbt Macports maintainer. Have a nice day :)

[2021-03-23 13:32] xavier2k6 commented on #14584
@DanielSmedegaardBuus this may be of some future benefit too: https://github.com/qbittorrent/qBittorrent/discussions/14496

[2021-03-23 13:35] xavier2k6 commented on #11506
4.1 series of qBittorrent are no longer supported

Sierra no longer supported either.

OP has already been able to compile on their own ref: https://github.com/qbittorrent/qBittorrent/discussions/14496

[2021-03-23 13:35] #11506 closed

[2021-03-23 13:37] xavier2k6 commented on #14066
@berat1397 were you able to resolve this?

[2021-03-23 13:42] DanielSmedegaardBuus commented on #14584
Thanks, @xavier2k6 :) I also noticed just now that MacPorts support installing the headless `-nox` variant. Unfortunately, it still pulls in Qt as a dependency. I was thinking it'd be easier without that dependency in the first place. That is, if you don't need the native GUI :)

[2021-03-23 22:37] mjw72652 opened #14588 "Bug report"
qBittorrent version: v4.3.3 (64-bit)
Libtorrent version: 1.2.12.0
Qt version: 5.15.2
Boost version: 1.75.0
OpenSSL version: 1.1.1i
zlib version: 1.2.11
OS version: Windows 10 Version 2009 10.0.19042 x86_64

Caught signal: SIGABRT
[code]

[2021-03-24 00:53] oogetyboogety commented on #14160
@multiduplikator Awesome! Now that you can see all the metrics, play with the the dataframe, and export the CSV (right click the top left three dots), Is there a default set of graphs and queries you would like to settle on?

we could have an option in the settings of the default UI which would load the perspective library as a performant, stable way to aggregate all the responses the web ui recei

[2021-03-24 02:24] trippleflux opened #14589 "Webui broken in latest master?"
### qBittorrent version and Operating System
qBittorrent v4.4.0alpha1 latest current master branch, Windows 10 x64

### If on linux, libtorrent-rasterbar and Qt version
libtorrent 2.0.3.0, QT 5.15.3

### What is the problem
Webui is broken because of extra parenthesis in ..\qBittorrent\src\webui\www\private\scripts\dynamicTable.js line 1106

### What is the expected behavior
Webui able to load pro

[2021-03-24 04:47] #14589 closed

[2021-03-24 05:14] PieDevTest opened #14591 "Start qBittorrent via PowerShell Causing Application To Just Stay Idle"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent  4.3.3
Windows Server 2019 (10.0.17763)

### What is the problem
When attempting to start qBittorrent via PowerShell the application opens and stays in a non-running idle state.

### What is the expected behavior
Application will open and run just the same as if it was opened interactively by the

[2021-03-24 07:55] treysis commented on #14588
Must be your PC. Running fine here.

[2021-03-24 07:56] treysis commented on #14585
All file format? pdf? Iso? Etc? Sounds like a problem with the Manjaro package.

[2021-03-24 08:07] SinTan1729 commented on #14585
@treysis Yes, all file formats.

[2021-03-24 08:19] treysis commented on #14585
I neither have this on Linux Mint, nor building it myself. So you should report this to Manjaro.

[2021-03-24 11:29] tredondo opened #14592 "Select Folder dialog frozen, when choosing the save path, or from Torrent Creator"
### qBittorrent version and Operating System
4.3.3, KDE Neon 5.21

### If on linux, libtorrent-rasterbar and Qt version
I don't see libtorrent-rasterbar mentioned in the About dialog. Please add it there for ease of reporting issues.

![image](https://user-images.githubusercontent.com/10043369/112303231-2581ef00-8c40-11eb-89ab-0cd45d45f17a.png)

### What is the problem
I'm trying to create a torre

[2021-03-24 14:25] multiduplikator commented on #14160
@oogetyboogety For the default set of graphs, I think we could go with the one from the rutorrent traffic plugin for starters.

What I don't understand yet with the solution we have right now, how do we store historic data in an efficient way? Would that be the job of the perspective library or the qbit native somehow. Right now, as I understand, we can only work with data that becomes available a

[2021-03-24 15:48] scapehips opened #14594 "Download/upload speed decreases when qBittorrent is minimized, in background or out of focus."
**### qBittorrent version and Operating System**
v4.3.3 (64-bit) Windows 10 20H2 19042.870

 10.0.19042

**### What is the problem**
I have noticed many times that the dl and up speed goes down when qBittorrent is not in focus, i.e. when other windows are in focus. Important thing to note is that it does not seem to slow down when the other application window that I've selected, is not in maximize

[2021-03-24 16:19] bgiesing opened #14595 "Latest 64-bit version detected as a Trojan"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4 Windows 10 64-bit

### What is the problem
Downloaded the latest 64-bit version from https://www.fosshub.com/qBittorrent.html (or the SourceForge mirror) and it gets blocked by Windows Defender with no option to unblock it
![image](https://user-images.githubusercontent.com/7895463/112344960-9ce06e80-8c

[2021-03-24 16:21] FranciscoPombal commented on #14595
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14489.

[2021-03-24 16:21] #14595 closed

[2021-03-24 16:22] bgiesing commented on #14595
@FranciscoPombal no it isn't, this gets marked differently. The other issue is a PUA, this is a trojan

[2021-03-24 16:32] jurgentreep commented on #14489
I've excluded the file in Windows Defender but when I try to install it it leads to this: https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?name=Trojan%3aWin32%2fTilevn.A&threatid=2147760578

[2021-03-24 16:34] xavier2k6 commented on #14588
@mjw72652 Thank you for the report, however it contains no symbols for debugging - there's no reproducible steps etc so is of little use to the team.

Please update to **4.3.4** which has better "stack trace" support & if you experience another crash, please open a "New Issue"

[2021-03-24 16:34] #14588 closed

[2021-03-24 16:34] sledgehammer999 commented on #14452
This is semi-relevant for the discussion here. Now after the v4.3.4 release (and it's immediate followup), the v4_3_x branch steps into a mild freeze. Work on master now involves libtorrent 2 intergration, qt6 integration and various refactorings. It isn't a good idea to have the stable branch just copy the master branch anymore. Master is now in a volatile state.
So each member that produces a PR

[2021-03-24 16:40] xavier2k6 commented on #14595
@bgiesing What version of windows 10?

[2021-03-24 16:41] xavier2k6 commented on #14489
Although I didn't get a trojan, have encountered the PUA windows defender intervention for the 1st time with **4.3.4**

[2021-03-24 16:44] jagannatharjun commented on #14452
@sledgehammer999 can you also include this https://github.com/qbittorrent/qBittorrent/commit/c23f8542b2b53602efe7d30760b9917f858588f0 in upcoming fix, this would fix progressbar styling in the v4.3.4 https://github.com/jagannatharjun/qbt-theme/issues/51

[2021-03-24 16:47] FranciscoPombal commented on #14509
Not relevant for the issue at hand. Please stay on topic here.

[2021-03-24 17:13] xavier2k6 commented on #14594
It may be some `QoS` Quality of Service setting being used on your system...

[2021-03-24 17:14] txtsd commented on #14509
Right now I'm having a different issue, My client just freezes within 5 minutes of launching and starting to download things. Happens consistently even when there are no downloads running. I can't toggle it from tray, and if the GUI is already up, it's unresponsive. I just want qBittorrent to work.

[2021-03-24 17:19] gabrielsoldani commented on #14595
I'm on Windows 10 20H2 Build 19042.867.

Just a few minutes ago, I downloaded the the qbittorrent_4.3.4_x64_setup.exe installer from FossHub and got the **PUA:Win32/QBitTorrent** warning from Windows Defender. I selected "Allow on this device" on the "Current threats" section of the "Virus & threats protection" tab of the Windows Security window. Then, upon running the file, instead of the UAC pro

[2021-03-24 17:20] csorvagep opened #14596 "Windows Defender marks the installer as a risk"
### qBittorrent version and Operating System
4.3.4 x64 - Windows 10 20H2

### What is the problem
Windows Defender marks the installer as a risk

### Steps to reproduce
Old version pops up an update dialog, which opens the foshub page. First Chrome warns me that this is rearly downloaded, and might be a risk. After download, Windows Defender pops up with a notification.

This is the second time th

[2021-03-24 17:25] csorvagep commented on #14596
After opening the details page of the defender, the following page opens up, I thought it might help:
https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?name=PUA%3aWin32%2fQBitTorrent&threatid=292801

[2021-03-24 17:25] xavier2k6 commented on #14596
Duplicate/Relevant #14489

[2021-03-24 17:25] #14596 closed

[2021-03-24 17:35] rcharbon commented on #14489
To install:
1. Bypass the block to allow the download.
2. Right-click on the installer and select run as admin from the context menu.

[2021-03-24 17:37] atrest commented on #14489
just after I allowed the launch of the qbittorrent 4.3.4_x64 installer downloaded from the link from the installed application, the defender gave me the presence of a trojan in the installation file
![image](https://user-images.githubusercontent.com/41243864/112356896-d942b780-8cf0-11eb-8419-db9646fae284.png)

[2021-03-24 17:40] gabrielsoldani commented on #14489
After explicitly allowing the PUA:Win32\QBitTorrent exception, I also get a **Trojan:Win32\Tilevn.A** detection that prevents it from displaying the UAC prompt. I believe there's **separate false-positive issue** with 4.3.4 and I've detailed it with screenshots in #14595. I have submitted it at [https://www.microsoft.com/en-us/wdsi/filesubmission](https://www.microsoft.com/en-us/wdsi/filesubmissio

[2021-03-24 18:02] minhngoc25a opened #14597 "Progress bar in the newest version looks weird..."
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4

### What is the problem
qBittorrent's progress bar looks weird, the overlapping text is left-centered. It is unknown whether this is intended or not.
![image](https://user-images.githubusercontent.com/33834488/112361169-afe05680-8d05-11eb-9e85-802dc67043e7.png)

[2021-03-24 18:06] JohnnySaliba opened #14598 "Text Within Progress Bars is aligned top-left"
### qBittorrent version and Operating System

qBittorrent version **4.3.4**, updated from 4.3.3
Windows 10, "Version 10.0.18363 Build 18363"
**System language is French (France)**

### What is the problem
Text Within Progress Bars is aligned top-left, with the rightmost part visually cut off:

![Screenshot_81](https://user-images.githubusercontent.com/81323833/112360614-2b78de00-8cdb-11eb-94e1-cfc

[2021-03-24 18:29] jonyrh opened #14599 "4.3.4 bug - brocken web interface"
**Please provide the following information**

### qBittorrent version and Operating System
windows

### What is the problem
brocken web interface

Unexpected token ')'  dynamicTable.js:1106

[2021-03-24 18:31] Scapehips commented on #14594
Hey. Is it ok if I lower "limit reservable bandwidth" in Local group policy from 80% to something like 10-20% ?

[2021-03-24 18:33] xavier2k6 commented on #14599
As per Release

ref.: https://www.qbittorrent.org/news.php#:~:text=WEBUI:%20It%20is%20accidentally%20broken%20in%20this%20release.%20A%20new%20release%20will%20be%20posted%20quickly.%20If%20you%20use%20the%20WebUI%20skip%20v4.3.4%20for%20now.

Revert to **4.3.3** or await next "Hotfix" version

[2021-03-24 18:33] #14599 closed

[2021-03-24 18:41] kareare opened #14600 "Active downloads no longer on top with "Completed On" sorting"
### qBittorrent version and Operating System
v.4.3.4, Win10

### What is the problem
Active downloads no longer on top with "Completed On" sorting. They are now at the very bottom.  Technically this is correct, as they aren't completed, but it wasn't like this before on 4.3.3.
Without activating the Torrent Queueing you don't have the "#"(queue number) column.

If this is deliberate change going f

[2021-03-24 19:00] retrocaster commented on #11457
I agree that this setting should be renamed for better clarity. The official Torguard and Private Internet Access guides for SOCKS5 setup suggest enabling it and I suspect it's because they're misinterpreting the intent.

What exactly is the reason why a user would want to enable this? Maybe it could be reworded to describe that use case more specifically. Maybe "Limit proxy use to torrents. Enabl

[2021-03-24 19:03] sledgehammer999 commented on #14452
Damn it. I was almost done uploading 4.3.4.1. Thankfully it is published yet so I can scrap it. @jagannatharjun is this an issue with qt5 too?

[2021-03-24 19:06] jagannatharjun commented on #14452
no, it can be fixed from qss script but almost all the existing theme will get broken with 4.3.4, and all user would need to manually update the theme but they will need to update the theme again with 4.4 because of https://github.com/qbittorrent/qBittorrent/commit/c23f8542b2b53602efe7d30760b9917f858588f0

[2021-03-24 19:12] sledgehammer999 commented on #14452
ok start closing those. I'll include it in new v4.3.4.1.
Expected ETA ~2hours.

[2021-03-24 19:16] xavier2k6 commented on #14598
Will be fixed in soon to be released "Hotfix" qBittorrent **4.3.4.1**, you may also need to update your theme.

[2021-03-24 19:16] #14598 closed

[2021-03-24 19:16] xavier2k6 commented on #14597
Will be fixed in soon to be released "Hotfix" qBittorrent **4.3.4.1**, you may also need to update your theme.

[2021-03-24 19:16] #14597 closed

[2021-03-24 19:28] sakkamade commented on #14585
Nothing of the sort is noticed by me upon clean installation of qBittorrent from Manjaro community repository
on latest Manjaro KDE: the issue most likely is your local one.

[2021-03-24 19:35] jagannatharjun commented on #14452
I was not able to fix this from qss 👀

[2021-03-24 19:45] sledgehammer999 commented on #14452
I am lost. Does this mean it will be still broken after including https://github.com/qbittorrent/qBittorrent/commit/c23f8542b2b53602efe7d30760b9917f858588f0 ?

[2021-03-24 19:49] jagannatharjun commented on #14452
I meant https://github.com/qbittorrent/qBittorrent/issues/14598 seems to be only fixable when https://github.com/qbittorrent/qBittorrent/commit/c23f8542b2b53602efe7d30760b9917f858588f0 is included, the fix I thought would work with QSS doesn't work. SO https://github.com/qbittorrent/qBittorrent/commit/c23f8542b2b53602efe7d30760b9917f858588f0 is required to fix the bug

[2021-03-24 20:00] sledgehammer999 commented on #14452
OK. I have already included it and the new builds are almost done. I will mark our discussion as offtopic now.

[2021-03-24 20:18] dpetroff opened #14601 "qBittorrent is detected as PUA and containing Trojan:Win32/Tilevn.A"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4

### What is the problem
Download is blocked as reported in #10045 and #12599. Furthermore, upon jumping through all the hoops, launching the installer is blocked by an even scarier red-background UAC dialog that states the program was blocked by Windows Defender and contains Trojan:Win32/Tilevn.A.
![i

[2021-03-24 20:30] showstoppre opened #14602 "qBT announcing port as 1 to DHT even when "anonymous mode" is turned off"
**Please provide the following information**

### qBittorrent version and Operating System
(4.3.3) Windows 10 and Ubuntu 18.04

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
qBT is announcing port as 1 to DHT in addition to my actual external port. I can confirm that "anonymous mode" is turned off under Tools>Options>BitTorrent. Problem here is that most

[2021-03-24 20:33] sakkamade commented on #14601
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14489

[2021-03-24 20:36] silajim commented on #13674
After 2 weeks of continuous there was a 20GB memory leak, the only solution was to restart. The usage does not appear in the task manager, could it be a C library having issues?

[2021-03-24 20:44] AndroidDeveloperLB opened #14603 "Can't install new version (4.3.4) ?"
### qBittorrent version and Operating System
Windows.
qbittorrent_4.3.4_x64_setup.exe

### What is the problem
I try to install the app as it told me there is a new version.

### What is the expected behavior
Should work fine like it always.

### Steps to reproduce
1. Have the 4.3.3 version of the app (64bit)
2. Notice it says there is a new version
3. Go to the download page, and get the new one

[2021-03-24 20:57] yul-oh895 opened #14604 "Unable to close Setup program after finishing update 4.3.4"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3 (previously)
Windows 10 ver. 20H2

### What is the problem
After running the installation program, I was able to update it to 4.3.4 version successfully however the installation program is stuck on the "Completing qBittorrent 4.3.4 x64 Setup" but clicking on the Finish button doesn't do anything.

###

[2021-03-24 21:13] sledgehammer999 commented on #14601
FYI after I make release public on FossHub it automatically runs all files through virustotal.com and mails me a report. All AV suites there report all files as clean.
Probably, again, a false positive for Windows Defender. What a surprise.

[2021-03-24 21:15] sledgehammer999 commented on #14603
I usually get this error if I try to launch the installer from a networked disk (or VM shared disk). Try launching it from a local disk.

[2021-03-24 21:15] tomyangsh opened #14605 "Set "seeding limits" separately for each rss download rule"
### qBittorrent version and Operating System
v4.3.3 Arch Linux （webui only）

### If on linux, libtorrent-rasterbar and Qt version

Qt: | 5.15.2
Libtorrent: | 1.2.11.0
Boost: | 1.75.0
OpenSSL: | 1.1.1j
zlib: | 1.2.11

### What is the problem
Let's say I have two rss download rules. I want tasks in the first rule to seed as long as possible until I manually remove it, while tasks in the second rule

[2021-03-24 21:16] sledgehammer999 commented on #14603
Scratch that. I now see the path at the top of the dialog. Supposedly it is launched from the local disk. Does the v4.3.3 installer show the same error?

[2021-03-24 21:23] showstoppre commented on #14603
What I say might sound silly, but when an AV program quarantines the file silently I've seen this error message.

It is worth checking if the setup file exists in the download location.

[2021-03-24 21:26] AndroidDeveloperLB commented on #14603
What do you mean "exists" ? It is still there. I can check "properties" on it. I can delete it. I can restore it...

[2021-03-24 21:28] smile1980 opened #14606 "Web interface fail"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent version 4.3.4 on Windows 10

### What is the problem
Web interface JS error

![2021-03-25_00-26-56](https://user-images.githubusercontent.com/12056804/112385677-f2ebfb00-8d00-11eb-81e1-fa496f690062.png)

[2021-03-24 21:31] sakkamade commented on #14606
Read https://github.com/qbittorrent/qBittorrent/issues/14599#issuecomment-806062195

[2021-03-24 21:36] smile1980 commented on #14606
understand

[2021-03-24 21:36] #14606 closed

[2021-03-24 21:37] AndroidDeveloperLB commented on #14603
The issue seems to appear for some other installers, but not for some others.
Not sure what is going on, but as it happens not just here, I close it. I will need to investigate it further.
Sorry for the hassle

[2021-03-24 21:37] #14603 closed

[2021-03-24 21:42] AndroidDeveloperLB commented on #14603
@showstoppre I think you are right. I think it's because of these settings on MS defender:
![image](https://user-images.githubusercontent.com/5357526/112387558-971e7380-8cfa-11eb-85c0-efb142a63175.png)

Why does it occur? What is the setting here that caused it (I disabled all and now it installs fine) ?

[2021-03-24 23:18] oogetyboogety commented on #14160
Yeah I didn't really think of statistics past the session. You could:
* persist the entire dataframe just like the exported CSV above to LocalStorage
* set up state in the component using counters and accumulators to persist somewhere, such as LocalStorage.
** The default graph ![traffic plugin example](https://raw.githubusercontent.com/wiki/Novik/ruTorrent/images/PluginTrafic/trafic.png) to start

[2021-03-24 23:57] PieDevTest commented on #14591
Does profiling have a effect here perhaps? I am _not_ running this as a service or using profiles currently.
https://github.com/qbittorrent/qBittorrent/issues/4498

[2021-03-24 23:59] silajim commented on #13674
@LEETUMBRA  What kind of system config are you running? Maybe it's a driver thing

[2021-03-25 00:19] CardcaptorRLH85 commented on #14489
I'm just going to add an additional data point here but, for some reason, I didn't have any issues with qBittorrent being blocked until I updated it via Chocolatey this afternoon.  The same method that everyone else has used to unblock it (directly ordering Defender to ignore both the executable and its registry entries) worked to restore my access.

[2021-03-25 00:53] igorekvaluev opened #14607 "Sorting in 4.3.4/4.3.4.1"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4/4.3.4.1

### What is the problem
In last versions I could sort finished by date and finished torrents were upper torrents which are still downloading in the end of list.

### What is the expected behavior
Sorting is awful. Better sorting in uTorrent.

### Steps to reproduce
Sort by name and after sort

[2021-03-25 01:20] Melooo182 commented on #14607
Just wanted to point out that Windows Defender is blocking last build executable

[2021-03-25 01:43] retrocaster opened #14609 "WebUI displays a blank page and buttons not functional"
### qBittorrent version and Operating System
 qbittorrent-nox v4.3.4 running on Ubuntu Server 20.04.2 LTS on a Raspberry Pi 3
 Chrome 89.0.4389.90 running on a Windows 10 box to access the Web UI

### If on linux, libtorrent-rasterbar and Qt version
Not sure how to tell those versions, but this was a clean install of Ubuntu Server on the Pi with just the following commands after first boot:
 sudo

[2021-03-25 01:46] sakkamade commented on #14609
Read https://github.com/qbittorrent/qBittorrent/issues/14599#issuecomment-806062195

[2021-03-25 01:53] #14609 closed

[2021-03-25 02:30] KapilTapsi commented on #14607
This new sorting is annoying. now my downloading torrents are gone below if i sort descending wrt "completed on". or if i try to get downloading torrents on top the sorting is getting messed

[2021-03-25 02:31] KapilTapsi commented on #14600
This new sorting is annoying. now my downloading torrents are gone below if i sort descending wrt "completed on". or if i try to get downloading torrents on top the sorting is getting messed

[2021-03-25 02:40] sakkamade commented on #14600
@thalieht, I believe this one should be closed in favour of  #14607

[2021-03-25 04:04] finqq commented on #14517
I'm using the same version of qBittorrent and Windows

I just came across this issue, and here's how I can reproduce it, which I just did 3 times (with the same torrent) as I was troubleshooting the issue:

1. After loading a new torrent file, set the Priority of all but a few of the content files to be Not Downloaded.
2. When that torrent finishes downloading those few files and is marked as fini

[2021-03-25 04:19] redwheeler3 commented on #14489
I saw the same behaviour earlier today with 4.3.4. First a PUA warning and then a UAC prompt block citing Trojan:Win32/Tilevn.A.

I was able to install 4.3.4.1 successfully a few minutes ago with no harassment by Windows Defender aside from the usual message that the publisher is unknown.

[2021-03-25 04:56] 9Pigs opened #14610 "https tracker failure"
**Please provide the following information**

### qBittorrent version and Operating System
qB ver 4.3.4.1  MacOSX Mojave 10.14.6

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
torrenting.com trackers fail (not working)

There is a work-around: edit tracker "https:"  to "http:"

### What is the expected behavior
Trackers work

### Steps to reproduce
Any t

[2021-03-25 04:57] ionGL commented on #14494
This problem seems to be fixed in v.4.3.4.1

Thanks, glassez!

[2021-03-25 05:21] #14494 closed

[2021-03-25 05:46] trebory6 commented on #13950
Adding my voice to this issue after going through the multiple threads on this issue. I'm trying to limit my download speeds to around 5 Mib/s but all torrents keep maxing out at over 10Mib/s. Tried everything above and in other threads, and I really don't believe that 5 Mib/s is "unreasonable" for downloading.

@FranciscoPombal, a few words after reading your replies both here and [elsewhere](htt

[2021-03-25 05:51] Kolcha opened #14611 "reconsider Qt 5.12 requirement (or at least require it since 4.4.0)"
### qBittorrent version and Operating System
qBittorrent 4.3.4
Debian 10

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar 1.2.12
Qt 5.11.3

### What is the problem
it is impossible to build qBittorrent 4.3.4 on Debian/Raspbian 10 anymore due to 4037143f4e401ddc77a1c552c4d98986dd3bd86a coming from master f022458383577e1a8409b4c087c07ade84d42559 . I have nothing against it

[2021-03-25 06:02] AndrewPrzelucki commented on #14601
Downloading from SourceForge does not trigger Windows Defender! I used the mirror link from the author's site (https://www.qbittorrent.org/) and no problems at all! But the FossHub download fails every time!

[2021-03-25 06:04] AndrewPrzelucki commented on #14489
Downloading from SourceForge does not trigger Windows Defender. I used the mirror link from the author's site (https://www.qbittorrent.org/), which redirected to SourceForge and that download works fine! But the FossHub download fails every time!

[2021-03-25 07:51] glassez commented on #14611
@sledgehammer999, ping.

[2021-03-25 07:56] iz8mbw opened #14613 "Web Interface of qbittorrent-nox doesn't work since newest version ubuntu20.04.1 1:4.3.3.99~202103241603-7341-f7e6b9649"
Hello.
I run qbittorrent-nox on my Linux Ubuntu ARM board, since it's NoX I use it via Web interface.
All always worked well until today after have upgrading to latest version `ubuntu20.04.1 1:4.3.3.99~202103241603-7341-f7e6b9649~ubuntu20.04.1` where the Web Interface doesn't "render" well and it's impossible to manage.
On Chrome there is this error in Console:

``Uncaught TypeError: Cannot read p

[2021-03-25 08:00] iz8mbw commented on #14613
ping @FranciscoPombal
ping @Piccirello

[2021-03-25 08:04] mp3sova opened #14614 "blurry fonts DPI scaling to 125%"
### qBittorrent version and Operating System
qBittorrent 4.3.4.1, Windows 10 20H2 (DPI scaling to 125%)

### What is the problem
All versions above 4.2.5 have a problem with blurry fonts, an example is in the picture
https://i.imgur.com/wPm3Bly.jpg

[2021-03-25 08:06] giodudespencer opened #14615 "Windows Defender detects trojan on latest update?"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 (about to install the 32-bit)
Windows 10 Pro (64-bit)

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
I received a push notification as I opened the app today that a new version is ready for download (I'm currently on 4.3.3). So I go https://www.fosshub.com/

[2021-03-25 08:22] xavier2k6 commented on #14615
Duplicate/Relevant #14489

[2021-03-25 08:26] #14615 closed

[2021-03-25 08:26] xavier2k6 commented on #14614
@mp3sova Do you have more than monitor connected??

[2021-03-25 08:38] mp3sova commented on #14614
2 monitors (1440p +1080p)

[2021-03-25 08:46] ahyny commented on #14489
The files are different!  I've compared the file from SourceForge to the one from FossHub (fc /b f1 f2) and they are NOT the same, even though the have the exact same size  (26,715,806 bytes)!

[2021-03-25 08:49] an0n666 commented on #14610
Try turning off `Validate HTTPs Tracker certificates` from advanced settings page.

[2021-03-25 08:49] xavier2k6 commented on #14614
Thank you, qBittorrent doesn't fully support dual monitors effectively currently.

[2021-03-25 08:56] xavier2k6 commented on #14489
Are you comparing **4.3.4.1** with **4.3.4.1**??

#### Sourceforge 4.3.4.1
[code]

#### Fosshub 4.3.4.1
[code]

[2021-03-25 09:04] slrslr opened #14616 "Mine created torrent not copied to folder defined by "Copy .torrent files for finished downloads to:""
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3.10; Linux, qt 5.15.2

### What is the problem
Mine created and added torrent was rechecked and despite found 100% complete, the .torrent file was not copied to the folder defined in Preferences / Downloads / "Copy .torrent files for finished downloads to:".
I think that it would be logical to expect al

[2021-03-25 09:06] xavier2k6 commented on #14616
This is qBittorrent Enhanced Edition!!!

Official qBittorrent is currently **4.3.4.1**

[2021-03-25 10:08] klepiku opened #14617 "the web interface does not load (update) qbittorrent; just a white screen"
**Please provide the following information**

### qBittorrent version and Operating System
(ubuntu 21.04: qbittorrent 4.3.4)

### If on linux, libtorrent-rasterbar and Qt version
(qt 5.14.2; libtorrent 1.2.13; boost 1.71.0; openssl 1.1.j;zlib 1.2.11)

### What is the problem
web interface not load  the версии 4.3.3 everything ok, and the версии 4.4.0 alpfa1 it all ok

### What is the expected beha

[2021-03-25 10:11] FossHub commented on #14601
Hello,

It does the same thing. Try to download now. qBittorrent is uploaded directly by the author on both FossHub and SourceForge. The problem is not on our end - the download works fine.

[2021-03-25 10:13] FranciscoPombal commented on #14613
See the news page: https://www.qbittorrent.org/news.php.

4.3.4 was broken. 4.3.4.1 is out now but hasn't been announced on the site yet. The PPA should be updated soon I guess.

[2021-03-25 10:13] #14613 closed

[2021-03-25 10:13] FranciscoPombal commented on #14613
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14599 and similar.

[2021-03-25 10:16] FranciscoPombal commented on #14601
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14489. Installers from both Fosshub and Sourceforge have the exact same cryptographic hashes, meaning the files are the same. Windows defender simply decided that torrent clients are now malware.

[2021-03-25 10:16] #14601 closed

[2021-03-25 10:18] FranciscoPombal commented on #14617
See https://github.com/qbittorrent/qBittorrent/issues/14613#issuecomment-806526372.

[2021-03-25 10:18] #14617 closed

[2021-03-25 10:23] sledgehammer999 commented on #14611
@Kolcha can you revert 3b748178c21f2c2fc86b9c99a012ac3312f21a2f too and see if it compiles?

[2021-03-25 10:27] xavier2k6 commented on #14604
@yul-oh895
Did you have qBittorrent running while trying to install?
Where did you download the installer from?
Do you experience the same with **4.3.4.1**?

[2021-03-25 10:28] FranciscoPombal commented on #14611
Debian is just too slow in updating the Qt versions...

Debian 11 is almost out anyway, I think it's acceptable for Debian users to hold on to 4.3.3, which is still very recent, in exchange for qBittorrent's code base to move on. Alternatively, they could try installing a more recent Qt version side-by-side somehow, if they really want to run the latest version of qBittorrent and other application

[2021-03-25 10:39] sledgehammer999 commented on #14607
You know that this version supports sub-sorting, right? The previous column you have sorted with affects the sorting of the new column you sort with.
@jagannatharjun can this be a side effect of subsorting feature that they describe here?

[2021-03-25 10:42] xavier2k6 commented on #14604
Duplicate of #13561 perhaps & #14342 may be related too.

[2021-03-25 10:56] xavier2k6 commented on #11122
It may be to do with the icons not being fully converted to `svg` until `4.2.x`

[2021-03-25 11:18] harvestry-of-ghosts commented on #14384
So this appears to be a Qt issue? If that's the case, can't it be fixed by simply using Qt 5.15.1? Or is there some reason 5.15.2 HAS to be used?

[2021-03-25 11:36] jagannatharjun commented on #14607
@sledgehammer999 I think this would be more related to https://github.com/qbittorrent/qBittorrent/pull/14335

[2021-03-25 11:49] sledgehammer999 commented on #14607
Then I tag @Chocobo1  too.

[2021-03-25 12:12] Kolcha commented on #14611
@sledgehammer999 reverting mentioned commit fixed the build on Debian 10, thanks!

@FranciscoPombal , I agree with you about Debian 11 and build possibility through Qt side-by-side installation (I did this way a long time ago), but I think that such breaking changes should not happen with 'path' releases. moreover, dropping Debian stable release...

I decided to report this issue only because I pa

[2021-03-25 12:18] Chocobo1 commented on #14607
The [subsorting was reintroduced](https://github.com/qbittorrent/qBittorrent/pull/14423) to (more or less) mitigate the reported inconveniences.

[2021-03-25 12:24] cyefimov commented on #14607
Sorting in 4.3.3 was working just fine. Was there really a need to 'reintroduce' subsorting and breaking it?

[2021-03-25 12:27] sledgehammer999 commented on #14611
Since this created some problems, I am considering reverting the commits on the v4_3_x branch.
Apparently they were originally targeted for master only anyway.

[2021-03-25 12:52] sledgehammer999 commented on #14489
Hmm, I got an interesting theory. To all those that get the **PUA** warning (not other type of warnings): Does any of you use the **Home** edition of Win10?

[2021-03-25 12:55] rcharbon commented on #14489
Yes to Win10 Home.
Yes to 4.3.4.1 installing the usual way.

[2021-03-25 13:41] AndrewPrzelucki commented on #14489
Yes, I'm on Win10 Home as well. I didn't have any problems with qbittorrent before, and like I said, the SourceForce download is fine. It's only the FossHub update....

[2021-03-25 14:04] 4d1m opened #14618 "WebUI Issue 4.3.3"
### qBittorrent version and Operating System
OS: Ubuntu 20.04.2 LTS x86_64
qBittorrent-nox: 4.3.3.99~202103241603-7341-f7e6b9649~ubuntu20.04.1

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar10 1.2.13+git20210323.34a979720b-1ppa1~20.04
Qt: 5.12.8+dfsg-0ubuntu1

### What is the problem
After last nights update (from PPA stable) the WebUI only loads the menu section, while

[2021-03-25 14:16] filimonic commented on #14607
Same here. Sorting on "completed on" should show incomlete tasks as largest value, because their completion is in future (**+∞**)

[2021-03-25 14:49] Chocobo1 commented on #14607
Make sense, I'll submit a patch for it.

[2021-03-25 14:55] 9Pigs commented on #14610
That sounds like a workable work-around --- but is blowing off certificates a sensible thing to do? What changed in the programming?  Does my using a vpn make it a moot point?

[2021-03-25 15:11] gabrielsoldani commented on #14489
@sledgehammer999 I've had the PUA warning happen on Windows 10 **Pro** 20H2 Build 19042.867.

[2021-03-25 15:38] ManiacDC commented on #13581
This is happening to me also, Window 10 20H2. The process will also freeze overnight sometimes and cannot be opened, and becomes unkillable via task manager. I can kill the open handles via process explorer, but the only way to close the process is to restart windows.

I tested with both 4.3.2 and 4.3.3. Rolled back to 4.2.5 as that doesn't have the issue.

[2021-03-25 15:41] FranciscoPombal commented on #14610
The new code is better - now you know which sites are actually using valid certs and can decide for yourself if you should still trust them or not. If a cert fails validation, that's either the site's fault or maybe your OS's CA store is outdated.

[2021-03-25 15:42] FranciscoPombal commented on #14618
See https://github.com/qbittorrent/qBittorrent/issues/14613#issuecomment-806526372.

[2021-03-25 15:42] #14618 closed

[2021-03-25 15:59] FranciscoPombal commented on #14614
@xavier2k6 Isn't this a duplicate of one of the issues about problems with high DPI support?

[2021-03-25 16:02] FranciscoPombal commented on #14604
Closing as duplicate, please continue discussion in the linked issues.

[2021-03-25 16:02] #14604 closed

[2021-03-25 16:03] eurobank commented on #11432
This seems solved in this new 4.3.4 update !!!

[2021-03-25 16:03] #11432 closed

[2021-03-25 16:43] jaccc opened #14620 "some users aren't blocked"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.3, Gentoo

### If on linux, libtorrent-rasterbar and Qt version
1.2.12.0, 5.15.2

### What is the problem
some users aren't blocked
user 1x0.14.15.16
isn't blocked by rule 1x0.0.0.0-1x0.63.255.255
where x is single digit

### What is the expected behavior
matching users are blocked

### Steps to reproduc

[2021-03-25 17:04] ujjwalk308 commented on #7850
I'm on v4.3.4.1 (Win10). This happens to me every time I have multiple torrents with active downloads. All default options set with no changes in Settings/Options. I was able to complete the downloads by forcing a recheck from the context menu.

[2021-03-25 17:42] sledgehammer999 commented on #14489
ok, then my theory is invalid.

Have you compared the filehashes from Sourceforge and FossHub? They should be exactly the same. Unless Windows Defender knows the URL from which each file has been downloaded from and somehow doesn't trust the FossHub one.

[2021-03-25 17:50] AndrewPrzelucki commented on #14489
The simplest difference is that FossHub has a newer version - 4.3.4.1, while the author's webpage still says the newest version is 4.3.4, and SourceForge offers this older version as well. So it's the newer version on FossHub that seems to be the problem. I downloaded some apps from FossHub yesterday and I didn't have any issues. I'm using the Chrome browser. I'm just curious why is FossHub update

[2021-03-25 17:54] sakkamade commented on #14489
@AndrewPrzelucki Erm...
https://sourceforge.net/p/qbittorrent/activity/?page=0&limit=100#605ba8948a4231506246b315

[2021-03-25 18:08] NoclueMac opened #14621 "WebUI fails to display correctly"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.3.r01 on Asustor ADM v3.5.5.RFC3 and Docker 4.3.3

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
The webui fails to display correctly.
Browsers tested:
Chrome 89.0.4389.90 on Win 7
Firefox 72.0.2 on Win 7
Edge 89.0.774.57 on Win 7
Chrome 89.0.4389.

[2021-03-25 18:09] FranciscoPombal commented on #14621
See https://github.com/qbittorrent/qBittorrent/issues/14613#issuecomment-806526372

[2021-03-25 18:09] #14621 closed

[2021-03-25 18:14] #14616 closed

[2021-03-25 18:18] FranciscoPombal commented on #13674
@silajim

No one is ignoring anything. You just haven't been able to prove that there is an actual bug and/or the information provided so far is insufficient for others to reproduce. Posting logs and settings in plain text would be a good start. Please try with 4.3.3, and make sure you're looking at actual memory allocations for the qBittorrent process (as in memory that cannot be reclaimed by any

[2021-03-25 18:20] FranciscoPombal commented on #14600
Superseded by https://github.com/qbittorrent/qBittorrent/issues/14607

[2021-03-25 18:20] #14600 closed

[2021-03-25 18:22] FranciscoPombal commented on #14603
@AndroidDeveloperLB Windows defender decided to not play nice with qBittorrent recently: https://github.com/qbittorrent/qBittorrent/issues/14489

[2021-03-25 18:28] AndrewPrzelucki commented on #14489
@sakkamade, the author's webpage (qbittorrent.org) states that 4.3.4 is latest AND using the SourceForge LINK provided there redirects to SourceForge that also states that 4.3.4 is latest. So I got 4.3.4.1 from the link you provided and I have no issues....

[2021-03-25 18:31] silajim commented on #13674
I have been using 4.2.2, 4.1.9 ,4.3.4 and all in between, all have the same issue, did not try lower versions. The memory consumption does not appear on the process in task manager, it appears the performance tab under memory. My system starts with 6GB used (out of 32) with nothing extra opened (no web browser, game , VS) I open the program and after an hour of seeding I have 16GB used, after 2 ho

[2021-03-25 18:42] FranciscoPombal commented on #13674
@silajim

No, there is sufficient user story at this point, we need hard data now.

We'll be the judges of that. Again, please post the logs and settings in plain text. Redact anything that you deem too sensitive to be shared if you wish (e.g. replace torrent names/IP addresses with `REDACTED`). Also some screenshots of task manager and any other relevant stuff would help.

[2021-03-25 19:22] xavier2k6 commented on #14614
@FranciscoPombal Yep, unsure of which one exactly (There's actually a few I'm sure that are basically duplicate of each other)

[2021-03-25 19:26] Deepcuts opened #14622 "Update 4.3.4 to 4.3.4.1 results in all torrents checking"
### qBittorrent version and Operating System
4.3.4.1 on Windows 10

### What is the problem
Updated to 4.3.4 without problems.
Very soon I got the notification about a new update 4.3.4.1.
Closed qBittorrent and updated.
Now all my 1.7k torrents are being checked for some reason. Given the number of torrents I am sedding, this will take a while.

Anyone else experiencing this?

[2021-03-25 19:27] xavier2k6 commented on #14282
Seems you are right & seems to be fixed in Qt 6.x.x

[2021-03-25 19:29] xavier2k6 commented on #13674
@silajim >Windows 10 1909 X64

Are you still using this version of windows?

[2021-03-25 19:32] silajim commented on #13674
I am using 20H2, but the issue continues

[2021-03-25 19:38] lastot069 commented on #14607
Thank you!!!! My OCD can not take the non completed at the bottom 1-100 then completed newest to oldest is all i have done for years. BT dual pane approach could be an option if you run into issues.

[2021-03-25 19:39] berat1397 commented on #14066
Yea. has fix spontaneously. I didn't do anything. I think this is my internet company's problem.

[2021-03-25 19:41] userdocs commented on #14611
I have a question I can't find a clear answer to, maybe someone can find [what Debian did to patch this](https://sources.debian.org/patches/qtbase-opensource-src/5.11.3+dfsg1-1+deb10u4/).

It appears qt only supported openssl 1.1.1 with the release of [version 5.12.4](https://www.qt.io/blog/2019/06/17/qt-5-12-4-released-support-openssl-1-1-1)

Debian Buster has [openssl 1.1.1](https://packages.deb

[2021-03-25 19:43] xavier2k6 commented on #9510
Fixed in Qt 6.x.x

[2021-03-25 19:47] sakkamade commented on #14489
@AndrewPrzelucki You don't have to correct yourself,
I may assure you that the link on sourceforge project of qbit is to the same qbit project,
and in sourceforge page no mention of 4.3.4 being the latest may be found.
Cannot say nothing in regard of their official web-site.

Regardless, this is off-topic.

[2021-03-25 19:58] silajim commented on #13674
Here are the logs and the settings, a video will be done shortly

[qBittorrent.txt](https://github.com/qbittorrent/qBittorrent/files/6207489/qBittorrent.txt)
[qbittorrent.log](https://github.com/qbittorrent/qBittorrent/files/6207485/qbittorrent.log)

[2021-03-25 20:23] silajim commented on #13674
Here is the video, if you need more quality I could upload the not so compressed version to youtube

https://user-images.githubusercontent.com/5138529/112538497-33ef1880-8db0-11eb-883b-048171fff56c.mp4

[2021-03-25 20:41] sakkamade commented on #13804
Just fancy to denote that perfectly equal issue I experience on Linux as well—Manjaro, to be precise—the cause, thus, is everything but Windows.

[2021-03-25 21:13] aeular commented on #14610
This isn't happening only on invalid certificate sites.  This is also affecting sites with valid Let's Encrypt certificates, issue specifically happening on Mac (but not windows).  Firefox, Chrome, Safari, SSL Labs, DigiCert, qBittorrent windows 4.3.4.1 (with cert validation enabled) all are cool with the certificate, but qBittorrent on Mac Big Sur is not okay with it for the tracker.  And yes, it

[2021-03-25 21:35] ManiacDC commented on #13581
Well, I spoke too soon. I did NOT have this problem before with 4.2.5; but now after upgrading to 4.3.3 and rolling back to 4.2.5; this happened with 4.2.5.

[2021-03-25 21:50] AndroidDeveloperLB opened #14623 "dialog of new-version-available steals focus when being shown"
### qBittorrent version and Operating System
4.3.4
Windows 10 (10.0.1xxxx).

### What is the problem
Today while playing some game, qBittorrent decided it's a good time to show that a new version is available, and stole focus...

I'm talking about this dialog:

![image](https://user-images.githubusercontent.com/5357526/112548441-e9c46200-8dc4-11eb-9735-0ea6c78806c9.png)

### What is the expected b

[2021-03-25 21:52] sledgehammer999 commented on #14611
^This

[2021-03-25 22:01] sledgehammer999 commented on #14611
@Kolcha could you share your patch that reverts the qt 5.12 requirement? A simple `git revert` doesn't work without conflict and right now I don't have free time to review the conflict. Your patch would help me for tomorrow. Thx.

[2021-03-25 22:04] sakkamade commented on #13492
Sure enough, upon my study the qbittorrent build of Qt 6, the issue as yet persist.

[2021-03-25 22:07] gabrielsoldani commented on #14489
Windows Defender indeed knows it was downloaded from FossHub. In the first screenshot on this issue, the *webfile* line contains references to FossHub.

[2021-03-25 22:16] xavier2k6 commented on #14623
@Chocobo1 This was supposedly fixed in https://github.com/qbittorrent/qBittorrent/pull/14256

[2021-03-25 22:27] AndroidDeveloperLB commented on #14623
@xavier2k6 Was it fixed though? If fixed, how come I still saw it happening ?

[2021-03-25 22:31] oogetyboogety commented on #14160
@multiduplikator I was also looking at the functionality with Prometheus I mentioned in the above comments. https://github.com/esanchezm/prometheus-qbittorrent-exporter I wonder if packaging Prometheus would be heavy or overkill for scraping this qbittorrent API endpoint when it's not guaranteed to run in in the cloud or in a cluster.
For now i'll just aggregate each of the statistics and make it

[2021-03-25 22:42] Kolcha commented on #14611
@sledgehammer999 , I used cmake to build qBittorrent, so the change was pretty straightforward https://build.opensuse.org/package/view_file/home:nikoneko:test/qbittorrent/cmake-require-qt-5.11.patch?expand=1
I did nothing regarding autotools.

if you are interested in building .deb packages using cmake, you can find hints here https://build.opensuse.org/package/show/home:nikoneko:test/qbittorrent

[2021-03-25 22:51] sledgehammer999 commented on #14571
FYI, QtCreator autocollapses the license block from each source file opened. Are you using a different IDE?

BTW, from all this ordeal I think we have to be careful of the following for the future: We can't use source from a GPL software that doesn't have an OpenSSL exception! Am I wrong in this interpretation?

[2021-03-25 23:40] FranciscoPombal commented on #13674
@silajim

Thanks. Everything seems OK with the settings and log.

However, in the video, you don't show the details tab sorted by process name; so it is not clear if the qBittorrent process has actually exited when you take the 2nd measurement. At least the icon disappears from the taskbar pretty much instantaneously and it does leave the "Apps" section of Task Manager, but it could still be linge

[2021-03-25 23:44] FranciscoPombal commented on #14614
@xavier2k6 Alright, I'm closing as a duplicate of https://github.com/qbittorrent/qBittorrent/issues/13675, since it is more explicitly related to the impact that this bug has on multi-monitor setups, and the OP does mention they use multiple monitors. The DPI issues are linked together under the same project, so one can always follow that link under any of those issues to find the other ones.

[2021-03-25 23:44] #14614 closed

[2021-03-25 23:56] samuk190 commented on #14594
I have the same problem

[2021-03-26 00:09] silajim commented on #13674
There you go, the vid is 5 mins long

https://youtu.be/7826Y5vk11I

[2021-03-26 00:11] FranciscoPombal commented on #14571
@sledgehammer999

I don't have my editor setup to collapse any kind of comment by default. And we don't typically rely on using a specific IDE, right? I even recall in the past some code cleanups/refactors being rejected because whatever Chocobo1 is using doesn't have language intelligence capabilities/hovers, or at least they choose to not use them (I think giving up on those refactors/cleanups d

[2021-03-26 00:14] FranciscoPombal commented on #14610
@aeular

qBittorrent's HTTPS validation is really libtorrent's. Maybe it has some kind of problem with Big Sur and possible other macOS versions. Ping @arvidn, can you reproduce?

[2021-03-26 00:35] aeular commented on #14610
I have a test torrent file that hits a page that returns a bencoded response (not actually a tracker, but works except in this case), that does it on a fresh Big Sur VM, and reports from users of the site of Mac OS 10.14 and 10.15 with the issue too, and that disabling validation is a fix.  I can send the torrent file to someone for reproduction if needed.  The most obvious thing I can think of is

[2021-03-26 01:50] #14607 closed

[2021-03-26 01:57] Chocobo1 commented on #14623
Yeah, I did test it thoroughly. I suppose I should find time and revisit.

[2021-03-26 02:16] iamshilov commented on #10790
I've just switched from Deluge to qBittorent and after several days noticed this re-connection problem too.
I use v4.3.4, WIn 10, Surfshark VPN

[2021-03-26 05:02] wellsie1832 opened #14626 "Stalling"
**Please provide the following information**

### qBittorrent version and Operating System
 Ver 4.3.4 and 4.3.4.1
Big Sur 11.2.3

### What is the problem
Upgraded to above and torrents stalled unable to resolve problem. Canyouseeme reports port open torrent site reports unknown status. Roll back to 4.3.3 problems resolve and no issues.

### What is the expected behavior
to upgrade to lasted versio

[2021-03-26 06:49] arvidn commented on #14610
libtorrent uses OpenSSL and relies on the system certificate store as identified by OpenSSL. There's a special case on windows where it doesn't keep a certificate store in the same way OpenSSL expects. However, Linux and Mac OS are treated the same.

[2021-03-26 06:55] arvidn commented on #14610
@aeular does `curl` or `wget`  work to authenticate HTTPS?
I would expect them to use the same certificates.

[2021-03-26 07:11] sycorax opened #14627 "Blank window appears when clicking the taskbar notification area icon"
### qBittorrent version and Operating System
qBittorrent v4.3.4.1
Windows 10 64bit version 10.0.19042

### What is the problem
Blank/Empty window appears when clicking the taskbar notification area icon:
![image](https://user-images.githubusercontent.com/790493/112595071-95e06a00-8e12-11eb-8f81-4cf652a4fc2f.png)

### What is the expected behavior
The UI should show

### Steps to reproduce
clicking

[2021-03-26 07:40] Dhruvjdave commented on #14627
Same here.Using windows 10 64bit latest version.

[2021-03-26 07:45] aeular commented on #14610
@arvidn after a brief fix to fix the VM's dns (aka it suddenly had no servers): curl reports ssl cert fine, and openssl s_client returns valid cert and OCSP on big sur.  No wget on it, but those should cover the openssl side.

[2021-03-26 07:51] ioweb-gr commented on #14324
Issue still persists in latest version. Where can I see the logs in windows? Perhaps something is meaningful there.

[2021-03-26 07:58] treysis commented on #14324
Have you tried different trackers?

[2021-03-26 08:01] ioweb-gr commented on #14324
Yes I've tried multiple trackers from multiple sources with lots of seeds, and the issue persists seemingly randomly. Sometimes it works sometimes it doesn't. A log would be very helpful to see what the issue of the failure is.

[2021-03-26 08:10] treysis commented on #14324
I also have 14 interfaces in the list and no problems. What does it say in the `Execution log` tab? Does it correctly detect your external IP?

Mine is saying something like this:
[code]

[2021-03-26 08:13] ioweb-gr commented on #14324
[code]

[2021-03-26 08:20] treysis commented on #14324
That's odd. Some firewall running at your system? Maybe you blocked qBittorrent in Windows firewall?

What does the following yield:
`netsh interface ipv4 show excludedportrange protocol=tcp`
and:
`netsat -ano | find ":495"`

[2021-03-26 08:25] arvidn commented on #14610
I don't know off-hand which libtorrent version is used in qB ver 4.3.4.1, but I assume it's 1.2.12.

I tried to reproduce this on Mac OS Big Sur by creating a torrent and setting the tracker to `https://github.com/announce` and I correctly get a 400 Bad Request. The certificate validation appears to work.

As a negative test I also created a torrent with `https://untrusted-root.badssl.com/announce

[2021-03-26 08:29] ioweb-gr commented on #14324
[code]

and

[code]

I have kaspersky installed but qbittorrent is on the allow list. Also I can't understand why it's working intermittently.

[2021-03-26 08:32] aeular commented on #14610
@arvidn the about shows Qt 5.15.2, Libtorrent 1.2.13.0, Boost 1.75.0, OpenSSL 1.1.1i, and zlib 1.2.11

[2021-03-26 08:36] aeular commented on #14610
Oh, interesting, both openssl and curl report LibreSSL 2.8.3, instead of openssl, no clue if that matters in the end.

[2021-03-26 08:44] aeular commented on #14610
And I'm correcting myself, qBittorrent is using openssl 1.1.1j, just the font in about makes it really unclear (had to copy it out to be sure, after noticing windows was 1.1.1j)

[2021-03-26 08:47] treysis commented on #14324
Yeah, me neither. Also those logs don't point to a problem. However, it's probably not qBittorrent's fault, but something on your system. Have you tried disabling Kaspersky firewall to see if that changes it?

[2021-03-26 08:53] ioweb-gr commented on #14324
Yes I have done both to no avail unfortunately :( I was hoping to get some more details about the error to perhaps reach a conclusion of what the problem is.

[2021-03-26 09:06] treysis commented on #14324
The problem is that it cannot bind to the socket. This is because Windows doesn't allow it. qBittorrent can't tell you more than this, even if it had more logging. The question is why Windows isn't allowing it. Maybe you are ALSO using Windows firewall? Have you tried setting an exception for qBT in `wf.msc`?

[2021-03-26 10:04] rafi-d commented on #14489
Here is an idea - try to hide this by using some TinyURL-likr referrer  mechanism?

[2021-03-26 10:19] sledgehammer999 commented on #14611
ahhh, now with a clear mind I see it. The old code had `#ifdef` checks for >Qt 5.10 that were dropped. Since you wanted to retarget Qt 5.11 you only had to adjust the requirement in the build scripts.

[2021-03-26 10:34] Oriann commented on #14622
No, my update went fine. All torrents good to go.

[2021-03-26 11:22] AndroidDeveloperLB commented on #14623
Should I close the issue here, as it might be being handled there?

[2021-03-26 11:36] thalieht commented on #14626
Private tracker? Maybe it hasn't whitelisted this version yet.

[2021-03-26 11:50] glassez commented on #13674
I don't know exactly what you're struggling with here, but if it's really a case of a qBittorrent process already being terminated, then it's definitely not a memory leak in qBittorrent.

[2021-03-26 11:57] silajim commented on #13674
If a pointer is not freed that is a memory leak, it does not matter if the process exists or not, that memory will stay as "used" forever.

int *i=new int(5);
i = new int(3);

That is also a memory leak, because pointers

[2021-03-26 12:00] FranciscoPombal commented on #13674
Thanks for the video. It's really strange, you're idling at 11 GiB of RAM, but not that many things are opened, and the reported memory usage by each process doesn't seem to add up. But yeah, this doesn't seem like an issue with qBittorrent to me. Something weird is going on with your system. You can probably use RAMMap and Process Explorer (from the sys internals suite) to try to dig deeper into

[2021-03-26 12:04] silajim commented on #13674
It was idling at 11GB because I already started QBittorrent a couple times, I made some tests before making the video to have a sense on how fast the ram fills up with it running. It usually idles at 5.5-6GB of ram usage. And the pagefile is only 2GB

[2021-03-26 12:12] FranciscoPombal commented on #14489
Bad idea, using 3rd-party url shortening services is an anti-pattern.

[2021-03-26 12:17] xavier2k6 commented on #13674
Is that custom or OS managed?
Can you post screenshot?

[2021-03-26 12:18] silajim commented on #13674
If you don't believe me add over 150 torrents active, and start seeding them (yes all of them at the same time), I seed at about 12-15MB/s so if you seed slower you might need to adjust, but I don't know if it's correlated

[2021-03-26 12:20] silajim commented on #13674
![image](https://user-images.githubusercontent.com/5138529/112630495-f0d78880-8e35-11eb-9f5f-92978e956a91.png)
![image](https://user-images.githubusercontent.com/5138529/112630514-f92fc380-8e35-11eb-8fe0-1c60bb62db64.png)

[2021-03-26 12:20] xavier2k6 commented on #14623
@AndroidDeveloperLB It can be left open for now & if another PR is required, Chocobo1 will tag this issue in it for auto-closing when it is merged.

[2021-03-26 13:15] MidsummerNight commented on #12923
Update: I have confirmed the problem is caused by a Chinese locale setting in Windows 10's region settings, not qBittorrent. As such I am closing this issue.

[2021-03-26 13:15] #12923 closed

[2021-03-26 13:15] Madhorse1 commented on #10408
Guys,
I'm experiencing just the same problem as you! I am seeding around 200 video torrents that were created by myself.
I'm running a private raspberry pi server with qbittorrent for seeding.
After some time I ran into this issue missing files with several seeds where after a server restart, I'm missing smaller files (like 200 kb files and 0,8 Mb files from video for example) and cant figure out

[2021-03-26 13:46] xavier2k6 commented on #13674
You may want to consider setting:

If, staying with `Custom`

`initial size` to `6,144`
`maximum size` to `6,144`

This will be above the `Recommended`

Or

Let `OS` automanage

[2021-03-26 13:49] silajim commented on #13674
If it needed more it would have allocated more. Do no try to pin this on something else

[2021-03-26 14:04] xavier2k6 commented on #13674
It was a suggestion not a deflection.

[2021-03-26 14:06] silajim commented on #13674
Ok 😀

[2021-03-26 14:07] rafi-d commented on #14489
u r welcome to replace FossHub URL string with anything else you like, such as your own...

[2021-03-26 14:12] FranciscoPombal commented on #14489
I really doubt Windows Defender has a problem with FossHub itself. It seems it simply decided to screw with torrent clients.

[2021-03-26 14:13] FranciscoPombal commented on #13674
It's not about belief, it's about not being able to reproduce the issue.

[2021-03-26 14:15] silajim commented on #13674
How are you trying to reproduce? how many torrents active? what os?

[2021-03-26 14:54] ioweb-gr commented on #14324
I've added the exception in windows firewall as well. It's very strange to be honest because I've never had this issue when using a single network interface

[2021-03-26 14:57] treysis commented on #14324
True, that is still very weird that it would work with individual interfaces.

Does it work now with the exception?

[2021-03-26 15:06] ioweb-gr commented on #14324
Nope unfortunately. However, I tried changing the port and suddenly the error messages started changing per interface. Some were green some were red. I kept changing port number, and finally found one that works for now.

Is it possible that when using a random port, it's trying to find a sequence of available ports, and if one port is blocked or reserved, it crashes for all interfaces instead of

[2021-03-26 15:12] treysis commented on #14324
Not really. It should only try bind to the port specified.

It's actually also weird that your system shows so many restricted ports. On my system, the list is empty. I am still convinced it is some firewall problem. I would uninstall Kaspersky's firewall and just use the built-in one.

[2021-03-26 15:18] ioweb-gr commented on #14324
For the restricted ports I can answer that. It's because of hyper-v which is needed for wsl2. Hyper-v reserves a lot of ports for exclusive use however when the issue happened it wasn't trying to bind into any of them

[2021-03-26 15:21] treysis commented on #14324
Ah ok. I don't use WSL 2 (because it breaks IPv6, or to be more specific it requires a lot of extra dependencies to get it going).

I still don't understand why it would restrict binding to those ports. Maybe it's a problem with the IF_ADDRANY (i.e. `0.0.0.0`) address.

[2021-03-26 15:23] ioweb-gr commented on #14324
I wish this was a multiselect options to only add the relevant interfaces with internet access. Perhaps it would improve the situation

[2021-03-26 15:24] AndroidDeveloperLB commented on #14623
OK thank you.

[2021-03-26 15:28] treysis commented on #14324
Unfortunately, that's not possible with `libtorrent-rasterbar`, which qBT is using.

[2021-03-26 17:13] AndrewPrzelucki commented on #14489
I have again downloaded from both sources: from FossHub and from SourceForge, newest version 4.3.4.1 for x64.

Unfortunately I do not have a FossHub download from yesterday, when I had all these warnings. Today I did not get any warnings about the FossHub version - has the file been changed? I didn't install the FossHub file, every time I had a severe warning and automatic quarantine, so I had it

[2021-03-26 17:23] KengaRU commented on #11015
4.3.4.1 and bug still here.

[2021-03-26 17:27] xavier2k6 commented on #14489
@AndrewPrzelucki You are not comparing the same installers!!!!!!! you are comparing `64-bit` against `32-bit`

Also, please ref. `HASHES` from https://github.com/qbittorrent/qBittorrent/issues/14489?_pjax=%23js-repo-pjax-container#issuecomment-806478292

[2021-03-26 17:29] xavier2k6 commented on #11015
@glassez ping

[2021-03-26 17:33] glassez commented on #13674
Yes, it is.

You have no idea about the basics of memory management in modern general-purpose operating systems. You don't seem competent enough to discuss this issue. See at least https://stackoverflow.com/a/6727502.

[2021-03-26 17:37] AndrewPrzelucki commented on #14489
True, just noticed, sorry. I got the 64-bit from SourceForge and they do match. My mistake.

[2021-03-26 17:43] Seeker2 commented on #14489
This is to test if Windows Defender would "trigger" on a tinyURL link rather than acting as a longer-term workaround for whatever is happening.

[2021-03-26 17:44] glassez commented on #13674
[code]

This program demonstrates a leak of several GB of memory. Someone can run it several times to observe its effects.
I ran it several times in a row, after which my system continued to work without any problems. It is not difficult to guess that if the memory was not released after the process was terminated, I would have exhausted all of it, including the swap file, in two or three runs of

[2021-03-26 18:12] glassez commented on #11015
What "errored state" do you mean? Maybe "missing files" state?

"Missing files" state isn't cleared automatically yet.

If you resume "missing files" torrent it shouldn't recheck anything. It either leaves in "missing files" state if files are still unavailable or restores previous progress otherwise.

I talk about latest qBittorrent version.
I described the intended behavior. Of course, there may

[2021-03-26 18:19] dvdmn commented on #10790
At the time of my original post back in **August 2019** when I had the issue, I was using **IPVanish**.
Ever since switching to **PIA (Private Internet Access) VPN** I never ran into this issue again.
All in all, PIA has proven to be _way more_ reliable and convenient in my personal use case and experience.

[2021-03-26 18:44] 9Pigs commented on #14610
@an0n666:

  I looked and my "What changed?" question has an answer ---- the older version default was not to validate, new version default is to validate.

[2021-03-26 18:44] #14610 closed

[2021-03-26 19:20] silajim commented on #13674
Yeah, os might clean it up, sure, but I am getting this issue only with QBittorrent, BiglyBT and Transmission(limited testing only with this one) does not exhibit the issue, so it's something to do with QBittorrent or libtorrent now that I think of, since none of the other use libtorrent

[2021-03-26 20:19] arvidn commented on #14610
but do we know what the problem is?
If the certificates from the trackers are valid, it should work when validating them.

[2021-03-26 21:09] Felipefpl opened #14629 "Qbittorrent 4.3.4.1 - 32 bit - Win7x64"
What is the problem?

qbittorrent is minimized on tray but when i click 2x to maximize the window nothing happens, i cant see any context menu if i right click in the icon on tray. I can only see the window if i click in the desktop icon.

[2021-03-26 21:10] njaard commented on #13368
This problem [exists in KMail](https://bugs.kde.org/show_bug.cgi?id=431921) and in both cases it seems to be be over a QSplitter

[2021-03-26 22:10] aeular commented on #14610
@arvidn no, I don't know the root, but I might have just discovered an important key issue with the testing.  You created a torrent with https://github.com/announce and I decided to try the same.  Changed the tracker to that, with verify off, get the expected error message in the field "Bad Request", good, all to plan.

Now let's turn on the verify certificate on, quick reboot to be sure things ar

[2021-03-26 23:59] angristan commented on #14611
For Debian users out that want to run on the edge, there is this script which compiles qbittorent and all dependencies from source, including Qt: https://github.com/userdocs/qbittorrent-nox-static

I have been using it on Debian 10 for a little while 👍 The [latest version](https://github.com/userdocs/qbittorrent-nox-static/releases) uses Qt 5.15.

[2021-03-27 00:20] jj422 commented on #14626
Same OS, same issuehere.

[2021-03-27 01:35] widget- commented on #14566
I think #14587 fixes this?

[2021-03-27 02:50] telepati commented on #14259
@sledgehammer999 the problem still continue on new release here is the new crash;

[code]

[2021-03-27 02:53] ManiacDC commented on #13581
Maybe this is related to Windows 10 20H2 then? I only upgraded recently. I did not have this issue on Windows 10 1909 with 4.2.5.

[2021-03-27 03:06] reeyon commented on #13581
Could be. But sorry to say that other clients don't have this issue on my 20h2 machine. Maybe qB code not compatible with 20h2 yet.

[2021-03-27 03:11] FStars commented on #14626
Same setup

On 4.3.4 and 4.3.4.1 I Can't connect to one specific tracker but I can connect to other trackers and download.

I testet on another machine and had the same problem with the same tracker

Then I did a complete new install of 4.3.4.1 on a third machine and had the same problem with the same tracker - testet with two different VPN (PIA and Mullvad) and without VPN. That did not solve the

[2021-03-27 03:57] iamshilov commented on #10790
How can it possibly depend on a VPN provider when it's just another Network Connection added the way app sees it.
Also as I've noticed in my post, I had everything working just fine with Deluge. So in my case the only thing that has changed was the torrent client.

[2021-03-27 05:51] arvidn commented on #14610
You mean why is it working for me but not for you?

I'm not sure what you mean by "suddenly".

Perhaps one difference might be that I build against Homebrew's openssl, and when I install it, perhaps homebrew also install some root certificates. It sounds a bit far fetched perhaps. But I imagine qBT links against openssl that it then ship in its app bundle, without any root certs.

[2021-03-27 06:02] arvidn commented on #14610
actually, it seems like homebrew *does* ship a root CA bundle with openssl.

https://github.com/raggi/openssl-osx-ca

I'm guessing there needs to be a special case for MacOS, just like for windows, where the system is queries for its root CA certs and explicitly added to the SSL context. Any help doing this would be appreciated. Surely someone else must have done this.

[2021-03-27 06:19] liuqian1996 opened #14631 "In 4K display, the text scale is very small"
**Please provide the following information**

### qBittorrent version and Operating System
windows 10 and qBittorrent v4.3.4

### What is the problem
(type here)
![image](https://user-images.githubusercontent.com/11707934/112711953-3fa12300-8f07-11eb-9a68-769c914d0b58.png)

### What is the expected behavior
Text scale normal display

[2021-03-27 06:54] alextutubalin opened #14632 "'Completed on' sort order changed in 4.3.4"
**Please provide the following information**

### qBittorrent version and Operating System
Windows 10/64 bit, qbittorrent 4.3.4.1

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
In versions up to  4.3.3 sort by 'Completed on' was
  - queued and downloading torrents on top
  - then last completed torrents from newer to oldest

  Version 4.3.4(.1) changed i

[2021-03-27 07:06] keshav2904 commented on #14052
I encountered the same issue. I connected my mobile and set it to data transfer mode, then i add a torrent and set download location somewhere in the mobile's location and now when i try to add torrent it freezes. so i unpluged my mobile and it solves the issue. I think it was because i set remember last download location and it could not find or access the location but anyways when i removed the

[2021-03-27 07:06] aeular commented on #14610
Are you building qBittorrent or just libtorrent?  I guess I just didn't bother thinking to realize you probably are directly testing libtorrent.

Is there a way for me to find out on mac where it's currently trying to pull the trust store from I wonder.

And maybe just set it to use the same root trust that LIbreSSL that ships with mac uses, which appears to just be `/etc/ssl/cert.pem` and `/etc/s

[2021-03-27 07:11] arvidn commented on #14610
the openssl [docs](https://www.openssl.org/docs/man1.1.0/man3/SSL_CTX_set_default_verify_paths.html) says it will look at the `SSL_CERT_DIR` and `SSL_CERT_FILE` environment variables. You could try setting those in the environment you run qBT in. (You probably need to run it from the terminal for that)

[2021-03-27 07:16] sakkamade commented on #14632
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14607

[2021-03-27 07:20] sakkamade commented on #14631
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/13749

[2021-03-27 07:27] aeular commented on #14610
Just did a quick test and it is for sure a root trust issue.

`export SSL_CERT_FILE=/etc/ssl/cert.pem
export SSL_CERT_DIR=/etc/ssl/certs
open -a qBittorrent`

And then retest any of our test cases, and they work.

[2021-03-27 07:37] aeular commented on #14626
Do the trackers that are having issues perhaps use HTTPS, and the ones that work http? If so, could be #14610

[2021-03-27 08:05] KapilTapsi opened #14633 "Availibility is N/A for almost all the torrents"
**Please provide the following information**

### qBittorrent version and Operating System
Qbittorent 4.3.4.1 on windows 10 Pro 20H2

### What is the problem
Availibility is N/A for all the torrents except 2. All the torrents are previously downloaded and are being seeded with no speed or queue limits

### Steps to reproduce
Just seed some torrents

### Extra info(if any)
Please make availibility

[2021-03-27 08:49] FStars commented on #14610
I can confirm, that 4.3.4.1 works with my private trackers on both MacOS Big Sur and Catalina when turning Try turning off Validate HTTPs Tracker certificates from advanced settings page.

I have checked the certificate. It is valid and works nicely with Deluga and Transmission - latest versions.

[2021-03-27 08:57] FStars commented on #14626
Yes you are right. 4.3.4.1 has validation of tracker certificates turned on ny default. That's new.

Go to advanced settings page and turn off Validate HTTPs Tracker certificates. It solves the problem.

But something is buggy in that validation. I have checked the certificate and it is valid.

[2021-03-27 10:16] MushKPN commented on #13795
This annoying bug is still present in v4.3.4.1...

[2021-03-27 10:21] xavier2k6 commented on #14632
@alextutubalin Will be rectified in next release.

[2021-03-27 10:21] #14632 closed

[2021-03-27 10:34] FStars commented on #14610
I really don't understand why this is a bugfix? To me it means that a lot of users suddenly have a lot problems because og this change in a default setting - and it creates a lot of frustration, because no understands how to solve the problem.
BUGFIX: Validate HTTPS Tracker Certificate by default (an0n666)

[2021-03-27 10:49] mzso opened #14634 "Sorting file list via priority doesn't work, only after the user cycles through sorting."
### qBittorrent version and Operating System
4.3.4.1 Windows

### What is the problem
When I switch to a torrent while the sorting is set to be done by download priority, the order won't be what's supposed to be.
I don't know which order the files are sorted by but its not priority, nor is it by name. Even though the priority column is shown to be active.

### What is the expected behavior
The fil

[2021-03-27 11:42] Deepcuts commented on #14622
Will close this as it seems it must be something on my end.

[2021-03-27 11:42] #14622 closed

[2021-03-27 12:00] ross123540 commented on #14626
Same issue here, had to downgrade to 4.3.3 to get torrents working again.

[2021-03-27 12:43] arvidn commented on #14610
This is a ticket reporting a bug. There's no fix for this anywhere (at least not linked to this ticket).

In fact, to quote myself:

[2021-03-27 13:43] 6a opened #14635 "qbittorrent-nox - download via the magnet link generated by the search tool in the web-app not working"
### qBittorrent version and Operating System
qBittorrent v4.3.4.1 Web UI on Firefox 87.0 (qbittorrent-nox on Ubuntu 20.04.2 LTS)

### If on linux, libtorrent-rasterbar and Qt version
I don't know how to check, sorry

### What is the problem
* Magnet links are not working when downloading files found via the search tab (Right click > Download).
It looks like the magnet link is encoded (in url safe

[2021-03-27 13:46] Fubuchi commented on #14626
For me, revert to 4.3.3 didn't solve the issue, try to use aria2 and it work so it certainly a qbittorent's problem.

The tracker tab say status "Not contacted yet" for every Urls.

[2021-03-27 13:49] userdocs commented on #14626
@FranciscoPombal I think this is easy to reproduce.

4.3.4.1 + 1.2.12(13)  will start a torrent stalled and not download if the advanced setting to validate the tracker https is on.

It may start at some point but whatever check it is doing appears to lock up in certain scenarios and never start. (racing where the torrent starts at 0 seeds and 3 peers)

Disabling this option still starts the torre

[2021-03-27 13:49] userdocs commented on #14626
For example, with ubuntu.

![1](https://user-images.githubusercontent.com/16525024/112722766-40d05100-8f03-11eb-8e08-1cada7136777.jpg)

[2021-03-27 14:36] marjanur commented on #12731
Had the exact same issue. This simple solution worked for me, just do stop from systemctl and then start. Restart didn't work in my case.

[2021-03-27 14:42] aeular commented on #14610
@arvidn I'm not sure this needs be so complex as special cases.  Perhaps I'm vastly oversimplifying, but couldn't this be as simple as setting the `SSL_CERT_` pair in the LSEnvironment section of the Info.plist for the mac app qBittorrent?  Then the environment would be setup for openssl to find them on it's own and it all works.

[2021-03-27 15:04] MarkWieczorek opened #14636 "SOCKS5 proxy does not work (macOS)"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.4.1 (64-bit)
macos 11.2.3

### What is the problem
Using a SOCKS5 proxy with qbittorrent (macos) does not work.

qbittorrent works fine when not using a socks proxy. However, when enabling the socks proxy (using authentification mode), my torrents are all listed as stalled. I am certain that my socks5 p

[2021-03-27 15:13] arvidn commented on #14610
It could be even simpler by just adding the file `/etc/ssl/cert.pem` directly to the SSL context. I'm trying to understand where that file comes from though. Is that actually part of the OS and Apple's reponsibility?

[2021-03-27 15:18] aeular commented on #14610
I would suspect so, since it is the default used by openssl (aka LibreSSL) and curl on Big Sur that has had all of 2 apps total installed: qBittorrent and Transmission.

[2021-03-27 15:29] arvidn commented on #14610
transmission uses curl though.. but I suppose it wouldn't install things in `/etc/ssl/`

[2021-03-27 15:30] thalieht commented on #14633
https://libtorrent.org/reference-Torrent_Status.html#distributed_fraction

[2021-03-27 15:31] aeular commented on #14610
But I don't think transmission would change the default implementation of curl and openssl (LibreSSL) in terminal to use the `/etc/ssl` either

[2021-03-27 15:32] arvidn commented on #14610
this seems to work for me. Could someone else confirm? https://github.com/arvidn/libtorrent/pull/6094

[2021-03-27 15:56] KengaRU commented on #11015
At least, "Errored: The network path was not found" state.

I don't know what will happen with 'missing files' state, I only remove or move torrent files with qbittorrent "Delete" or "Set Location". Missing files seems should happen in case when NAS is available, but files were deleted, moved or renamed with 3rd party application (like file explorer). That's not the case.

But 'Errored: The Networ

[2021-03-27 16:53] thalieht commented on #14635
Same in 4.3.3

[2021-03-27 16:58] thalieht commented on #14634
Duplicate of #11835

[2021-03-27 16:58] #14634 closed

[2021-03-27 17:28] userdocs commented on #14626
@arvidn is this possibly a conflict with 1.2.13 as the mac version is built with libtorrent-rasterbar | 1.2.13+git34a979720b ansd i used RC_1_2 to build against 4.3.4.1

I am trying new builds to see of that is confirms my issue.

[2021-03-27 17:54] userdocs commented on #14610
I think this is a linux user problem to. does this help?

https://golang.org/src/crypto/x509/root_linux.go

[2021-03-27 18:40] Kolcha commented on #14611
closing this issue because changes were merged 2be30a50ef9e9ea8a80955c0d5e87c7505e6abd8 , but issue was not closed automatically despite on 'Closes' keyword...

[2021-03-27 18:40] #14611 closed

[2021-03-27 19:00] gbakeman opened #14638 "[Wishlist] More details for peers"
I think it would helpful in determining the health of a swarm, if qbittorrent displayed (or had the option to display) all known peers, connected or not, in the peer list of a torrent. It could display an exact reason that a connection failed or was closed, and allow us to manually attempt reconnecting.

[2021-03-27 19:17] arvidn commented on #14626
all libtorrent-1.2.x versions are supposed to be ABI compatible, so shouldn't be a problem. (the `RC_1_2` branch is the latest 1.2.x version)

[2021-03-27 19:58] arvidn commented on #14610
are you experiencing this problem on linux?
libtorrent asks OpenSSL to add the *default* path. So it should be a problem only if openssl doesn't know what the defaults are.
I would expect distros to patch openssl to know about its default path.

[2021-03-27 20:02] userdocs commented on #14610
The [stalling issue](https://github.com/qbittorrent/qBittorrent/issues/14626) and the tracker failure appear to  one and the same to me?

My trackers cannot be verified and so my trackers are "not working" so my torrent is stalled indefinitely.

It seems specific to the RC_1_2 branch and maybe the verification change in 4.3.4.1 is conflicting with RC_1_2 (1.2.13)?

I am on linux ubuntu/debina/alpi

[2021-03-27 20:05] arvidn commented on #14610
@userdocs it's also possible the trackers that are failing for you don't have valid certificates (self signed or not rooted in some trusted CA). To tell those cases apart, could you test setting the environment variable(s) like above?
[code]

(but to point to the path on your system)

[2021-03-27 20:06] userdocs commented on #14610
I'll try that and come back

[2021-03-27 21:13] userdocs commented on #14610
Ok so, using this service file

[code]

It works

![111](https://user-images.githubusercontent.com/16525024/112735000-303ecb80-8f41-11eb-9ea6-3fe282f632d9.jpg)

But if i don't use these env settings.

[code]

I get this instead

![222](https://user-images.githubusercontent.com/16525024/112735012-3f257e00-8f41-11eb-9937-ae75fa55aaf5.jpg)

[2021-03-27 22:10] Whysuchlovelyusernames opened #14640 "Sorting issue"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.4.1, Windows 10

### What is the problem
I have issue with how the sorting now works. I liked the old version where the descending order of "Completed on" would put the incomplete torrents on top and then sort the rest from the newest to the oldest. I had hoped that this meant it could work like that in

[2021-03-27 22:32] eurobank commented on #14433
Seems solved with this latest update.

[2021-03-27 22:32] #14433 closed

[2021-03-27 22:33] eurobank commented on #12759
Probably solved by now. I haven't seen that this week.

[2021-03-27 22:33] #12759 closed

[2021-03-27 22:34] eurobank commented on #13881
Still an issue with 4.3.4.1 Windows 10/64bit

[2021-03-27 22:37] userdocs commented on #14610
I think I found my particular problem. Since I compile openssl statically I did this:

https://github.com/openssl/openssl/blob/master/Configure#L41

Setting it to `--openssldir="/etc/ssl"`

This seems to not require the env variables.

[2021-03-27 22:58] sakkamade commented on #14640
Duplicate of #14607
The fix will be present in next version.

[2021-03-27 23:11] AdriaNnLa commented on #11100
This ^  - - it's so intuitive, that I've found myself attempting it several times, only to realize that I'm deleting torrents instead!
(and then lamenting the fact I can find no method to mass-remove trackers, but have to do so one-by-one).

This would be a very welcome enhancement.

[2021-03-27 23:42] thatsthewaytodoit opened #14641 "Qbit keeps disappearing???"
**Please provide the following information**

### qBittorrent version and Operating System
not sure it keeps uninstalling so i just download the newest version

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
everytime i go to  use it its gone, have downloaded it three times now so i can use it then next i know its not there anymore

### What is the expect

[2021-03-27 23:46] AndroidDeveloperLB opened #14642 "Request: add option to pause all downloads when reaching certain amount of free space on storage"
This is to avoid various issues that the OS has (and other apps) when there is very little space left, or no space left at all.

[2021-03-28 00:00] sakkamade commented on #14641
You on Windows, I presume?

It's Windows Defender issue, if so.
Read https://github.com/qbittorrent/qBittorrent/issues/14489

[2021-03-28 01:41] Florian124 opened #14643 "windows defender block Qbittorrent"
### qBittorrent version and Operating System
4.3.4.1 Windows 10

### What is the problem
windows defender detect Qbittorrent as PUA:Win32/QBitTorrent
process: pid:20404,ProcessStart:132613293521459178
file: C:\Program Files\qBittorrent\qbittorrent.exe
and block his execution

### What is the expected behavior
Blocked execution by windows defender (not starting)

### Steps to reproduce
trying to ru

[2021-03-28 01:48] sakkamade commented on #14643
Yes, it is.
Read #14489

[2021-03-28 03:02] yurivict opened #14644 "4.3.4.1 isn't on https://www.qbittorrent.org/download.php ?"
No information about fingerprints, etc.

I recall seeing the notice that 4.3.4 has web UI "accidentally broken". Can't find it any more. Is it fixed in 4.3.4.1?

[2021-03-28 03:38] KapilTapsi commented on #14633
Earlier it used to show "-1" but it doesn't show it now. I am closing this issue as you say it is not an issue.

[2021-03-28 03:38] #14633 closed

[2021-03-28 03:45] a-raccoon commented on #11100
Yeah, I've given up and decided that all torrents will just have to share all the same trackers.

[2021-03-28 03:49] sakkamade commented on #14644
You don't have to rummage much, it is still on [official web-site](https://www.qbittorrent.org/news.php), second line of release note.

Yes, it is.

[2021-03-28 06:21] mightyjoe781 commented on #14489
Started experiencing same problem with Windows 10 (Version 20H2) : Build 19042.867.
Windows Defender started flagging qBit PUA.

[2021-03-28 06:47] Kefrayba opened #14646 "Sorting torrent is not working properly after v4.3.4.1 update"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 x64 with Windows 10 20H2

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
I always sort my torrent with "Completed On" column (With the latest complete on top of the list).  Which will always put the torrent with zero or downloading progress bar up top.  But

[2021-03-28 06:49] sakkamade commented on #14646
Duplicate of #14607
Expected to be fixed in the following version.

[2021-03-28 07:53] SoylentGraham commented on #12759
@eurobank which version are you claiming it's fixed on?

On Sat, 27 Mar 2021 at 10:33 pm, eurobank ***@***.***> wrote:

--

- Graham Reeves
panopo.ly <https://www.panopo.ly/>

[2021-03-28 08:12] ccloli commented on #10408
@Madhorse1  I don't think your issue are related to this one, our torrents are completed, and can be rechecked with no file missing, but the torrent status is still "Missing Files" and saying "file size mismatch" on log.

If you're downloading the torrents from somewhere (not created by yourself), your issue might be because you only dowloaded the video file, and other files like image and nfo fil

[2021-03-28 08:30] k7aay commented on #14643
Also experienced.

[2021-03-28 08:37] eurobank commented on #12759
4.3.4.1

[2021-03-28 09:50] rafi-d commented on #14489
So, just exclude the file in Defender. Done...

[2021-03-28 10:05] kkirsche commented on #14506
It happens to support it through the libraries that it uses, but it's important to understand what you're asking.

The use of `+` as an encoding mechanism differs from the default and recommended way in the wiki. This is because the `+` is a legacy holdover. It is based on a very early version of the general URI percent-encoding rules, "with a number of modifications such as newline normalization

[2021-03-28 10:42] xavier2k6 commented on #14644
@sledgehammer999 Ping

[2021-03-28 10:43] xavier2k6 commented on #14643
Duplicate/Related to #14489

[2021-03-28 10:43] #14643 closed

[2021-03-28 10:44] xavier2k6 commented on #14641
Duplicate/Related to #14489

[2021-03-28 10:44] #14641 closed

[2021-03-28 10:47] xavier2k6 commented on #14640
Will be fixed in next release.

[2021-03-28 10:47] #14640 closed

[2021-03-28 10:47] xavier2k6 commented on #14646
Will be fixed in next release.

[2021-03-28 10:47] #14646 closed

[2021-03-28 10:52] xavier2k6 commented on #14629
@Felipefpl Any screenshots?

It's advisable as well to use `64-bit` version intsead of ``32-bit` on `64-bit` OS

[2021-03-28 10:59] AndrewPrzelucki commented on #14489
Did you install from FossHub or SourceForge? Could you please download from both sources and see if you get warnings? (I only got issues from FossHub - even a sever Trojan issue, while the SourceForge downloads never prompted any warnings for me.)

[2021-03-28 11:11] wefalltomorrow commented on #14489
Another report: https://www.reddit.com/r/Piracy/comments/meyf5o/is_qbittorrent_following_the_same_path_as/

[2021-03-28 11:13] NicoCaldo opened #14648 "Latest version (4.3.4.1) triggers Windows Defender"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 Windows 10 64bit Version 10.0.19042 Build 19042

### What is the problem
Windows Defender marks the .exe installer as (UPX)->(nsis-6-e)

### What is the expected behavior
Not trigger Windows Defender

### Steps to reproduce
Just download the .exe file from the official website and use just windows De

[2021-03-28 11:42] sledgehammer999 commented on #14644
Fixed. Due to the rush of the moment I had forgotten to push the local changes to the git repo for the website(https://github.com/qbittorrent/qBittorrent-website). I had updated the websute manually but then when the script autoupdated from the git repo it reinstated the old page.

[2021-03-28 11:44] sledgehammer999 commented on #14648
Duplicate of #14601

[2021-03-28 11:44] #14648 closed

[2021-03-28 11:49] #14644 closed

[2021-03-28 11:51] xavier2k6 commented on #14631
@liuqian1996 Do you have more than one dispaly?

[2021-03-28 11:51] Zazazasu opened #14649 "Network activity stops when Windows 10 goes to standby"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 Windows 10 Education x64

### What is the problem
When the screen is closed or power button is pressed to set the laptop to modern standby/sleep, torrents cease activity after a short period.

### What is the expected behavior
Torrents continue seeding/downloading and if inactive, can start seeding/d

[2021-03-28 12:20] sledgehammer999 commented on #14489
I did a change on how the installer is being build. Can you guys test the following 2 installers?
The first one is build like the official one. If the first one doesn't give you any Windows Defender Warning, then there is no point in running the 2nd one.
The second one is build without UPX'ing the installer header. Report if it gives you warnings when run! (if the 1st one doesn't give a warning, t

[2021-03-28 12:42] sarim commented on #14489
Got this today, defender never caused any problem with either qbittorrent software or installer before.

![Screenshot 2021-03-28 18 29 28](https://user-images.githubusercontent.com/1235888/112752472-1068df80-8ff5-11eb-9e12-3c571ab75f9a.png)

Check the path, It detected the installed version.

I'm running Windows 10 Pro 20H2 19042.867. qbt v4.3.4.1

[2021-03-28 12:46] phothiphach1991 commented on #14489
I have encountered the same problem but only to the latest builds, i.e. 4.3.4.1. I've tried download earlier builds, installed them and didn't meet any warnings from Windows Defender.

Even with these builds, I still got the warnings from Windows Defender. Strange, huh?

[2021-03-28 13:00] shanedk commented on #14489
Got hit with it this morning from Defender on Win10 Home: PUA:Win32/QBitTorrent

I hadn't updated qBittorrent, but Microsoft pushed down an update for Defender's "intelligence" files so I'm guessing it was in that update. They must be expanding the range of machines they're blocking it for, not just Enterprise users.

[2021-03-28 13:04] AndrewPrzelucki commented on #14489
@sledgehammer999 I downloaded the two installers from the links your provided: no issues, no warnings.

[2021-03-28 13:18] shanedk commented on #14489
According to VirusTotal, even the new installer is detected by Microsoft. It's also flagged by McAfee and Rising. https://www.virustotal.com/gui/file/eeab8c4fed27d035d871faaf59ba73d574dfca1fc502f9f6302018e6d04b699f/detection

[2021-03-28 13:35] UtopiaOpera commented on #14489
I just encountered this issue.

FIX
Windows Security > Virus & Threat Protection > Allowed Threats > Protection History > and select allow for the qBit file.

[2021-03-28 13:36] glassez commented on #11015
Seems it behaves differently if network storage is disconnected when qBittorrent startup unlike disconnected external storage. @arvidn, can you clarify?

[2021-03-28 13:42] sledgehammer999 commented on #14489
They don't give extra info about why we are PUA. eg that we contain malware or we do other nefarious jobs while appearing good (like a trojan). Utorrent seems to have similar problems. Utorrent also has signed installers/binaries. So the problem doesn't lie there.
Probably Microsoft somehow decided that bittorrent programs (as a category) are malware. I can't give any other explanation at this poi

[2021-03-28 13:46] silajim commented on #13674
I compiled the program with VS2019 along with it's dependencies (well vcpkg did libtorrent) in order to memory profile. I took a snapshot with all the torrents stopped, started seeding all torrents for 5 minutes and stopped them again and took another
memory snapshot. This is the result. seems that libtorrent might be to blame.
![image](https://user-images.githubusercontent.com/5138529/112754053-a

[2021-03-28 13:53] AndrewPrzelucki commented on #14489
True. Thanks for taking the time to think about this. The PUA warning didn't scare me that much - I ignored it. BUT the server Trojan information did scare me. And I only got that from the FossHub download.... So just reminding that the SourceForge downloads didn't trigger any warnings, not even minor PUA. And I get any warnings right after downloading with Chrome; Chrome will then also put a warn

[2021-03-28 14:00] dytch2220 opened #14651 "qBittorrent Uninstalled Itself Overnight"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1_x64, Windows 10 Ver 20H2 (OS Build 19042.867)

### If on linux, libtorrent-rasterbar and Qt version
N/A

### What is the problem
While my PC was locked and unattended overnight, the application uninstalled itself but left application data behind.

### What is the expected behavior
I was expecting the

[2021-03-28 14:02] sledgehammer999 commented on #14489
This. And also perform a hash check and compare it against the official sha256 hash published on the site.

[2021-03-28 14:12] rcharbon commented on #14489
Y'all,
I still have the 4.3.4 file that triggered the alert, and it no longer triggers Defender after the latest pattern update. Dead horse, beaten.

[2021-03-28 14:16] sledgehammer999 commented on #14489
@rcharbon did it trigger a PUA warning or some other thing?

[2021-03-28 14:16] sledgehammer999 commented on #14489
@rcharbon also did you remember to delete the qbt exception in Defender (if you had made such a thing)

[2021-03-28 14:17] rcharbon commented on #14489
"No longer triggers" means just that.

[2021-03-28 14:18] sledgehammer999 commented on #14489
I mean: What was the trigger before the update.

[2021-03-28 14:23] rcharbon commented on #14489
Keep beating that horse!

[2021-03-28 14:32] an0n666 commented on #14651
Maybe Windows defender deleted qBit.

[2021-03-28 14:38] sledgehammer999 commented on #14489
@rcharbon you're not being helpful.

[2021-03-28 14:41] Felipefpl commented on #14629
xavier2k6 - why screenshots? they wont make a difference and the description describes everything that is happening perfectly. Also, i didnt see any msg in the site saying that 32 bit cant be used on 64 bit.

[2021-03-28 14:49] sledgehammer999 commented on #14259
@telepati can you run the following test build. It includes libtorrent with debug info. Hopefully after the crash it will contain the names of the libtorrent functions.
PS: I also edited your crash report.

Test build: http://builds.shiki.hu/temp/qbittorrent-4.3.4.1_no_strip_for_issue_14259.dmg

[2021-03-28 14:51] dytch2220 commented on #14651
I have Norton 360 which overrides Win Defender.  This was my first thought but I didn't find any evidence of the software being quarantined by Norton.

[2021-03-28 15:02] egoroof commented on #14489
Got the same issue just now with 4.3.4.1 (screenshot on russian windows)
![1](https://user-images.githubusercontent.com/2605831/112756783-f1784680-9010-11eb-9766-930b4ac62636.png)

Also got this link as description but nothing useful https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?name=PUA%3aWin32%2fQBitTorrent&threatid=292801

[2021-03-28 15:06] 97997 commented on #14489
What a time to be alive... Can't wait to see the day when they decide that anything p2p is malware

[2021-03-28 15:17] k7aay commented on #14489
Also occurs on 20H2 w/ 4.3.3.1 dl'd from FOSS Hub w/ same PUA message. Reinstalled 4.3.3 and monitoring, no error in past 12 hrs.

[2021-03-28 15:35] MohanadAbotaleb commented on #14651
I'm pretty much having the same issue. It was uninstalled so I reinstalled it but it deleted itself again

[2021-03-28 15:37] telepati commented on #14259
Here is the new crash report;

[code]

[2021-03-28 15:40] sledgehammer999 commented on #14259
Damn it. It still doesn't have the function names.

[2021-03-28 17:09] jetsk1com commented on #14651
Today, Windows Defender (Windows Security) saw qBittorentit as a threat and blocked it form running on both of my PCs. I white-listed it and am fine.

[2021-03-28 17:10] vjancik opened #14653 ""Completed on" incorrect ordering"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.4.1 on Windows 10

### What is the problem
When ordering torrents by "Completed on", torrents that are still downloading are at the top of the ordering in **Ascending** order.

### What is the expected behavior
Torrents that are still downloading should be at the top of the ordering in in **Descending**

[2021-03-28 17:22] thalieht commented on #14653
Duplicate of #14607

[2021-03-28 17:22] #14653 closed

[2021-03-28 17:47] glassez commented on #14642
Different torrent can be stored to different storages. How do you intend to handle this case?

[2021-03-28 17:48] AdKiller opened #14654 "[Wishlist] Alternative connections limits"
Much like Alternative Rate Limits for Upload & Download speeds, I would like to suggest adding alternative connections limits for **global maximum number of connections**.

Use case:
when you are doing an important video conference on a limited connection and want to temporarily limit everything in qBittorrent and quickly get back to normal without closing it completely and re-opening.

[2021-03-28 17:48] Vagmer commented on #14649
Unless I'm quite crucially misguided, this is completely normal and expected, so it is surprising that you would expect anything different.
When a PC is in standby mode (sometimes called sleep mode), it is basically paused and as inactive as possible in order to save the most power while still preserving its current state (mainly, of memory, meaning that RAM and as such are not powered down) as we

[2021-03-28 18:01] AndroidDeveloperLB commented on #14642
@glassez You mean in different partitions?
So each one would be paused based on the partition it exists on, and you could either set a global setting for all, or one per each (with a global one being the default in case it wasn't mentioned)

[2021-03-28 18:06] Vagmer commented on #14572
Sounds like it may make sense to, at minimum, to add free space checks on the target location before any kind of moving. And check for sufficient space in relation to the total amount of torrents being moved or [about to be] queued to be moved to the same target location.
And yes, possibly add an option to cancel/reverse an ongoing `Moving` status torrent. AFAIK there is no way to, so it is obviou

[2021-03-28 18:18] MuTLY commented on #14489
I've just downloaded 4.3.4 x64 from Fosshub. Found no issues with it. It's running with no errors and Defender didn't find anything on either installer or running app.

By the way, Defender was updated to the latest definitions before reinstalling QB 4.3.4 from scratch, that is: I've completely uninstalled QB, including configuration files - didn't bother with scanning the Registry or folders, tho

[2021-03-28 20:11] Seest512 commented on #14626
MacOSx Catalina 10.15.6
Qbittorrent 4.3.3

All activity, uploading and downloading is stalled. Tried upgrading to 4.3.4.1 no fix. Reverted back to 4.3.3 no fix. Validate Tracker https is not selected.

I am new to this and am not a coder, but would like assistance in getting qbittorrent back working again

[2021-03-28 20:38] TheArgentinian commented on #14489
I had 4.3.4.1 installed for a week now and just got the WD notification.

[2021-03-28 20:39] multiduplikator commented on #14160
@oogetyboogety For the granularity of the default graph screenshot:

You can do "All trackers" or each tracker that you have communicated with.

The time frames are:
- Per Year, here the X-Axis granularity then is set to months of the year
- Per Month, where the X-Axis granularity is set to days of the moths
- Per Day, where the X-Axis granularity is set to hours of the day.

That graph has a some

[2021-03-28 21:18] finqq commented on #14642
I agree, preventing a disk-full situation should be a standard feature.

A single global setting would be good, whether as GB or MB or % free. Then, if any disk that is being actively written to by qBt has too little space on it, qBt would pause any torrent writing to that disk, with a helpful status text like "Paused Low Space".

Also, qBt should keep monitoring that disk, and if space is freed u

[2021-03-28 21:35] AndroidDeveloperLB commented on #14642
@finqq Yes this could work.
If you really want a lot of control, you could set it per partition.

[2021-03-28 21:37] zilcro commented on #14489
I noticed it was interfering with other legit apps as well, so I just disabled PUA Protection in Windows 10: [https://www.tenforums.com/tutorials/32236-enable-disable-microsoft-defender-pua-protection-windows-10-a.html#:~:text=1%20Open%20Windows%20Security%2C%20and,the%20App%20%26%20browser%20control%20icon.&text=A)%20If%20you%20turned%20on,off%20Potentially%20unwanted%20app%20blocking.](url) If t

[2021-03-28 21:37] AnthonyBe commented on #14489
I just ran into this for the first time. My only reason for commenting is the more comprehensive set of files and registry settings that Windows Defender removed on my machine that I haven't seen others post:
![ApplicationFrameHost_2021-03-29_08-19-44](https://user-images.githubusercontent.com/17214552/112768441-ddabff00-9067-11eb-8f3d-975b12a9c493.jpg)

[code]

I'm running Windows 10 Pro 20H2 (19

[2021-03-28 21:46] finqq opened #14655 "Shortcut keys in dialog boxes"
### qBittorrent version and Operating System
v4.3.3 on Win10

It would be great to have shortcut keys in dialog boxes, especially for Add Torrent. On Windows these shortcuts are identified by the underlined letters in the control names, like on the qBt main menu bar.

So for example, there are a number of checkboxes on the Add Torrent dialog that you frequently need to toggle, like Start Torrent,

[2021-03-28 22:53] ouraios commented on #14566
Indeed, its fixed !

[2021-03-28 22:53] #14566 closed

[2021-03-28 23:39] oogetyboogety commented on #10001
+1 on gentoo with 4.3
# qbittorrent-nox

******** Information ********
To control qBittorrent, access the Web UI at http://localhost:8080
The Web UI administrator username is: admin
The Web UI administrator password is still the default one: adminadmin
This is a security risk, please consider changing your password from program preferences.
assertion failed. Please file a bugreport at https://gith

[2021-03-29 00:54] Zazazasu commented on #14649
Most of my overnight or unattended torrenting is done on android, so I've only experienced cases where the program will prevent sleep through wakelocks, even when the power button is pressed to enter sleep mode.

I wasn't referring to hibernation, the names come from Microsoft for the S0/S3 sleep power modes. I included both just in case it made a difference to the problem, but it didn't turn out

[2021-03-29 02:14] Mart-Bogdan commented on #12606
I'm still getting error from #13019
And workaround from comments don't help.

Commenting here as it is liked issue and comments are disabled in #13019

[2021-03-29 02:24] Mart-Bogdan commented on #12606
I had to change port number to random one.
But uPNP still didn't worked, despite in logs it wrote:
[code]

adding this port to router settings helped

[2021-03-29 02:28] delize commented on #14443
Just following up, on v4.3.4.1 this seems to be working great and gets around any potential lag issues that existed while on 4.3.4.

Closing this as it appears to be fixed unless anyone would like to keep this open (feel free to reopen / or ask me to reopen).

[2021-03-29 02:28] #14443 closed

[2021-03-29 04:50] #13908 closed

[2021-03-29 05:23] vinivosh commented on #14489
Just got this too, started today. Jesus christ, Microsoft. Pathetic.

[2021-03-29 07:35] csavard-sudo commented on #14651
Same thing happened to me, I did like jeysk1com and whitelisted it.

[2021-03-29 08:11] 91rl opened #14656 "Tags Assigning in Download Dialogue (Feature Request)"
**Please provide the following information**

Feature Request

Add tags drop down box to download dialogue so tags can be assigned in the download dialogue instead of manually finding the torrent after adding it to do so.

[2021-03-29 09:19] MokraCota opened #14658 "Visible mark torrents with failing trackers"
Please consider marking torrents with tracker issues.
Status "Stalled", doesn't say anything to me, when I need to re-download the torrent or the tracker is offline.
And it's not even noticeable, because it looks normal.

uTorrent marks these torrents with RED color.

[2021-03-29 11:28] mightyjoe781 commented on #14489
More on the previous comment, I didn't install qBit yesterday. I have been using it for more than a year now. It was never flagged until yesterday. Looks more like the issue on Windows Defender Side.

[2021-03-29 11:39] AnthonyBe commented on #14489
It is definitely a Windows Defender 'issue' rather than qBittorrent.

[2021-03-29 12:48] bamper45 opened #14659 "Defender has detected a virus."
**Please provide the following information**
Windows Defender
### qBittorrent version and Operating System
(type here)
4.3.4.1, Windows 10
### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
(type here)
Virus?
### What is the expected behavior
(type here)

### Steps to reproduce
(type here)
When opening a program, the defender reports an unwanted program. In t

[2021-03-29 13:28] dchersey commented on #13154
This also occurs on a Mac running BigSur and openVpn (tunnelblick).   If I bind bittorrent to say, utun4 which is not available when my vpn is disconnected, and then start my vpn which connects uTun4 then the downloads do not start.
I need to quit Bittorrent and restart it.
This has been the case for at least a year now ... versions of openVpn, tunnelblick, qBittorrent or MacOs do not change it.

[2021-03-29 13:55] kattjevfel commented on #14659
Duplicate of #14489

[2021-03-29 14:01] #14659 closed

[2021-03-29 14:07] thalieht commented on #14658
Duplicate of #9849. See PR #12697

[2021-03-29 14:07] #14658 closed

[2021-03-29 14:17] AGlezB opened #14661 "Drag n' Drop to tag and categorize"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 x64 on Win 10 Pro

### What is the problem
As of current version the way to tag or categorize torrents is to use the context menu.

### Steps to reproduce

1. Select torrents
2. Right-click
3. Click on `Category` or `Tags`
4. Click on desired category or tag

If tagging you'll need to repeat this for

[2021-03-29 14:22] AGlezB opened #14662 "Remove unused categories should request confirmation"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 x64 on Win 10 Pro

### What is the problem
You can loose your configured categories (and save paths) if you click `Remove unused categories` by mistake.

### What is the expected behavior
Request confirmation before removing categories.

### Steps to reproduce

1. Right-click a category.
2. Click `Re

[2021-03-29 15:15] zippydan opened #14663 "Crashing immediately after adding torrent to queue (macOS)"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent 4.3.4.1 and macOS Big Sur 11.2.3

### If on linux, libtorrent-rasterbar and Qt version
n/a

### What is the problem
When adding a torrent (via magnet link - have not tried any other way), qBittorrent will frequently crash immediately after clicking "OK" to add the torrent to the queue.  I keep re

[2021-03-29 15:29] thalieht commented on #14656
Duplicate of #14462

[2021-03-29 15:29] #14656 closed

[2021-03-29 16:03] xavier2k6 commented on #14663
@sledgehammer999 ping (since you have access to macOS)

[2021-03-29 16:38] pnumio opened #14664 "Allow network connection....."
### qBittorrent version and Operating System
v4.3.4.1 Mac Big Sur 11.2.3 (20D91)

### What is the problem
Every single time I open the app I get the Allow network connection message. Have tried running the code from another post, but getting some other error now. Pic attached.

![Screenshot 2021-03-29 at 17 35 29](https://user-images.githubusercontent.com/46832119/112869521-2a69f700-90b5-11eb-83d0

[2021-03-29 16:43] thalieht commented on #14664
Duplicate of #3885

[2021-03-29 16:49] jeffiles commented on #14489
I did it and now it's working again
![image](https://user-images.githubusercontent.com/33323311/112870797-f088f880-9094-11eb-9083-10b530387980.png)

[2021-03-29 17:21] thomasjmiller opened #14665 "SIGABRT"
**Please provide the following information**

### qBittorrent version and Operating System
qbit 4.3.4.1, OS WIN10 v 2009

### What is the problem
crash

### What is the expected behavior
no crash

### Steps to reproduce
just running, seems to randomly crash

### Extra info(if any)
image attached, unfortunately i dont have anything under item `#7` as this window too has crashed
![image](https://use

[2021-03-29 17:27] Fubuchi commented on #14626
@Seest512 In the meantime, you can try to revert to version 4.3.0.1

[2021-03-29 17:53] xavier2k6 commented on #14665
Not much to go on here until we get a "full stack trace"

[2021-03-29 17:55] thomasjmiller commented on #14665
Alright, I'd love to provide that. But since the program crashes, and takes the "crash info" window with it, where can I go to get you these details?

[2021-03-29 17:57] xavier2k6 commented on #14665
@glassez Perhaps, for situations like this - we could condense the "Top Part" of report......alot of wasted whitespace which would perhaps allow more useful details to be shown??

[2021-03-29 18:01] thomasjmiller commented on #14665
@xavier2k6 agree with this. 4 or 5 lines of white space could probably be removed. Also, could probably condense much of the system information into 1 or 2 continuous lines which would provide more space.

[2021-03-29 18:02] trumpeta opened #14666 "Global Speed Limits are not obeyed"
**Please provide the following information**

### qBittorrent version and Operating System
qB = 4.3.4.1
OS = Win8.1/x64

### What is the problem
If I cap maximum UL/DL speed in the main options or by clicking the statusbar, I can clearly see that the speed on running torrents is highly exceeding the limits. The speed becomes visibly limited only after I set the caps per torrent options.

### What

[2021-03-29 18:02] thomasjmiller commented on #14665
Is this information not written out to a log file somewhere though?

[2021-03-29 18:03] userdocs commented on #14626
It has been fixed in libtorrent and released in 1.2.13 - https://github.com/arvidn/libtorrent/releases/tag/v1.2.13

They just need to rebuild the mac release?

[2021-03-29 18:27] thalieht commented on #14666
Duplicate of #13950

[2021-03-29 18:27] #14666 closed

[2021-03-29 19:06] Kenaestic opened #14667 "Changing download priority of all files when sorted by descending doesn't work."
**Please provide the following information**

### qBittorrent version and Operating System
**qBittorrent:** v4.3.4.1, **Windows:** 10 20H2, **OS build:** 19042.870.

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
If you click on a downloading torrent and open the content tab, changing the download priority of **ALL FILES** doesn't work when it's sorted by

[2021-03-29 21:08] silajim commented on #13674
Soooo. I must apologize it ended up being an Acronis driver, in particular file_protector.sys. But it only seemed that Qbit triggered some sort of bug into that driver, found the issue using poolmon from the wdk.

[2021-03-29 21:08] #13674 closed

[2021-03-29 21:15] xavier2k6 commented on #13674
@silajim Good to hear you resolved your issue, some of us on the team here do have debuggers attached to qBittorrent on a regular basis & I myself actually attach a program called `deleaker` & although there have been a few memory leak issues in the past......the source(s) have been found & plugged....lol

[2021-03-29 21:24] Vagmer commented on #14649
You're welcome. Yeah, 'sleep' is handled differently on Android than standby on Windows, even though both are sometimes referred to as "sleep". I can see confusion coming from that.  It is quite different in premise as in Android this state is transparent to the user and AFAIK is never triggered instantly on command (only after idle time), and also even during it the device periodically "wakes up"

[2021-03-30 00:15] liuqian1996 commented on #14631
@xavier2k6 1920 X 1080, same small
![image](https://user-images.githubusercontent.com/11707934/112914819-840f0780-912f-11eb-8859-e7280ec4a53b.png)

[2021-03-30 01:37] #14649 closed

[2021-03-30 03:19] glassez commented on #13674
Perhaps others just don't use memory mapped files.

[2021-03-30 03:37] ineuw opened #14669 "Even ID: 1016 errors"
**Please provide the following information**

### qBittorrent version and Operating System
Windows 10 Pro 2004 OS build 19041.867

### What is the problem
The copy downloaded from Sourceforge won't start and generates Event ID 1016. I am the admin of this single user desktop and I should not have to modify the registry or the policies to use qbitorrent.

### What is the expected behavior
Start nor

[2021-03-30 08:52] FranciscoPombal commented on #14626
This was erroneously marked as "Can't reproduce" previously; I did not test on macOS as I don't have a mac. This is indeed a confirmed bug that was fixed in libtorrent 1.2.13. @sledgehammer999 please consider releasing yet another hotfix release rebuilt with libtorrent 1.2.13: https://github.com/arvidn/libtorrent/releases/tag/v1.2.13. If not, this will be fixed in the next release anyway, or affec

[2021-03-30 08:52] #14626 closed

[2021-03-30 09:04] txtsd commented on #14178
I'm not experiencing this anymore in 4.3.4.1

[2021-03-30 09:04] txtsd commented on #13496
I'm not experiencing this anymore in 4.3.4.1

[2021-03-30 09:26] txtsd commented on #14178
It actually started happening again.

[2021-03-30 09:26] txtsd commented on #13496
It actually started happening again.

[2021-03-30 11:09] phothiphach1991 commented on #14489
Just wanna update you guys a bit.

I tried downloading build 4.3.4.1 and installed it today. And the Windows Defender warnings didn't pop up.

So I think you guys might wanna check again.

OS: Windows 10 20H2 build 19042.870
Intelligence Update: 1.333.1600.0

[2021-03-30 12:23] l29ah opened #14670 ""qBittorrent needs to be restarted!" statusbar notification should restart qbittorrent on double-click"
### qBittorrent version and Operating System
4.3.4.1, Gentoo GNU/Linux

### If on linux, libtorrent-rasterbar and Qt version
5.15.2

[2021-03-30 13:58] athelas64 commented on #14489
For me, it lets me download and install. But then it silently removes the program, without any notification or warning.

[2021-03-30 14:04] vangeliis opened #14671 "Sorting newest/oldest is broken in v4.3.4.1"
**Please provide the following information**

### qBittorrent version and Operating System
v.4.3.4.1 Win10/macOS Big Sur

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
When Options-->BitTorrent-->Torrent Queueing is enabled (checked) the sorting column # incorrectly sorts the torrents alphabetically and not by newest/oldest as in previous versions.

###

[2021-03-30 15:46] LiaNdrY opened #14672 "Loss of download speed when running out of free space on your HDD/SSD"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4.1 x64 or below,
Windows 10 20H2 (19042.868) or below

 10.0.19042

### What is the problem
If suddenly while downloading a torrent you run out of space on your hard disk, the download speed drops to 0. After the space appears on the hard disk, or restarting the qBittorent program, forcible

[2021-03-30 15:58] PriitUring commented on #14671
Duplicate of #14607

[2021-03-30 16:19] vangeliis commented on #14671
oops, missed that one, many thanks.

[2021-03-30 17:44] xnoreq commented on #14635
This is still broken as the magnet links are now encoded multiple times but decoded only once.

[2021-03-30 17:48] xnoreq commented on #14635
https://github.com/qbittorrent/qBittorrent/blame/5beb1b2cd06e5655ad921052b05c9201ba42a7a2/src/webui/www/private/scripts/mocha-init.js#L123

Why does this call another encodeURIComponent again?
The commit message says "Avoid decoding strings repeatedly" but actually adds a bunch of decode calls??

[2021-03-30 18:19] aayush-ag commented on #14636
Same issue here. Tested on windows linux and docker.
Please add those labels.

[2021-03-30 18:36] rayun56 opened #14674 "qbittorrent-nox unable to launch (Segmentation fault)"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent-nox 4.3.4.1
OS: Raspbian/Debian Linux 5.10.17-v7+

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar 2.0.3
QMake version 3.1
Qt version 5.12.10

### What is the problem
qbittorrent-nox crashes when trying to launch

### What is the expected behavior
That qbittorrent-nox wi

[2021-03-30 22:15] FranciscoPombal commented on #14665
@thomasjmiller

When the crash info window first comes into focus, you might still be able to use Ctrl+A to select, followed by Ctrl+C to copy all of its contents to the clipboard before it crashes/closes/becomes completely unresponsive. Then you can paste them here inside a codeblock.

[2021-03-30 22:41] thomasjmiller commented on #14665
@FranciscoPombal yeah, I've tried that but I never get to it when it first comes up and so it's fully frozen by the time I get to it. Thanks for the help though

[2021-03-30 22:46] #14664 closed

[2021-03-30 22:48] #14671 closed

[2021-03-31 02:30] Tyestor opened #14675 "Ridiculous Memory Usage - Only One Torrent (qbittorrent-nox 4.3.4.1)"
**Please provide the following information**

### qBittorrent version and Operating System
qB: qBittorrent-nox 4.3.4.1
host: Proxmox 6.3-6
LXC: Ubuntu 20.04

### If on linux, libtorrent-rasterbar and Qt version

OpenSSL: 1.1.1f

I don't know how to find the other information.

### What is the problem
Almost 2GB of memory used for a single torrent.

### What is the expected behavior
I expect to not

[2021-03-31 02:53] Tyestor commented on #14675
I just had to increase the memory again:

![image](https://user-images.githubusercontent.com/4704145/113083773-26a6b380-9220-11eb-963b-9fcb725eea3e.png)

[2021-03-31 03:16] #14635 closed

[2021-03-31 07:23] minhngoc25a commented on #14651
Would any of the contributors contact Microsoft on this? I tried to put feedback on the Feedback Hub, but they never answered, and you cannot easily contact Microsoft anyway.

[2021-03-31 09:27] abcfy2 opened #14677 "4.3.4.1 crashed by double free or corruption (!prev)"
**Please provide the following information**

### qBittorrent version and Operating System
qbittorrent version: 4.3.4.1
OS: Manjaro 21.0

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar version: 1.2.13
Qt version: 5.15.2

### What is the problem

Crashed by `double free or corruption (!prev)`

### Steps to reproduce

[code]

[2021-03-31 14:29] eurobank opened #14678 "SSD Writes and Qbit"
**Please provide the following information**

### qBittorrent version and Operating System

Windows 10pro/64

### What is the problem

All download paths are located in a mechanical drive but Qbit seems to write all the time to System SSD disk. That runis my SSD slowly. I have also disabled OS cache and Disc cache, no luck with it.

### What is the expected behavior

Qbit should not write continio

[2021-03-31 14:36] an0n666 commented on #14651
It'll be of no use. They did this on purpose.

[2021-03-31 14:41] joshace-q opened #14679 "Minor error when SELECTING which files to download in a torrent collection in Windows version 4.3.4.1 - if you choose to skip some files within a torrent collection, you will have a nightmare in dealing with that torrent if you later choose to ADD the files you skipped. I was forced to delete the torrent (not the files) and open the torrent as being new and doing a re-check. Also, if you initially choose to skip / not select parts of a torrent, the torrent is listed as being the size of only the selected parts"
**Please provide the following information**

### qBittorrent version and Operating System
(type here)

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
(type here)

### What is the expected behavior
(type here)

### Steps to reproduce
(type here)

### Extra info(if any)
(type here)

[2021-03-31 15:06] xavier2k6 commented on #14679
@joshace-q Please fill out the issue template properly & make the issue title a brief description of your issue, In it's current form is unacceptable/invalid

I will leave it open to be corrected....

[2021-03-31 15:11] xavier2k6 commented on #14678
@eurobank

I would suggest re-enable `OS Cache`
Set `Disk Cache` to `Auto`
Change `Disk Cache` Expiry Interval to `300s`/`600s`

(I'm sure there was an issue opened in libtorrent tracker prev. for something like this......open to correction/haven't time to look)

[2021-03-31 15:13] xavier2k6 commented on #14669
@ineuw Can you show a screenshot of event viewer showing qBittorrent associated with that Event ID?

Is windows defender installed/active & possibly blocking qBittorrent??

[2021-03-31 15:21] xavier2k6 commented on #14635
Fix will be in next release.

[2021-03-31 16:02] Mr-Personality opened #14680 "No torrents download any more"
Please can someone help me here?

I've used qBittorrent for years with no problem, but over the last few months all my torrents have been slowing right down, and over the last few weeks there has been NO activity on any of the torrents.

At first I just assumed there just wasn't much seeding going on, but I recently tried downloading Ubuntu (which is heavily seeded) and it's stuck on 0%, no activi

[2021-03-31 16:21] thalieht commented on #14678
Assuming you could be talking about writing config and stats data, you can use portable mode to move the config files to your HDD https://github.com/qbittorrent/qBittorrent/wiki/How-to-use-portable-mode. Despite what the wiki says for windows you can adjust the qBt shortcut by adding `--profile="new/path/to/config/files"`

[2021-03-31 16:53] flying-sausages commented on #14679
👀

[2021-03-31 16:55] #14678 closed

[2021-03-31 17:45] sharunkumar opened #14681 ""Save as .torrent file" should remember the previously selected folder"
**Please provide the following information**

### qBittorrent version and Operating System
v4/3/4/1

### What is the problem
When choosing to open a folder to save the .torrent file generated via magnet link, it defaults to the user directory (windows) and the user has to browse a download folder each time/

### What is the expected behavior
Would rather have it default to the "downloads" location

[2021-03-31 18:16] joshace-q commented on #14679
qBittorrent version and Operating System
version 4.3.4.1 on Windows 10 64-bit

What is the problem
When specifying which files to skip in a torrent that contains multiple files, it works fine.. UNLESS you later decide to add those
files to the download.  Then the torrent size is wrong, and it messes everything up - and the torrent never completes.

What is the expected behavior
I expected it to ad

[2021-03-31 18:23] joshace-q commented on #14679
qBittorrent version and Operating System
version 4.3.4.1 on Windows 10 64-bit

What is the problem
When specifying which files to skip in a torrent that contains multiple files, it works fine.. UNLESS you later decide to add those
files to the download.  Then the torrent size is wrong, and it messes everything up - and the torrent never completes.

What is the expected behavior
I expected it to ad

[2021-03-31 18:25] joshace-q opened #14682 "Problem with selection only some of the files in a torrent."
### qBittorrent version and Operating System
version 4.3.4.1 on Windows 10 64-bit (10.0.1xxxx)

### What is the problem
When specifying which files to skip in a torrent that contains multiple files, it works fine.. UNLESS you later decide to add those
files to the download.  Then the torrent size is wrong, and it messes everything up - and the torrent never completes.

### What is the expected beh

[2021-03-31 18:33] radry opened #14683 "v4.3.4 new sorting logic breaks sorting by "completed on""
### qBittorrent version and Operating System
v4.3.4.1 Windows 10 x64

### What is the problem
Since the new sorting logic introduced in v4.3.4, when sorting descending by "completed on", incomplete torrents are put last.
I tried combining the sorting with several other attributes like "progress", "#", status,... but the behaviour cannot be changed to the previous one regardless which columns or or

[2021-03-31 19:13] oleghristov opened #14684 "v4.3.4.1 installer wont close when clicking Finish"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.4.1
Windows 10 20H2 build 870

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
v4.3.4.1 installer wont close when clicking Finish

### What is the expected behavior
Clicking Finish will close the installer window

### Steps to reproduce
Download and install v4.3

[2021-03-31 22:16] Felipefpl commented on #14629
xavier2k6 - i see, that's a pity, i hope some dev will find the cause of this. :/

[2021-03-31 22:17] yanisallouch commented on #10790
I had this isssue with qbittorent for many updates and a popular vpn on Windows 10 2004 and pior.

out of curiosity i ve gone through my settings again in my vpn clients and everythings is ok.

So i ve checked qbittorent and i figured that the one that i framed in red in the screenshot is faulty :
![image](https://user-images.githubusercontent.com/75087263/113218203-69e43f00-927f-11eb-8de9-1b860cb

[2021-03-31 23:10] ineuw commented on #14669
Thanks for your response. I checked Windows Defender before posting the issue. It was never blocked. The problem was more serious and I had to fresh installed Windows 10 v20H2. This resolved the issue.

[2021-03-31 23:10] #14669 closed

[2021-04-01 02:55] ArcticGems commented on #14629
This happend to me also, but on qBit **4.3.3**.

Don't know how to reproduce it. 😞

[2021-04-01 03:05] Tyestor commented on #14675
When I restart the LXC the memory usage is back to what I would expect, and the single torrent is still seeding correctly.

![image](https://user-images.githubusercontent.com/4704145/113237805-dd6f6600-92ea-11eb-89a1-974b68cd9ffd.png)

[2021-04-01 04:59] Chocobo1 commented on #14683
Duplicate of #14607.

[2021-04-01 04:59] #14683 closed

[2021-04-01 05:02] Chocobo1 commented on #14607
Here is something for testing: https://github.com/qbittorrent/qBittorrent/actions/runs/688521229
Scroll down and download "qBittorrent-CI_Windows-x64".
To provide feedback, please file a new issue.

[2021-04-01 05:05] Chocobo1 commented on #14683
https://github.com/qbittorrent/qBittorrent/issues/14607#issuecomment-811639198

[2021-04-01 05:05] Chocobo1 commented on #14632
https://github.com/qbittorrent/qBittorrent/issues/14607#issuecomment-811639198

[2021-04-01 05:06] Chocobo1 commented on #14640
https://github.com/qbittorrent/qBittorrent/issues/14607#issuecomment-811639198

[2021-04-01 05:06] Chocobo1 commented on #14646
https://github.com/qbittorrent/qBittorrent/issues/14607#issuecomment-811639198

[2021-04-01 05:47] nrdxp commented on #11515
These are configurable when sending links to qbittorrent via the [API](https://qbittorrent-api.readthedocs.io/en/latest/). I use a link shortcut in qutebrowser to enable every torrent to download sequentially when added.

[2021-04-01 05:52] nrdxp opened #14687 "last-to-first sequential downloads"
I haven't looked at the internals here, but would it be simple enough to reverse the "download in sequential order" by starting from the back and working toward the beginning of the file?

[2021-04-01 05:59] TheBestPessimist commented on #14687
I'm curious why would someone want this?

[2021-04-01 06:11] nrdxp commented on #14687
Well I just ran into a situation where a media file was corrupted and didn't include the ending. I found myself having to redownload from a different source and realized it'd be nice to download the last part, as that's all I had missed. Fairly niche, but I figured if it'd be simple enough, why not.

[2021-04-01 06:27] ArcticGems commented on #14681
👍

Maybe also add a checkbox option to 'add torrent dialog' a qBit options so that users can choose what they want.

[2021-04-01 06:55] arvidn commented on #14259
perhaps there is a `libtorrent-rasterbar.10.dylib` installed on the system that gets picked up in preference to the version shipped in the app. That would explain both the crash and the missing symbols.

[2021-04-01 07:07] Seeker2 commented on #11515
qBitTorrent has defaulted to downloading sequentially for some time now if it's downloading a torrent and connected to 10+ seeds.

[2021-04-01 14:08] http403 opened #14689 "Independent RSS feeds refresh timer for each folder"
### qBittorrent version and Operating System
Windows 10 + QB 4.2.1

### What is the problem
I have some quite old RSS feeds that don't update as frequent as the new feeds. Fetching it as frequent as those more active feeds cause waste of resources. It will be nice to lower the number of requests and spread it out in different time to lower both my network and the server load. What I imagine is eac

[2021-04-01 14:12] xavier2k6 commented on #14689
latest is **4.3.4.1** - please update to that....

[2021-04-01 14:22] http403 commented on #14689
Yes. I have noticed. However, as a wish list item, version should not be the most relevant things to consider. Also, I read through change log at every release and no new feature attracts me to update currently. They have bug fixes, but I don't find issues at downloading with 4.2.1, so I'm lazy to do.