[2015-10-15 09:02] akkadaya opened #3945 "Interface isnt working on ubuntu"
when I start qbittorrent minimized, I cant open the interface when pressing on show.
I have to edit the config file and start qbittorrent as usual not minimized then I can minimized it and open the interface normally.

[2015-10-15 09:20] relativity1 commented on #3945
I second that.I have Trust Tahr 14.04. Clicking on "SHOW" does not open the front-end. Clicking on "Add Torrent Link" or "Set Global ... Limits" opens their modal window prompts. Qt broken? I don't see any dependencies that is broken or required in Synaptic.

[2015-10-15 11:45] k4n30 commented on #453
+1

[2015-10-15 11:46] k4n30 commented on #3939
Having the same issue since updating to latest commit 41c953de46f930073bc86df6db075c7acf11ebed

[2015-10-15 15:27] radry opened #3946 "Incomplete (active) torrents change list position randomly while sorted by "completed on""
When downloading several torrents and sorting by "completed on", all torrents without an entry in that column (=all incomplete torrents) constantly and randomly change position while they are downloading.
In previous versions the list stayed fixed.

1.Add several torrents and start downloading
2.Sort by "completed on"
3.Observe constant list position change

qbittorrent version: 3.2.4
OS: Win 10 x

[2015-10-15 15:37] bean-drew commented on #2126
Presently on 3.2.4 and the problem remains.  Once minimized to dock, the window will not re-open by: clicking or ctrl-clicking and selecting open.

Furthermore, upon ctrl-click and selecting "show all" I can restore the window - only now the window is a blank box - the title bar is present with only a grey face below and no visible content.  Thereafter, ctrl-click and selecting "show" restores the

[2015-10-15 17:06] evsh opened #3947 "GCC fails to compile qBT with -O0"
I want to compile the project without optimizations but GCC 5.2.0 and 4.9.3 say:
[code]
This is where an object is appended to MainWindow::unauthenticated_trackers.
Frankly speaking, I'm puzzled too. The problem is QPair, which does not support move semantic and thus QPair<bla-bla *const, bla-bla> can not be a member of a container, as far as I understand? But the real question is what does this m

[2015-10-15 18:26] cookoofish commented on #3939
Can confirm the issue.

[2015-10-15 19:38] relativity1 commented on #3945
So I pulled 3.3 beta source from git repo, compiled and installed. Same as above - no frontend. Qt 4 and 5 libraries are installed per Synaptic. I had no problem with ./configure or make.

[2015-10-15 20:10] netswap opened #3948 "License - unnecessary lines?"
Win7 Home Premium SP1 x64
qBittorrent v3.2.4 (affects all versions I guess)

I noticed it for some time already, but didn't open a new issue...
Some content in the 'License' tab seem not to belong there, as it gives instructions on how you can apply the licenses on your own program...
![license what](https://cloud.githubusercontent.com/assets/12501266/10526131/3b0e1d56-7389-11e5-9149-b770f7d1185b.

[2015-10-15 23:42] Prodeguerriero opened #3950 "Re-adding a previously completed torrent leads to recheck issues related to "incomplete" folder"
Hi. I have this setup:
Download folder is d:\qBittorrent
Incomplete folder is d:\qBittorrent\incomplete

I was having issues with the .unwanted folder and some files being stuck there, so I deleted the torrent from the list and added it again, so that I could then do a quick recheck and be done. The problem is that even though the torrent is safely stored in d:\qBittorrent, the forced recheck look

[2015-10-16 07:00] glassez commented on #3947
@evsh, don't panic! It's just a small bug (I say "small" because it occurs only with some settings of some compilers). Fixed in #3951.

[2015-10-16 07:06] glassez commented on #3947
```ptr = otherptr;``` What other semantics you want? The problem was wrong using of **const** pointer here.

[2015-10-16 09:55] #3947 closed

[2015-10-16 12:52] cpscooter opened #3952 "Crash report 151016"
qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-16 19:34] powerunlimited commented on #3939
same issue here

[2015-10-16 20:54] JackJackers opened #3954 "qBittorrent v3.2.4"
When launching often freeze and not answering now gave me crash

[2015-10-16 23:13] TheNain38 commented on #945
I will try to implement it for 3.3.0, and also for `.torrent` files with mime type `application/x-bittorrent` you can also register a handler, so if a `.torrent` file is send with correct mime type by the web server it could work too using https://html.spec.whatwg.org/multipage/webappapis.html#custom-handlers

to register `magnet:` and `.torrent` files using the mime type `application/x-bittorrent

[2015-10-17 00:41] hackwrench opened #3955 "Condition where the downloading torrent doesn't show up in list."
I'm downloading one file in a torrent with many files and folders into a folder with other things in it. I've done partial downloads before with no problem. I think the file is in the top level of the directory system of the torrent. The destination folder has compression enabled. When I repeatedly check on the compressed size of the file, it's getting bigger confirming that it is in fact being do

[2015-10-17 14:18] glassez commented on #3948
IIRC, this is part of GNU GPL.

[2015-10-17 14:46] sledgehammer999 commented on #3955
The name is q**Bit**torrent

Please post a screenshot showing the problem. And I hope you're using v3.2.4.

[2015-10-17 14:57] sledgehammer999 commented on #3945
Try building the qt5 version of git master `./configure --with-qt5` and be sure to have installed the `qtbase5-dev` package.

[2015-10-17 15:00] txtsd commented on #3926
It works now. Thanks!

[2015-10-17 15:11] sledgehammer999 commented on #3939
Confirmed. Maybe @ngosang or @glassez can take a look into it.

[2015-10-17 15:22] sledgehammer999 commented on #2673
This was fixed by #3879 and a similar issue by https://github.com/qbittorrent/qBittorrent/commit/d60f2fc7dffbef33d052f2b7a0e3d2141a8ed8eb

[2015-10-17 15:22] #2673 closed

[2015-10-17 15:26] sledgehammer999 commented on #3937
Does it crash v3.2.4 every time you load it?

[2015-10-17 15:33] sledgehammer999 commented on #3663
@jackietreehorn if you still have the problematic torrent please email it to me: `sledgehammer999 (at) qbittorrent (dot) org`
Put a descriptive email title so I don't miss it.

[2015-10-17 15:46] sledgehammer999 commented on #3937
If it crashes, please email it to me.

[2015-10-17 17:44] Nemo-qB commented on #3937
I have sended it to sledgehammer999@qbittorrent.org, its the correct one I hope. If it isn't I will send it again.

[2015-10-17 22:44] jackietreehorn commented on #3663
@sledgehammer999 The problematic torrent is available at the following URL: https://1337x.to/torrent/534133/Repo-Man-Criterion-Collection-1984-1080p-BDRip-H264-AAC-KiNGDOM/

[2015-10-17 23:06] sledgehammer999 commented on #3663
@jackietreehorn does it happen with v3.2.4? After how much time? Which tab/button have you enabled from the bottom of the window during the crash? Does the tab matter or does it crash with other tabs too?

[2015-10-17 23:09] relativity1 commented on #3945
Thank you. I re-cloned your Git repo today and recompiled with ./configure --with-qt5. I had to remove the existing qt4-make and other qt4 stuff since it was interfering with the build & linking (make was referencing qt4 until I removed it with Synaptic).

Anyhoo, looks like 3.3 will be awesome with more integrated user interface than before. One request from me is to integrate the same VPN.ht tha

[2015-10-18 00:09] op6sie opened #3957 "qBittorrent version: v2.9.8"
qBittorrent version: v2.9.8
stack trace:
  /lib/arm-linux-gnueabihf/libc.so.6 : __default_sa_restorer_v2()+0  [0x76531b20]
Segmentatiefout

Raspberry debian.

second crash :
qBittorrent version: v2.9.8
stack trace:
  /lib/arm-linux-gnueabihf/libc.so.6 : __default_sa_restorer_v2()+0  [0x764dab20]
  /lib/arm-linux-gnueabihf/libc.so.6 : gsignal()+0x40  [0x764d98dc]
Afgebroken

maybe it helps.

[2015-10-18 06:32] txtsd opened #3958 "3.3.0 qBittorrent.desktop isn't installed"
I couldn't find the file on my system after rebuilding 3.3.0 earlier this week.

[2015-10-18 10:25] emack1 opened #3959 "Can't Download Anything"
I think that the cable company is interfering or allowing interference with my down loading.

[2015-10-18 12:59] ngosang commented on #3939
@glassez this issue is caused by your PR #3685. See the changes in `src/webui/prefjson.cpp`.

Btw, I'm not sure if this problem is caused by the same PR but now when I press the Apply button in the Options dialog (In the Qt GUI) I see this message in the console `QVariant::save: unable to save type 283.`

[2015-10-18 13:04] evsh commented on #3947
Thank you for fixing it!
I'm just saying obvious thing, @glassez, that a regular class give better control over a resource, than a pointer. I understand of, course, that Qt 's style is pervasive to a great extent, and I think I understand why did you choose the current implementation. But, AFAICS, a regular class instead of pointer would make it possible to formulate things like that unauthenticat

[2015-10-18 13:11] ngosang commented on #3959
Then this is not related to qBittorrent. Ask in the forum and close this issue. http://forum.qbittorrent.org/

[2015-10-18 13:13] ngosang commented on #3957
This version is too old, please update to a more recent version and close this issue.

[2015-10-18 13:28] ngosang commented on #3937
@sledgehammer999 seems duplicate of #3663.

[2015-10-18 13:36] Nemo-qB commented on #3937
Forgot to add after reading the issue that ngosang posted; I think that the general tab is causing the crash. When the torrent is selected and choosing general it crashes, but when it stays on a different tab it doesn't crash. I can try it again if needed to see if it happens.

[2015-10-18 13:37] ngosang commented on #945
@TheNain38 could you open a new PR with the changes?

[2015-10-18 13:37] glassez commented on #3939
@ngosang can you test it with #3933?

[2015-10-18 13:51] TheNain38 commented on #945
@ngosang I didn't finish the code

[2015-10-18 13:53] TheNain38 commented on #3939
@glassez The `QVariant::save: unable to save type 283` is gone with your PR #3933

[2015-10-18 13:54] ngosang commented on #3812
@evsh I tested it and works well but we are wasting a lot of space. There are some suggestions in the following image:
1) Put the number of results in the tab name: instead of "search text" show "search text (300 results) in the tab name.
2) Put the search status inline with the filters.
3) Try to reduce the horizontal space replacing the word "unlimited" with "min" and "max" as in the image.
![](

[2015-10-18 13:55] ngosang commented on #3954
we need more details about what you were doing and the crash log if possible.

[2015-10-18 13:56] ngosang commented on #945
We can wait :smile:

[2015-10-18 14:04] h-2 commented on #2139
@sledgehammer999 I would really like to track this down, is there anything I can do to help fix or diagnose this issue more precisely?
Thank you!

[2015-10-18 14:19] ngosang commented on #3943
I don't know if this problem was fixed in #3071, the code is included in v3.3.0. You can test the beta and see if the problem is fixed.

[2015-10-18 14:23] orgkhnargh commented on #2834
Hi, everyone.

I see a lot of complains about [the hurt of prioritizing](http://wiki.vuze.com/w/Sequential_downloading_is_bad). Just wanted to note here that it's natural that some files in torrent is more valuable/desirable than others, and those files will be distributed to the number of peers faster. Prioritizing pieces inside single torrent is not more harmful than prioritizing torrents inside

[2015-10-18 14:47] ngosang commented on #3928
@Chocobo1

[2015-10-18 15:05] ngosang commented on #3939
I can't test it now. I'm living in other city and this laptop have few resources.

[2015-10-18 15:25] glassez commented on #3939
Ok, I'll test it myself when I have some time.

[2015-10-18 15:29] sledgehammer999 commented on #3937
Very odd.

I am going to retest my build with your torrent in a clean Win XP VM and see what happens.

[2015-10-18 15:56] sledgehammer999 commented on #3937
No crash on Windows XP and 7...
But since you're telling me it crashes in the "General" tab, I'll focus on that code and check if something weird is being done.
But first let me close a bunch of duplicate crash reports to clean the bug tracker.

[2015-10-18 16:25] sledgehammer999 commented on #3887
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:25] #3887 closed

[2015-10-18 16:26] sledgehammer999 commented on #3901
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:26] #3901 closed

[2015-10-18 16:27] sledgehammer999 commented on #3665
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:27] #3665 closed

[2015-10-18 16:28] sledgehammer999 commented on #3866
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:28] #3866 closed

[2015-10-18 16:28] sledgehammer999 commented on #3674
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:28] #3674 closed

[2015-10-18 16:29] sledgehammer999 commented on #3804
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:29] #3804 closed

[2015-10-18 16:29] sledgehammer999 commented on #3299
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:29] #3299 closed

[2015-10-18 16:29] sledgehammer999 commented on #3663
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:29] #3663 closed

[2015-10-18 16:30] sledgehammer999 commented on #3400
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:30] #3400 closed

[2015-10-18 16:31] sledgehammer999 commented on #3336
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:31] #3336 closed

[2015-10-18 16:31] sledgehammer999 commented on #3281
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:31] #3281 closed

[2015-10-18 16:32] sledgehammer999 commented on #3252
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:32] #3252 closed

[2015-10-18 16:32] sledgehammer999 commented on #3017
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:32] #3017 closed

[2015-10-18 16:33] sledgehammer999 commented on #3628
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:33] #3628 closed

[2015-10-18 16:33] sledgehammer999 commented on #3924
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:33] #3924 closed

[2015-10-18 16:33] sledgehammer999 commented on #3589
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:33] #3589 closed

[2015-10-18 16:34] sledgehammer999 commented on #3673
Thanks for the report. Closing in favor of #3937 which has a bit more info. You can subscribe to that bug report to receive updates on any progress if you want.

[2015-10-18 16:34] #3673 closed

[2015-10-18 16:42] op6sie commented on #3957
Where van i find an raspberry pi Debian version?
Op 18 okt. 2015 3:13 PM schreef "Diego de las Heras" <
notifications@github.com>:

[2015-10-18 16:47] Nemo-qB commented on #3937
Thanks sledge, thats weird indeed. If there is something that I can test or do let me know.

[2015-10-18 17:05] chrishirst commented on #3873
It only needs the addition of one line.(and a <tab>) after line 152 (in 3.3.0 source)

Source file: src/gui/transferlistdelegate.cpp

(ln: 152)      opt.displayAlignment = Qt::AlignRight | Qt::AlignVCenter;
      if (speed > 0) // this leaves the value empty if it is 0 ... this is the line to add
     <tab>QItemDelegate::drawDisplay(painter, opt, opt.rect, Utils::Misc::friendlyUnit(speed, true));

[2015-10-18 17:50] chrishirst commented on #2834
Setting file priorities and sequential downloading are not one and the same. In a multi-file payload the files are sorted in size order (largest first), so when a torrent client user sets 'priorities' it is probably not  going to start with piece 0 then piece 1 and so on, as 'sequential downloading does.

[2015-10-18 17:56] chrishirst commented on #3955
https://qbforums.shiki.hu/index.php/topic,3645.0.html

[2015-10-18 18:00] chrishirst commented on #3928
That's up to the creator of the torrent to put the text in the comments as a hyperlink instead of plain text.

[2015-10-18 18:01] chrishirst commented on #3958
OS?

[2015-10-18 18:04] chrishirst commented on #3931
That's because the keyboard delete operates on the task list not the properties pane.

[2015-10-18 18:30] hackwrench commented on #3955
When I experienced the bug, nothing appeared in any of the columns, just that various places in the application that showed upload and download bits per second were changing and the compressed size of the file indicated it was getting larger. I've got some ideas on replicating the bug that I'll get around to eventually.

[2015-10-18 18:30] sledgehammer999 commented on #3957
We don't provide builds for Raspbian. You could use another distro on it which has a more recent version. Or you could try building it yourself: https://github.com/qbittorrent/qBittorrent/wiki/Compiling-qBittorrent-on-Debian-and-Ubuntu

[2015-10-18 18:30] #3957 closed

[2015-10-18 18:31] sledgehammer999 commented on #3959
This isn't a bug. For troubleshooting use the forum.

[2015-10-18 18:31] #3959 closed

[2015-10-18 18:33] sledgehammer999 commented on #3937
1. Go [here](https://msdn.microsoft.com/en-us/windows/hardware/hh852365). Scroll down to "Standalone Debugging Tools for Windows (WinDbg)". Select "Get the standalone debugging tools (WinDbg) as part of Windows 8.1 SDK". It is a "downloading" setup. Choose to install Windbg. If it lets you install 32bits.
3. Open Windbg (the 32 bits variant)
4. File->Symbol File Path... and then input `srv*c:\mss*

[2015-10-18 18:33] sledgehammer999 commented on #3531
Closing due to inactivity.

[2015-10-18 18:33] #3531 closed

[2015-10-18 19:08] iyx commented on #3928
It is clickable in "General" tab, but not in the other menu, for the same torrent.

![Clickable](http://s30.postimg.org/rb60llthd/2015_10_18_210204.png)
![Unclickable](http://s30.postimg.org/v64tafn9d/2015_10_18_210053.png)

[2015-10-18 19:40] op6sie commented on #3957
Thank you.

2015-10-18 20:30 GMT+02:00 sledgehammer999 <notifications@github.com>:

[2015-10-18 19:50] txtsd commented on #3958
Archlinux

[2015-10-18 19:56] sledgehammer999 commented on #3957
Or you could install Raspbian Jessie which derives from Debian Jessie(current stable) and which has qBittorrent v3.1.10
Link: https://www.raspberrypi.org/downloads/raspbian/

[2015-10-18 20:10] #3921 closed

[2015-10-18 20:19] sledgehammer999 commented on #3939
@glassez your #3933 doesn't fix this. Also Firefox's web console shows this:

Request header
[code]

Response Header:
[code]

But response doesn't have any data.

[2015-10-18 20:24] Nemo-qB commented on #3937
Its a huge list.

http://pastebin.com/fYYACLff

[2015-10-18 20:31] sledgehammer999 commented on #3937
This is something that supposedly @Chocobo1 fixed with #3939
@Chocobo1 any idea here from the backtraces?

[2015-10-18 22:36] sledgehammer999 commented on #3958
Try the with current master again. I hope you didn't forget `make install`...

[2015-10-19 03:12] Chocobo1 commented on #3937
Yep, looks like it's fixed.
To be sure, @sledgehammer999 (or @Nemo-qB) could you manually patch v3_2_x branch with e95fce3084d5d52b6535cc7a8b7dd6883ffcdabd and retest it?

BTW, @sledgehammer999, should the patch be backported into v3_2_x (and also d60f2fc7dffbef33d052f2b7a0e3d2141a8ed8eb)?

[2015-10-19 04:00] Chocobo1 commented on #3928
PR  #3961.

[2015-10-19 04:06] rahlzel opened #3962 "[Freezing | v3.2.4 | Easily reproducible] Freeze/hang when handling thousands of files / extra large torrents"
qBittorrent 3.2.4
Windows 7 64bit

The program hangs indefinitely if the "Contents" section is used to de-select a folder with more than a thousand or so files. I assume because it then needs to deselect all of those files inside the folder:

![image](http://i.imgur.com/gIJ4izp.png)

This seems to be similar to several other issues: #3542 and #3477

To reproduce:
1. Begin download the following to

[2015-10-19 04:15] jncrl opened #3963 "crash report"
qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-19 05:01] sledgehammer999 commented on #3937
@Chocobo1 the patch is already included in v3.2.4 which @Nemo-qB uses. This is why the backtrace is weird.

[2015-10-19 05:08] txtsd commented on #3958
Of course I didn't. Not sure what went wrong. It exists now. Thanks.

[2015-10-19 05:08] #3958 closed

[2015-10-19 08:07] dogancelik commented on #465
I wish to see a portable version some day. Application should look for a configuration file in root folder first. If `portable=1` exists then portable mode is activated.

[2015-10-19 12:16] glassez commented on #3939
@sledgehammer999 I was not able to confirm this issue.
(Tested with latest qBittorrent **master** + libtorrent-1.0.6 + Qt-5.5-x64)

...but I've found another issue. There is no actual values on WebUI settings tab although all corresponding values present in the response.

[2015-10-19 12:30] ifmihai opened #3964 "delete torrent + "also delete files on hard disk""
This issue is mostly about videos (and archives sometimes)

Videos
I use VLC to see videos, and when it comes to subtitles, i use its plugin => the subtitle is downloaded inside the torrent's folder.

When I hit delete torrent + "also delete files on hard disk" => the folder will not be erased completely, because of the subtitle.

It's probably because of design? I don't know, but I would certainl

[2015-10-19 13:37] Blapple opened #3965 "Upload speed keeps getting reduced to >100kb/s"
I used to have decent uploading speed when I was still running 3.2.3 on Win 10 (I downgraded a month ago to Windows 7 and copied the %AppData% folder) but when I updated to 3.2.4 (on Windows 7) I noticed that all of my uploads are going at >100kb/s.
I also noticed that a some torrents keeps randomly getting a increase in speed, which slows down to below 100 within 10 seconds.

I also tried out 3.2

[2015-10-19 14:28] Chocobo1 commented on #3937
No idea so far, could you help Nemo-qB dump the values from the variables `piece_colors` & `pieces2_val` when the crash occurs?

[2015-10-19 14:59] fynxer opened #3966 "Crashing, mostly after last torrent finished downloading"
qBittorrent version: v3.2.3
Libtorrent version: 1.0.6.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-19 15:09] netswap commented on #3948
If so, then nevermind. It just was a little fishy to me, as I don't know of any license telling others in a program how to apply it on their programs.

[2015-10-19 15:13] Chocobo1 commented on #3937
The problem might be at line132:
[code]
[code]

[2015-10-19 16:35] sledgehammer999 commented on #3939
This is a qt4 problem. qt5 works for me too and the values are filled in. (qt 5.4.1 32bits). However, web console after /query/preferences shows this an error:
[code]

I don't know if it is related.

[2015-10-19 18:17] glassez commented on #3939
Ok. I fixed it. The problem is JSON related classes doesn't recognize all QVariant types.

[2015-10-19 19:09] chrishirst commented on #3827
Will that policy be extended to M$ Windows XP as well??

And I would happily run Mint 17 ... IF it supported the hardware that 16 does. After several days of trying to get Mint 17 stable on several different sets of hardware and failing with them all,  I am of the opinion they should change the pet name of it to Vista, and it's fortunate that is is supported until 2019, because it will probably ta

[2015-10-19 19:26] Nemo-qB commented on #3962
Confirmed.

[2015-10-19 19:36] chrishirst commented on #3964
#3842

[2015-10-19 20:15] #3939 closed

[2015-10-19 20:52] SamuelWN commented on #3950
I had the same issue. I resolved it by temporarily disabling the "Keep Incomplete Torrents in" option.

It seems that the "Force Recheck" command only checks the "Incomplete Downloads" folder, and not the final download location.

[2015-10-19 22:24] Grenaid commented on #3783
Seeing this as well.  I can add that I was sorting by "last activity."

Often I could fix this in the past by narrowing the list somehow (choosing to filter by a label or show only a certain tracker.)  Today even that did not work.

[2015-10-20 03:38] PHPDev-CA opened #3968 "Chokes on large multipart torrents"
I downloaded a sizable torrent, 284.6GB with 7,741 files & 647 folders (somehow it's 349GB on disc?).  Anyway, qbittorrent is choking on this in a major way.  Partly, whenever I had to interact with the torrent to change priority to download certain things faster it would struggle to make that change.  The interface would hang for several seconds as if it were looping through every file to make a

[2015-10-20 03:49] PHPDev-CA commented on #3968
Looking into the 349GB on disc I found that qbittorrent is colliding torrents instead of creating unique folders.  A 284.6GB file is now intermixed with a 64.2GB file that happened to have the same name on the main folder which contains everything else in the respective torrents.  Those 7,741 files & 647 folders is a combination of both torrents together.

[2015-10-20 05:43] fadedreamz opened #3969 "qBittorrent keeps crashing on startup (continuously)"
qBittorrent keeps crashing whenever I try to open it. Was downloading a torrent and suddenly crashed, after that it is constantly crashing at startup.

v-3.1.8
Ubuntu - 14.04
Kernel - (3.13.0-65-generic)

gdb trace -

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffc3684700 (LWP 3772)]
0x00007ffff560cb18 in std::string::assign(std::string const&) ()
   from /usr/lib

[2015-10-20 08:13] Adebeer opened #3970 "Cant install qbittorrent 3.2.4 because installer process name is qbittorrent"
Can't install qbittorrent on Windows 10 as it detects qbittorrent is already running - problem is qbittorrent is not running - however the setup application in task manager is also qbittorrent...hence it seems that the installer is detecting itself as a running instance of qbittorrent. I got around the problem in 3.2.3 by renaming the setup executable, however didn't work in 3.2.4.

[2015-10-20 10:09] sledgehammer999 commented on #3969
You are using a very old version.
Update to latest from our PPA: https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-stable

[2015-10-20 10:09] #3969 closed

[2015-10-20 10:12] sledgehammer999 commented on #3965
You probably mean <100
At the bottom of the window, in the statusbar, it shows the cumulative upload speed. How much is that after individual torrents drop below 100 KB/s ?
What is your line's upload bandwidth?

[2015-10-20 13:07] Prodeguerriero commented on #3950
Well, it would make sense for it to look in the final destination folder first, wouldn't it?

[2015-10-20 15:54] sledgehammer999 commented on #3477
This is fixed in the upcoming v3.3.0. The solution cannot be backported to the v3.2.x series due to serious architectural differences.

[2015-10-20 15:54] #3477 closed

[2015-10-20 15:54] sledgehammer999 commented on #3962
This is fixed in the upcoming v3.3.0. The solution cannot be backported to the v3.2.x series due to serious architectural differences.

[2015-10-20 15:54] #3962 closed

[2015-10-20 15:55] sledgehammer999 commented on #3962
You can download the latest nightlies from http://www.fosshub.com/qBittorrent.html
(better wait till update the nightly today/tomorrow)

[2015-10-20 15:59] sledgehammer999 commented on #3968
The UI slowness is fixed in the upcoming v3.3.0 series. It cannot be backported to v3.2.x because of serious architectural differences. You can download nightlies from: http://www.fosshub.com/qBittorrent.html
(wait till I update the nightly today/tomorrow with a new build)

The "missing files" status might be due to some irrelevant error. Check the log for errors pertaining to that torrent (view -

[2015-10-20 16:02] sledgehammer999 commented on #3970
The downloaded installer file should have the name `qbittorrent_3.2.4_setup.exe`. If not you downloaded it from some unofficial resource.

Nevertheless, follow these steps:
1. Make sure the installer has the above name
2. Exit qbittorrent and make sure it disappears from the list in the "Processes" tab of Task Manager
3. After that launch the installer

Does it work?

[2015-10-20 16:03] sledgehammer999 commented on #3966
Update to v3.2.4 and it the crash keeps happening, comment here and I'll reopen the bug.

[2015-10-20 16:03] #3966 closed

[2015-10-20 16:04] sledgehammer999 commented on #3955
Till you get more info, I am closing this, since it is impossible on my part to resolve this as it is now.
When you leave a new comment I'll reopen this.

[2015-10-20 16:04] #3955 closed

[2015-10-20 16:21] Blapple commented on #3965
Right, I did mean <, I was never really good with the < and >.
As for the cumulative upload speed, it seems to represent the speeds correctly, but I haven't really paid a lot of attention to it.
For my upload bandwidth: http://www.speedtest.net/my-result/4761608445

[2015-10-20 16:42] sledgehammer999 commented on #3965
95 Mb/s -> 11.87 MB/s upload rate
Does the cumulative speed reach anywhere near there?

What I am trying to say is that your torrent pretty much share the same speed, so if you many of them seeding your per-torrent upload rate will go down, but your total upload rate should remain relatively the same. Does this happen?

[2015-10-20 16:49] Blapple commented on #3965
Ah, yeah that seems to be the case.
When I paused around 100 torrents my speed did increase a bit.
I also tried altering some settings in the Connection Limits but that didn't seem to help.

[2015-10-20 16:49] thetrompf commented on #453
+1

[2015-10-20 16:52] #3965 closed

[2015-10-20 20:31] sledgehammer999 commented on #3937
@Nemo-qB can you download this patched build and do the same steps? Don't forget to replace both the .exe and the .pdb file.

I also want you to create a minidump file and email it to me. (sledgehammer999 (at) qbittorrent (dot) org)
To create the minidump file, after you issue the above commands issue also:
`.dump /m <path_to_min.dump`
(notice there is a dot before the "dump" command. Also the fil

[2015-10-20 20:34] sledgehammer999 commented on #3937
I also applied the following patch:
[code]

[2015-10-20 20:57] h-2 commented on #3744
On Desktop it was broken due to dom storage being disabled. Mobile is not crucial for me, so I am closing.

[2015-10-20 20:57] #3744 closed

[2015-10-21 01:31] PHPDev-CA commented on #3968
I checked the logs, "File sizes mismatch for torrent *******, pausing it."  The file sizes seem to be correct as the rechecks find every time so why would it be continually erroring out?

As to the collision issue would it not make more sense to do something like place the data in unique folders like /Downloads/$Torrent_Name + $Torrent_Hash/ {torrent's folder structure here} to prevent collisions?

[2015-10-21 09:22] #2432 closed

[2015-10-21 10:47] Nemo-qB commented on #3937
It still crashes exactly the same way mate. I got a new log from the debugging tools:

http://pastebin.com/zi7hvUVa

But I can't seem to get the dump file. And error is shown:

0:000> .dump /m <random_path>\mini.dump
Unable to create file '<random_path>\mini.dump' - Win32 error 0n123
    "De syntaxis van de bestandsnaam, mapnaam of volumenaam is onjuist."
0:000> dump /m <random_path>\mini.dump
Cou

[2015-10-21 11:23] sledgehammer999 commented on #3937
Give it a path like this `.dump /m F:\mini.dump`

[2015-10-21 11:38] Nemo-qB commented on #3937
Of course.. Dumb from me lol. I got the dump file which is 90kB in size. Shall I send it through mail?

[2015-10-21 18:13] mtakala commented on #3033
Issue manifested also in 3.2.4 after a similar run time. I haven't had the time to test beta versions.

[2015-10-21 20:36] AdKiller commented on #3486
In my case nothing was damaged or changed at all (no file edit, no drive letter change, no virus, ...). but still qBittorent keeps loosing the 100% status... while this never happens in uTorrent with the exact same setup.

[2015-10-21 23:14] yurikoles commented on #3970
@sledgehammer999
This is very poor decision to check by executable name.

[2015-10-21 23:26] yurikoles commented on #3130
Why do you think this is issue? Can you provide an example of client with different handling of folders?

[2015-10-22 01:25] Adebeer commented on #3970
Hi

Unfortunately it doesn't work - I made sure qbittorrent doesn't run in task manager. When I run the installer, the installer is the only qbittorrent process running - and unfortunately the installer seems to detect itself as being qbittorrent.

Kind Regards

Adriaan

Sent from my Windows Phone

-----Original Message-----
From: "sledgehammer999" <notifications@github.com>
Sent: ‎21/‎10/‎2015 2:

[2015-10-22 04:17] naikel opened #3973 "[wishlist / patch] Cookies support when downloading torrents from URL in the WebUI"
This is a feature most popular bittorrent clients have.  The idea is to have a field in the WebUI download torrent window where you can set the cookies, download path and label.

The thing is I already did it but I had to change some things in the WebUI mostly to make the browsers autocompletion work to avoid copy/pasting the same cookie all the time.

It's pretty long to explain here so I put it

[2015-10-22 04:57] Gliktch commented on #929
Well, it's been over two years now guys.  Anyone yet had a crack at enabling the download of metadata to bypass the queue?

Clearly, this is possible since it manages to happen when the dialog is open (even if the 'downloading' queue is full), and the torrent does not then start downloading while you have the 'Add' dialog open, SOOO obviously the desired behaviour is already there, we would just l

[2015-10-22 05:15] Gliktch commented on #3842
Recycle bin has limits.  On many computers it may be 30GB or even less.  There are plenty of people with more than 30GB in their Documents, Desktop or Videos folders, your suggestion would still cause unacceptable loss of data in some cases.

Another suggestion would be to right-click a torrent in the list and choose 'Open Folder' (or double-click if you have yours configured to do that on double-

[2015-10-22 05:24] Gliktch commented on #3968
Sorry, but horrible idea - that would make things much messier for 99.9% of users, and unwanted for almost all of them.

If you manually chose that folder, the client expects that you're aware of what's in there and are (for example) trying to resume a partial download or resume seeding an already-downloaded torrent...

If you're talking about an alert when two torrents are downloading to the same

[2015-10-22 14:34] chrishirst commented on #929
It may be because the majority of people are happy with waiting at the "add new torrent" dialogue.

[2015-10-22 16:26] PHPDev-CA commented on #3968
Clearly this discussion is about the folder structure within the torrents themselves and the collisions that occur between torrent folders, not where individual users select to place the torrents.

As to the hash idea, it's not pretty to be sure but it does solve the problem.  I'm sure a less "messy" solution is possible with more complexity.  Torrents with generic main folders like "Movies" or fi

[2015-10-22 16:26] seanvandermolen commented on #3950
I agree, it would be great if the recheck would look in the destination folder

[2015-10-22 16:33] seanvandermolen opened #3974 "Inconsistent path behavior when saving torrents with no directory structure"
Steps I take when downloading torrents.
1. Download the torrent and load into qBittorent, prompt to save chose path.
2. Download a second torrent.  Since the second torrent's final destination is a path similar to the previous path I chose that path in the history drop down then click browse.  Then I can easily navigate to the correct path.

Issue

If I download a torrent that has no directory str

[2015-10-22 16:43] GUImodder opened #3975 "Making the GUI fully/more customizable"
Dear qbittorrent devs,
i am a huge fan of the project and a donor; the only thing that is missing from this amazing program imho is a fully (or at least mostly) customizable GUI. Nemo (Forum Admin) advised me to leave this thread for reference (https://qbforums.shiki.hu/index.php/topic,3905.0.html) The first post pretty much explains the issue and there are markings (in a qbittorrrent screenshot)

[2015-10-22 16:58] Gliktch commented on #3968
Out of curiosity, what was the 'common' folder name in this case?  I mean, I'm thinking back through the past, oh, 500 or so torrents I've downloaded, and all either had unique folder names, or were free of folders.  Those which had many hundreds or thousands of files in them, were typically something I'd be saving to its own folder (or already had a uniquely-named root folder).  I'm just wonderin

[2015-10-22 17:24] Gliktch commented on #3968
Would it be safe to say that supporting %variables% in the paths under qBittorrent's settings (e.g, %label%, %name%, %hash%, some form of date, and so on - for Save path and the rest) would be a more elegant solution which detriments nobody, and benefits not only the original poster of this thread, but adds functionality which others may use as well? ;)

[2015-10-22 17:27] theAdmiral777 commented on #3461
+1

[2015-10-22 17:27] Gliktch commented on #929
And they may happily continue to wait, if they so choose, as the proposed solution does not deny them that.  That's the wonderful thing about providing an option, and setting the default to what the majority would want - the majority is not inconvenienced, and once they change a setting, neither are the minority.  Everyone can win :)

[2015-10-22 17:27] theAdmiral777 commented on #421
This would really help in qBittorrent becoming the top torrent client. Currently I have to either use scheduled tasks to open/close qBittorrent, or use curl to call the API. Either way seems unnecessary and hard for the average person.

[2015-10-22 17:58] AndKe commented on #3576
mistake ?   - I have the same problem, socks5 proxy  - if enabled, no search (downloads ok), if disabled - it works.  qB 3.2.4

[2015-10-22 18:20] mtakala commented on #3783
This could be a symptom of bug I reported: https://github.com/qbittorrent/qBittorrent/issues/3783

I use categories. Sort by clicking the column does not do anything when that bug is "active" but then switching categories - and - back will give me the sort I wanted.

[2015-10-22 18:45] Tetractys opened #3977 "on ubuntu 15.10: *** stack smashing detected ***: qbittorrent terminated"
after upgrading ubuntu-mate to 15.10, and upgrading qbittorrent to qbittorrent_3.3.x~5236-20150804~wily1_amd64 this is the result:

davide@thor:~$ qbittorrent
*** stack smashing detected ***: qbittorrent terminated

*************************************************************
Catching SIGABRT, please report a bug at http://bug.qbittorrent.org
and provide the following backtrace:
qBittorrent versi

[2015-10-22 23:19] chong601 opened #3978 "Possible memory leak on qBittorrent?"
(Seems to be affecting qB 3.2.x and 3.1.x and possibly earlier versions as well)
During the usage of qBittorrent, the memory usage slowly builds up till at the point I need to close the application to free up the memory.
The cache settings I used are as follows:
Read cache size: 512 MiB
Cache expiry: 60 seconds
Use OS cache: checked
Images of the memory leak:
OS cache enabled (day 13-19)
![With OS

[2015-10-23 02:53] Brutal-Moose opened #3979 "Qbittorrent will not start in Ubuntu 15.10 - Stack smashing"
I am a novice at Linux. If you have advice, or an answer to my question,
 please give a full explanation, so that I may understand it. Please do not
 omit any steps in the instructions, or I will probably not be able to
 complete them. Thank you.

     Ubuntu 15.04 laptop.

qBittorrent version: v3.2.0
stack trace:
  /lib/x86_64-linux-gnu/libc.so.6 : gsignal()+0x37  [0x7f4d3b062267]
  /lib/x86_64-l

[2015-10-23 07:27] NoteMakoti commented on #3898
I have the same problem, only mine is a bit more permanent. RSS feeds stopped updating completely 4 days ago.

[2015-10-23 14:32] gdfox opened #3980 "Qbittorent Doesn't Work When Set to "Start QBittorrent Minimized"."
When I login The QB icon shows in the notification panel. However, it is set to show w/no interface. I select hide, and nothing happens. Then, I click to show and, again nothing happens. When I disabled the "Start QBittorrent minimized", it works, but the interface show at login.

I am running Ubuntu 15.10 Unity.

[2015-10-23 15:29] chrishirst commented on #421
See #1063

[2015-10-23 18:46] Brutal-Moose commented on #3977
Yes, I had the exact same problem.

[2015-10-23 19:29] snakyjake1 opened #3981 "[Wishlist] Store .torrent file in same location as files"
I would like to store the .torrent file in the same location as the torrent files (Save Path\Torrent Root).
I want the .torrent file stored with the torrent files, at the torrent's top folder.

Root Folder/Save Path:
D:\TV\

Torrent Folder Structure:
<TV Show><Season 1><Episode 1>
<TV Show><Season 1><Episode 2>
<TV Show><Season 1><Episode 3>
<TV Show><Season 2><Episode 1>
<TV Show><Season 2><Episo

[2015-10-24 01:19] Kaldarash opened #3982 "Crash on Adding Torrent via Magnet"
I added a torrent and accepted it then added another one quickly and accepted it (both via magnet) and it crashed. Here's the text:

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-24 11:45] #3237 closed

[2015-10-24 12:05] MPW1412 opened #3983 "Loss of all torrents due to full hard disk"
Hello,

my hard drive got full and qBittorrent crashed very badly. Instead of stopping downloads at 5 MB left, it run completly out of free space, could not store the opened torrents anymore and lost all the torrents.

After I deleted some files and restarted qBittorrent, it had no torrents at all. No downloading, not seeding ones, just nothing. Hundreds of torrents just gone.

I suggest, to stop

[2015-10-24 12:33] glassez commented on #3897
@sledgehammer999 Doesn't #3649 close this issue?

[2015-10-24 16:09] sledgehammer999 commented on #3897
Yes, I think it was fixed by #3649.

[2015-10-24 16:09] #3897 closed

[2015-10-24 17:27] sledgehammer999 commented on #3983
What qbt version?
Just so you know your data is still there. qbt probably lost only it's settings for what torrents it had in the list and where they were saved (and progress of course).
Check your `BT_backup` folder it should contain all your `<infohash>.torrent` torrents and if you're lucky, some of your `<infohash>.fastresume`s. Take a backup of them just in case and come here to lelp you resto

[2015-10-24 18:23] sledgehammer999 commented on #3975
The guys on the forum instructed you on how to hide columns and then information panel.
The statusbar (bottom of the windows) can't be hidden. The General/Trackers/Peers/etc button can't be hidden too. I don't know if it is worth it to make it an option under the "View" menuitem. What do the @qbittorrent/qbittorrent-frequent-contributors think?
Also you can hide the sidepanel if you drag the separ

[2015-10-24 19:44] taky2 commented on #2126
Same issue here. Icon remains in dock when closing or minimizing window. (Settings are enabled to minimize to notification area). Running qBittorrent on OSX 10.11.1

[2015-10-24 21:23] naikel opened #3985 "Session download shows "Unknown this session" when session downloaded > sizeof(int)"
If your download is very big in a single session, you'll see in the properties widget "Downloaded x (Unknown in this session)".  Also shows the same in the WebUI.

Using the WebUI I could confirm that the total_downloaded_session value was negative.

That's because totalPayloadDownload() returns an int instead of a qlonglong in torrenthandle.cpp.

Same thing would happen with totalPayloadUpload()

[2015-10-24 23:37] ngosang commented on #3975
I agree to add 2 new options in the View menu:
1) Hide/Show sidebar (restoring the sidebar is not clear if you don't remember the sidebar).
2) Hide/Show lower buttons.

[2015-10-25 03:30] Chocobo1 commented on #3985
Patches are welcome! :)

[2015-10-25 03:45] rhardy613 commented on #3977
Please note there is an issue with Ubuntu 15.10 and the qbittorrent which appears in the stable and unstable PPAs. The version of qbittorrent in those PPAs were compiled against an older version of libtorrent-rasterbar8 i.e. the one in the PPA which is 1.0.6-1ppa2~wily1. To get rid of the segfaults either downgrade to the libtorrent-rasterbar8 package in the PPA or rebuild qbittorrent against libt

[2015-10-25 05:15] glassez commented on #3975
How about filters when user hide sidebar?

How about properties when user hide lower buttons?

[2015-10-25 08:38] tp0 opened #3987 "Sort by (column) order isn't remembered in some cases"
* open QB
* check **Status**, uncheck **Labels** and **Trackers**
* click **All** (under Status) and make sure that torrents are sorted e.g. alphabetically
* click **Active** or **Paused** status and exit QB
* relaunch QB, click **All** and observe how the order is messed up

Based on my hasty testing this only applies to Active or Paused and does not apply to Labels or Trackers at all (?). Is the

[2015-10-25 08:52] tp0 commented on #3842
I definitely do not support this idea, for the reasons already mentioned. Caters to a rare usecase but in minimum disturbs much more common usecase and at worst deletes users' files. Should never be the default. Maybe as an option but I'll leave that to the devs.

Not only it could delete users' docs and other files, but also other torrents if there are e.g. several single-file torrents in a same

[2015-10-25 10:41] glassez commented on #3800
@sledgehammer999 I propose to reduce the range of Issues/PRs for v3.3 to the minimum required, and to postpone the others for next releases.

[2015-10-25 12:47] DunnBrokeIT commented on #3886
Version 3.2.4 Windows 10, Double clicking turns item blue does not download or increment transfer number.  Also Connection Status says no direct connections.  Internet is not an issue.

[2015-10-25 13:31] shoomyst commented on #465
Any news? And My 2 cents.
Check data/config dir in this order:
1. Environment variable %QBITTORRENT_DATA%. If set and dir doesn't exist or is empty then create a fresh qbittorent config.
2. Flag in qbittorrent's app dir. This could be a directory with data or file with absolute/relative path to data/config dir.
3. Using %APPDATA%

[2015-10-25 14:54] Brutal-Moose commented on #3977
If I used an older version of Qbittorrent - 3.2.0, it seems to work fine in Ubuntu 15.10.

[2015-10-25 15:07] sledgehammer999 commented on #3975
IMO, they should be disabled if hidden. Although I think current behavior doesn't do that.

Well, he chose to hide that...

[2015-10-25 15:10] sledgehammer999 commented on #3800
Yes, I pretty much consider them "soft dependencies". All the PRs IMO need to get merged. Other than that, only serious stuff should get fixed.

[2015-10-25 15:35] glassez commented on #3800
IMO, only one major thing left, although it is not marked as v3.3. This is a problem with torrent paths (this leads to data inconsistencies).

[2015-10-25 15:40] sledgehammer999 commented on #3800
Are you talking about #3847?

[2015-10-25 15:42] glassez commented on #3800
Yes.

[2015-10-25 15:43] sledgehammer999 commented on #3800
Yes, I'll review it today after I get back home in a few hours.

[2015-10-25 15:58] netswap opened #3988 ""Ban peer permanently" not working"
OS: Windows 7 Home Premium SP1 64-Bit
qBittorrent v3.2.5 (thus libtorrent 1.0.7, Boost 1.55.0, Qt 4.8.7)

As mentioned above, banning a peer permanently does not work as it says.
After a few minutes, the banned peers appear in the peer tab again and actively take part on the transfer.
This happened to me on several torrents before, which is why I am writing this issue now.
qbittorrent.ini in the a

[2015-10-25 16:48] evsh commented on #3812
Submitted in PR #3989

[2015-10-25 17:35] chrishirst commented on #3886
@DunnBrokeIT

The support forum can found at http://forum.qbittorrent.org  and do not hijack unrelated threads or reports.

[2015-10-25 17:44] therg commented on #1156
I can confirm this issue on windows. It's really easy to replicate.
1. Add a watch folder with the option "Download Here".
2. Add some torrents to the watch folder so they download.
3. Remove all the torrents + data via the UI and the watch permissions will be oddly locked.
4. Quit qBittorrent and the watch folder is deleted.

[2015-10-25 19:39] naikel commented on #3985
Oh ok.

I did a pull request with the patch.

[2015-10-25 20:02] Cuelebre opened #3991 "Closed with this message"
qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-25 21:29] sledgehammer999 commented on #3053
Most of these were implemented in #3457. However, in #3984 we discuss slight changes to them. If anyone has something to say please comment there.

[2015-10-25 21:29] sledgehammer999 commented on #238
Most of these were implemented in #3457. However, in #3984 we discuss slight changes to them. If anyone has something to say please comment there.

[2015-10-25 21:29] sledgehammer999 commented on #1291
Most of these were implemented in #3457. However, in #3984 we discuss slight changes to them. If anyone has something to say please comment there.

[2015-10-25 21:29] sledgehammer999 commented on #1522
Most of these were implemented in #3457. However, in #3984 we discuss slight changes to them. If anyone has something to say please comment there.

[2015-10-25 22:16] yurikoles opened #3992 "[wishlist]Add ability to put unfinished torrent in upload-only state."
E.g. read-only, upload-only, whatever you call it. Or just literally '0' downlad speed, which now automatically converts to ininity.

[2015-10-26 01:11] sledgehammer999 commented on #3783
Can you guys try the latest v3.3.0beta build and tell me if it happens there too?
Link: http://www.fosshub.com/qBittorrent.html

[2015-10-26 03:30] Grenaid commented on #3783
Just grabbed it (clock starting now,) will let you know.

[2015-10-26 08:51] YasserGersy commented on #3576
look i manually set the windows proxy to 127.0.0.01:8081  then i forgot to start the listener to intercept the HTTP Requests  so i thought it was a bug , but when i started listener it worked correctly

[2015-10-26 10:10] elfring opened #3993 "Catch exceptions in main()?"
I expect that exception handling is usually supported by a C++ program. I wonder why your function "[main](https://github.com/qbittorrent/qBittorrent/blob/b29f6916cb3cac536fd3e27c948bf920943ac0ce/src/app/main.cpp#L128 "main() function")" does not contain [corresponding try and catch instructions](http://stackoverflow.com/questions/368184/does-it-make-sense-to-catch-exceptions-in-the-main "Does it

[2015-10-26 10:19] GUImodder commented on #3975
Hey,
@sledgehammer999: imho the bottom bar is the only remaining issue (it gives away how much traffic was created in the current session; pointless information imho btw.); almost every other program offers the ability to hide certain elements; so i think qbittorrent should offer the same. Is making this option available THAT complicated/work intensive?

[2015-10-26 10:26] GUImodder commented on #3975
@ngosang: thanks for supporting my idea!
@glassez: "How about properties when user hide lower buttons?" i did not quite get what you meant by this? can you explain it further?

qbittorrent is almost perfect imho; the only thing that's really annoying is the (pretty much useless) buttom bar:
This is how far i was able to customize the gui with all the tips up to this point:
[img]http://i.imgur.com/

[2015-10-26 10:38] glassez commented on #3975
@GUImodder lower buttons switch on/off Properties - Peers - Trackers - etc. When user hide the lower buttons what will happen with (possible) shown widget?

[2015-10-26 11:53] bitgandtter opened #3994 "on ubuntu 15.10 wily it dont show"
It start and you can control it from the indicator but it dont show if you click show option.

[2015-10-26 11:54] GUImodder commented on #3975
@glassez Hi, i am only concered about the displayed data down/uploaded. i have no issue with the other option (ie. DHT nodes, connection status, alternative speed switch); its pointless imho to show the downloaded data (you can enable another panel somewhere else for people who care); i'm sorry if my first screenshot was misleading; i deleted it: this is an updated version: <blockquote class="imgu

[2015-10-26 12:25] glassez commented on #3975
@GUImodder Apparently, we are talking about different things. Under the lower buttons I mean General, Trackers, Peers etc.

[2015-10-26 12:28] elfring opened #3995 "Fix signal handler"
[The function "qDebug"](https://doc.qt.io/qt-5/qtglobal.html#qDebug "Formatted output") does not belong to the list of [async-signal-safe functions](https://www.securecoding.cert.org/confluence/display/c/SIG30-C.+Call+only+asynchronous-safe+functions+within+signal+handlers "Call only asynchronous-safe functions within signal handlers.").
How do you think about to delete its call from functions lik

[2015-10-26 12:58] sledgehammer999 commented on #3975
@GUImodder while not rejecting your request you have to understand that whatever you deemed here as "pointless" or "useless" most other people find them useful.

Anyway, if I understand you correctly you basically want to have only a "view" of the transferlist with nothing else taking space in the window. Basically a simplistic mainwindow.

We can make a much of entries under the "View" menu item

[2015-10-26 13:27] GUImodder commented on #3975
Ok thank you
best regards;

[2015-10-26 14:05] ZarkBit opened #3996 "Individual Ratio column on Peer Tab"
Like the title says, a Ratio column on the Peer tab.

Useful? useless? opinions, please.

Haven't found an issue regarding this feature, if it's a duplicate, my apologies.

[2015-10-26 14:26] wind77 opened #3997 "yet another crash report"
qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-26 14:28] Chocobo1 commented on #3995
Seems to be the case, patches are welcome!

[2015-10-26 14:36] chrishirst commented on #3994
Okay??

"wily" ?? is what exactly? (assuming there is not a 'l' missing.

And what is it that "don't show"?

[2015-10-26 14:39] chrishirst commented on #3997
Operating system??

Also if this is "another" report, what is the report number of the previous instance?

[2015-10-26 14:40] bitgandtter commented on #3994
Sorry if i dont explain:

ubuntu 15.10 [Wily Werewolf](https://wiki.ubuntu.com/WilyWerewolf/ReleaseNotes)

With the dont show i mean that if you hit the show option on the ubuntu indicator it wont open the gui. check out the attachment.
![screenshot from 2015-10-26 10-10-04](https://cloud.githubusercontent.com/assets/1316125/10731916/cf1f391a-7bc9-11e5-94c4-ded9d576c2df.png)

[2015-10-26 14:48] wind77 commented on #3997
@chrishirst still trolling here?

@sledgehammer999 we have a troll problem here.

[2015-10-26 14:52] chrishirst commented on #3997
Not trolling, just asking a question. Saying "another ... " must mean there has been a previous instance that you have reported, of similar circumstances

[2015-10-26 14:57] chrishirst commented on #3994
Okay the "system tray" icon menu.

Sorry I don't follow the crazy naming scheme that Ubuntu use.

[2015-10-26 14:59] bitgandtter commented on #3994
Yes the system tray, sorry maybe i should use that name, if you need any more info about it please let me know, thanks

[2015-10-26 15:04] chrishirst commented on #3996
Rather pointless really, your client may only connect to peer/seed once, and keeping a permanent track of every individual peer id your client connects to and what data has been transferred up and/or down is a potentially a huge use.of resources.

[2015-10-26 15:06] chrishirst commented on #3991
Operating system?

[2015-10-26 16:11] fskea1 commented on #212
if you need more votes to bring this up, I'll just vote +1

[2015-10-26 16:16] fskea1 opened #3998 "[Wishlist] Run multiple external programs on torrent completion, separated by semicolons"
I run antivirus on completed files by using
C:/Program Files (x86)/Avira/Antivirus/avscan.exe /PATH=%f
But I would also like to run defrag on the same folder too.

I could create a batch file for this I don't even know if bat files support parameters yet. But It would be useful if I either could enter multiple lines on that box
or enter multiple destinations separated by semicolons.

[2015-10-26 16:29] fskea1 commented on #465
+1. just use ini files

[2015-10-26 16:33] sledgehammer999 commented on #3997
@wind77 Is this a random crash too or reproducible?

[2015-10-26 16:37] fskea1 opened #3999 "[Wishlist] "Finish first", "Prioritize" button for torrents to pause others until comletion of the selected one."
Lets say you have 10 queued torrents size of which are over 10 gb and you want a 10 mb ebook. We would want this file to come first so that we can start reading.

This button would pause all other torrents until the completion of the file we want. And unpause "the paused ones"  after the completion of the prioritized file.

[2015-10-26 16:38] wind77 commented on #3997
random crash.
1st crash after upgraded to v3.2.4.

PC is newly formatted with W7 64b, with Bitdefender installed (and 2 other apps).

Crash happened when adding a torrent in RSS feed.

[2015-10-26 16:40] fskea1 opened #4000 "[Wishlist] Ask for a new download folder if the current downlad folder is inaccessible."
Instead of giving IO error, qb can just do this. Otherwise, if I change a driver letter or forget that I was downloading to an external drive, I realize hours later that the download folder is inexistent. I ended up resetting modem and qb assuming it's connection problem, many times.

[2015-10-26 16:42] fskea1 opened #4001 "[Wishlist] Replace *.py extension for search engines with *.qbse (qbittorrent search engine) and create associations."
This would make installation of search engines way easier. Double clicking *.qbse files would install the search engines.

[2015-10-26 16:50] fskea1 opened #4002 "[Wishlist] Option to hide torrents with 0 seeds on search."
We see hundreds of dead torrents on search. If someone is searching for a rare file, that's ok. But why does this program waste system resources and screen space for hundreds of dead torrents? It wastes resources on sorting too.

[2015-10-26 16:56] sledgehammer999 commented on #3997
there are similar crashes (same backtrace) reported here, but all random and the backtrace doesn't tell me something useful unfortunately.

[2015-10-26 17:08] wind77 commented on #3997
Can't advise on that...

if it helps, I can tell you that:
the RAM occupied by qBT is about <200MB at the moment, out of total 4GB.
CPU usage is <30%
physical memory 50+%.

However, as compared to v3.2.3, I do notice that qBT jitters noticeably, as compared to v3.2.3.
This happens, reproducibly, when:
a. adding torrent from RSS.
b. opening and closing RSS downloader.
c. when launching / closing qB

[2015-10-26 17:12] sledgehammer999 commented on #3997
To be honest the v3.2.x is EOL now. I am focusing in streamlining and releasing v3.3.0, which has many internals changes. If these crashes were more obvious I would try to fix them before releasing v3.3.0.

[2015-10-26 17:13] chrishirst opened #4003 "QT4 make fails with "#include <QtWidgets/QAction> not found" ..."
same error when  configure --with-qt4 option is added.

QT5 #include <QtWidgets/QAction> does not exist in QT4, the correct path is <QtGui/QAction>

[2015-10-26 17:15] fskea1 commented on #2517
+1

[2015-10-26 17:16] fskea1 commented on #2511
+1

[2015-10-26 17:17] fskea1 commented on #2477
+1 also im ok with a funcion like, "move to folder after completion"

[2015-10-26 17:18] wind77 commented on #3997
Any tentative date of release for v3.3?
I'm very much looking forward to it as well - hope more bug fixes and UI/option improvements.

[2015-10-26 17:19] sledgehammer999 commented on #4003
Linux Mint? can you give more details on which file/line this include is?

[2015-10-26 17:20] fskea1 commented on #2090
ctrl+alt+q : show qbittorrent/ minimize qbittorrent

[2015-10-26 17:27] fskea1 opened #4004 "[Wishlist] Resume all torrents and remove the speed limit at specified time."
We would like qb to resume all torrents and remove speed limit after we go to bed or after we go to work.

[2015-10-26 17:30] fskea1 opened #4005 "[Wishlist] Option to automatically open a specified file or folder within the torrent after completion."
This is unsafe for exe and msi, etc. But we would save time if qb opened a movie file right after completion, or view a zip, rar or 7z file right after completion. It would save time.

[2015-10-26 17:31] chrishirst commented on #4003
output results from make:

cd src/ && make -f Makefile
make[1]: Entering directory `/media/chris/working/projects/git/qbit/3.3.x/beta/2015-10-23/qBittorrent-m
compiling gui/properties/propertieswidget.cpp
In file included from gui/properties/propertieswidget.h:36:0,
                 from gui/properties/trackerlist.h:39,
                 from gui/properties/propertieswidget.cpp:55:
./ui_propertiesw

[2015-10-26 17:42] fskea1 opened #4006 "[Wishlist] [Security] Ability to download in "protected mode" which wouldn't allow user to double click to open files through qb"
"Download in protected mode" could be selected in search by context menu, or in download form.

We would select this for torrents which are likely to be containing viruses.
We would preferably use this for torrents with low seeds or torrents which have no comments on any website.

When we add the torrent may know that it was suspicious, but if it takes days to complete, we may not recognize the su

[2015-10-26 17:43] rmenessec commented on #2926
Would be really useful. Any idea when this might be supported?

[2015-10-26 17:47] fskea1 opened #4007 "[Wishlist] Additional baby dinosaur icons for exe file and torrent files."
Remember when winamp had dozens of icons? Those were the days. And I love the baby dinosaur icon and would gladly use that for torrent files and qb.

[2015-10-26 17:54] sledgehammer999 commented on #4003
Are you sure you didn't use the same (unclean) source configured for qt5?

[2015-10-26 17:55] fskea1 opened #4008 "[Wishlist] Prioritize torrents which are lower than specified size when adding."
This feature would check the torrent list and go from the first x elements which are smaller than specified size, and add the new torrent after the last element.

scenario:
specified size in options 10mb

we have torrents on queue: 4mb, 3mb, 9mb, 8mb, 11mb,200mb
and we are adding a new torrent which is 7mb
new queue would be 4mb, 3mb, 9mb, 8mb, 7mb, 11mb,200mb

qb would add the new torrent at the

[2015-10-26 17:59] fskea1 opened #4009 "[Wishlist] Cache small files before writing to reduce fragmentation"
Small files: <5mb , or some specified size, smaller than 20mb.
This would write small files after they are finished downloading into the RAM.

current scenario: qb writes small chunks on disk and files are like, 5mb, 200 fragments on disk.
new scenario: small files are written as a whole, no fragmentation. Fragmentation for bigger files are not a big deal.

[2015-10-26 18:54] txtsd opened #4010 "3.3.0 Forced Seeding (Force Resume) does not work on torrents that have reached their Share Ratio goal"
I have `Seed torrents until their ratio reaches` `2.00` then `Pause them` set in my options.
But when I Force Resume a torrent so I can seed it beyond the `2.00` ratio, it resumes for 2-3 seconds and then gets paused again.

Expected behavior: Force Resumed torrents should seed regardless of their Share Ratio.

OS: Archlinux
QT: 5.5.1
Libtorrent: 1.0.6.0
Boost: 1.59.0

[2015-10-26 19:49] Cuelebre commented on #3991
Windows 10 Enterprise 64. Excuse me for the delay

[2015-10-26 19:56] chrishirst commented on #4003
I simply downloaded the "whatever was current master" on October 23th 2015 @ 12:02 PM GMT. The clues to what that source code is set up for are rather thin on the ground unfortunately.

[2015-10-26 20:01] txtsd commented on #3980
What version?

[2015-10-26 20:06] Nemo-qB commented on #3937
@sledgehammer999 Did you received my mail with the dump file? Did you found something perhaps?

I installed the latest beta that you posted at our forum and it doesn't crash with it (just like the previous beta). I will use the beta for now I think so if you want you can close this issue.

Or if you want to cotinue this investigation I will do my best to provide you with anything that you need so

[2015-10-26 20:12] ovidiubuligan opened #4011 "Increase font size of torrent list (or everything ?)"
Is there a way to increase the font size globally via qt settings ? or just the torrent list ?

[2015-10-26 20:25] sledgehammer999 commented on #3937
Yes, I have received it, but I didn't find time to investigate further. I want to leave this open for the time being because "availability bar" code is the same between the v3.2.x and v3.3.x. And the bug might still be in v3.3.0 but harder to trigger.
(of course continue using whichever version you want)

[2015-10-26 20:27] Nemo-qB commented on #3937
Thanks sledge, I will be following this issue.

[2015-10-26 20:34] gdfox commented on #3980
3.2.4

[2015-10-26 20:38] jedelen0004 opened #4012 "qBittorrent crash"
qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.2.3
Libtorrent version: 1.0.6.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-26 20:39] sledgehammer999 commented on #4003
I am asking if you did a build with "./configure --with-qt5 && make" and then tried to do "./configure && make".

Can you try with today's master? I just did test builds of qt4 and qt5 on Ubuntu 15.04 and they finished without errors.

[2015-10-26 21:46] txtsd commented on #3980
I don't think there's a fix for this right now on the 3.2.x branch. I had the same problem, but we couldn't pinpoint the issue. My solution was to disable "Start qbittorrent minimized" and deal with the window at login. One extra click is not a problem. It works as intended in the 3.3.0 beta though.

If you can't bring up the window to disable the setting, remove this line from qbittorrent.conf `G

[2015-10-26 21:58] gdfox commented on #3980
Yes, that is what I am doing now. Not a problem. I just wanted to report it.

[2015-10-26 23:04] Nemo-qB commented on #3937
Sledge the latest beta just crashed. I think the crash log is almost identical.

qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.3.0beta
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-26 23:36] Nemo-qB opened #4013 "v3.3.0beta (latest) - Avg download speed, weird numbers."
As the title says; the average download speed shows some weird high numbers instead of real speeds measured in KiB/s just like previous builds. See the attached screenshot.

![avgdwn](https://cloud.githubusercontent.com/assets/6442930/10745521/ce436a56-7c42-11e5-8f70-f2c7abb3c0e4.png)

The upload average works as it should.

W7 64bit.

[2015-10-27 08:48] #3895 closed

[2015-10-27 09:43] Chocobo1 opened #4014 "TravisCI: OSX application failed to start"
When building on OSX with `gui=true qt=5`, executing `./$qbt_exe --version` emits the following:
[code]
https://travis-ci.org/qbittorrent/qBittorrent/jobs/87623290#L9800

[2015-10-27 15:01] chrishirst commented on #3998
they have done since the dawn of DOS.
Use %1 ... %n to use the command line parameters in a batch file and separate the parameters with a space. (%0 is the script path and file name) and parameters with spaces in the string MUST be wrapped in quote marks ("")

echo %3, %2, %1. Go! in a batch file (script.bat) that called with 'script.bat one two three' will output 'three, two, one. Go|' to the com

[2015-10-27 15:03] Darksonn commented on #4010
Note that you can choose `Limit share ratio...` on the torrent, which allows you to change the setting from `Use global ratio limit` to `Set no ratio limit`.

[2015-10-27 15:11] chrishirst commented on #4001
.A .py extension is used because M$ Windows **NEEDS** that to 'know' they are Python script files and what to do with them. If Windows file associations were not so pathetic it would not matter what the extension/suffix was.

[2015-10-27 15:20] chrishirst commented on #4002
Just because the indexing site that has returned the results, reports 0 peers and/or seeds, it does not mean that there are no active seeds or peers for that particular torrent hashID.

There may be a high probability that is the case, but the indexer does not 'know' about DHT or PeX  peers or possibly peers from other trackers.

[2015-10-27 15:24] chrishirst commented on #4004
How will it know? < just being facetious.

And there are already several requests and probably at least one work in progress for extending the existing "scheduler feature"

[2015-10-27 15:25] chrishirst commented on #4005
Use the "Run program on completion" feature.

[2015-10-27 15:30] chrishirst commented on #4006
This is a USER concern not a client concern.

[2015-10-27 15:36] chrishirst commented on #4009
BitTorrent protocol clients download **pieces** not entire files, and those pieces are downloaded in 16kB blocks. If you want something different you should use a different protocol.

[bittorrent protocol](https://wiki.theory.org/BitTorrentSpecification) specification.

[2015-10-27 16:03] chrishirst commented on #4003
I don't have QT5 on the machine, but I ran configure without any command options and with the --with-qt4  predicate, both had the same result.

I'll try another source download later today and report back.

[2015-10-27 17:05] Neocazen commented on #3994
I'm with Ubuntu 14.04 x64 that happens if activate "start minimized".

[2015-10-27 17:07] sledgehammer999 commented on #4003
Ok. Just so you know `--with-qt4` doesn't exist as an option in the configure script. I don't know how managed to run it without erroring out.

[2015-10-27 17:07] bitgandtter commented on #3994
I remove the config directory under .config and it opens again

[2015-10-27 19:32] Nemo-qB opened #4016 "v3.3.0beta (latest) - Amount downloaded this session says unknown."
As the title says; the amount downloaded this session says unknown instead of showing an amount. See the attached screenshot.

![unkown](https://cloud.githubusercontent.com/assets/6442930/10770073/acd63266-7ce9-11e5-95bd-1c1eb6d3f006.png)

The session upload amount works as it should.

Both session download and average download speed seems somehow  broken. See here also: https://github.com/qbittor

[2015-10-27 19:39] Fergo opened #4017 "Can't set the download location when adding a new torrent"
When you add a new download from a magnet link and you click "Browse..." to select a different location to download to, it opens a "Save File Dialog", where you must select a **file** and not a **folder**. You can't set the path (by clicking "Save") unless you select a file or name one, which is not what it's supposed to do. It works fine with torrents because it automatically grabs the download n

[2015-10-27 19:48] thalieht commented on #4011
Since you mentioned everything, maybe increase OS dpi scale? It's what i did.

[2015-10-27 19:50] fskea1 commented on #4001
but windows doesnt execute the scripts, doesn't python.exe  accept any text file?

[2015-10-27 19:52] fskea1 commented on #4002
we arent looking for a proof for the fact that a torrent is dead. dont you care about user satisfaction?

[2015-10-27 20:39] Chocobo1 commented on #4002
@fskea1
Probably related: #3989

[2015-10-27 21:31] Quark128 commented on #3783
Same with v3.3.0beta.
Also, it might be possible that the more torrents you have - the faster it starts to reproduce...

BTW, is it really impossible to go back to the stable version now? Cause... That would be a real bummer... :(

[2015-10-27 22:01] mtakala commented on #3783
I have around 500 torrents in my session. The same type of session worked just fine in uTorrent and also in qBitTorrent < 3.2.0.

[2015-10-27 23:19] sandybeachit opened #4018 "[Wishlist] - Add to Windows 10 App Store (For Desktop not Mobile)"
Hi guys first great app, you won be over from utorrent :) and your my only choice for torrent app for Windows.

I came across this older article about an easy way to make a universal windows 10 store app:

http://liliputing.com/2015/05/this-is-how-win32-apps-can-become-windows-store-apps.html

I was wondering if this has been tried and if you plan on using the windows 10 store for delivery of qbit

[2015-10-27 23:27] sledgehammer999 commented on #4013
Thanks. I have fixed this locally. I'll post the fix later.

[2015-10-27 23:47] #4013 closed

[2015-10-27 23:53] sledgehammer999 commented on #4016
This is fixed by #3990
(once the size was big enough, it overflowed the int var which became negative. Negative values are printed us "unknown" in our printing code for Bytes).
I am posting a new build.

[2015-10-27 23:53] #4016 closed

[2015-10-28 00:10] sledgehammer999 commented on #3783
You can go back if first you go to the BT_backup folder and remove the trailing "dot number" from the fastresume names. This could break in future releases though. (take a backup of that folder first).

[2015-10-28 04:23] Grenaid commented on #3783
Sledge, grabbed the version you linked from two days ago and I am still seeing the problem.  Took quite a while to do it though.

Qt: 4.8.7
Libtorrent: 1.0.7.0
Boost: 1.55.0

[2015-10-28 04:49] Seraiel opened #4019 "qBittorrent strange behaviour than crash"
I was working with RSS-feeds, suddenly I see, that qBittorrent has locked itself with no password. Locking in qBittorrent.ini is disabled, still, it locked itself.

Then it began lagging very hard, resulting in a crash finally:

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-28 05:02] naikel commented on #3985
Fixed with Pull Request #3990.

[2015-10-28 05:02] #3985 closed

[2015-10-28 05:22] naikel commented on #3979
Why don't you try to upgrade to 3.2.4 to see if the same problem arise? Also, are you using the PPAs to install qBitorrent or did you compile it yourself?

[2015-10-28 12:06] sledgehammer999 commented on #3937
Ok from the minidump I found that it crashes in this line:
[code]

Also I found out that the value of `pieces2_val` at that time is **-26017.35156**. A negative value!
So the negative value must come from the calculations inside `PieceAvailabilityBar::intToFloatVector()`. I cannot understand that code, more specifically the "simple linear transformation algorithm" part. It is totally out of maths(

[2015-10-28 12:07] sledgehammer999 commented on #3937
@pmzqla @ngosang @Gelmir in case you have better knowledge in this specific area.

[2015-10-28 12:55] Chocobo1 commented on #3937
Random shots:
1. add `value = qMax(value, 0.0);` to clamp its value.
2. `int mixTwoColors(int &rgb1, int &rgb2, float ratio);` looks suspicious, it returns `qRgb()` which should be `unsigned int` but it casts to `int` when returning value, getting the feel of undefined behavior here... but it shouldn't matter at this point...

[2015-10-28 13:13] sledgehammer999 commented on #3937
My first thought was that, but in a second thought I think this is more appropriate:
[code]

[2015-10-28 13:49] glassez commented on #3937
@sledgehammer999 Steps to reproduce?

[2015-10-28 14:25] chrishirst commented on #3992
Check "do not download" for the files that you know are missing from the payload when you load the task. You could also set a task to not start automatically until you have had the opportunity to check the 'missing' items. Always bearing in mind that "cross file pieces" for 'missing items' in the payload  **will** have to be downloaded before the client can start seeding a partial payload.
This is

[2015-10-28 14:38] sledgehammer999 commented on #3937
I don't know if you have read this thread from the top. I can't reproduce the crash. Only @Nemo-qB that's why I have instructed him on how to get a more detailed backtrace from WinDbg and to give us a minidump.
Apparently there is a specific torrent that triggers a crash after some time. In my machine it doesn't crash though. If you want ask @Nemo-qB to email you the torrent.

[2015-10-28 14:40] yurikoles commented on #3992
I don't really understand the difficulties. Client knows hashes of all pieces, so why it can't just seed all full pieces? Simple use-case: full-duplex network. One may prioritize use of download path to some other torrents, or use it in another app. But another path, upload one, may be used at full speed for seeding.

[2015-10-28 15:20] Brutal-Moose commented on #3979
I have fixed this problem, how do I delete this post?

[2015-10-28 15:35] Missinginch opened #4021 "qBittorrent has crashed"
qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-28 15:58] chrishirst commented on #3992
Because that is not the way that bittorrent protocol clients work, if pieces are missing it **WILL** have to download them until it the **required** payload is complete, at which point it can announce itself as a 'seed'
Just because a particular file 'works' from your point of view does not necessarily mean it is complete from the metadata aspect, due to 'cross-file pieces. While ever there are pi

[2015-10-28 16:01] chrishirst commented on #4019
Operating system??

[2015-10-28 17:05] Missinginch commented on #4021
Second:

qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-28 17:26] glassez commented on #3937
@sledgehammer999 I've found a bug in PieceAvailabilityBar::intToFloatVector(). I'm not sure that this is the bug that causes this issue. But still it needs to be fixed.
See function code:
[code]
Despite what is written in the comment above (in the code), in this line, **toC** can be assigned to such a value, which will lead to **vecin** out of bound. QVector allows this in release builds, but retu

[2015-10-28 19:05] Nemo-qB commented on #3937
A short recap:

- I can reproduce the crash with v3.2.4 (official) anytime I want with the same torrent. Im 100% sure that it will crash when im starting the download and letting it run for 10-15 seconds. The same logs can be obtained if needed. This same torrent doesn't make the v3.3.0beta crash, or Dayman's builds from v3.2.4 which is weird.

- The other new crash that happened with the beta was

[2015-10-28 19:13] glassez commented on #3937
Can you try with same torrent but with different qBittorrent window width (increase or diminish it, try a few sizes)?

[2015-10-28 19:30] Nemo-qB commented on #3937
Hmm interesting, when I play and go left and right with the left column border it crashes.

This is how it is normally:
![column](https://cloud.githubusercontent.com/assets/6442930/10800542/9d971350-7db2-11e5-9110-3e761d3a9b6e.png)

This happens when I move the border left and right:
![column1](https://cloud.githubusercontent.com/assets/6442930/10800543/a112fdbe-7db2-11e5-9afc-fe5350f001f1.png)

[2015-10-28 19:42] sledgehammer999 commented on #3937
Did you by any chance backup your qbittorrent.ini?
The crash you're seeing by resizing could probably be from the same reason.
Anyway, I am building v3.2.4 with @glassez patch and I'll upload it in the next minutes.

[2015-10-28 19:50] Nemo-qB commented on #3937
No, im never making a backup from any qBittorrent settings files. Always doing a clean installation when installing a different version.

Its an interesting find by glassez indeed.

[2015-10-28 19:58] sledgehammer999 commented on #3937
@Nemo-qB can you try this build: http://builds.shiki.hu/temp/qbittorrent_3.2.4_patched2_issue_3937.7z
If it crashes again, please run the commands from WinDbg (excluding the minidump).

[2015-10-28 20:10] Nemo-qB commented on #3937
Thanks sledge, I have good news; it doesn't crash with any of above tests.

[2015-10-28 20:21] sledgehammer999 commented on #3937
Thanks. For confirmation. I'll do a v3.2.5 release for this.

[2015-10-28 20:57] sledgehammer999 commented on #4021
See #3937 it will be fixed very soon by v3.2.5

[2015-10-28 20:57] #4021 closed

[2015-10-28 21:01] GUImodder commented on #3975
Hello again,
just to get this straight: not ETA means you have absolutely no idea when the changes will be implemented; but you ARE going to implement them at some point?
Regards

[2015-10-28 21:12] sledgehammer999 commented on #3975
Yes. (It could tomorrow or 2 years from now).

[2015-10-28 21:21] GUImodder commented on #3975
Ok...at least a max of 2 years ;-)...is there a way to improve that time?

[2015-10-28 21:23] sledgehammer999 commented on #3975
For me no. For the other active devs... they would have to speak for themselves. As you can see the bug tracker is huge, and we do whatever we feel comfortable with.

[2015-10-28 21:38] GUImodder commented on #3975
Ok well then pretty please ;-) maybe someone is able to help me out; is hiding this UI Element THAT big a deal (codingwise; i'm a noob so idk)?

[2015-10-28 23:47] #3979 closed

[2015-10-28 23:49] sledgehammer999 commented on #3977
The unstable PPA has been updated. The wily packages will depend on wily's libtorrent.
The stable PPAs will be treated the same after I release v3.2.5 (probably tomorrow).
PS: Give some time till the PPA builds the new packages.

[2015-10-28 23:49] #3977 closed

[2015-10-29 04:17] bududubdubdubs opened #4023 "All torrents start as stalled when added"
I have to force resume every torrent I add manually to get it to start downloading. It works fine after that and seeds with no issue. I'm wired into my modem so it's not a router config issue. The setting for "do not start downloads automatically" is not checked.

[2015-10-29 09:46] PlasticKitten opened #4024 "Stalling / dropping of peers after long run"
Greetings.

After qBT has been running for a while - like hours, or a day, it has problem starting new torrents.  Even with torrents with over 1000 peers it cannot start downloading from any of them.  It loads a bunch at a time, like 20-30 or so, shows them all with 0% relevance and drops them after several seconds, loads new group of peers, drops them also, etc. All while connection status is gre

[2015-10-29 10:28] chaitanyach commented on #3461
+1

[2015-10-29 17:40] chrishirst commented on #4001
It certainly will, **provided** that you pass the file name as a parameter to the Python script engine. Windows does this by 'looking' at the file extension to know what application to 'pass' the file to for execution, in the case of a .py file Windows 'knows' it has to start an instance of the Python interpreter and then 'hand' the file  over to it for the instructions to be "run".

[2015-10-29 17:47] chrishirst commented on #4001
If you need a demonstration of this, take any .py file, change the extension to .txt (or add a .txt extension) then double click the newly renamed file.

But make sure you set "{ } show file extensions" in folder properties before renaming.

[2015-10-29 17:59] chrishirst commented on #4002
Would a user be satisfied if the a search failed to show results that actually turned out to be active with peers that the indexer/search site did not know about?

Allowing the users to decide for themselves is by far the "lesser of two evils"

[2015-10-29 18:03] chrishirst commented on #4023
Do you have "always announce to all trackers" checked?

And this is a [support question](http://forum.qbittorrent.org) not a bug report.

[2015-10-29 18:07] chrishirst commented on #4024
Have you set a fixed port and forwarded that manually?

And is your ISP provided IP static or dynamic?

[2015-10-29 18:37] ngosang commented on #3975
Maybe @Chocobo1 can implement it.

[2015-10-29 18:47] bududubdubdubs commented on #4023
That setting is checked, yes.

[2015-10-29 20:47] usernameusernameusernameusername opened #4025 "bsod with .net framework 4.6 on win 7"
i tried 3.2.3 x64 and 3.2.4 x64 versions and i got bsod, i forgot to take a note what the bsod message said

.net framework 4.5.2 works correctly on win 7

usually this happens only when you're downloading bigger than 3gb file

[2015-10-29 20:59] #3937 closed

[2015-10-29 21:41] GUImodder commented on #3975
I would absolutely appreciate it alot if @Chocobo1 would make it happen!! Thanks alot ngosang

[2015-10-29 23:21] glassez commented on #4025
qBittorrent doesn't use .Net Framework.

[2015-10-29 23:32] glassez commented on #3800
Offtopic. Don't want to create a separate issue for this.
@sledgehammer999 A lot of pending PRs in recent time and their number is increasing. I see you don't have time to process all of this due to lack of time to do this. Maybe there is a way to help you? Maybe you need to develop some rules for check PRs and delegate some of this work to others?
How do you see the future of the project?

[2015-10-29 23:57] PlasticKitten commented on #4024
No, but I can try it. It will take a day to reproduce the condition.

Dynamic most likely. I will write down router's external ip, before and after, to see if it has changed.

I'll do that and report here with the results.

[2015-10-30 01:47] bunyawat2 opened #4026 "Bug limit upload setting"
set up upload not'work
http://i.imgur.com/KUlKxN7.jpg

[2015-10-30 03:59] txtsd commented on #3800
While we're on the topic, once 3.3.0 lands, I propose going through the 1000+ issues, closing old ones, merging dupes, assigning meaningful labels so they can be easily classified, and just generally keeping the list maintained.

[2015-10-30 08:49] yurikoles commented on #3992
I don't mean official announce of client as seed. Just simple upload of files without download.

[2015-10-30 09:13] 0vermind opened #4027 "Android client (not remote/controller)"
Would be possible to compile or port qbittorrent client to Android? I did same research but with no result. Is a planned feature some day?

[2015-10-30 10:37] devilsmind commented on #4012
qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-10-30 11:38] asturel opened #4028 "qBittorrent crash (3.3.0beta_20151026_3a29d70dd55)"
Windows 10 Pro x64
output from WinDbg -- probably because the disk write buffer set to 1.8GB and its run in 32bit mode :/

[code]

[2015-10-30 12:07] alarir commented on #3907
I have exactly the same problem on Lubuntu with LXDE.
apt-show-versions qbittorrent
qbittorrent:i386/trusty 3.2.4-1ppa1~trusty1 uptodate

[2015-10-30 12:43] txtsd commented on #4010
Oh yea. But what's the point of Force Resume then? Just to bypass the limit of max active torrents?

[2015-10-30 12:47] txtsd commented on #4027
Is there specific functionality that you need from qbittorrent that isn't available in current Android torrent clients?

[2015-10-30 13:33] #2066 closed

[2015-10-30 13:35] Darksonn commented on #4010
I don't know, I've never used it.

[2015-10-30 14:01] 0vermind commented on #4027
Yes of course. I.E I cannot download directly on the android device.

[2015-10-30 17:26] asturel commented on #4028
another crash
[code]

[2015-10-30 19:43] dem61s commented on #3155
I would rather not open another issue since mine seems identical to this one.

When I use both "Keep incomplete torrents in" and "Append the label of the torrent to the save path", my labeled torrents seem to be moved as soon as one file in the entire torrent finishes, rather than on completion of the entire torrent.

I do not have any freeze/crash issue though.

I run qbittorrent v3.2.4 on Window

[2015-10-30 19:51] EraYaN commented on #4001
@chrishirst But you can make your program in a way that it will call python, you will just have to find the bin.

[2015-10-30 22:52] vgturtle127 opened #4030 "Crash on qBittorrent 3.2.4"
Here is the backtrace:

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

  0 qbittorrent.exe      0x000000000098a0c4 0x0098a0c4()
  1 qbittorrent.exe      0x000000000098b69f 0x0098b69f()
  2 qbittorrent.exe      0x00000000010ea9fa boost::asio::ssl::detail::engine::write()
  3 qbittorrent.exe      0x00000000010ddafa boost::asio::ssl::detail::engine::w

[2015-10-31 02:03] Qulox opened #4031 "Setting a label doesn't always move torrent to new save path (qbittorrent_3.3.0beta_20151028_c75725e2d8c)"
After upgrading qbittorrent from previous beta (3.3.0beta_20150728_438ee23d2c8) I've had problems with my labels not moving files with the option to append label to save path, so instead of moving the finished torrent to "I:\[FINISHED TORRENTS]\LabelNameFolder" it stays in my incomplete torrents folder "I:\torrent files" or in "I:\[FINISHED TORRENTS]" as if I had not set any label; strangest of al

[2015-10-31 02:52] Chocobo1 commented on #4028
&

So... what else you think can be done? Did you set the buffer size manually?

[2015-10-31 09:58] MPW1412 commented on #3983
Hello,

thanks for your answer. Well my data is intact, ofc. And the hint with that backup folder was really useful.

I copied the torrents into my download folder and my qBT is set to check for new torrent files there automatically.

So I have all my torrents back, but qBT doesn't realize that the torrents are already completed. It only checked the folder for partial downloads, not the folder for

[2015-10-31 10:06] asturel opened #4032 "qBittorrent avg. download speed ui bug (3.3.0beta_20151026_3a29d70dd55)"
All of my torrents have the avg. download speed in byte/s

![qbt_bug](https://cloud.githubusercontent.com/assets/237259/10863001/07bf9118-7fbf-11e5-8333-09a4de425e23.jpg)

[2015-10-31 10:36] MPW1412 commented on #3983
Seems to be related to #3950

[2015-10-31 11:13] txtsd commented on #4027
I meant current clients as in current torrent clients that already exist in the Play Store, most of which are fully featured bittorrent clients. Try Flud. It's the one I use. I doubt there are plans for a qBittorrent Android port at this moment in time, as it would require a recoding it in a different language, which brings its own set of problems. Android runs on Java, qBittorrent uses C++ and Qt

[2015-10-31 13:15] sledgehammer999 commented on #4032
This is fixed already. Download the new build.

[2015-10-31 13:15] #4032 closed

[2015-10-31 13:18] sledgehammer999 commented on #4027
Android is too different than our target ie desktops/laptops. The pain of converting the code base to being Android compatible isn't worth it IMO.
(even though you can run native code on it too)

[2015-10-31 13:18] #4027 closed

[2015-10-31 13:19] sledgehammer999 commented on #4026
Screenshots of:
Tools->Options->Connection
Tools->Options->Speed

[2015-10-31 14:23] asturel commented on #4028
yes :/
what about the second crash? is it because run out of memory too ?

[2015-10-31 15:11] yurikoles commented on #2086
Same on Linux. This is very old issue.

Yes, save past is not lost, but per-file settings is lost, also any directory or file renames.

[2015-10-31 15:57] Chocobo1 commented on #4028
Yes, lowering the buffer size is the easiest solution.
I am thinking about placing an upper limit to that option, how large is your system memory?

[2015-10-31 16:51] 0vermind commented on #4027
That what I meant. running a native daemon/headless qbittorrent without GUI on Android.

[2015-10-31 16:54] asturel commented on #4028
16GB, but qbitorrent runs in "32bit mode", I didnt not found x64 build of it for windows

[2015-10-31 17:23] sledgehammer999 commented on #4031
Some label changes went in the last few commits. @glassez can you look into this?

[2015-10-31 17:28] chrishirst commented on #4001
Certainly you can, but Windows would STILL have to 'know' what file types and what command line data should be sent to THAT application. Just like Windows 'knows' what to do with a ".torrent" file when a user 'opens' a file with that particular extension, or will send a .jpg file to whatever graphics application you have installed.

ALL "Windows" applications use the Windows command shell subsyste

[2015-10-31 17:30] Chocobo1 commented on #4028
https://qbforums.shiki.hu/index.php/topic,1645.0.html

[2015-10-31 17:37] chrishirst commented on #3155
Albeit for being a different version, using different libraries and running on a completely different operating system that is.

[2015-10-31 17:40] chrishirst commented on #2086
and one that was fixed almost a year ago!

[2015-10-31 17:41] fskea1 commented on #4011
+1 for font selection for the entire program

[2015-10-31 17:43] EraYaN commented on #4001
I do not completely agree. You can create a process without relying on the shell. (I do this often if I need python for some science script or library. Or any other command line tool like ffmpeg/rtmpdump whatever.

How I normally solve it:

* Try it in the shell to see if it's in PATH. (and it's the correct version too)
* Check registry: HKLM\SOFTWARE\Python\PythonCore\ or HKCU\SOFTWARE\Python\Pyt

[2015-10-31 19:11] yurikoles commented on #2086
Ok, maybe I use qBittorrent 3.2.4 from another Universe.

[2015-10-31 19:17] sledgehammer999 commented on #2086
@yurikoles if you do `File->Exit` does it still lose its settings?

[2015-10-31 19:18] sledgehammer999 commented on #2086
Forget that. You're talking about crashing...
Does it display the "legal notice" after every crash?

[2015-10-31 19:20] Nick222 opened #4036 "Cannot see torrent properties table"
Suddenly disappeared torrent-properties table (below list of torrents).
How I can see it again?

Xubuntu 15.10-64
qBittorrent 3.2.4

[2015-10-31 23:21] yurikoles commented on #2086
No, I don't see legal notice. Also, I don't mean crash of the qB, it may be caused by system crash or reset of the system, that isn't relevant to qB. But I saw recheck of my files and reset of their state so many times.

[2015-11-01 00:08] sledgehammer999 commented on #2086
You have a different bug then. This bug is about losing program settings. And I am closing it since I believe that it is fixed already.
Feel free to open a new one and include what the log says after the crash where it begins to recheck.

[2015-11-01 00:08] #2086 closed

[2015-11-01 06:24] glassez commented on #4031
This may happen if you used one of the early pre-release builds of version 3.3 before.

[2015-11-01 06:33] Qulox commented on #4031
Yes, I used the 3.3 alpha before and I did overwrite the alpha files when I updated; it is there any way to fix it or should I just nuke everything and start from scratch from last beta?

[2015-11-01 06:50] txtsd commented on #4036
Click the General button at the bottom.

[2015-11-01 06:53] glassez commented on #4031
I'm afraid in your case you should remove and then re-add the torrents.

[2015-11-01 06:55] glassez commented on #4031
Or try first to disable and then enable "Append the label of the torrent to the save path" option.

[2015-11-01 07:12] Qulox commented on #4031
Thanks, at least I have just 66 torrents. So, if I remove all torrents the new ones I add should be ok?

Tried it, didn't work even if closing between changes. This time I'll wait for my current torrents to finish, take note of my settings and start everything again; it was due time, I've been overwriting my installation since that problem with utorrent and the bitcoin thing (the reason I'm using

[2015-11-01 07:14] glassez commented on #4031
Don't do it all at once. Try one or more torrents.

[2015-11-01 07:32] Qulox commented on #4031
It didn't work, the newly added ones ended up in the default folder again. I'll try deleting everything, should fix it and any other error that may have creep in from older betas, I know and assume the risks of using test software (it's not like I was using it for critical files). Big thanks though, I'll report tomorrow how it went.

[2015-11-01 07:37] Nick222 commented on #4036
I am stupid :)
Thank You!

[2015-11-01 09:20] ovidiubuligan commented on #4011
I tested it by setting the "Size of all items" in windows 8.1 display setting and this is how it looks without restarting windows (there was a message saying that it may be that for some apps a restart is required):
![look](https://cloud.githubusercontent.com/assets/4757459/10868045/22cf29c0-808a-11e5-95f5-f16642a788d5.png)

The problem is that it is a Global setting and and there is only one hide

[2015-11-01 09:24] txtsd commented on #4036
It's alright :)
Please close the issue if that solves your problem.

[2015-11-01 09:30] #4036 closed

[2015-11-01 09:34] glassez commented on #4031
@Qulox You should stop your attempts. It does not work without my latest patch (#4037).

[2015-11-01 09:42] GUImodder commented on #3975
Does anybody know if @Chocobo1 has seen this post?

[2015-11-01 10:27] sledgehammer999 commented on #3975
He gets notified by github when his name gets mentioned. So he either is busy or he ignored this.

[2015-11-01 10:41] sledgehammer999 commented on #4031
@Qulox can you try this build: http://builds.shiki.hu/temp/qbittorrent_3.3.0beta_containsPR_4037_for_issue_4031.7z
It contains the code of #4037

[2015-11-01 10:51] GUImodder commented on #3975
ok thanks alot

[2015-11-01 11:34] asturel opened #4038 "qBittorrent file association doesnt work (3.3.0beta_20151028_c75725e2d8c)"
in 3.2.4 was fine, but its "broken" in qbittorrent_3.3.0beta_20151028_c75725e2d8c also in qbittorrent_3.3.0beta_20151026_3a29d70dd55.
Tried uncheck -> ok/apply -> check -> ok/apply / restart. It just won't assign qbt to .torrent files.

Windows 10 x64 Pro

[2015-11-01 11:40] sledgehammer999 commented on #3783
Can you guys try this build: http://builds.shiki.hu/temp/qbittorrent_3.3.0beta_qt5_20151101_a39ce57094b.7z
It is of latest master and qt5 instead of qt4.

[2015-11-01 11:47] sledgehammer999 commented on #3907
@alarir can you try v3.3.0beta builds from our unstable PPA?
@Rabcor can you also try v3.3.0 builds? (git master)

[2015-11-01 11:48] fskea1 commented on #4002
I suggested giving the user the option.

[2015-11-01 12:26] alarir commented on #3907
Hey, unfortunatelly it's the same after switching to unstable.

sudo apt-get purge qbittorrent
sudo apt-get autoremove qbittorrent
sudo add-apt-repository --remove ppa:qbittorrent-team/qbittorrent-stable
sudo add-apt-repository ppa:qbittorrent-team/qbittorrent-unstable
sudo apt-get install qbittorrent
sudo apt-get upgrade qbittorrent
apt-show-versions qbittorrent
qbittorrent:i386/trusty 3.3.x~6312

[2015-11-01 12:53] Chocobo1 commented on #3975
@GUImodder
There is #4029, could that PR cover your needs?

[2015-11-01 12:55] robby963 opened #4039 "qbittorrent wont open RSS downloads when double clicked!!!!!!"
ok so i havent been able to double click a file to re-download it, its seriously annoying the hell out of me and utorrenti had previously i never got a single issue!!!! here the log for it i hope someone can help by tomorrow or im getting rid of it, so irritating i cant begin to explain!!!

also noticed its telling me some files cant be downloaded even though i literally just updated my client ver

[2015-11-01 13:07] alarir commented on #3907
Ok, seems the problem depends on "Start qBittorrent minimized" checkbox. Deleted ~/.config/qBittorrent files and qBittorrent window opened fine until start minimized was checked.

Tested also on another machine on Lubuntu 15.10/LXDE/4.2.0-16-generic and qbittorrent:amd64/wily 3.3.x~6312-20151029~wily1 uptodate; and yes, the problem appears on the same way depending on the start minimized option.

[2015-11-01 13:35] #2244 closed

[2015-11-01 14:04] sledgehammer999 commented on #3144
Fixed in #3604

[2015-11-01 14:04] #3144 closed

[2015-11-01 14:04] #3619 closed

[2015-11-01 14:12] sledgehammer999 commented on #4039
How do you expect help when you don't post the RSS link?
And you don't even tell us your qbt version and OS.
And on top of that you have the nerve to come here to tell us that you "get rid of it" by tomorrow if you don't get help and that it is "useless software".

It didn't occur to you that your specific RSS url might be non-standard RSS? And that thousands of people already use the client witho

[2015-11-01 14:29] alarir commented on #3907
Did even more testing on a third machine with Ubuntu 14.04 LTS/Unity/3.13.0-66-generic.
The 3.1.x version from unstable, start minimized and the window opens with no problems.
Upgraded to qbittorrent:amd64/trusty 3.3.x~6312-20151029~trusty1 uptodate; set start minimized and the window does not open. So it seems it's not even specific to LXDE, but appears on qB 3.2+ with start minimized on.

[2015-11-01 14:35] robby963 commented on #4039
well the RSS is updating my bookmarks fine on my feed just wont let me double click to download V3.2.5 and im running windows 7 ultimate 64bit. and sorry i didnt realise it didnt include it, i alway find ways to fix thing so never really ask for help on forums so not sure what you needed to help me, i apologise just let me know what else you need....

RSS feed is this link but due to personally pr

[2015-11-01 14:37] sledgehammer999 commented on #3907
I am starting to feel that this is a 14.04 issue and more specifically from qt4 version it includes.
I have a xubuntu 15.04 VM and it works there. Now I am downloading lubuntu 15.10 to see if it works there too.

[2015-11-01 14:43] sledgehammer999 commented on #4039
You still didn't include the RSS url for me to test... (unless you want to share it via email)

[2015-11-01 14:46] sledgehammer999 commented on #4039
my email: sledgehammer999 (at) qbittorrent (dot) org

[2015-11-01 14:47] robby963 commented on #4039
id honestly prefer not too, they are my personal downloads lol but honestly its updating even when i uninstall and reinstall and paste the same rss in the box it just wont double click

i get you want to try it your end but like i say i dont trust people i dont know and not like i can change rss address or stop you being able to access my files

[2015-11-01 14:48] sledgehammer999 commented on #4039
If you click the same RSS item in your browser, does it download the .torrent file?

[2015-11-01 14:50] sledgehammer999 commented on #4039
The log you posted contains the links that qbt tries to download. And they have spaces in them...
(you might want to edit your post and delete the links)

[2015-11-01 14:50] robby963 commented on #4039
it works through the website yes, and what do you mean delete the links ? im confused with this bit lol

[2015-11-01 14:52] robby963 commented on #4039
ahh i see they are not complete links

how do i change this ? funny thing is the website works fine for that torrent but on the client it just basically does nothing at all no matter how many times i click

[2015-11-01 14:54] sledgehammer999 commented on #4039
Load the RSS in your browser. right click->view source.
This will show you the RSS code for that particular feed. Copy a snippet of it here, regarding a particular item.
@ngosang or @Chocobo1 might be able to see what's wrong.
Just so you know, that particular RSS must be coded in a non-standard way for it to not work with qbt already.

[2015-11-01 14:54] robby963 commented on #4039
ok not the bloody client is making my mouse move seriously slow like its about to crash.....to be honest i might just get rid of it its driving me mad

[2015-11-01 15:09] robby963 commented on #4039
<title>Fast N Loud season's 1- 4 720p [Mixed Groups]</title>
<link>
https://iptorrents.com/download.php/1091452/Fast N Loud season&#39;s 1- 4.torrent?torrent_pass=2bf64b039d38afd0829b87bd85846a63
</link>
<pubDate>Mon, 05 May 2014 14:57:55 +0000</pubDate>
<description>57.1 GB; TV/Packs</description>
</item>
<item>
<title>Undisputed Trilogy BRRip Xvid AC3 RoSubbed-playXD</title>
<link>
https://iptor

[2015-11-01 15:14] sledgehammer999 commented on #4039
While waiting for the others to comment here are my 2 observations:
1. The link contains spaces -> "Fast N Loud season" while it still has an encoded character -> "&#39;s"
2. Copying it to my browser it comes back with "Error: pregmatch"

I hope you pasted the correct one. Look at how it appears here and confirm. Of course you can clip your torrent_pass value.

[2015-11-01 15:23] robby963 commented on #4039
mine shows same error but when actually on the site i click download the .torrent file is downloaded within a second....and im confused what you mean by encoded character ? i know nothing about coding n that sort of stuff...and whats a torrent_pass value ?

this is all new to me, like i said before i usually find a solution to 99% of problems but this one is driving me mad :/

[2015-11-01 15:25] robby963 commented on #4039
also this link has spaces and shows no error :(

[2015-11-01 15:29] sledgehammer999 commented on #4039
Yes, the 2nd link works for me too.
Maybe the link posted earlier has a problem. Do all your links in the RSS don't work with qbt or only a few?
Btw, can you check on your first link and confirm that it is pasted correctly?

[2015-11-01 15:32] sledgehammer999 commented on #3907
The actual problem comes from "start minimized" AND "minimize to tray".

[2015-11-01 15:39] robby963 commented on #4039
https://iptorrents.com/download.php/1091452/Fast N Loud season&#39;s 1- 4.torrent?torrent_pass=2bf64b039d38afd0829b87bd85846a63

yes its pasted correctly i just copied this again for you, and yes, none of them work in QBT, for me to download them i have to either get the .torrent file or delete the bookmark and rebookmark it then update it and it download automatically

[2015-11-01 15:48] sledgehammer999 commented on #4039
It wasn't paste correctly. Your new paste works for me. And if copy it, then in qbt do file->add link, it also downloads it.
One last thing I ask you: Can you post a **screenshot** of RSS source? Not the whole RSS if you don't want, just a snippet of it as you did above. We need to see exactly how it is coded behind the scenes.

[2015-11-01 15:51] robby963 commented on #4039
mines showing same error when i paste it into browser :/

and tbh i think i found the problem, my RSS link in QBT was the FAST N LOUD lik posted earlier, im really not sure why it has changed it to that!

[2015-11-01 15:54] robby963 commented on #4039
i think i must of pressed new subscription by accident but what i dont get is why FAST N LOUD link was copied :S

[2015-11-01 15:55] robby963 commented on #4039
still doesnt download when double clicked though

[2015-11-01 16:11] sledgehammer999 commented on #4039
What do you mean? You put the correct link in qbt (the RSS link) and when you double click an item, it doesn't load?

[2015-11-01 16:17] robby963 commented on #4039
yes thats correct, it was the wrong link somehow, and when i changed it back to the proper one off the website i was ment to use, i pressed update on RSS tab and double clicked and nothing happened, even tried closing QBT, reopening it and double checking the link again before again trying to double click a file and nothing happened......not even an error....i can literally just keep clicking on i

[2015-11-01 16:18] robby963 commented on #4039
theres nothing wrong with the link now

[2015-11-01 16:33] sledgehammer999 commented on #4039
Please post the screenshot I asked here: https://github.com/qbittorrent/qBittorrent/issues/4039#issuecomment-152839808

[2015-11-01 16:35] robby963 commented on #4039
rather not, you can still get my full link by adding the beginning, but it should work, if i make a new bookmark and press update in RSS tab it downloads it fine through the client its just double clicking that doesnt, its got to be a client bug surely :/

[2015-11-01 16:41] Qulox commented on #4031
Thank you, tried the new build and has been working in new torrents so far (6 small torrents (5-20 mb)) but it couldn't move the old labeled ones, so I just moved them manually by using Set location in the contextual menu.

[2015-11-01 16:45] sledgehammer999 commented on #3907
Marking this as "WontFix" or "NotMyProblem". This problem doesn't exist when using qt5. I plan to default to qt5 for v3.3.x. And the v3.2.x series are EOL now.
If you're wondering why it changed behavior between v3.1.x and v3.2.x. It was changed in v3.2.1 with commits a00bbf349afa9be9bac036b02c479637072f0db3 and 41e052498b5d9b010b6eb2fec3b8728709fb5902
Before that, the mainwindow never minimized t

[2015-11-01 16:45] #3907 closed

[2015-11-01 16:47] sledgehammer999 commented on #4039
You can always crop the image to only show a snippet of the RSS code. more specifically to show 1-2 RSS items.

[2015-11-01 16:48] sledgehammer999 commented on #4031
@glassez if you can't fix "old labeled ones", I can just go ahead and review/merge your PR.

[2015-11-01 16:49] sledgehammer999 commented on #3980
Read here why I close this too: https://github.com/qbittorrent/qBittorrent/issues/3907#issuecomment-152843016

[2015-11-01 16:49] #3980 closed

[2015-11-01 16:51] sledgehammer999 commented on #2931
Can you try the latest version from our stable or unstable PPA?

[2015-11-01 16:51] sledgehammer999 commented on #3656
Closing due to lack of answer.

[2015-11-01 16:51] #3656 closed

[2015-11-01 16:57] sledgehammer999 commented on #3945
Read here why I close this too: https://github.com/qbittorrent/qBittorrent/issues/3907#issuecomment-152843016

[2015-11-01 16:57] #3945 closed

[2015-11-01 16:57] sledgehammer999 commented on #3727
Read here why I close this too: https://github.com/qbittorrent/qBittorrent/issues/3907#issuecomment-152843016

[2015-11-01 16:57] #3727 closed

[2015-11-01 16:59] sledgehammer999 commented on #3994
Read here why I close this too: https://github.com/qbittorrent/qBittorrent/issues/3907#issuecomment-152843016

[2015-11-01 16:59] #3994 closed

[2015-11-01 17:00] #1087 closed

[2015-11-01 17:01] #1345 closed

[2015-11-01 17:01] robby963 commented on #4039
yer but you would still get my RSS link, like i said i dont want people knowing it due to not being able to change it and its a private torrent site so not a chance

[2015-11-01 17:03] glassez commented on #4031
I don't think I can correctly fix it without damaging the normal behavior of the application. This issue should not affect many users. Besides you can fix this by disabling and then enabling "Append label to save path' option (using a build with my latest patch).
So just merge my PR.

[2015-11-01 17:05] sledgehammer999 commented on #3509
I cannot reproduce with v3.2.5 and Windows 7 64bits. And @ngosang's suggestion probably fixes your problem.

[2015-11-01 17:05] #3509 closed

[2015-11-01 17:06] sledgehammer999 commented on #3739
Closing as main issue is solved.

[2015-11-01 17:06] #3739 closed

[2015-11-01 17:07] sledgehammer999 commented on #1752
This is probably fixed now.

[2015-11-01 17:07] #1752 closed

[2015-11-01 17:08] sledgehammer999 commented on #4039
But you already posted links from that RSS!!!

[2015-11-01 17:09] sledgehammer999 commented on #4039
Does this RSS link work for you in qbt? : https://www.nyaa.eu/?page=rss

[2015-11-01 17:10] sledgehammer999 commented on #4031
ok, I agree.

[2015-11-01 17:12] #4031 closed

[2015-11-01 17:16] Qulox commented on #4031
@glassez, @sledgehammer999, thanks for your help.

[2015-11-01 17:23] glassez commented on #4031
@Qulox Thank you for your feedback and testing.

[2015-11-01 17:54] robby963 commented on #4039
ill email you

[2015-11-01 19:13] DumbIdiot opened #4040 "[Wishlist] Ability to select multiple labels."
For example, if I have multiple labels I want to be able to be able to select some of them with CTRL+left click.

[2015-11-01 19:55] sledgehammer999 commented on #4018
Actually I am not interested in app stores. I prefer spending my time coding and managing the development of qbittorrent than trying to get into every app store or try to satisfy their guidelines.
Our app notifies people of new versions available anyway.

[2015-11-01 19:55] #4018 closed

[2015-11-01 19:56] sledgehammer999 commented on #4024
Any news on this? You could also try limiting the number of half-open ports (you find this in advanced settings) to below 10. Maybe 5. It will result in slower download start but it will not bork your router if it is buggy.

[2015-11-01 19:58] sledgehammer999 commented on #4023
It is normal to say "stalled" the first seconds after addition. Does it even try to connect to peers? What activity do you see in the trackers and peers button? (at the bottom)

"force resume" doesn't do anything special. It just never uses the queue limits for that torrent.

[2015-11-01 20:05] bududubdubdubs commented on #4023
Torrents added will sit like this for hours, I have some rss feeds and I have to be always checking the client otherwise they never download.
I added some random torrent, trackers tab looks like attached pic and the peers tab is completely blank.
![ss 2015-11-01 at 12 05 09](https://cloud.githubusercontent.com/assets/15373790/10871053/e3012152-8090-11e5-8b7e-2fe99fe9d3ef.png)

[2015-11-01 20:09] sledgehammer999 commented on #4011
I doubt we can do it. Unless qt (our GUI framework) allows for such a setting in an app-wide sense.
@glassez @Chocobo1 @ngosang ideas? Maybe QApplication::setFont() or applying CSS style?

[2015-11-01 20:10] sledgehammer999 commented on #4023
Can you take a screenshot showing a torrent in this state? (delete only the name)

[2015-11-01 20:14] sledgehammer999 commented on #4010
Ignores the queue limits.

[2015-11-01 20:14] #4010 closed

[2015-11-01 20:16] sledgehammer999 commented on #4009
I think you can achieve this my increasing your cache under advanced settings.
If you are too worried about fragmentation, then use "preallocate diskspace for all files" under "bittorrent" settings.

[2015-11-01 20:16] #4009 closed

[2015-11-01 20:17] sledgehammer999 commented on #4008
Sorry I don't think this will be useful to many users. You can quickly change priority yourself or "force resume" torrents.

[2015-11-01 20:17] #4008 closed

[2015-11-01 20:17] sledgehammer999 commented on #4007
Sorry, I don't like this idea.

[2015-11-01 20:17] #4007 closed

[2015-11-01 20:20] sledgehammer999 commented on #4006
I don't like to babysit people. And there isn't an easy way to achieve this wishlist. Plus, if you have antivirus installed it will alert you either after you double-click (but before the exe runs) or after qbt finishes writing the file.

[2015-11-01 20:20] #4006 closed

[2015-11-01 20:21] sledgehammer999 commented on #4005
I agree.

[2015-11-01 20:21] #4005 closed

[2015-11-01 20:22] sledgehammer999 commented on #4004
You probably mean to extend the scheduler. Which I agree. I know there are issues about it here but I can't find them now. So I am closing this as duplicate.

[2015-11-01 20:22] #4004 closed

[2015-11-01 20:22] sledgehammer999 commented on #4003
I suppose you have solved this, so I am closing.

[2015-11-01 20:22] #4003 closed

[2015-11-01 20:23] sledgehammer999 commented on #4002
Yes #3989 will fix this.

[2015-11-01 20:28] bududubdubdubs commented on #4023
![ss 2015-11-01 at 12 26 40](https://cloud.githubusercontent.com/assets/15373790/10871165/1c61da88-8094-11e5-9352-3b33c4d4da3f.png)

[2015-11-01 20:29] sledgehammer999 commented on #4001
Ignore @chrishirst's comments on this one. He is generally correct about what he is saying but not in this specific.
qbt calls python+script directly. It doesn't rely on Windows extensions.
However, the plugins are called by other .py scripts. We pass to python the initial script with some arguments and that script decides which other scripts to load and run. I really doubt that we can make python

[2015-11-01 20:31] sledgehammer999 commented on #4000
The status of the torrent should read "Missing files". What are you seeing?

[2015-11-01 20:31] bududubdubdubs commented on #4023
Another thing that I neglected to mention is that I have used qbittorrent for at least a year, it only started doing this after I did a fresh windows install on my computer. I don't see how that could possibly have anything to do with it but the more info the better I guess.

[2015-11-01 20:33] sledgehammer999 commented on #3999
@qbittorrent/qbittorrent-frequent-contributors I find this not so useful and I'd close this. But I wanted to get a second opinion...

[2015-11-01 20:33] chrishirst commented on #4040
That would require qbittorrent to actually support multiple labels per tasks in the first place.

#13
#917
#2324

[2015-11-01 20:36] sledgehammer999 commented on #3998
To run a batch script you need to call cmd.exe with a switch pointing to your batch file. Not your batch file directly. It will not run.
Any serious antivirous would scan the files WHILE qbt writes them to disk AND when you try to read/execute them.
If you're worried about fragmentation, just choose "preallocate diskspace for all file" from the settings.
@qbittorrent/qbittorrent-frequent-contribut

[2015-11-01 20:38] DoumanAsh commented on #4001
First of i would like to understand actual intention behind introduction of *.qbse
@fskea1
What exactly do you want to see?

In title you states to replace python files with some new one
But in first post you want new file to install search engines.

First thing is pointless.
The second... well, i'm not really sure if there is a need to have a separate file extension for the script that would inst

[2015-11-01 20:38] EraYaN commented on #4001
Pyhton should (TM) accept any arbitrary name file as an import (with imp.load_source and the likes) and you can use sys.path.insert to temporarily add paths where the file will be looked for.

I once used it to make a badly coded "plugin system", but it did execute *.png and *.jpg files ;) (On windows, mind you)

[2015-11-01 20:39] chrishirst commented on #3999
Just move it to the top of the queue then. There is already a button to do that.

[2015-11-01 20:39] sledgehammer999 commented on #3995
we could remove those qDebug() calls. I doubt anyone will see them anyway...

[2015-11-01 20:40] sledgehammer999 commented on #3993
I can't explain it well but I prefer when something goes horribly wrong to have the app crash and burn. That way it will force people to notice the issue and report. Of course, I could be unresponsible and childish.
@qbittorrent/qbittorrent-frequent-contributors any input here?

[2015-11-01 20:41] sledgehammer999 commented on #3991
is that recurring?

[2015-11-01 20:46] DoumanAsh commented on #4001
@EraYaN
You might as well to drop bucnh of engines onto search engine tab to install.

But i want to hear more from @fskea1 to understand what exactly he wants to see.

[2015-11-01 20:49] sledgehammer999 commented on #3988
@arvidn are you sure that libtorrent doesn't have a bug in this? (1.0.7 unreleased is used)
Here is our small relevant code [FilterParserThread::processFilterList()](https://github.com/qbittorrent/qBittorrent/blob/v3_2_x/src/core/qtlibtorrent/filterparserthread.cpp#L347).
Also we never use `flag_apply_ip_filter` so it is enabled by default.

[2015-11-01 20:53] sledgehammer999 commented on #4023
Use the filter on the top-right corner and right a portion of the torrent name to filter it.
Then take a screenshot showing the column headers too.

[2015-11-01 20:54] sledgehammer999 commented on #3999
It will share bandwidth with the other torrents. That's why we wants to temporarily pause all other activity too.

[2015-11-01 20:55] DoumanAsh commented on #3803
Potentially it can be added, but only as optional column.
But do you really need it?

When you load torrent, you can view metada including date.
Not only i would not trust date alone, but if i have doubts i would first see torrent description, not the date alone.

Number of seeds and comments(if available) are more reliable sources of torrent credibility than date.

[2015-11-01 20:55] bududubdubdubs commented on #4023
![ss 2015-11-01 at 12 55 07](https://cloud.githubusercontent.com/assets/15373790/10871300/e0d4f3d4-8097-11e5-8cf8-b6cfdd3dea73.png)

[2015-11-01 20:57] DoumanAsh commented on #3116
@aleqx ping in case if you're still interested.

[2015-11-01 20:58] sledgehammer999 commented on #4001
As far as I understand it, he wants this. For the search plugins: Have the .qbse extenstion instead of .py. That way it will enable us to associate that extension with qbt. Then if a user downloads a plugin from the internet he can either have the browser open it with qbt OR just double click it and it will launch qbt. Then when qbt receives .qbse file it should "install" like we do no when drag-n

[2015-11-01 21:00] sledgehammer999 commented on #4023
You could at least have the "status" column enabled so I can see what it says. For the "uknown" size I bet that is a magnet link. Also I bet that the status doesn't say "stalled" but "receiving metadata".
Can you make another screenshot?
Also are you connected to the DHT? (see bottom of the window)

[2015-11-01 21:01] EraYaN commented on #4001
Ooh that's pretty smart.. Could then later use that code path for all and any thing like plugins/addons or god knows what.

[2015-11-01 21:02] DoumanAsh commented on #4001
I see.
In that regards yes, the easy way as you said is that during installation put this special file with correct extension in nova folder.

I'm not really sure though how easy it would made life to users as it might be easier to just put download link into qBt and it would install.

For just installation purposes there is no harm to have new extension and there is no harm to current search engi

[2015-11-01 21:02] bududubdubdubs commented on #4023
Status says "queued", and yes I am connected to DHT.

[2015-11-01 21:03] aleqx commented on #3116
Oops, I didn't notice the updates until now. Yes, I'm still interested. I downloaded the latest v3.2.x and was hoping it's already implemented but alas ...

I'll get your nova3 version. However, must I have `QBT_PY_IP_TO_USE=<static_ip>` set as a global env var? That would defeat the purpose a little ... in my case for instance, this IP changes as I connect and disconnect to a VPN.

Why not obtain

[2015-11-01 21:05] sledgehammer999 commented on #4023
Well that's your problem and that's why "force resume works". Magnet links that don't are still considered as downloading torrents and are subject to the queue limits you have set in the settings.
So I am closing this, since I am confident you will solve this by adjusting your queue limits.

[2015-11-01 21:05] #4023 closed

[2015-11-01 21:05] DoumanAsh commented on #3116
It is mostly for test purposes in order to understand if i done it correctly.

If it so then we'll need to think of the best way to deliver it into plugins

[2015-11-01 21:08] aleqx commented on #3116
Is it just helpers.py that you changed?

p.s. Also, I'm on Windows (if that affects anything).

[2015-11-01 21:09] DoumanAsh commented on #3116
Yes. There was link to my commit with diff.

[2015-11-01 21:10] sledgehammer999 commented on #3987
I have tried this 2-3 time with latest v3.3.0beta build. I can't reproduce it. And since you don't tell me which version you used I am closing this. If you can reproduce it with the beta builds, comment here and I'll reopen this.
Latest beta: http://www.fosshub.com/qBittorrent.html

[2015-11-01 21:10] #3987 closed

[2015-11-01 21:14] sledgehammer999 commented on #3978
Do you have better results with OS cache disabled?
What OS?

[2015-11-01 21:14] sledgehammer999 commented on #3978
Do you do mainly seeding?

[2015-11-01 21:15] sledgehammer999 commented on #3970
Does this happen with v3.2.5 too?

[2015-11-01 21:19] DoumanAsh commented on #3562
@ngosang
If you're going to add new category you should consider non-official plugins

[2015-11-01 21:26] sledgehammer999 commented on #3968
Let's leave the "folder structure" alone. qbt doesn't yet support "strip subfolder" for multifile torrents. So you somehow managed to download multifile torrents that have the same name. This created the same subfolder.

Anyway, what is important is the "missing files" status. You might have hit a limit of libtorrent due to that huge torrent. Can you move (via "set location...") a torrent that exh

[2015-11-01 21:28] DumbIdiot commented on #4040
How so? I don't mean multiple labels for a single torrent. If I have 3 labels with different torrents in each, I want to select only 2 of the 3 labels in the left menu so I can manage the combined torrents together.

[2015-11-01 21:30] sledgehammer999 commented on #3940
qbt version? OS?

[2015-11-01 21:39] chrishirst commented on #3999
and you can currently do the whole operation with three mouse clicks, why does it an additional bit of "bling" in toolbars and menus?

[2015-11-01 21:42] Cuelebre commented on #3991
Not at the moment. Thank you.

[2015-11-01 21:44] chrishirst commented on #3999
just to demonstrate:

Ctrl+A
Ctrl+[click] on the task you want to contiue
Ctrl+P to pause all selected tasks.

when you start reading, press Shift+Ctrl+S to restart all tasks.

[2015-11-01 21:52] sledgehammer999 commented on #4039
For anyone that might follow this: I have seen and tested the feed. Double clicking works for me except for one item that has an invalid link.
For the user the problem is that it never gets a message even for failure.
Other feeds, like the nyaa.eu one, work for him.
He doesn't use a proxy or a VPN.
I don't know what else to ask him or help him. @ngosang @Chocobo1 do you any ideas here?

[2015-11-01 22:05] aleqx commented on #3116
I'm hit by the old qBT bug in which only btdigg.org returns results (I never really found out why) ... there were reports about this in the forum too a long while back but nothing was done. It comes back to normal after a random while. This has nothing to do with the current nova3 (the original one does the same). I'll post back after it works correctly ... too busy to use sharkwire

[2015-11-01 23:42] sledgehammer999 commented on #13
@ everyone here: This thread has become huge and now I am lost. Is anybody actively working on this? Speak so I can wait for you for v3.3.0. Otherwise, I won't consider this for fixing for v3.3.0.

[2015-11-02 00:07] arvidn commented on #3988
@netswap are there any common properties of the banned peers that are allowed to reconnect? Are they all uTP or TCP? is there a proxy involved?

@sledgehammer999 grepping through the qbittorrent repo for "add_torrent_params", I only get hits inside libtorrent. are you adding torrents through the deprecated functions?

[2015-11-02 00:17] sledgehammer999 commented on #3988
@arvidn
For torrents: [QBtSession::addTorrent()](https://github.com/qbittorrent/qBittorrent/blob/v3_2_x/src/core/qtlibtorrent/qbtsession.cpp#L1071) and [here](https://github.com/qbittorrent/qBittorrent/blob/v3_2_x/src/core/qtlibtorrent/qbtsession.cpp#L1120) is the addition.
For magnets: [QBtSession::addMagnetUri()](https://github.com/qbittorrent/qBittorrent/blob/v3_2_x/src/core/qtlibtorrent/qbtses

[2015-11-02 00:19] sledgehammer999 commented on #3988
@netswap when copy here the value of the "flags" column. And I'll explain to @arvidn what those symbols indicate. (you can see it yourself too in the tooltip when hovering over the row).

[2015-11-02 01:12] fskea1 commented on #4000
When I delete files of a specific torrent, it says "missing files" when the download folder is inaccessible,  used to see "stalled". It was very confusing, and I ended up restarting wireless controller and router not knowing what's happening.

[2015-11-02 01:15] fskea1 commented on #4001
The idea is: making search engine files double clickable so that people can download the scripts and install them just by double clicking on them.
I download all *py" files and add them one by one. Can you also make the "open file" dialog on search engine list allow selecting multiple *py" files?

[2015-11-02 01:17] sledgehammer999 commented on #4000
Can you check again? And if that happens can you tell what the log says about that torrent?

[2015-11-02 01:19] fskea1 opened #4041 "[Wishlist] Option to remove .torrent file after download completion"
I am assuming many people don't keep .torrent files after download completion. Automation saves time.

[2015-11-02 01:31] fskea1 commented on #4000
bug confirmed. Ive set download location to some folder that doesnt exist, added a new torrent to download. qb says "stalled". want screenshots?
http://imgur.com/QEuQLxh
http://imgur.com/ielxOvt

[2015-11-02 01:34] fskea1 commented on #4000
qb created the folder. close this case.

[2015-11-02 01:42] teleksterling opened #4042 "Bold highlight for RSS feeds with unread items"
Scanning the list for feeds with (2) rather than (0) is slow and tedious. Having clear bold highlighting for new items would help, and is also the common 'visual language' across many platforms.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27881320-bold-highlight-for-rss-feeds-with-unread-items?utm_campaign=plugin&utm_content=tra

[2015-11-02 01:46] bean-drew commented on #2126
Now on OSX 10.11.2 w/ QBT 3.2.5, and the problem persists for me re: unable to normally recall QBT window when minimized to dock.  Now, "show all" does restore window with content although I can't say whether that's because something has changed code-wise or if that aspect of the problem is just intermittent.

Still something funny going on though, when minimizing to the dock.

[2015-11-02 03:13] arvidn commented on #3988
other relevant properties would be wether they are all incoming or outgoing connections, or web seeds or regular bittorrent peers.

[2015-11-02 03:36] Chocobo1 commented on #3998
Or you could code a script in python, might be easier.

From my lazy point of view, it's worth only when other (popular) torrent client supports it.

[2015-11-02 04:10] glassez commented on #3998
IMO, This is another piece of fat to make the program more bloated. This is easily solved using a script or batch file.

[2015-11-02 04:27] Chocobo1 commented on #3993
Unless this program is being used for serious application (military, max security, etc...).I don't think we need that level of robustness. Although it's a good article, mindlessly applying it may done more harm than good.

The 2 articles you give doesn't state any real world benefits/drawbacks for using exception in `main()`.
I think some answer in this post is good (enough) for facing real world

[2015-11-02 04:34] glassez commented on #13
I think you shouldn't do so. It's a very complex issue and we not come to the understanding of how it should be (not to mention some of the implementation).

[2015-11-02 04:37] Chocobo1 commented on #4011
Don't try to change the font size for the whole GUI, just let OS handle it via DPI scaling. (otherwise it's just bloating the code)

IMO it's reasonable to do so, if users find the default text too small for them.
Currently it's fine for me though...

[2015-11-02 05:00] glassez commented on #13
@sledgehammer999 Moreover, I don't think you should assign any milestone for this now.

[2015-11-02 05:13] getreadyforme opened #4043 "[Wishlist] Extended save location history list"
Currently QB can remember at most 8 or 9 save locations that we can choose from when opening a new torrent.  This is too low.  Is there a way to extend that list?  Maybe a hack in a config file?

Thank you.

[2015-11-02 05:24] glassez commented on #3993
In our case, any exception here (in main()), it is really an unexpected exception (i.e. some bug) and we are unlikely to process it correctly. The current behavior (crash report) is the most sensible in my opinion.

[2015-11-02 05:27] glassez commented on #4011
As an option, of course. Not everyone needs it.

[2015-11-02 07:05] robby963 commented on #4039
if i dont get an answer by 6am tomorrow ill leave it and get a new program

[2015-11-02 07:35] #3998 closed

[2015-11-02 07:36] sledgehammer999 commented on #13
In case someone already has done work behind the scenes... I am not going to wait if he starts now.

[2015-11-02 07:40] EraYaN commented on #13
I seem to recall someone had a working implementation and also one working with the webui (I think he used that as a starting point, after it was said someone was building a multiple label/tagging system).

I can try to find it when I'm home if you want? I feel there might have been a PR already.

[2015-11-02 07:44] sledgehammer999 commented on #4011
Of course as an option not as something hardcoded.
From my understanding using the OS's DPI setting may be undesirable. It will ALL applications bigger, but the user probably has a problem with the transferlist, not other applications.

[2015-11-02 07:45] sledgehammer999 commented on #13
The webui PR is already noted and almost ready for merging. The multi-label PR I cannot find. It probably was a proof-of-concept code residing in someone's repo, not as a PR.

[2015-11-02 09:03] takiz commented on #4043
Patch (extend to 14):
[code]

[2015-11-02 13:07] EraYaN commented on #13
Yes I can find it either. I think I have imagined it or mixed up fbarriga and/or ngosang (same guy?)

[2015-11-02 13:28] slacka commented on #4041
No, please do not automatically start deleting .torrent files. I like to keep them archived in case I want to download the files again later. The .torrent files take up practically no space.

Instead I propose the right-click->delete open a submenu.

* delete .torrent
* delete .torrent + data
* delete data

[2015-11-02 13:32] slacka commented on #4026
I could *not* reproduce this with qBittorrent v3.2.5 under Win 10. I tried changing the setting upload rate limit, before, during, and after starting the transfer and after a restart. qBittorrent always obeyed the upload limit.

@bunyawat2
Please post the 2 screenshots. Also, what OS and version of qBittorrent  are you using?

[2015-11-02 13:57] alfrix commented on #4041
You can delete the torrent after adding it to the transferlist, qb keeps a copy in the config folder. if you remove the torrent from the transferlist, the copy gets deleted. qb can automatically delete the torrent from the transferlist when it's finished (options->bittorrent->seed until the ratio reaches x amount then delete)
Notice that you should "seed" the torrent as long as possible, don't be

[2015-11-02 14:34] slacka commented on #3981
In Tools->Options->Downloads
Set "Save file location" = D:\TV
Set "Copy torrents to" = D:\TV

[2015-11-02 14:38] thalieht commented on #4039
Deadline on volunteers... THIS GUY is sooo.......... i better not speak
Also this is of no importance what so ever but 6am with no time zone, everyone lives in your world huh

[2015-11-02 14:38] slacka commented on #3970
@sledgehammer999
v3.2.5 installs fine on Windows 10. Unless you hear differently from  Adebeer, you can close this bug.

[2015-11-02 14:48] slacka commented on #4041
@alfrix
There're really 3 items that can be removed 1) transferlist+cache, 2) .torrent file , 3) downloaded data. I believe fskea1 is referring to 2) not 1).

[2015-11-02 14:54] robby963 commented on #4039
sorry uk 6am, and its not a deadline its just i cba not been able to download things without deleting the bookmark and reapplying it again, it worked previously and for other people so why not mine :/

[2015-11-02 15:25] netswap commented on #3988
@arvidn As far as I can reconstruct, it was a normal torrent download.
Peers were regular peers (as the IPs revealed), going over uTP. The client software the peers used varied from µTorrent 2.2.1 up to the most recent version (including BitTorrent's Mainline client).

@sledgehammer999: The flags are "D U P E X" or "D U I E P" most of the time.

[2015-11-02 15:43] alfrix commented on #4041
Let me rephrase: you can delete the .torrent file you download from the web after adding it to the transferlist, AKA no need to keep your .torrent file.

[2015-11-02 16:01] alfrix commented on #3842
No, very bad idea. if the problem is that you have a download a subtitle or something like #3964, then i suggest [Remove Empty Directories (aka RED)] (http://www.jonasjohn.de/red.htm) and add .srt or whatever to the ignore list.

[2015-11-02 16:09] alfrix commented on #3842
@sledgehammer999  this a duplicate of #1606

and very well explained in
https://qbforums.shiki.hu/index.php/topic,3738.0.html

[2015-11-02 16:09] alfrix commented on #3964
@sledgehammer999  this a duplicate of #1606

and very well explained in
https://qbforums.shiki.hu/index.php/topic,3738.0.html

[2015-11-02 16:09] alfrix commented on #4041
@sledgehammer999  this a duplicate of #1606

and very well explained in
https://qbforums.shiki.hu/index.php/topic,3738.0.html

[2015-11-02 16:47] fskea1 opened #4044 "[Wishlist] Split ETA into two columns. "Estimated time of arrival" and "time left" to completion."
Column 1: ETA: estimated time of arrival. Which answers a question like "at what time it will be completed?" (e.g. 8:00 PM today/tomorrow/etc) and not how much time left.
Column 2: Time Left: How much days, hours and seconds left for download to be completed.

[2015-11-02 16:48] #4000 closed

[2015-11-02 16:48] #3993 closed

[2015-11-02 16:50] sledgehammer999 commented on #4026
@bunyawat2 if you post the info I requested I'll reopen this.

[2015-11-02 16:50] #4026 closed

[2015-11-02 16:50] fskea1 commented on #4041
I like the idea of seeding for some time and then deleting the torrent, which encourages seeding. it's ok if you close this thread now.

[2015-11-02 16:52] #262 closed

[2015-11-02 16:57] sledgehammer999 commented on #3988
@arvidn here is the explanation of the flags:
D = interested(local) and unchoked(peer)
U = interested(peer) and unchoked(local)
P = μTP
E = encrypted traffic
X = peer from PEX
I = incoming connection

And you exactly how those flags are getting assigned in [PeerListWidget::getFlags()](https://github.com/qbittorrent/qBittorrent/blob/v3_2_x/src/gui/properties/peerlistwidget.cpp#L480)

[2015-11-02 16:59] sledgehammer999 commented on #3842
Even if it isn't a dupe, this is a bad idea anyway.

[2015-11-02 17:01] sledgehammer999 commented on #3964
Even if it isn't a dupe this is bad idea.

[2015-11-02 17:01] #3964 closed

[2015-11-02 17:04] #4044 closed

[2015-11-02 17:04] #4041 closed

[2015-11-02 17:42] jleclanche opened #4045 "Behave better when clicking a magnet link twice"
When clicking a magnet link twice, it opens the "add torrent" dialog. The second time, it complains with `Cannot add this torrent. Perhaps it is already in adding`. Instead, it really should focus the original dialog, if wm policy allows it.

[2015-11-02 18:13] Nemo-qB commented on #4039
Man seriously.. Move on or wait for support patiently. We don't need to read stupid comments like
''answer by 6am '' or ''I will leave and get a new program''.. Must we answer? By who? You? We must nothing, we can, let that one be clear. I personally don't care which client you use either so no point on mentioning that. Save the further spam post for yourself and try to be polite and respectful, t

[2015-11-02 18:33] getreadyforme commented on #4043
I assume you refer to the addnewtorrentdialog.cpp file here https://github.com/qbittorrent/qBittorrent/tree/master/src/gui

Is there a guide that explains how to use install this?

[2015-11-02 18:55] Adebeer commented on #3970
Sorry, I won't be able to test until I'm back at home in a couple of days. Assume its fixed unless you hear otherwise

Sent from my Windows Phone

-----Original Message-----
From: "slacka" <notifications@github.com>
Sent: ‎3/‎11/‎2015 1:38
To: "qbittorrent/qBittorrent" <qBittorrent@noreply.github.com>
Cc: "Adriaan" <debeerisgreat@gmail.com>
Subject: Re: [qBittorrent] Cant install qbittorrent 3.2.4

[2015-11-02 20:11] chrishirst commented on #4001
However, the plugins are called by other .py scripts. We pass to python the initial script with some arguments and that script decides which other scripts to load and run.

Excellent, I've learnt something new, thanks.

[2015-11-02 20:43] sledgehammer999 commented on #3970
Closing it then. If it doesn't work leave a comment here and I'll reopen it.

[2015-11-02 20:43] #3970 closed

[2015-11-02 23:09] GUImodder commented on #3975
@Chocobo1 Hey,
I dont get what a "PR" is, but i think hiding the the bottom bar would do the trick (you can see what bothers me in this image, marked with red boxes and arrows https://imgur.com/VHV90ko)
Best regards

[2015-11-02 23:13] IntelliMoo opened #4046 "[qB 3.2.5 - Win10x64] App locks up with certain large torrents"
App locks up trying to add this torrent: http://www.cheggit.me/torrents.php?id=2157
App stuck at 18% or so cpu and never responds, have to kill in task manager.
Previous version also exhibited this problem with different large torrent.

[2015-11-02 23:59] Nemo-qB commented on #4046
I think that this issue is the same as https://github.com/qbittorrent/qBittorrent/issues/3962.

[2015-11-03 02:00] lerk08 commented on #4039
Based on your posts here, likely entitled user error.

[2015-11-03 02:15] lerk08 commented on #3978
I've noticed this happening as well.  Leaving ~1200 torrents seeding for about 5 days straight will result in a climb to around 800-1000 MB of memory consumption (8 GB available).  I haven't seen it go higher than that since I typically notice it and restart qB at that time.

Been happening since the start of the v3.2 series, currently on v3.2.4.  Windows 10 64-bit, though I can't remember if this

[2015-11-03 03:13] Chocobo1 commented on #3975
PR = "Pull Request", it means merging code request (which is the way we develop).
OK, then just wait for that request to get merged, this should be done by sledgehammer999 (the project owner).

[2015-11-03 04:40] arvidn commented on #3988
if it affects both incoming and outgoing peer connections, it smells like the entry gets removed from the filter. When saving the filter in the fast resume file, is the banned IP in there?

[2015-11-03 04:48] arvidn commented on #3988
I believe this patch fixes it: https://github.com/arvidn/libtorrent/commit/251e1e63e1ddf657da4ccb67b54a28074e829b6b

[2015-11-03 05:39] glassez commented on #13
@sledgehammer999, @EraYaN, as I said above, we have not yet concluded how this should work. What kind of implementation you are talking now?
Recall the basic problem of multiple labels:
1. How the labels should be associated with the torrent? As a simple set of tags or some hierarchical structure?
2. How will labels affect the torrent save path when 'Append label to save path' option is enabled?

[2015-11-03 06:30] robby963 commented on #4039
definitely not my error i sorted the RSS link and even tried reinstalling QBT and it just wont show in blue it comes up in grey, my friend who knows a hell of a lot more then me about these things tried also and he said theres no reason for it not to work, RSS link is right, program is set up properly and since it was working before ive not changed anything :/

and yes i understand my tone was not

[2015-11-03 07:28] takiz commented on #4043
Windows? (see http://stackoverflow.com/questions/19611/how-to-patch-on-windows).
Or you can edit addnewtorrentdialog.cpp manually through any text editor and then recompile qbittorrent.

[2015-11-03 07:41] barbuslex opened #4048 "Not resume sharing when network interface is specified"
Hi,

The upload/download not resume when we specify network interface on Advanced settings (OpenVPN network interface).

When VPN connexion was disconnected qBitorrent stop sharing the torrent. But when the VPN connexion is connected again qBitorrent not resume to sharing the torrent.

Sincerely

[2015-11-03 08:16] GUImodder commented on #3975
@Chocobo1 Ok nice...will i be notified once this is done and implemented in the latest build? Can you guess (based on past experience) how long this going to like take to happen?

[2015-11-03 09:51] Chocobo1 commented on #3975
You can subscribe to that Pull Request and will be notified when it's merged, then wait for the next release. Or update whenever there is a new version and check out the changelog.

Guess it will take 1~4 months or longer, other higher priority fixes will come first.

[2015-11-03 10:52] GUImodder commented on #3975
@Chocobo1 Ok thanks alot; but it is DEFINITELY going to be implemented?

[2015-11-03 11:14] BogGH opened #4049 "suggestions"
first of all, i would like a feedback button

i would like a tracker link next to each torrent. bitcomet has that and it's useful, you click on the link and it takes you right to the specific torrent page so you cand read comments, instructions, etc.

priority should be handled automatically, example: by default it is limited to three simult. downloads.
if you download 5 torrents, and two of them

[2015-11-03 11:50] barn4k opened #4050 "Problem with save path via RSS"
Hello!

I've set in the RSS downloader the save path for example "E:\serials\serialname" and label "labelname". When it found and downloaded the film all is OK. But when I've restarted qbittorrent it says "missing file". I've pointed to "Open destination folder" and it was like "E:\serials\labelname\serialname" instead of "E:\serials\serialname". But why it decided to save there I don't know.
Some

[2015-11-03 12:25] asturel commented on #4038
odd, previosly .torrent files was assigned to utorrent, manually (in windows) changed back  to qbt, then again associate within utorrent, after that qbt was able to re-assign itself, cannot really reproduce :/

[2015-11-03 14:52] Chocobo1 commented on #4038
Notes for devs,
The current code (modifying registry) is an outdated method for windows8+.
On newer OS, it should be done like this: http://stackoverflow.com/questions/29847034/how-to-show-set-program-associations-window-in-windows-8-8-1

[2015-11-03 17:23] copywrong opened #4052 "[Wishlist] Set location with label"
I would like to link a label to a specific download location. Every time I start a download I choose the label but not the download folder (default folder is ~/Downloads), so with this feature the location would be set automatically depending on the label. If no label is chosen, download is set to default location. If label is chosen but it isn't linked to a particular folder, it defaults do ~/Dow

[2015-11-03 19:05] loungebob opened #4053 "Moving automatically added torrents based on location or content or keywords (or labels)"
So basically I would like qb to distribute downloaded torrents based on either location (what folder it automatically added the torrent from, depending on it, move finished content to specific folder) or the type of content it's downloading (probably based on the torrent/file name) or labels (dont know how that would work unless sickrage would add a label to the downloaded torrent file and qt read

[2015-11-03 20:19] Kattus commented on #3783
Still happening on the linked build. (Win 10 Pro x64)

[2015-11-03 21:01] ngosang commented on #3562
I'm not working on this right now. If you are instested you can work on it. :smile:

[2015-11-03 21:12] ngosang commented on #4011
Font size is fine for me but you can add this as an optional feature. Btw, I don't know how to implement this.

[2015-11-03 21:29] ngosang commented on #4001
I didn't read the full conversation but here I go:
1) According to my personal experience, running python scripts named without .py extension is problematic.
2) I think most people never install unofficial search engines.So this feature will be for few people.
3) My perfect solution will be to zip the `.py` and the `.png` files in one zip file with extension `.qbse`. We associate the `.qbse` exten

[2015-11-03 22:00] ngosang commented on #3999
I think it's not useful for most users.

[2015-11-03 22:11] DoumanAsh commented on #3562
haha no... :) i was just looking over search engine issues to check-up if there is something old and not touched...

[2015-11-03 22:35] sledgehammer999 commented on #4001
zipping sounds good, but that means we need to include yet another library for unziping. (Unless zlib handles that too)

[2015-11-03 22:37] sledgehammer999 commented on #3999
Closing as no one from the rest of the devs objected.

[2015-11-03 22:37] #3999 closed

[2015-11-03 22:58] ngosang commented on #3800
@sledgehammer999 could you put in the forum a Windows build for the current master so users can test it before the release?

[2015-11-03 22:59] sledgehammer999 commented on #3978
Normal because auto means:

So if you set the cache to, let's say, 300 MiB, it should reach 1000MiB usage.

[2015-11-03 23:06] sledgehammer999 commented on #4039
To reset the RSS status you could delete the config file. (You will all RSS feeds and rules).
Delete: `C:\Users\<username>\AppData\Roaming\qBittorrent\qBittorrent-rss.ini`
I am curious on what is happening on your machine with this RSS. Are you open in using TeamViewer?

[2015-11-03 23:09] sledgehammer999 commented on #3800
I have uploaded one on 28/10/2015. I'll probably do one this weekend too. Anyway, before releasing I'll do 1-2 weeks and RC upgrade to the version string and of course post builds. (This will give time for translators too).

[2015-11-03 23:09] EraYaN commented on #4001
It does not (As far as I know), it handles the algorithm or uncompress but not the archive structure.

http://www.zlib.net/ it seems to mainly be about compression and decompression.

[2015-11-03 23:29] sledgehammer999 commented on #3783
@glassez you might want to take a look here.

[2015-11-03 23:48] lerk08 commented on #3978
Would it have to be actively seeding/leeching to reach 1000 MiB of RAM usage (like what I observer) or would it allocate that 1000 MiB usage right when qB starts?  If I set the cache to 300 MiB the RAM usage stays around 200 MiB at that instant with a couple torrents seeding (will watch it to see what happens as time goes on when seeding is occurring).

Also, if it's dependent on seeding and will

[2015-11-03 23:49] sledgehammer999 commented on #1857
Those entries may be from incoming connections. You cannot stop those. Plus, latest version is more verbose on whay an IP was blocked/ban.

[2015-11-03 23:49] #1857 closed

[2015-11-03 23:53] sledgehammer999 commented on #3988
@netswap can you try the following build? It is v3.2.5 and uses the patch from @arvidn .
(just copy the 2 files over the originals)
http://builds.shiki.hu/temp/qbittorrent_3.2.5_for_issue_3988.7z

[2015-11-03 23:57] sledgehammer999 commented on #3978
If initial RAM usage is 200MiB, then try to set the cache to 500-600MiB. It should grow to that limit over time, not at launch. And it shouldn't go over it much. Keep in mind that you just set the cache limit, not how much the rest of the program occupies in memory.

I don't know if libtorrent will give back the RAM after some inactivity time.

[2015-11-04 00:11] chong601 commented on #3978
I have a full OS reinstall and it seems that the leak is not so apparent, but doesn't have much active seeding for now.
OS cache is enabled at the moment and the OS is Ubuntu 14.04.3.
It is mostly seeding with few downloads
This is the memory usage for the last 6 days with the corresponding network usage:
![Memory usage](http://puu.sh/l8tVT.png)
![Network usage](http://puu.sh/l8tWb.png)

[2015-11-04 00:16] sledgehammer999 commented on #3978
@chong601 which version do you use? From our PPA?

[2015-11-04 00:21] chong601 commented on #3978
qBittorrent 3.3.0beta qbittorrent-unstable PPA

[2015-11-04 01:54] wind77 opened #4054 "[crash report] w7 64b"
qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-11-04 02:06] appsparkler opened #4055 "[Wishlist] Pause All for ?? minutes"
Thank you for creating this wonderful software.  Hats off!

It misses one tiny bit of a feature (from my viewpoint).  It would be amazing if it could have a "Pause all for MM minutes" in the quick command in the tray along with where you have "Pause All" and "Resume
All" options.  This will allow users, to pause QBT for a short (configured) time where they can quickly browse the internet at high s

[2015-11-04 02:34] svnpenn commented on #3001
:+1:

[2015-11-04 04:16] zenden2k opened #4056 "Clear torrent filter text box after choosing an item in the left list (optional)"
It's kind of usability issue. I always forget that I have typed something in the filter box.. So when I click on the left list, I expect to see under "Downloading (3)"  3 torrents, but i see nothing.

I can implement this feature by myself if you tell me the right way of doing this (e.g. where i should put this option, under behaviour/advanced/etc...)

![qbitt.gif](https://lh3.googleusercontent.co

[2015-11-04 05:17] Chocobo1 commented on #4001
Since Python is required when using search engine, why not use Python built-in library: [py2](https://docs.python.org/2/library/archiving.html), [py3](https://docs.python.org/3/library/archiving.html)

[2015-11-04 06:21] Damienbarifon commented on #18
Try to long path tool. It is very helpful.

[2015-11-04 06:21] glassez commented on #4011
@all, what valid values can be here?
I think we should not allow to enter custom size here. Maybe only a few predefined values? For example, normal and enlarged.

[2015-11-04 07:00] glassez commented on #3783
Trying to reproduce...
IIRC, qBittorrent UI must be shown for some time?

[2015-11-04 09:31] sledgehammer999 commented on #4001
Interesting. And if this functionality is present on default python installations then that is excellent.

[2015-11-04 09:39] sledgehammer999 commented on #4011
We could take a hint on what Windows does for DPI. It allows some value between 100% and 200%(IIRC). Regardless, of this I think we should hardcode only the max available value, and let the user customise inbetween. Because what is "large" for me and you it could be gigantic for others.

[2015-11-04 09:41] sledgehammer999 commented on #4024
Closing due to lack of response. I'll reopen it when you respond.

[2015-11-04 09:44] sledgehammer999 commented on #4038
Closing since it cannot be reproduced by original poster.

[2015-11-04 09:44] #4038 closed

[2015-11-04 09:45] sledgehammer999 commented on #3940
Closing due to lack of response. I'll reopen it when you respond.

[2015-11-04 09:45] #3940 closed

[2015-11-04 09:45] sledgehammer999 commented on #2931
Closing due to lack of response. I'll reopen it when you respond.

[2015-11-04 09:45] #2931 closed

[2015-11-04 09:50] sledgehammer999 commented on #929
So many issues/features/PRs to work with. So little time. :)

[2015-11-04 10:05] sledgehammer999 commented on #3783
@glassez this bug and #3033 might have the same underlying bug.

[2015-11-04 10:07] sledgehammer999 commented on #3087
@Scaglia and @s8321414 can you check with latest version(or git master) and latest qt5 on your machine, again?

[2015-11-04 10:09] sledgehammer999 commented on #3061
This is either fixed now or the same as #3033. I am closing. In case I am wrong @spark-s comment here and I'll reopen.

[2015-11-04 10:09] #3061 closed

[2015-11-04 10:15] sledgehammer999 commented on #3827
Valid point but different story. For me, it is very trivial to make the **same** binary with all the associated libs work from Windows XP to Windows 10. But is isn't trivial to do the same for every linux distro and distro version out there.

[2015-11-04 10:30] sledgehammer999 commented on #2968
@nam3k v3.2.x is oficially EOL. New version in that series will be made only for very serious bugs/regressions. Under normal circumstances v3.3.0 will be the next stable release.
Also see #3800

[2015-11-04 10:34] glassez commented on #3783
I was not able to reproduce it yet.
~3 hours with UI shown and sorting by last activity not frozen torrent list.

[2015-11-04 10:44] sledgehammer999 commented on #3783
possible factors required to reproduce and I would like people that are affected here to try and confirm:
1. Number of torrents in the list
2. Number of active torrents in the list (they produce events to be consumed by our widgets).

@ affected people: Can you confirm if for example you have only 1 torrent active, will the bug manifest again? What if you only have 1 torrent in your list(and activ

[2015-11-04 10:48] glassez commented on #3783
AFAIK, described bug occurs within a few days of continuous application run. I usually turn off my computer every 1-2 days, which is probably why I didn't encountered this problem.

@ affected people: Can you provide some info related to frozen UI: qBittorrent CPU/Memory usage and your Computer configs (CPU, Memory, OS etc.)?

[2015-11-04 11:01] sledgehammer999 commented on #3543
I might have a change of heart here. What does the rest of @qbittorrent/qbittorrent-frequent-contributors think of this wishlist item? (assuming that @birdie-github still has his patch code around)

[2015-11-04 11:02] sledgehammer999 commented on #3543
also positive feedback from dupe #3873 too.

[2015-11-04 11:03] sledgehammer999 commented on #3873
Dupe of #3543
(see https://github.com/qbittorrent/qBittorrent/issues/3543#issuecomment-153685024 first)

[2015-11-04 11:03] #3873 closed

[2015-11-04 11:05] Seraiel commented on #1097
I also had problems with I/O errors. For me, the discovery of [b]ZarkBit[/b] also applied, I also played music simultaniously to downloading new music, and the update of the media-library by the audio-player (also footbar2000) interferred with qBittorrent trying to write towards a file. I simply disabled the media-library of footbar2000 by not assigning any surveilled folders to it, as I find it s

[2015-11-04 11:16] glassez commented on #3543
I wouldn't mind having it as an option.

[2015-11-04 11:29] Chocobo1 commented on #3543
Already stated in https://github.com/qbittorrent/qBittorrent/issues/3543#issuecomment-127010090

[2015-11-04 11:32] mtakala commented on #3783
Machine specs:
Torrents are running on a Core 2 Duo E8400 CPU with 4GB of RAM, running on Windows XP 32bit, with all updates.
(Yes, I know all mem isn't utilized with 32bit, but current winxp install is still enough and I even run a barebones ubuntu on it in a VM.)

Here are my stats from my currently running qBittorrent session, using Process  Explorer:
Virtual size 1 108 304 K, Working Set 267 3

[2015-11-04 11:45] robby963 commented on #4039
Ill have a look and set it up and get back to you ASAP

[2015-11-04 13:05] sledgehammer999 commented on #3543
And in https://github.com/qbittorrent/qBittorrent/issues/3543#issuecomment-127264776 @ngosang seems to agree to be optional. So unless he has changed his mind @birdie-github can you open a PR?

[2015-11-04 13:22] glassez commented on #4011
I did some tests and came to the conclusion that I can do it (quickly if necessary), but under one condition: someone else implements the UI to change the size (I don't like that because of a lack of design talent).

I agree with this. I think this will be enough. You can use some slider in Options dialog to change this value from 100% to 200%.

[2015-11-04 13:24] sledgehammer999 commented on #4011
I can do it on top of you PR. Make the core code changes, and I'll plug it in the UI

[2015-11-04 13:30] Chocobo1 commented on #4011
If suitable, it's better to use [QFontDialog](http://doc.qt.io/qt-4.8/qfontdialog.html).

[2015-11-04 13:32] glassez commented on #4011
I think this is unnecessary, since we want to change only the size and only within certain limits.
@sledgehammer999 ?

[2015-11-04 13:34] glassez commented on #4011
Using a very different font will break the native look&feel.

[2015-11-04 13:36] Chocobo1 commented on #4011
If that is the user choice... (no further comments on this)

[2015-11-04 13:42] netswap commented on #3988
@sledgehammer999 I have overwritten all files, but qB still connects to a peer I banned. Again, the flags are D U X E P or D U I X E P. Most of the time the peer drops in for a few seconds, then qB seemingly closes the connection again.

[2015-11-04 13:43] chrishirst commented on #4052
#1456
#1908 .

[2015-11-04 13:47] Pireo commented on #4054
Did you try the 3.2.5 version?

[2015-11-04 14:03] glassez commented on #4011
Another question... It only needs to TransferListWidget?

[2015-11-04 14:10] glassez commented on #4011
#4057

[2015-11-04 14:25] sledgehammer999 commented on #3988
@netswap you have the IPFilter option in the settings disabled, right? Then I think I found the bug in qbt for this.

[2015-11-04 14:48] netswap commented on #3988
@sledgehammer999 Yes I have it disabled.

[2015-11-04 14:53] sledgehammer999 commented on #3988
Ok, wait a couple of minutes and I'll have a new build for you to test.

[2015-11-04 15:10] sledgehammer999 commented on #3988
Try this build: http://builds.shiki.hu/temp/qbittorrent_3.2.5_for_issue_3988_patched.7z
Overwrite the 2 files as usual. (.diff isn't necessary).
Applied patch:
[code]

[2015-11-04 15:31] netswap commented on #3988
I can confirm that this works. The Execution Log also now lists the blocked IPs every time the IP attempts to connect to me.

[2015-11-04 15:39] sledgehammer999 commented on #3988
Perfect. Closing then. @arvidn thanks for your patch too.

[2015-11-04 15:39] #3988 closed

[2015-11-04 16:53] sledgehammer999 commented on #4056
I think this is more appropriate.

[2015-11-04 17:05] sledgehammer999 commented on #3101
@rend3r can you try [this](http://builds.shiki.hu/temp/qbittorrent_3.2.5_for_issue_3101_patched.7z) build? I am fairly certain that it fixes your problem.
Patched with:
[code]

[2015-11-04 17:11] sledgehammer999 commented on #3893
@HoneyGoat @wind77 can you try the build posted here? -> https://github.com/qbittorrent/qBittorrent/issues/3101#issuecomment-153793517

[2015-11-04 18:18] rend3r commented on #3101
@sledgehammer999 ok, results will be available after 70 minutes

[2015-11-04 18:43] ZarkBit commented on #3996
hmm, indeed ur right, would be a huge resource hog.

[2015-11-04 19:13] rend3r commented on #3101
Fixed for me now.

[2015-11-04 19:28] chrishirst commented on #4056
I would think that recalculating the category counts would be even more confusing for the average user, and would result in many "Some of my torrents are missing" posts. And clearing the filter on selecting an item IS counter intuitive to the use of a filter and should not be implemented.

Why not simply add "(Filtered)" to the sidebar category headers so it prompts the user as to why there are fe

[2015-11-04 20:28] #3101 closed

[2015-11-04 20:30] sledgehammer999 commented on #4056
This seems even better. However, I cannot visualize on how to present this state. Care to do a simple mockup in GIMP/Paint?

[2015-11-05 01:25] PlasticKitten commented on #4024
Sorry for not replying sooner. It took me a while to get the router credentials, and every try takes a day. I'm almost done, doing the last attempt, will post the results tomorrow.

Tried that. It did not affect the stalling at all. It did affect the speed very noticeably though, as you predicted. It took longer to gain the speed too.

[2015-11-05 02:01] wind77 opened #4058 "[crash report #3] w7 64b"
qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-11-05 02:21] Rabcor commented on #3907
Thanks for telling me. Sorry I had to uninstall linux temporarily (changing hard drives) haven't gotten around to reinstalling it yet,but I will probably use lxqt instead which might not have this problem.

[2015-11-05 04:27] zenden2k commented on #4056
It could be something like this:
![clipboard.png](http://fs5.directupload.net/images/151105/x6frvo5q.png)

[2015-11-05 04:37] zenden2k commented on #4056
See what happens if you type something into search box and then choose View->Top toolbar
Confused user: "All my torrents have dissapeared "

[2015-11-05 07:25] glassez commented on #3783
If someone says here that he was familiar with the code, I will call this man a liar! To understand this code is quite difficult too. That's why I started the redesign at the time. But it is far from complete, especially in the GUI. Code redesign is a very big job, but it gets into code slower than I can do it

[2015-11-05 08:16] glassez commented on #3800
@sledgehammer999, Maybe you should separate branch for version 3.3 now to not suspend the merge of pending PRs into master? Or the problem is in your own time, and it still will not accelerate?

[2015-11-05 09:00] rend3r commented on #3101
@sledgehammer999 torrents has gotten error status stuck with error label even they paused

[2015-11-05 09:33] sledgehammer999 commented on #3101
@rend3r do you mean the following?
1. Resume torrent -> trackers update.
2. Some trackers show error as they should
3. Pause torrent -> tracker status doesn't reset.

Is that it? Does it reset after you restart qbt?

[2015-11-05 09:39] sledgehammer999 commented on #4024
Reopening and waiting for your response.

[2015-11-05 09:41] sledgehammer999 commented on #3907
Just a note: IIRC in v3.1.x if both "start minimized" and "minimize to tray" were enabled, during launch they didn't minimize to tray.

[2015-11-05 09:42] sledgehammer999 commented on #3907
also v3.2.x supports qt5, so you just rebuild the package against that. (pass to configure `--with-qt5`)

[2015-11-05 09:46] sledgehammer999 commented on #4056
First image looks great. However, that looks like a notification. And users know that "x" in an notification means "dismiss the notification" not clear the filter.

If you mean that when you hide the toolbar he filter is still applied, then that surely is a bug. In this case, the filtering shouldn't apply.

[2015-11-05 10:01] sledgehammer999 commented on #3783
The big difference between v3.1.x and v3.2.x is how he handled events from libtorrent. Then we polled libtorrent for pending events every X seconds. (X was hardcoded). That was horribly inefficient. Then @sorokin did a lot of profiling and switched to being notified for the alerts immediately (in the libtorrent context thread). That  allowed for fine tuned response to events. He of course, restruc

[2015-11-05 10:17] sledgehammer999 commented on #4058
Dupe of #4054 . That was reported by you too. Are you able to reproduce this crash? If yes, I can give instructions for getting more info, if you're willing to help.

[2015-11-05 10:17] #4058 closed

[2015-11-05 10:38] rend3r commented on #3101
@rend3r do you mean the following?
1. Resume torrent -> trackers update.
2. Some trackers show error as they should
3. Pause torrent -> tracker status doesn't reset.

Is that it?
Yes. Paused torrents still going on as erroneous

Does it reset after you restart qbt?
Away from computer now so will answer later

[2015-11-05 10:49] PlasticKitten commented on #4024
I did as suggested above. I set the static port and manually opened it on the router.
The behavior is pretty much the same - fast immediately after restart, stalling on new torrents after a while. The external ip address never changed during the process. The connection status was always green, just like with UPNP.

The only difference is that _maybe_ the stalling took less time. But i'm not sure a

[2015-11-05 11:02] ovidiubuligan commented on #4011
@glassez  I think it would be nice for the setting to have a global effect .
I am also curious if the text in the app is tiny before any fix on retina displays or small 4k tvs.

[2015-11-05 11:11] glassez commented on #3783
I was thinking the same thing... I want to decide what information would be useful here and I will tell you later.
@sledgehammer999 One question. The sorting algorithm has changed between versions 3.1 and 3.2 (or it was done on a different stage)?

[2015-11-05 13:35] sledgehammer999 commented on #3783
IIRC, one of @sorokin's changes was to have the transferlist invalidate a single row and update it. Before that, each time we wanted to update the transferlist, the whole list was invalidated in one go, which resulted in requesting all the torrent info (for all torrents) by libtorrent again. (and usually with blocking calls).

[2015-11-05 13:43] lgallard commented on #4055
Hi, @greeniceparadise, you can set the Alternative Global rate limits and use the toggle button in your web browser.

[2015-11-05 14:01] Illiuminatum opened #4060 "[Crash Report] qB 3.2.5 - Win10 Pro x64"
qBittorrent version: v3.2.5
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-11-05 14:14] Kattus commented on #3783
A bit late here on answering questions, anyway here goes, froezen qB(3.2.4) info:
CPU: Barely any     Private bytes: 404,516 K     Working Set: 244.284 K     Uptime: About 1.5 days

Computer specs: Intel i5-3470, 24GB RAM, Win 10 Pro x64 Insider Preview
Also what was that about 1 torrent active, can you give me more details on what you want me to try?

[2015-11-05 15:32] madranet commented on #3885
Not strictly true.

* On the one hand, yes. OSX's Firewall is infuriatingly retarded and will keep throwing this dialogue up, every time you launch an unsigned app –even if you've added it to your firewall exceptions.

* On the other hand, this is a security measure built-in to OSX whereby [in this case Firewall] will verify that the code signature of any app which wants to accept incoming connect

[2015-11-05 16:21] naikel opened #4061 "Completed torrents should be completed torrents"
It seems the definition of a completed torrent in qBittorrent is wrong.

When you click on Completed torrents in the left column you currently see torrents that are  being seeded, checked, stalled, etc.  In summary any torrent that is not downloading.

A complete torrent is a torrent that finished downloading _and_ seeding.  That is a torrent with state TorrentState::PausedUploading.

Right now th

[2015-11-05 16:43] glassez commented on #3783
@sledgehammer999 Please conside #4062. This should bring a slight TransferListWidget speedup. Although it is unlikely to fix this problem. But it still deserves your attention, because it reduces the amount of emitted signals proportional to the number of torrents in the session.

[2015-11-05 20:06] oboewan42 opened #4063 ""Set location" should show visible progress"
Currently, there is no way to tell whether a "Set location..." option has finished or not, other than opening up the destination folder and watching the files move into place one by one.

[2015-11-05 20:06] lgallard commented on #4061
Completed torrents should be any torrents with downalod percentage equal to 100%...

[2015-11-05 20:14] lgallard commented on #3425
+1000

People using the client are already asking this feature in the Android app.

Regards,

[2015-11-05 20:18] lgallard commented on #859
Looking forward to this feature in the API. People using the Android app have asked it.

[2015-11-05 20:47] naikel commented on #4061
That's exactly what I don't agree and what I'm proposing here.

If a complete torrent is a torrent that has finished downloading then it's redundant with the definition of a seeding torrent, because to be a seeding torrent it has to have finished downloading (whatever you chose to download, let it be 100% or less).

So a seeding torrent it's a torrent that finished downloading but it's not complet

[2015-11-05 22:56] vlakoff opened #4064 "Configurable line height"
I usually love narrow interfaces! But when it is too small it has an impact on usability (precision required for mouse clicking).

Namely, I'm thinking about list of torrents, and list of files (bottom panel).
- On my system (Windows 7), they are 16px. Lines in the left panel are 18px, and I think it looks much better.
- Also, the left panel lines are highlighted on hover. This feature would be ve

[2015-11-05 23:02] vlakoff opened #4065 "[Wishlist] Wildcard in torrent and file filters"
The asterisk `*` common wildcard isn't supported in the "filter torrent list" and "filter files" search boxes.
It would be a much appreciated addition!

[2015-11-05 23:33] vlakoff commented on #4065
Pseudo-code for [TransferListWidget::applyNameFilter](https://github.com/qbittorrent/qBittorrent/blob/master/src/gui/transferlistwidget.cpp) and [PropertiesWidget::filterText](https://github.com/qbittorrent/qBittorrent/blob/master/src/gui/properties/propertieswidget.cpp):

* $quoted = QRegExp::escape(inputString)
* in $quoted, replace `\*` with `.*`
* filter data by $quoted regex

For reference, a

[2015-11-05 23:38] vlakoff commented on #4065
Or probably better, [QRegExp::setPatternSyntax](http://doc.qt.io/qt-4.8/qregexp.html#setPatternSyntax).

[2015-11-06 01:27] sledgehammer999 commented on #2003
@ everyone who had freezing problems due to boost 1.56. Can you help me test new versions?
Download the linked archive. It contains 3 folders. Please try the `1.56` folder first to confirm that the freeze still happens on your machine. Then try the other 2 and report back. Thank you.
Link: http://builds.shiki.hu/temp/qbittorrent_3.2.5_for_issue_2003.7z

[2015-11-06 01:52] naikel opened #4066 "Removing unused labels isn't permanent"
This happens in the current beta version 3.3.0 + git.

If I click on "Remove unused labels" it removes them.  If I shut down the client and start it again, all removed (and unused) labels appear again.

Since there are unused it's obvious there are no torrents using those labels so they have no reason to reappear.

I even checked the entry "customLabels" in the config file and when the client is c

[2015-11-06 02:35] Chocobo1 commented on #4066
I recall I met this problem too.

[2015-11-06 02:41] Chocobo1 commented on #4065
Would you like to make some contributions? Patches are welcome!

[2015-11-06 06:46] Chocobo1 commented on #3790
Also effects cinnamon DE, yet this bug does not appear on windows.

[2015-11-06 07:14] 7ranceaddic7 opened #4067 "Checking as Download vs. Active"
I am running v3.2.5.

When I 'Force Check' the designated torrent is listed under 'Downloading'.  Since there is no "real" download taking place. would it not be better to indicate it as 'Active'?

[2015-11-06 09:20] glassez commented on #4066
This is because of #3730. It adds the (incorrect, IMO) behavior that is conflicting with "Remove unused labels" feature: add label to list when it exists in rss download rule even no torrents with label has been added to session.

[2015-11-06 11:48] nam3k commented on #2968
@sledgehammer999 Understood. Thanks for heads up.

[2015-11-06 12:49] toshe opened #4068 "Crash while adding a torrent (through magnet link)"
Here's the stacktrace:

Host is Windows 7 x64

[code]

[2015-11-06 13:05] wind77 commented on #4058
More than willing to help!

@pireo mentioned in https://github.com/qbittorrent/qBittorrent/issues/4054 that I should try v3.2.5

@sledgehammer999 So, would you prefer me to upgrade to v3.2.5 and monitor, or we continue to troubleshoot v3.2.4?
Also, as per https://github.com/qbittorrent/qBittorrent/issues/3997#issuecomment-151211662, this issue happens when adding magnet link, but the incidence is

[2015-11-06 13:30] sledgehammer999 commented on #3790
It appears for me with qt **5.4.1**. I'll build latest qt5 this weekend and check again.

[2015-11-06 13:36] glassez commented on #3783
sledgehammer999 For a start it would be nice to collect statistics of calls Session::refresh() and Session::handleStateUpdateAlert(). Average, minimum and maximum time between calls and the execution time of the second of them.

[2015-11-06 16:29] ngosang commented on #3543
I keep my opinion.

[2015-11-06 16:48] ngosang commented on #4039
I didn't read the full conversation. He is using qBittorrent v3.2.5? I did a lot of changes in the current master branch. I'm almost sure that #3567 fix his problem. @sledgehammer999 give him a windows build v3.3.0.

[2015-11-06 16:49] ngosang commented on #3621
up

[2015-11-06 17:00] ngosang commented on #4044
Useless.

[2015-11-06 17:14] ngosang commented on #3875
@sledgehammer999 ping.

[2015-11-06 17:17] ngosang commented on #3878
I assume you are using the Web interface. This feature is incomplete, sorry.

[2015-11-06 17:18] ngosang commented on #3876
@SelfMan if you solved your problem please close this issue.

[2015-11-06 17:19] ngosang commented on #3606
+1

[2015-11-06 17:22] ngosang commented on #3728
Be patient, you can find v3.3.0 beta version in the forum. Maybe the problem is already fixed.

[2015-11-06 17:23] ngosang commented on #3884
@sledgehammer999 close.

[2015-11-06 17:24] ngosang commented on #3888
@sledgehammer999 close due to a lack of response.

[2015-11-06 17:25] ngosang commented on #3889
@sledgehammer999 should be tested before v3.3.0 release. Some tag?

[2015-11-06 17:26] ngosang commented on #3890
@sledgehammer999 should be tested before v3.3.0 release. Some tag?

[2015-11-06 17:28] ngosang commented on #3874
You can restart qBittorrent instead.

[2015-11-06 17:32] ngosang commented on #3922
@glassez could you take a look?

[2015-11-06 17:34] SelfMan commented on #3876
I stil consider this a bug. Developers say its the way it works and I have to accept that even though I dont agree.

[2015-11-06 17:34] #3876 closed

[2015-11-06 17:45] glassez commented on #3922
@Siban Can you provide this torrent for testing?

[2015-11-06 18:10] naikel commented on #4066
It's definitely incorrect behavior.  The label should be added when the torrent is added (even by RSS downloader) and the label doesn't exist.

[2015-11-06 18:35] robby963 commented on #4039
my friend seems to think its something to do with no commas is making it not read the spaces properly, or something like, the client isnt recognising the spaces and it messing the links up, not sure how true it could be but ive ordered a new drive, im going to delete the RSS completely and start again, create it and see if it works, only reaon i wont do it now is because renewing the RSS means all

[2015-11-06 18:47] DanAVD commented on #294
upgraded from 3.2.4 to 3.2.5 and started having the problems.  fine under 3.2.4 for me

[2015-11-06 18:52] publicspace commented on #164
Have you guys heard of popcorntime.io ? the reason of their extreme success
is that they bundled the player and allowed for sequential downloading. You
have the search, no allow for download and play immediately, or at least
provide us with sequential downloading!

It's terrible when people with ideals come in and try to change the world
by preventing others of a good feature, just because they ha

[2015-11-06 18:55] Issam2204 opened #4069 "[Wishlist] [WebUI] Add torrent counts to sidebar category list"
Hello and thank you for the great amazing work!

I'd like to add the following feature to the webui of qbittorrent-nox: *torrents count in the left bar*.

As you can see below there is no way to know how many torrents are seeded and that is not very practical:

![qbittorrent-nox torrents count](https://cloud.githubusercontent.com/assets/8282518/11005802/523d5382-84c0-11e5-89d7-05c229d02601.png)

I

[2015-11-06 19:17] barn4k commented on #4050
I dont know why, but if I'm not using labels in rss, all is fine. But when I add label to the filtering rule (ex. label - LF) and restarting program it automatically puts every file with this label into subfolder "labelname". this problem occurs only with files from one rss feed (but I have total of 2 feeds, so it is not the argument). Even if I don't link a feed to the filtering rule and some fil

[2015-11-06 19:19] Fry-kun opened #4070 "Downloading path mixup"
I'm using a pretty old version, 3.1.10 -- this may be already fixed in newer versions...
When downloading two torrents with same label, the same path is used in Downloading/incomplete folder ("Append the label of torrent to the save path" is checked) -- and both torrents are writing to the same path. I see extra files from both torrents in the same path and 1 big file that exists in both. Running

[2015-11-06 21:58] kjuinb commented on #4024
I'm having the exact same problem. Utorrent 2.2.1 can connect to 15 peers while qBittorrent only connects to 8. I've tried manually adding peers that I could connect to with utorrent but this doesn't work either.

[2015-11-06 22:01] sledgehammer999 commented on #4068
Does it crash everytime you try the magnet?

[2015-11-06 22:03] #3847 closed

[2015-11-07 00:15] sledgehammer999 commented on #2056
Unless I am mistaken the issues here are solved. Plus the v3.2.x series(current stable) contain the optimization patches for the UI. And the upcoming v3.3.x series are even more optimized.

[2015-11-07 00:15] #2056 closed

[2015-11-07 00:21] sledgehammer999 commented on #4048
#3071 fixed this. Either wait official v3.3.0 release or download beta builds(updated regularly) from: http://www.fosshub.com/qBittorrent.html

[2015-11-07 00:21] #4048 closed

[2015-11-07 00:23] #2329 closed

[2015-11-07 00:46] sledgehammer999 commented on #1600
This has been fixed. Now qbt chooses the ipv4 address by default. There is an option in the advanced settings to make it choose the ipv6 address instead.

[2015-11-07 00:46] #1600 closed

[2015-11-07 00:47] sledgehammer999 commented on #1179
Closing this because it is too old. If it still happens with latest version, please open a new issue.

[2015-11-07 00:47] #1179 closed

[2015-11-07 00:49] sledgehammer999 commented on #2078
Closing due to no answer. Plus, latest versions of libtorrent seem to stop traffic if VPN connection is lost. Test it if you want with latest qbt.

[2015-11-07 00:49] #2078 closed

[2015-11-07 00:50] sledgehammer999 commented on #1734
Closing as too old. If it still happens with latest version, open a new issue.

[2015-11-07 00:50] #1734 closed

[2015-11-07 00:52] #3943 closed

[2015-11-07 00:52] #2741 closed

[2015-11-07 00:53] #1159 closed

[2015-11-07 00:53] #844 closed

[2015-11-07 00:53] #143 closed

[2015-11-07 00:56] sledgehammer999 commented on #2714
Stop downloading when VPN goes down should work with latest libtorrent(1.0.6). Please try with v3.2.5(Windows and OSX). If it still has the same problem, comment her so I can reopen the issue.

[2015-11-07 00:56] #2714 closed

[2015-11-07 00:56] sledgehammer999 commented on #933
Stop downloading when VPN goes down should work with latest libtorrent(1.0.6). Please try with v3.2.5(Windows and OSX). If it still has the same problem, comment her so I can reopen the issue.

[2015-11-07 00:56] #933 closed

[2015-11-07 01:05] sledgehammer999 commented on #2743
https://github.com/arvidn/libtorrent/issues/247 will help in solving the 1st issue.
https://github.com/qbittorrent/qBittorrent/commit/a16d0f8d28e40d9043183d5affebe8ce6ce02306 solved the 2nd issue.

[2015-11-07 01:11] alinq opened #4071 "Set location to individual files."
I often need only some files from a directory. I have to move the files to the desired location, and of course then I delete the torrent. To keep the sharing going this problem will be solved if "Set location" is on the individual files.

[2015-11-07 03:10] goombapatrol opened #4072 "[crash report] win7 x64"
qBittorrent version: v3.2.0
Libtorrent version: 1.0.4.0
Qt version: 4.8.6
Boost version: 1.55.0
...
[code]
List of linked Modules:
...

[2015-11-07 05:39] JonasDralle opened #4073 "Feature Suggestion: Kill Switch for VPN/Proxy - pause all torrents if security layer dies"
What if the torrent client would constantly check if the IP of the user is anonymized or not. If the conncection dies (i. e. the VPN Server kills the connection) then this would work like a kill switch.

Nearly every VPN provider have it's own kill switch and most of them work. It's boon known for some time that these kill switches fail sometimes.
I would like having some second defense layer in c

[2015-11-07 09:24] yeoncomi opened #4075 "[Crash Report] Windows7 x64 qB 3.2.4"
qBittorrent has crashed
Please report a bug at http://bugs.qbittorrent.org and provide the following backtrace.

qBittorrent version: v3.2.4
Libtorrent version: 1.0.7.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

[2015-11-07 11:19] ewtoombs commented on #3874
That is not a solution, and you know it.

[2015-11-07 11:28] getreadyforme commented on #4043
Would you provide me more info / guide on how to recompile b QB with the modified cpp file?
I've never done anything like this.

[2015-11-07 11:40] asturel opened #4076 "Disk write cache size: auto -> out of memory"
If i leave the Disk write cache size as auto it tries to allocate more than 2GB memory which results out of memory.
Windows X64 Pro, qBittorrent 3.3.0beta_20151028_c75725e2d8c
16GB system memory

[2015-11-07 12:28] Chocobo1 commented on #4076
@sledgehammer999 , @glassez

According to [libtorrent code](https://github.com/arvidn/libtorrent/blob/master/src/disk_buffer_pool.cpp#L548), seems there is no limit placed for 32bit machine, should we limit in qBittorrent or in libtorrent?

[2015-11-07 13:08] sledgehammer999 commented on #4076
@Chocobo1 I thought we already limit the upper bound of cache for 32bit. Or are you talking about something else?

[2015-11-07 13:26] Chocobo1 commented on #4076
Yes, but the user is using auto (-1) for cache size which is handled directly by libtorrent.

[2015-11-07 14:17] loungebob commented on #4053
Anyone?

[2015-11-07 14:38] ngosang commented on #3803
We have to update all search plugins and many search engines don't provide the upload date.

[2015-11-07 14:42] ngosang commented on #4040
Change the title to "[Wishlist] Ability to select multiple labels in sidebar filters".

[2015-11-07 14:45] ngosang commented on #4042
+1 and this is really easy to implement. @Chocobo1 currently I don't have a machine to work on. Can you?

[2015-11-07 14:47] ngosang commented on #3981
@snakyjake1 if slacka answer solves your problem close this issue.

[2015-11-07 14:52] ngosang commented on #4045
This is reasonable but if you try to download the same torrent from different sources (and you don't know that you are downloading exactly the same torrent) the message is necessary. I think you should close this issue, if you click 2 times the same link it's your fault.

[2015-11-07 14:52] chrishirst commented on #164
attitude?

Not every body is, including myself, and "popcorn.io" seem to have more lawsuits against them than "piratebay" do. I cannot speak for any of the developers but I do think that NOT having 'streaming capabilities' and avoiding the possible legal consequences is a better option for all concerned.

qbittorrent already does. Also, ... If "popcorn.io" already does exactly what you require, ..

[2015-11-07 14:55] ngosang commented on #4046
@IntelliMoo I can't download the torrent. Could you upload it to another hosting? If you think it's the same issue close this and continue the conversation in the other issue.

[2015-11-07 15:00] ngosang commented on #13
I think this feature is unnecessary for most users and we will have to change too many things to get this correctly implemented in the UI and in the WebUI.

I think a set or list of tags is enough.

I don't know. Maybe we can disable this option if multiple labels feature option is enabled. You can't have all things.

[2015-11-07 15:09] ngosang commented on #4049
For qBittorrent or for the torrents? In the About menu you can find the Forum link.

We don't know from which torrent page you downloaded the torrent.

Maybe I'm wrong but I think this is handled by libtorrent (a library that qBittorrent uses).

[2015-11-07 15:14] ngosang commented on #3978
Measuring the memory consumption in Linux is really hard, we should do this test in Windows to be sure that the problem is there.

[2015-11-07 15:21] ngosang commented on #4052
@chrishirst we want to keep open the least possible number of issues so, if you find that one issue is duplicate, please link to the duplicates (as you already did) and ask @sledgehammer999 to close the issue.

[2015-11-07 15:27] ngosang commented on #4055
This will be possible with the scheduler but no one is working on it.  #1063

[2015-11-07 15:29] ngosang commented on #4060
@sledgehammer999 if you search "boost::asio::ssl::detail::engine::write()" you will get several duplicates of this issue.

[2015-11-07 15:31] ngosang commented on #3885
Free software does not negotiate with terrorists.

[2015-11-07 15:33] ngosang commented on #4063
+1 I think the progress bar in the transfer list should show something like "Moving..." and the progress.

[2015-11-07 15:34] ngosang commented on #859
+1 But this will take some time.

[2015-11-07 15:35] wjlesaulnier commented on #3803
Thank you for looking into it- I love qbittorrnt. One thing, I can't get it
to add existing completed downloads (from a different PC that I copied
over). I copied the ".torrent" files to the right directory but no matter
what I do it doesn't recognize the existing completed files. It treats them
as new torrents and tries to start downloading them from scratch.
 I put the completed files in the pro

[2015-11-07 15:37] ngosang commented on #4064
#4057 is about font size but it's related in some way.

[2015-11-07 15:43] ngosang commented on #164
to have a streaming feature is legal and useful, to earn money distributing pirated content is illegal. other torrent clients as uTorrent have this feature and don't have legal issues.

[2015-11-07 15:46] ngosang commented on #3931
@sledgehammer999 close. This is not a bug, it's the user fault.

[2015-11-07 15:48] ngosang commented on #3963
@sledgehammer999 I think this problem was fixed in #3849.

[2015-11-07 15:49] ngosang commented on #3948
@netswap close this.

[2015-11-07 15:51] takiz commented on #4043
https://github.com/qbittorrent/qBittorrent/wiki/Compiling-with-MSVC-2013-%28static-linkage%29

[2015-11-07 15:51] ngosang commented on #3973
PR in #4015.

[2015-11-07 15:54] ngosang commented on #3898
In the next release there are a lot of changes in the RSS feature. Maybe @glassez already fixed it in #4020.

[2015-11-07 15:58] jleclanche commented on #4045
It's not, though - the foregrounding of the dialog conveys that the torrent is the same.

Blaming the user for bad UX is really not ideal...

[2015-11-07 16:02] ngosang commented on #3982
@sledgehammer999 close. Duplicate of #4060, #4054,  #4012, #3516, #3997, #4075,  #3930, #4030, #3991. Maybe  #3337, #3361,  #3471, #3249 also. Please, tag this as important or to be fixed in 3.3.0.

[2015-11-07 16:05] ngosang commented on #3834
Duplicate of #1908, #2477 and more...

[2015-11-07 16:09] ngosang commented on #3869
Half-open connections default value was changed in #2808. Ask the other questions in the forum and close this issue. Thanks.

[2015-11-07 16:11] ngosang commented on #457
@SM411 new contributions are welcome.

[2015-11-07 16:12] ngosang commented on #3872
@edakiri if you solved your problem please close this issue.

[2015-11-07 16:13] ngosang commented on #3925
+1 Rename this issue to "[Wishlist] Remember Add torrent dialog size and position".

[2015-11-07 16:15] DoumanAsh commented on #3803
@wjlesaulnier
This issue is not for general questions.
For that you have FAQ - https://github.com/qbittorrent/qBittorrent/wiki/Frequently-Asked-Questions
And forum - https://qbforums.shiki.hu/

[2015-11-07 16:15] ngosang commented on #3927
@glassez maybe you can bring light to this question.

[2015-11-07 16:18] ngosang commented on #3934
+1 I saw a similar issue few days ago.

[2015-11-07 16:20] ngosang commented on #3886
@sledgehammer999 close. @hjek should update qB.

[2015-11-07 16:23] ngosang commented on #2517
@qbittorrent/qbittorrent-frequent-contributors we need this.

[2015-11-07 16:24] ngosang commented on #3935
Related  #2090

[2015-11-07 16:34] ngosang commented on #4017
@qbittorrent/qbittorrent-frequent-contributors this is important and should be easy to implement.
We use this dialog:
![](http://www.codeproject.com/KB/dialog/OpenFileOrFolderDialog/open-dialog.jpg)
And we should use:
![](http://www.ssw.com.au/ssw/TimePRONet/Images/ReportSelectFolder.jpg)
We also have a different dialog for "Set location.."

[2015-11-07 16:37] ngosang commented on #4025
@sledgehammer999 close.

[2015-11-07 16:40] ngosang commented on #4066
@sledgehammer999 if we know how to fix that should be tagged for 3.3.0.

[2015-11-07 16:43] ngosang commented on #4069
@Issam2204 add "[WebUI]" in the title.

[2015-11-07 16:44] glassez commented on #3927
Starting from v3.3 qBittorrent store all torrent state data in *.fastresume file.

[2015-11-07 16:45] ngosang commented on #4071
Put [Wishlist] at the start of the title.

[2015-11-07 16:46] ngosang commented on #4072
This report is useless, we need the full report. You can remove the path of the libraries if you want.

[2015-11-07 16:48] ngosang commented on #4073
I think after #3071 you can select the VPN interface and if the connection goes down the downloads stop.

[2015-11-07 16:49] Chocobo1 commented on #2517
:+1:

[2015-11-07 16:58] ngosang commented on #4053
Options => Downloads tab => Append the label of the torrent to the save path. If this solves your problem, please close this issue.

[2015-11-07 17:00] Chocobo1 commented on #4042
Actually I seldom use RSS and I am focusing on other issues right now...

[2015-11-07 17:05] loungebob commented on #4053
Thank you but no, it does not. I've read through a lot of similar requests here and apparently, no one developing qBittorrent seems to be willing to address this obvious need.
Labels do not work for me since I use the blackhole function and there's no interaction on my part.
Every Newsreader client and every other bittorrent client I've used has a useful function implemented, one way or the other.

[2015-11-07 17:25] asturel commented on #4076
Also: should it allocate the memory when qbt starts (and there's no leeching torrent)? And the allocated memory is never freed.

[2015-11-07 17:44] #3948 closed

[2015-11-07 17:44] netswap commented on #3948
@ngosang k den

[2015-11-07 18:08] madranet commented on #3885
'Apple = Bastards' maybe, but terrorists?

[2015-11-07 18:30] ngosang commented on #3885
it's only a joke.

[2015-11-07 18:41] glassez commented on #4017
I have 'folder select' dialog displayed while the metadata is not yet loaded.
What am I doing wrong? (Joke)
Seriously: I can't confirm this issue.

[2015-11-07 18:43] glassez commented on #4066
We know. Remove these lines from rssdownloadrulelist.cpp:
[code]

[2015-11-07 18:49] glassez commented on #2517
At the time I did it, but @sledgehammer999 rejected it in favor of the old way. See #1410.

[2015-11-07 18:54] ngosang commented on #4017
Try with single file torrents.

[2015-11-07 19:09] glassez commented on #4017
And so I did!
In addition, qBittorent doesn't knows how many files, until metadata is loaded.

[2015-11-07 19:58] sledgehammer999 commented on #4076
Subscribe to this: https://github.com/arvidn/libtorrent/issues/250

[2015-11-07 19:58] #4076 closed

[2015-11-07 20:03] ngosang opened #4077 "Compilation warnings"
archlinix x64

gcc 5.2.0
boost 1.59.0
libtorrent-rasterbar 1.0.6
qt4 4.8.7
qt5 5.5.1

[code]
@glassez I'm getting a ton of these warnings.

[2015-11-07 20:08] sledgehammer999 commented on #4077
I have seen those and ignored them. They're coming from libtorrent function signatures and we can't fix that.

[2015-11-07 20:12] ngosang commented on #4017
I tried with a torrent file not a magnet link.

[2015-11-07 20:26] getreadyforme commented on #4043
Thank you for the info.  One short look at that guide and I realized that this stuff is way beyond me, so I'll refrain from attempting any of this.

I also assume that when QB gets updated to a new version, any modifications will be lost anyway, so this is just a temporary fix which doesn't work for me.

I just hope that one day the developer will increase the size of the history list, or provide

[2015-11-07 20:50] chrishirst commented on #3981
The problem with this idea is;
Putting the metadata files in the same folder as the payload will cause problems with moving the payload files on completion, as the .torrent file(s) are not in the metadata, so may be left behind by libtorrent and prevent the deletion of the "temporary" location, because neither qbittorrent OR libtorrent 'keep track' of metadata files that are **NOT** in BT_Backup.

[2015-11-07 21:23] ngosang opened #4078 "[searchengine] BTDigg trackers"
When I did the Torrentz plugin I put some public trackers to speedup the magnet metadata download. https://github.com/qbittorrent/qBittorrent/blob/master/src/searchengine/nova3/engines/torrentz.py#L39
Should we do the same for the BTDigg plugin?
@Pireo @DoumanAsh @evsh

[2015-11-07 21:30] sandybeachit opened #4079 "[Wishlist] - Auto updater like filezilla"
I have no issue with how to update qbittorrent at the moment, i just wanted to suggest a more easier method to do it.

What i would like to see is to have an auto updater like filezilla.

With filezilla when we start the application it checks for an update and prompts the user to update it or skip the update. If you skip the update filezilla works as normal without any reminds or popups, you only

[2015-11-07 21:38] Pireo commented on #4078
BTDigg is trackerless.

[2015-11-07 21:49] ngosang commented on #4078
I know.

[2015-11-07 23:37] PlasticKitten commented on #4024
In my case qBT cannot connect at all, dropping all peers for some period of time, 5 to 60 minutes. Then all of a sudden, as if a gate has been open, it connects to a lot of them and the download starts, at a great speed.
Also, updated to v3.2.5. Same issue.

[2015-11-07 23:41] qkiel commented on #929
If I add magnet link and don't get metadata during "add new torrent" dialogue, I can't force qBt to fetch just this metadata later on?

In Deluge it's possible to right click on magnet link (that doesn't have metadata) and select "Force Re-check." This will retrive metadata only - torrent stays in paused state, transfer doesn't start. Exactly like option mentioned earlier "Stop after obtaining Met