[2021-04-01 14:23] xavier2k6 commented on #14684
duplicate of  #13561 #14604 #14342

[2021-04-01 14:23] #14684 closed

[2021-04-01 18:29] Anteus commented on #12650
This is how the WebUI /torrent/add work:
https://github.com/qbittorrent/qBittorrent/blob/fda6def384d2ab7ff31595f54d53548a3f0eee8d/src/webui/api/torrentscontroller.cpp#L668

And this is how it works in the normal UI:
https://github.com/qbittorrent/qBittorrent/blob/fda6def384d2ab7ff31595f54d53548a3f0eee8d/src/gui/search/sea
rchjobwidget.cpp#L286

Could maybe add something like this to the TorrentsCo

[2021-04-01 20:18] sakkamade commented on #14306
Issue appears to be of DHT.

**Steps to reproduce:**
1. download the DHT-only torrent (e.g. [Arch Linux ISO](https://archlinux.org/releng/releases/2021.04.01/torrent/))
2. shut down qbit and rename/delete downloaded `.iso` file
3. relaunch qbit—note the torrent became errored
4. select `Force Recheck` upon the torrent
5. note that it won't start whatever one may do (until `Pause-Resume`)
6. unders

[2021-04-01 21:43] starcraft66 opened #14690 "Feature Request: NAT64 Support for IPv6-only Networks"
Right now, BitTorrent in general is a bit hard to use in IPv6-only networks because many peers reported by trackers are only accessible via IPv4 and are reported as literal IPv4 addresses which means they cannot be translated to a mapped v6 prefix via DNS64.

Most IPv6-only networks have a NAT64 service deployed that allows access to the IPv4 world via a /96 IPv6 prefix that maps the entire IPv4 i

[2021-04-01 22:12] R-Adrian opened #14691 "v4.3.4.1 when the About window is open and you add a torrent from browser via magnet URLs"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.4.1 64-bit
Windows 10 Pro x64 20H2, all updates applied (current one is currently March 29, 2021—KB5000842 - OS build 19042.906 )
Note: all the Hyper-V components are also installed on the system - this means the hypervisor too.

### What is the problem
when the About window is open, qBittorrent sometim

[2021-04-02 00:42] Quackdoc commented on #14561
I am getting the same issue, Though in my case, I was able to change the ports it was listening on and got it to work

[2021-04-02 01:52] riveravaldez opened #14692 "Caught signal: SIGSEGV"
Hi, this bug appeared some time ago (can't remember how much) and I only have the information I took at the moment. If this is no relevant please discard it, right now qBittorrent seems to be working fine. Thanks a lot.

### qBittorrent version and Operating System
qBittorrent version: v4.1.5, on Debian Testing

### If on linux, libtorrent-rasterbar and Qt version
Don't have that data, sorry.

###

[2021-04-02 02:00] thalieht commented on #14692
Duplicate of #9667. This was fixed long ago but thanks for the report.

[2021-04-02 02:00] #14692 closed

[2021-04-02 02:02] riveravaldez commented on #14692
Great. Thanks a lot and sorry for the delay... Kind regards!

[2021-04-02 04:37] a-raccoon commented on #12690
Indeed.  Between tag column sorting going wonky, and popup menu tag multi-select breaking, the tagging system has become unusable at present.

[2021-04-02 07:57] Seeker2 commented on #14687
Copy and rename the damaged file to what the other torrent uses and tell the new torrent to stop and recheck its data.
It should then only need to download the damaged/different parts.

[2021-04-02 10:22] nirtz89 opened #14694 "Move new download to folder based on a Regex (Feature Request)"
**Please provide the following information**

### qBittorrent version and Operating System
V4.3.2, Windows 10 Pro

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
Feature request - Add Regex to sort downloads into folders when choosing where to download

### What is the expected behavior
A pop-up opens and lets you type a regex and assign it to a folder, e

[2021-04-02 10:35] Mr-Personality commented on #14680
Can anyone help?

[2021-04-02 14:37] fl0r1s opened #14695 "Qbittorrent not handling magnets correctly when set as handler for firefox"
### qBittorrent version and Operating System
Raspberry pi 4 (4gb) running on ubuntu server 20.10.
Docker-compose file with linuxserver/qbittorrent:latest

-> qBittorrent v4.3.4.1 Web UI (64-bit)

### What is the problem
Want to register the web application as a magnet handler for firefox. The popup for starting the download shows up, but the input URL does not contain a valid magnet URL. I notice

[2021-04-02 15:10] nrdxp commented on #14687
I don't think that would work unless the files were an exact match, which with media files, is a rarity.

[2021-04-02 17:24] Ray941216 commented on #14695
chrome either.

[2021-04-02 17:58] tuxayo commented on #13814
I have the same issue also on Arch Linux, the first start of qBittorrent works but when I close it, it won't restart. It will freeze during several minutes and crash with the error:
[code]
Until I reboot.

Just setting `Connection\Interface=MY_NETWORK_INTERFACE` did the trick.

It started happening a bit before the 2021-03-02 according to my browser history when I first searched for the issue.

Th

[2021-04-02 19:57] absywabsy commented on #2418
I'd like this to be added too please

[2021-04-02 22:22] oogetyboogety commented on #14160
@multiduplikator I almost have the entire functionality finished. I'll be updating the WebUI fork https://github.com/oogetyboogety/www_addDetailedStats

[2021-04-02 22:40] Seeker2 commented on #14687
I thought you meant with identical (but incomplete) files, which would be fairly niche scenario as well.

[2021-04-03 02:36] douglas24 opened #14698 "'Run external program' is done BEFORE 'recheck torrent on completion' which can cause circular errors"
**Please provide the following information**

### qBittorrent version and Operating System
4.2.5 on Windows x64

### What is the problem
Running a batch file with 'Run external program' option to move subtitle files is run before the torrent is rechecked by qbt (advanced option 'Recheck torrent on completion'). Torrent is 'completed', batch file moves subtitle files from subfolder into main folder

[2021-04-03 03:26] Latrolage opened #14699 "Torrents not listed after updating to ppa"
I tried to update from the qbittorrent from the default ubuntu repositories to the stable ppa but after restarting qbittorrent. The torrents had disappeared. All settings persisted, but the torrents were not listed in the clients. (files still on disk just not listed in the client) Are some config file locations different or something?

[2021-04-03 04:24] Tonibg05 commented on #14510
Same with the new version qBittorrent v4.3.4.1

[2021-04-03 05:02] spikeenix opened #14700 "Debug Crash 4.3.4.1"
**Please provide the following information**

### qBittorrent version and Operating System
 v4.3.4.1 (32-bit) Windows 10 Version 2009 10.0.19042 x86_64

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
[code]

### What is the expected behavior
Keeps Crashing and asking to debug

### Steps to reproduce
Has been doing all day i have no idea whats causing it

[2021-04-03 05:19] #7200 closed

[2021-04-03 05:19] #14241 closed

[2021-04-03 05:24] Chocobo1 commented on #14695
Fixed in PR #14645.
Next release will have the fix.

[2021-04-03 07:06] IDontKnow218 opened #14702 "How to make QbTorrent update rss feed automatically?"
**Please provide the following information**

### qBittorrent version and Operating System
Qb: 4.3.4.1 Windows 10

### What is the problem
No problems. Just wanna know how to make QbTorrent update RSS feed automatically?

[2021-04-03 09:14] R-Adrian commented on #14691
indeed... hmm.
That "can't reproduce" tag might be right. I can't reproduce it anymore either. Might only happen on some magnet links.

[2021-04-03 09:14] #14691 closed

[2021-04-03 09:35] xavier2k6 commented on #14700
@spikeenix
Where did you download qBittorrent from? (Is it a portableapps version etc)
Where do you have qBittorrent installed? (Directory e.g. `C:\Program Files` / `portable mode` etc.)

[2021-04-03 09:40] xavier2k6 commented on #14687
https://github.com/arvidn/libtorrent/pull/5996 may be of some relevance

[2021-04-03 09:41] xavier2k6 commented on #14680
@Mr-Personality try changing your port in options

[2021-04-03 09:43] xavier2k6 commented on #14665
@thomasjmiller can you look through `event viewer` & see what error(s) are associated with qBittorrent?

[2021-04-03 10:39] xavier2k6 commented on #14698
**4.3.4.1** is latest.

Can you confirm if issue is still present with that version?

[2021-04-03 11:31] thalieht commented on #14702
https://github.com/qbittorrent/qBittorrent/discussions/categories/q-a

[2021-04-03 11:31] #14702 closed

[2021-04-03 13:03] BobThompson opened #14705 "WebUI Fails to Display Center of Screen including all Torrents and sidebar."
### qBittorrent version and Operating System
qbittorrent-nox latest
qbittorrent-nox-4.3.4 installed from pkg on FreeBSD 12.2-RELEASE (TrueNAS jail)
(updated to qbittorrent-nox-4.3.4.1 and still having the same issue)

### What is the problem
WebUI fails to display the majority of the middle section of qBittorrent. I have the menu bars showing and the bottom bar, but nothing at all in the center of

[2021-04-03 14:41] ZeroOmar opened #14706 "service crashing in a loop (highly detailed post)"
Hello

I don't usually post an issue unless I troubleshoot it for days. This issue appeared after a migration from an old server to an newer more powerful one. I searched a lot and it was mostly a permission issue on the internet but my case is different.

## qBittorrent version and Operating System

Item | Old System | New System
----- | ------------ | --------------
OS | Ubuntu Server 20.04 LTS

[2021-04-03 14:55] theophanemayaud commented on #14360
Nope. I also have this problem, on an older intel 2018 MBP.

[2021-04-03 16:08] Mr-Personality commented on #14680
Thanks, I have tried changing this and it has no effect at all.

I'm thinking about reinstalling QBittorrent, but don't want to lose all the torrents I'm downloading. Perhaps someone could advise the best way to do this?

[2021-04-03 16:23] JLoGukA opened #14707 "Global and Alternative Speed limits doesn't work"
**Please provide the following information**

### qBittorrent version and Operating System
System: Windows 10 pro 64 bit 20H2 19042.906
qbittorrent: 4.3.4.1

### What is the problem
Any settings for any speed limits(Global or Alternative) both for upload and download doesn't work. Program just ignores them.

### What is the expected behavior
I expected speed limits to work...

### Steps to reprodu

[2021-04-03 16:29] spikeenix commented on #14700
its straight from the site full version and C:\Program Files\qBittorrent

[2021-04-03 16:33] xavier2k6 commented on #14700
@glassez you may be interested in this....... `32-bit` version installed in `64-bit` location `C:\Program Files\qBittorrent`?!

[2021-04-03 16:35] spikeenix commented on #14700
ill look into it i noticed that as well but hasn't had issues till this last week so that doesn't fully explain why if has been there since install

[2021-04-03 16:37] spikeenix commented on #14700
i just reinstalled correct ver 64 bit but right before it crashed again hopefully this will fix it

[2021-04-03 16:38] xavier2k6 commented on #14680
https://github.com/qbittorrent/qBittorrent/wiki/Frequently-Asked-Questions#Where_does_qBittorrent_save_its_settings

[2021-04-03 16:38] #14680 closed

[2021-04-03 16:39] WeisseTeetasse opened #14709 "Provide option to download .torrent file via webgui"
### qBittorrent version and Operating System
1:4.3.4.99 on Ubuntu 20.04

### If on linux, libtorrent-rasterbar and Qt version
1.2.13+git20210323.34a979720b

It would be nice if the Webui had a way to download the .torrent file from the client.
I know i can get the hash from the webui and then search the corresponding .torrent from the config dir but that is a bit of a pain when doing it with multi

[2021-04-03 17:05] thomasjmiller commented on #14665
@xavier2k6 of course! it shows 3 errors over 2 days and they each say this:

`The program qbittorrent.exe version 4.3.4.1 stopped interacting with Windows and was closed. To see if more information about the problem is available, check the problem history in the Security and Maintenance control panel.
 Process ID: 1fc
 Start Time: 01d72436bc7f4c65
 Termination Time: 3
 Application Path: C:\Program

[2021-04-03 18:08] michaeljbiro opened #14710 "qbittorrent-nox WebUI Fails"
**Please provide the following information**

### qBittorrent version and Operating System
qbittorrent-nox-4.3.4 installed from pkg on FreeBSD 12.2-RELEASE (TrueNAS jail)

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar-1.2.12,1
qt-core-5.15.2_2

### What is the problem
WebUI not loading properly after update. Missing the sidebar, the main torrents area, none of the butto

[2021-04-03 18:34] xavier2k6 commented on #14710
@michaeljbiro **4.3.4** had known (broken) issue for webui - update to **4.3.4.1**

[2021-04-03 18:35] xavier2k6 commented on #14665
@thomasjmiller run `sfc /scannow` in an elevated command prompt

[2021-04-03 18:38] michaeljbiro commented on #14710
Ah, thanks!

[2021-04-03 18:38] #14710 closed

[2021-04-03 19:13] jaccc opened #14711 "Notifications for RSS feed"
### qBittorrent version and Operating System
4.3.4.1, Linux

RSS could send notifications:
RSS feed: Added X new articles

[2021-04-03 19:35] thomasjmiller commented on #14665
@xavier2k6 ok, ran the system file checker. it says it did correct some errors but checking the cbs.log, it just appears as though there were some ownership conflicts (something like this is listed 11 or 12 times in the log):

`2021-04-03 12:21:19, Info                  CSI    0000007e Warning: Overlap: Directory \??\C:\WINDOWS\System32\drivers\en-US\ is owned twice or has its security set twice

[2021-04-03 20:58] QuakeMan commented on #13581
Also have this bug.
Logout don`t kill process. After logout, from another user - process from first user also don't killing.
Windows 7 pro, 64 bit. qBittorrent v4.3.1 64 bit.
I`m new user. Previos version not used.

[2021-04-03 22:17] eurohost opened #14712 "Updates"
When asking for updates you should put another option except yes and no  ...  yes/no/fckoff

Thank you for your work

[2021-04-03 22:23] Sk-Films opened #14713 "Uncheck selected files (in Content)"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
Inside Content tab you only can uncheck or check one file at time.
So if selected bunch of files from a list and click on check box, it will check only one file, not whole selection.

### What is the expected b

[2021-04-03 22:54] oogetyboogety commented on #14160
Here is what it looks like now, i'm adding the persistence and then i'll update:
![image](https://user-images.githubusercontent.com/3319254/113493541-48f93500-949d-11eb-8026-1746ead68d6e.png)

[2021-04-03 23:18] oogetyboogety commented on #14160
@multiduplikator Looks like to filter on time scale we have to define some additional behavior. Let's say it's hourly and a torrent takes two hours to download.

1. If the plugin was enabled during the download, it can differentiate how much was downloaded during each hour
2. If the plugin was not enabled during the download, it can categorize the download's size under a timestamp corresponding to

[2021-04-04 00:28] reyaz006 commented on #14453
4.3.4.1 and this still happens. I noticed with several torrents from another tracker now:
- Pause/resume/force resume/force reannounce doesn't help at all.
- Tracker status is stuck at "Updating" even if I pause it.
- Affected torrents have "DHT disabled for this torrent".
- Other torrents from the same tracker with DHT enabled also have tracker status is stuck at "Updating", even though they are

[2021-04-04 01:49] thalieht commented on #14712
Duplicate of #11764
Related #10625

[2021-04-04 01:49] #14712 closed

[2021-04-04 02:12] Barina commented on #12184
Or just make it collapsible like General\Trackers\Content panels

[2021-04-04 02:57] ftrildz opened #14715 "During downloading, cpu is always 100%"
**Please provide the following information**

### qBittorrent version and Operating System
qbittorrent-nox latest

### If on linux, libtorrent-rasterbar and Qt version
rpi4b-ubuntu20.04.2 lts arm64

### What is the problem
After a few minutes of downloading, cpu is 100%, qbittorrent automatically restarts, the download data is lost and the download restarts,web ui disconnection

### What is the ex

[2021-04-04 03:32] BobThompson commented on #14710
I updated to 4.3.4.1 and still have the exact same error with the WebUI not loading properly. This unfortunately did not change anything. The sidebar and main torrents area is still not displaying. Any other fixes for this?

[2021-04-04 03:33] BobThompson commented on #14705
I checked the link for #14710

I updated to 4.3.4.1 and still have the exact same error with the WebUI not loading properly. This unfortunately did not change anything. The sidebar and main torrents area is still not displaying. Any other fixes for this?

[2021-04-04 07:35] mada199122 commented on #13174
the same for me...
I've tried to put my subnet range and a specific IP but I keep getting the authentication page...
I'm running qbitorrent in docker...

[2021-04-04 09:12] reyaz006 commented on #14453
Eventually, after a few hours, these torrents were downloaded, and I can see positive numbers in Peers column. But tracker status is still "Updating" for some reason.

[2021-04-04 10:56] riaqn opened #14716 "Allow specifying file indices when requesting content of torrents"
(Sorry I can't use the template for some reason)
When request the content of a torrent, the current WebAPI simply returns all the files. This is very wasteful when the torrent contains hundreds of files and the user is actually interested in only a few of them. I suggest we add an `id` parameter which is a list of file indices delimeted by `|`. The API should then return only the files of those in

[2021-04-04 11:30] zinemaniac commented on #14594
This video might have a solution for you in case it's QoS.

https://youtu.be/7u1miYJmJ_4

[2021-04-04 12:06] tuxayo commented on #13814
Found something! It doesn't happen when I launch qBittorrent a second time, it happen when I have some docker containers running.

My networks then look like this:
[code]

@slrslr what does you network list look like when you have the issue?

[2021-04-04 12:37] thalieht commented on #14705
Try clearing cookies and site data.

[2021-04-04 13:36] Anteus commented on #14705
Have the same problem on latest Chrome and 1080p resolution but 125% scale on Windows. Workaround is to zoom in or out one step.

[2021-04-04 17:16] sakkamade commented on #14453
Try to test affected torrents with default settings ([How to use portable mode](https://github.com/qbittorrent/qBittorrent/wiki/How-to-use-portable-mode#windows))

[2021-04-04 17:44] theophanemayaud commented on #14360
I just added 2 torrents, and it started working again ! Did some of you try to do that, and did it fix the problem ? It no longer freezes for me.

[2021-04-04 18:51] maa1bu6 commented on #12287
Also having this issue. Commenting in hopes that this gets fixed at some point

[2021-04-05 01:21] nobluesky commented on #13286
Any updates so far?
It is very bothering that i have to check that directory includes .lnk file every time.
I think it is not a small bug for qbittorrent.

[2021-04-05 08:47] brvphoenix commented on #14713
@Sk-Films
Currently, you can use CTRL/SHIFT + left button to select a bunch of files and then click the SPACE key.

[2021-04-05 08:50] Sk-Films commented on #14713
Thank you very much for very fast reply. Will try it.

This is very helpful as I have to uncheck about 1200 files from 2000.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: brvphoenix ***@***.***>
Sent: Monday, April 5, 2021 9:47:52 AM
To: qbittorrent/qBittorrent ***@***.***>
Cc: Sk-Films ***@***.***>; Mention ***@***.***>
Subject: Re: [qbittorrent/qBittorrent] U

[2021-04-05 08:55] alculete opened #14718 "Allow changing active torrents when queue is disabled"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent-nox v4.3.4.1
OS: Ubuntu Server 20.04.2 LTS x86_64

### What is the problem
When disabling queue all torrents become active

### What is the expected behavior
Disable queueing and limit active downloads (2 for example).
When queue is enabled some downloads without seeds sŧops the whole queue.
When

[2021-04-05 09:00] ThePhantom00 opened #14719 "Add search or filter bar in RSS tab"
### qBittorrent version and Operating System?
qBittorrent v4.3.4.1 - Win 10 x64

### What is the feature?
I hope u add search or filter bar in RSS tab so i can filter the files i want

[2021-04-05 10:58] telepati commented on #14259
@sledgehammer999 @arvidn checked that there is only one `libtorrent-rasterbar.10.dylib` on the system.

[2021-04-05 11:37] ted423 commented on #13286
maybe try rar or zip

[2021-04-05 15:24] dpottier opened #14720 "Caught signal: SIGSEGV"
qBittorrent version: v4.3.4.1 (64-bit)
Libtorrent version: 1.2.13.0
Qt version: 5.15.2
Boost version: 1.75.0
OpenSSL version: 1.1.1j
zlib version: 1.2.11
OS version: Windows 7 Version 6.1 (Build 7601: SP 1) 6.1.7601 x86_64

Caught signal: SIGSEGV
[code]

[2021-04-05 16:12] xavier2k6 commented on #14720
@dpottier Any reproducible steps??

[2021-04-05 16:15] xavier2k6 commented on #14326
No response from OP & closing in favor of newer #14720 (#14460 is also a duplicate of these two)

[2021-04-05 16:15] #14326 closed

[2021-04-05 16:16] xavier2k6 commented on #14720
also ref: #14326 & #14460

[2021-04-05 17:12] johnnyschneider opened #14721 "Fails to discover Python installation on Windows"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent 4.3.4.1, Windows 10 (20H2) 10.0.19042

### If on linux, libtorrent-rasterbar and Qt version
N/A

### What is the problem
qBittorrent does not discover Python provided that Python is installed via _pyenv-win_ on Windows. I know this, because the search engine refuses to discover Python and prompts

[2021-04-05 20:48] multiduplikator commented on #14160
@oogetyboogety Hmm, there we have it, the devil in the details :)

As for the stats per tracker. My thoughts:
In standard qbit webui, we get the torrents by tracker in that left side pane. Somehow it decides how to attribute each torrent to one (or maybe more than one) entry in that list. Even if it is not 100% precise, we should aggregate the stats the same way. E.g. if you select a given tracker

[2021-04-05 21:40] scryptkyddy opened #14723 "multiple force recheck starts simultaneous checking rather than batch"
**Please provide the following information**

### qBittorrent version and Operating System
4.1.5 W10

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
multiple file selected and "force recheck" starts simultaneous checking

### What is the expected behavior
multiple file selected and "force recheck" starts batch checking similar to "resume" function.

### S

[2021-04-05 23:28] thalieht commented on #14723
4.3.4.1 is the latest and this has been fixed unless the torrents are in Forced state, then they'll recheck in parallel.

[2021-04-05 23:28] #14723 closed

[2021-04-06 03:39] #14695 closed

[2021-04-06 05:27] Barina commented on #14009
I also got a useless "qBitTorrent minimized" notification at startup I wish to disable

[2021-04-06 07:55] summerqB opened #14724 "A way to change WebUI refresh interval"
**Please provide the following information**

### qBittorrent version and Operating System
qBt-nox 4.3.4.1, Debian 10

### What is the problem
There's no way to change the WebUI refresh interval. It updates too fast and most of the time shows incorrect download/upload speeds(in the status bar) due to too frequent updates.

### What is the expected behavior
Allow setting a manual refresh interval.

[2021-04-06 09:01] smell-of-rain commented on #14366
I back this issue, this would be awesome with RSS support, with customizable share ratio to download/share more/less.
It would help a lot to Bittorrent swarms

[2021-04-06 11:08] xavier2k6 commented on #13554
Above seemed to be a duplicate of https://bugreports.qt.io/browse/QTBUG-86587 which was fixed in **Qt 5.15.2**

**Qt 5.15.2** has been used in Qbittorrent since **4.3.1** (Released: Wednesday November 25th 2020)

Closing.

[2021-04-06 11:08] #13554 closed

[2021-04-06 11:17] #14486 closed

[2021-04-06 11:30] xavier2k6 commented on #14695
Fix will be in next version.

[2021-04-06 11:33] xavier2k6 commented on #14631
@liuqian1996 I'm closing this for now as a duplicate, no eta on a proper fix...

[2021-04-06 11:33] #14631 closed

[2021-04-06 11:33] xavier2k6 commented on #14241
Fix will be in next version.

[2021-04-06 11:36] xavier2k6 commented on #14710
@michaeljbiro this may also help https://github.com/qbittorrent/qBittorrent/issues/14705#issuecomment-813025989 & also https://github.com/qbittorrent/qBittorrent/issues/14705#issuecomment-813034569

[2021-04-06 11:38] xavier2k6 commented on #14691
@R-Adrian If you can reproduce this with certain magnet links, please re-open/create "new issue" referencing this one.

[2021-04-06 12:12] to-duck opened #14725 "Add Seeding Limits option"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4.1
Windows 10

### If on linux, libtorrent-rasterbar and Qt version
N/A

### What is the problem
I do not want to pause the torrent if there are only a few seeders. I would like to have a Seeding Limits option to only perform the seeding limit action when there are more than X (configurable

[2021-04-06 13:14] AdvisedlyAlburn opened #14727 "Can't disable MacOS notification badge"
Environment : Macos Big Sur

I can't find a way to disable the red notification badge. It distracts my mind and every other apps allow to disable it.
I tried to go to System Preferences > Notification but qbittorrent doesn't appear on the list.
Also checked in qbittorrent settings, unchecked "display notifications, it's not working.

<img width="336" alt="Screenshot 2021-04-06 at 08 06 36" src="ht

[2021-04-06 13:54] Seeker2 commented on #14273
Is the drive format NTFS, FAt32, exFAT, or something more exotic?

[2021-04-06 18:16] Szilex94 opened #14728 "Unable to access torrents under categories which end with a dot"
**Please provide the following information**

### qBittorrent version and Operating System
OS: Windows 10 Pro v1909
qBittorrent: v4.3.3 64-Bit

### What is the problem
I group my torrents by category so they get nicely organized into subfolders.
I just happened to accidentally create a category which ended with a dot (ex: "CategoryName.") in terms of the application everything worked as expected t

[2021-04-06 18:54] eurobank opened #14729 "Moving a finished file"
**Please provide the following information**

### qBittorrent version and Operating System
Qbittorrent 4.3.4.1 - Windows 10 64/pro updated

### What is the problem
The final directory for the finished file is on a different drive (mechanical). After a file is finished, i see for a few seconds a Moving in the file list and then the torrent is dissapeared. But the FILE IS moving for a while and fina

[2021-04-06 19:44] gddeluca commented on #13572
OK, It's about 6 months now since being reported and accepted as a bug. What does it take to get it corrected?  If bugs just get ignored for long periods like this, why bother reporting them?  We're not asking for some new enhancement, we just want it to work as it did in previous versions.

[2021-04-06 19:48] tofanelli opened #14730 "Operation not supported"
### qBittorrent version and Operating System
v4.3.4.1
MacOs Catalina 10.15.7

### What is the problem
qBit can't download torrent files after message "Errored: Operation not supported". Whenever this happens, I need to force resume once again. And happens when i'm only seeding that torrent.

### What is the expected behavior
Never returns this message and download the file correctly

### Steps to

[2021-04-06 20:00] tofanelli commented on #14730
I was looking into the #14314 but it is not the same behavior. The "pre allocate"" option is disabled and this happens during the download action and not when the torrent is already being downloaded.

[2021-04-06 21:21] ManiacDC commented on #13581
This is a bit out of hand, so many zombie processes. System uptime 11 days.
![image](https://user-images.githubusercontent.com/1823305/113779988-860f3280-96fc-11eb-85d0-96930dc170fb.png)

[2021-04-07 00:07] cotwitch opened #14731 "Theming - QProgressBar's cell background is painted incorrectly at row selected or hover"
### qBittorrent version and Operating System
4.3.4.1 on macOS 10.14.6 - Mojave
(and possibly other versions are also affected)

### What is the problem
QTreeView item containing QProgressBar (or QProgressBar itself) is not painted with "correct" background color - like cells/items beside it. So, the whole row is not visually perceived in coherent (the same) background color.
(Progress bar backgrou

[2021-04-07 00:17] cotwitch commented on #11917
@ariosenodev Please, let me know about offered Figma sources. It would be really helpful to me. I've done so far following:

![s](https://user-images.githubusercontent.com/10708898/113792770-fcd11d80-9746-11eb-9903-0d89fd6ed333.png)

[2021-04-07 00:20] cotwitch commented on #11917
@50ryn @RoloSoze Have you done any steps before, which could be possibly merged with my version?

[2021-04-07 00:34] ariosenodev commented on #11917
Wow I'm really sorry not to replying for all of you guys. I've been busy
with my work lately.

I'm really flatted and honored that you guys took time and inspiration from
my design!

There's a lot of request asking for figma file and exited news I'm going to
released and share with you guy to community feature at Figma

Be patient because my current account doesn't have the feature to published
to

[2021-04-07 01:06] mateusdnc opened #14732 "Add a button to pause/resume all"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent for Windows 4.3.4.1

I think it would be very useful to have a button (next to resume / pause / settings) that could pause and resume all torrents

[2021-04-07 01:15] #9145 closed

[2021-04-07 01:15] thalieht commented on #14732
Duplicate of #1047

[2021-04-07 01:16] ghost opened #14733 "On Downloads Done doesn't work on Debian 10/Buster"
**Please provide the following information**

### qBittorrent version and Operating System
v4.1.5 on Debian 10/Buster

### If on linux, libtorrent-rasterbar and Qt version
libtorrent: 1.1.11.0
Qt: 5.11.3

### What is the problem
Tools > On Downloads Done > Exit qbittorrent doesn't work properly.

I leave my laptop at night for downloading and set qBittorrent to exit after downloads done. When I op

[2021-04-07 01:26] mateusdnc commented on #14732
oops sorry

[2021-04-07 01:26] #14732 closed

[2021-04-07 03:58] escape0707 commented on #11917
Good works by you all, but as dark reader works so good and Firefox on iOS supporting dark mode, I don't think is will take a higher priority than other features, say, a mobile friendly webUI.

[2021-04-07 06:20] nowshed-imran commented on #14452
KDE just announced Qt 5 Patch Collection. Archlinux has already switched to the KDE branch. For reference.

https://dot.kde.org/2021/04/06/announcing-kdes-qt-5-patch-collection

[2021-04-07 09:35] Aceler commented on #9084
I've got a workaround.

I have Qbittorrent installed from [flatpak](https://flathub.org/apps/details/org.qbittorrent.qBittorrent), and a [flatseal](https://flathub.org/apps/details/com.github.tchx84.Flatseal). I use flatseal to disable access to org.freedesktop.Notifications.

![Снимок экрана от 2021-04-07 12-33-41](https://user-images.githubusercontent.com/5177608/113844916-a7742b00-979d-11eb-9e4

[2021-04-07 09:43] glassez commented on #14729
This "feature", which allows you to move files behind the scenes, is a "hotbed" of bugs in its essence. It's really not easy to make it more or less reliable. It is more reasonable to perform such operations manually.

Maybe this problem would have received more attention if one of the active developers had used affected "feature" themselves.

[2021-04-07 09:51] glassez commented on #14729
I suppose it's disappeared due to deleting it by some kind of "share limit" feature. The same like you delete it manually while it's moving. What do you expect to see in this case? Just "Moving" as if nothing had happened? Then other users will start to complain "why doesn't anything happen when I delete it", right?

[2021-04-07 10:26] slrslr commented on #13814
@tuxayo

qbt working:
$ grep -i "Connection" /home/$(whoami)/.config/qBittorrent/qBittorrent.conf|grep interface
[code]

After changing network interface in qbt Advanced config (GUI) to all:

$ grep -i "Connection" /home/$(whoami)/.config/qBittorrent/qBittorrent.conf|grep interface
[code]

and qbt interface was not responding for 2 minute and then started responding, i quit qbt, let the process di

[2021-04-07 10:30] eurobank commented on #14729
@glassez YES, it is "disappeared:" because it reached some limit, TRUE.

What i would expect is correct information of what is happening, and some kind of order to be followed. For example, Moving, finished moving. removing the file from active list, and THEN shutdown Qbit. Now all those happens without knownign what IS actually happening.

For example Qbit EXITS in 9 seconds, DURING REchecking. A

[2021-04-07 10:54] glassez commented on #14729
I agree. But as I mentioned above, I don't use this feature myself to know its problems closely enough from my own personal experience. And this is clearly not a problem that can be fixed in the meantime. It requires careful study and testing, and in order to do this, I will have to do all this in an artificially created environment. This condition turns me away from it.
Although I really dislike

[2021-04-07 11:07] tuxayo commented on #13814
Thanks, is there an individual interface that you can temporarily shutdown to pinpoint which one qbt chokes on? I'll also try

[2021-04-07 12:31] xavier2k6 commented on #14733
4.1.x series is no longer supported, please update to latest **4.3.4.1**

[2021-04-07 16:28] The5kull opened #14735 "Speed graphs missing for 30 minutes and up"
**Please provide the following information**

### qBittorrent version and Operating System
4.4alpha1 Win10 x64

### What is the problem
In the latest master the speedgraphs are only displaying for 1 and 5 minutes, the other options don't display anything. On the graphs that are not displaying the speeds on the left side of the view are staying on 0 b/s while this works as intended on the 1 and 5 m

[2021-04-07 16:29] theincognito-inc commented on #11917
@cotwitch That looks really wonderful. Is that a Mac exclusive theme? Or will it work on Windows 10 too?

[2021-04-07 17:54] Davoleo commented on #12543
I'm having this exact same issue on 4.3.4.1 packet drops only occur when the program is running, have there been any updates on this?

[2021-04-07 18:06] glassez commented on #9084
I wonder if it is related to custom DBus stuff from `qtnotify/notifications.*`. @qbittorrent/bug-handlers, have you some ideas? Maybe try to use regular `QSystemTray::showMessage()` on Linux?

[2021-04-07 18:22] xavier2k6 commented on #14061
@baburovn Ist this still an issue for you with Kodi 19 & qBittorrent **4.3.4.1**?

[2021-04-07 19:53] cotwitch commented on #11917
@theincognito-inc I hope not. I see no reason to be Mac exclusive only 😉
.
.
.
So, I have checked it right now and it appears like this:

![Screenshot 2021-04-07 at 21 33 03](https://user-images.githubusercontent.com/10708898/113924193-ce584e80-97e9-11eb-9e25-7119ba142255.png)

So, obviously, it will require some care ... but I think it might be okay in the end 👍

[2021-04-07 20:01] dondolarson commented on #11917
Holy fuck can't wait. Do I dream?

[2021-04-07 22:46] userdocs commented on #14733
I guess that's not possible unless they build it themselves?

https://packages.debian.org/buster/qbittorrent

Or use this static binary to test if the issue is resolved

https://github.com/userdocs/qbittorrent-nox-static/releases/tag/release-4.3.4.1_v1.2.13

[2021-04-08 04:14] douglas24 commented on #14698
Yes, and it also seems to be an issue when qbt is still 'using' the torrent (e.g. seeding).

If a built in delay is too difficult to add, perhaps an additional option in that section where a delay before running external program is specified in seconds, then users can set it to longer than what they set seed time for? But QBT really needs to wait on running batch files until the download is (1) do

[2021-04-08 04:46] theincognito-inc commented on #11917
@cotwitch Just publish the theme, mate xD This is too damn good :D

[2021-04-08 07:36] glassez commented on #14716
Do you really need to obtain any arbitrary subset of files? Or maybe just some continuous one?

[2021-04-08 08:13] Motophan opened #14739 "4.3.4 Using huge amounts of CPU"
**Please provide the following information**

### qBittorrent version and Operating System
linuxserver/qbittorrent:14.3.4.99202104031018-7348-2b6baa609ubuntu20.04.1-ls125 docker container

Host is debian stable, fully updated

### If on linux, libtorrent-rasterbar and Qt version
Qt 5.12.8
Libtorrent 1.2.13.0
Boost: 1.71.0
OpenSSL 1.1.1f
zlib: 1.2.11

### What is the problem
It uses 2 cores @ about

[2021-04-08 08:16] Motophan commented on #14739
The only way I can get semi-sane cpu usage is to set (in docker) cpu's to 0.5, then I need to limit download and upload to 10MBps. Otherwise this program will end up taking more cpu resources than the rest of all my programs combined (including plex that willl transcode video at times) and will be top of my cpu time charts by a significant margin.

[2021-04-08 08:24] riaqn commented on #14716
Hi @glassez . In my particular case I want to obtain files that could be non-continuous. Would that be a problem?

[2021-04-08 09:00] AgentRev commented on #9063
One way to implement this would be within the Torrent Queueing section, something like:

[checkbox] Prioritize these torrents:
    [radio button] Number of seeds is below or equal to [textbox]
    [radio button] Peer-to-seed ratio is above or equal to [textbox]

[2021-04-08 10:17] xavier2k6 commented on #5624
Resolved/too old a version now anyway.

[2021-04-08 10:17] #5624 closed

[2021-04-08 10:19] apex22 commented on #12287
I'm having the same problem with second NIC not binding, is there a previous version that this works on? I really need this to work as expected.

[2021-04-08 10:35] glassez commented on #14716
I think No.

[2021-04-08 13:07] elisspace opened #14742 "Caught signal: SIGABRT"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent version: v4.3.4.1 (32-bit)
Libtorrent version: 1.2.13.0
Qt version: 5.15.2
Boost version: 1.75.0
OpenSSL version: 1.1.1j
zlib version: 1.2.11
OS version: Windows 10 Version 2009 10.0.19042 x86_64

### What is the problem
Not sure, came home to find this window open and followed the link to share

[2021-04-08 13:23] thalieht commented on #14733
I can reproduce when there is a "Downloading metadata" torrent. Guess we should add that case?
https://github.com/qbittorrent/qBittorrent/blob/f97aa05bdb92c20321629f05cc9fd26027a8e6f7/src/base/bittorrent/session.cpp#L1747-L1753

Related/duplicate #13660 #14113

[2021-04-08 13:31] xavier2k6 commented on #14742
@elisspace
Where did you download qBittorrent from? (Is it a portableapps version etc)
Where do you have qBittorrent installed? (Directory e.g. `C:\Program Files` / `portable mode` etc.)

[2021-04-08 14:30] elisspace commented on #14742
Downloaded from qbittorent website, not a portableapps version. Location is C:\Program Files

[2021-04-08 14:39] Felipefpl opened #14745 "Feature Request: Add brazilian portuguese translation of the installer"
Hi, i saw in the commits there was a different language file than the ones in transifex so i translated/fixed it and added it here since i cant do it on transifex.

[portugueseBR.zip](https://github.com/qbittorrent/qBittorrent/files/6279446/portugueseBR.zip)

PS: PLEASE, dont forget to grab all files from transifex too, they were updated.

Edit: Added one of the files in the translations' folder t

[2021-04-08 18:19] txtsd opened #14747 "Random crash"
**Please provide the following information**

### qBittorrent version and Operating System
OS: Archlinux
qbittorrent: 4.3.4.1

### If on linux, libtorrent-rasterbar and Qt version
libtorrent: 1.2.13.0
Qt: 5.15.2

### What is the problem
Random crash

### What is the expected behavior
Don't crash

### Steps to reproduce
Not sure of the conditions to reproduce. It happened randomly after about a day

[2021-04-08 21:43] Legendarion opened #14748 "qBitorrent doesn't finish the downloads properly."
### qBittorrent version and Operating System

qBitorrent v4.3.4.1 (64 bit)
Windows 7 SP1, x64. 6.1.7601

### What is the problem

It is very noticeable on a movie/movies. I have downloaded movies that becomes 100% finished and then watched it. There are cases that a movie visibly have broken pieces in certain places and that’s because the program did not download the entire information when it was

[2021-04-08 22:32] LsHallo commented on #14654
Would also be nice that the max active torrent limit is also influence by the rate limit.
By day I limit my torrent to 200kb/s and having 4 active is most of the time too much and one will stall out allowing the next one to connect. Which will spiral out of control.
So it would be nice if I can have a limited profile with max 1 active torrent and 200kb/s.
And one profile for nights with 1.5MB/s an

[2021-04-08 23:51] fuad-sadique opened #14749 "qBittorrent automatically stops seeding"
**Please provide the following information**

### qBittorrent version and Operating System
(4.3.4.1)

### What is the problem
(qBittorrent suddenly automatically stops seeding. Then after re-launching it seeds again)

[2021-04-08 23:54] oogetyboogety commented on #14160
@multiduplikator Yeah that can be achieved! An additional table has to be joined for non aggregate statistics which would record all the trackers for a given torrent. I checked and it looks like the trackers list on the left for the filter of the torrents list actually keeps a separate list of all the trackers for each torrent in the torrents list, so we just have to persist that data as well.

le

[2021-04-09 01:39] FranciscoPombal commented on #14735
@The5kull Out of curiosity, did you build qBittorrent yourself with instructions from the wiki, or did you download an GitHub Actions build?

[2021-04-09 02:09] The5kull commented on #14735
I downloaded the GA build like I always do.

[2021-04-09 03:34] #14735 closed

[2021-04-09 07:47] vertap opened #14751 "Editing search results"
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.3 (windows 10)

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
Sometimes there are too many results even after using filter, but I can't remove the unwanted lines.

### What is the expected behavior
1. I want to have some ways to remove unwanted result lines in

[2021-04-09 09:51] xavier2k6 commented on #14742
@elisspace Did you install qBittorrent via the installer or how did you install to that location?

[2021-04-09 11:19] xavier2k6 commented on #10576
@Zapicoyuz is this still an issue with qBittorrent **4.3.4.1** which now uses **Qt 5.15.2**?

[2021-04-09 11:22] xavier2k6 commented on #8785
@bitigchi is this still an issue with qBittorrent **4.3.4.1** which now uses **Qt 5.15.2**?

[2021-04-09 11:24] xavier2k6 commented on #11438
4.1.x series is no longer officially supported, can you reproduce with latest qBittorrent? (**4.3.4.1**)

[2021-04-09 11:48] bitigchi commented on #8785
I am sorry, I don't have access to my Windows machine right now, and won't be able to check at least till the end of the year. If I may request, would it be possible to check on your side via manually changing the language? The examples above should be clear for observing.

[2021-04-09 11:55] soiamsoNG commented on #11438
Seems  4.3.4.1 without this issue now

test on Fedora 34 via Flatpak

[2021-04-09 12:09] #11438 closed

[2021-04-09 12:12] erango commented on #7508
It's not a choice @recoi1er, <kbd>Fn</kbd> + <kbd>Delete</kbd> is the Mac equivalent of the windows <kbd>Delete</kbd>. They just map to the same key. The standard Mac delete operation, <kbd>Cmd</kbd> + <kbd>Delete</kbd>, actually maps to the windows equivalent of <kbd>Backspace</kbd>

[2021-04-09 14:54] njaard commented on #13368
This has been fixed upstream: https://bugs.kde.org/show_bug.cgi?id=431921

:clap:

[2021-04-09 15:09] txtsd commented on #14747
Happened again.

strace log:
[qbit_strace.002.log.gz](https://github.com/qbittorrent/qBittorrent/files/6286676/qbit_strace.002.log.gz)

qBittorrent log:
[qbittorrent.log.gz](https://github.com/qbittorrent/qBittorrent/files/6286677/qbittorrent.log.gz)

[2021-04-09 18:13] Shellyoung opened #14752 "Crash after downloading book torrent"
Torrent file that caused the crash: https://archive.org/download/nowitcanbetoldthestoryofthemanhattanproject/nowitcanbetoldthestoryofthemanhattanproject_archive.torrent

qBittorrent version: v4.3.0 (64-bit)
Libtorrent version: 1.2.10.0
Qt version: 5.15.1
Boost version: 1.74.0
OpenSSL version: 1.1.1h
zlib version: 1.2.11
OS version: Windows 7 Version 6.1 (Build 1.511.1 () (Obsolete data - do not us

[2021-04-09 18:15] #14752 closed

[2021-04-09 18:16] Shellyoung commented on #14752
Problem solved after downloading latest version - 4.3.4.1 x64

[2021-04-09 20:32] daniopasa opened #14754 "0 Nodos"
I don't understand DHT issue: 0 nodes. Does not download the file

[2021-04-09 20:40] rmartin16 opened #14755 "Please Prioritize Web API Signature Compatibility Within Major Versions"
### qBittorrent version and Operating System
v4.1+

### If on linux, libtorrent-rasterbar and Qt version
n/a

### What is the problem
I have a growing concern about the API incompatibilities among the v2.* minor versions. Twice recently, API signatures have changed in a minor version: once for `torrents/rename_file` in v4.3.3 and again for `torrents/add` in v4.3.4.

This makes it difficult for use

[2021-04-09 20:53] StanDaMann opened #14756 "qBittorrent Closes Randomly"
**Please provide the following information**

### qBittorrent version and Operating System
W10

### If on linux, libtorrent-rasterbar and Qt version
N/A

### What is the problem
App will close randomly

### What is the expected behavior
App to stay a active

### Steps to reproduce
Just happens

### Extra info(if any)
(type here)

[2021-04-09 21:09] thalieht commented on #14754
Look in the execution log for network problems. Not a bug.

[2021-04-09 21:09] #14754 closed

[2021-04-10 02:53] ManiacDC commented on #13581
I deleted all of the torrents that had files on my network drive and this is still happening. Worth noting I only see it when I wake the computer up from sleep. It doesn't happen (that I've noticed) if I'm on the computer actively.

[2021-04-10 02:56] ManiacDC commented on #13581
@FranciscoPombal I'm not sure what info you're waiting for on this, but I'll glad run any debug builds, take dumps, or whatever. I really like qBittorrent, but I won't be able to put up with this much longer.

[2021-04-10 07:21] simplytestinglol opened #14757 "After snap install I cannot use the inbuilt search engine."
As said above, after installing qbittorrent on my LinuxLite and on Ubuntu using sudo snap install qbittorrent-arnatious

I can't use search engine functionality for torrenting..

[2021-04-10 07:22] simplytestinglol commented on #14757
But when I try to install directly from Ubuntu like this -
sudo add-apt-repository ppa:qbittorrent-team/qbittorrent-stable
sudo apt install qbittorrent

Search functionality works.
There is something wrong with the snap package I guess.

[2021-04-10 08:39] glassez commented on #14755
In fact, we simply can't pay enough attention to web API problems due to the lack of active developers. We mostly just care about the built-in web interface. Maybe the feedback from API users will help clarify how we could do this better.
Often, these changes are related to changes in the core of the application, so we just follow them. It seems that in order not to break the existing web API, we

[2021-04-10 08:39] glassez commented on #14755
In fact, we simply can't pay enough attention to web API problems due to the lack of active developers. We mostly just care about the built-in web interface. Maybe the feedback from API users will help clarify how we could do this better.
Often, these changes are related to changes in the core of the application, so we just follow them. It seems that in order not to break the existing web API, we

[2021-04-10 08:42] FranciscoPombal commented on #14756
https://www.github.com/qbittorrent/qBittorrent/tree/master/CONTRIBUTING.md

[2021-04-10 08:42] #14756 closed

[2021-04-10 08:43] glassez commented on #14755
BTW, we use the minor (second digit) versions of the API to indicate such incompatible changes. The major version is reserved for conceptual changes to the API (i.e., for a total redesign).

[2021-04-10 08:44] FranciscoPombal commented on #14757
Please report this to https://github.com/Arnatious/qbittorrent-snap instead.

[2021-04-10 08:45] #14757 closed

[2021-04-10 10:38] escape0707 commented on #11917
For anyone who is currently suffering from the bright UI at night, a workaround is that you can use the Web UI, then enable Dark Reader's default dark mode (dynamic) and use uBlock Origin to block `/images/tabs.gif`. You can easily get this in 3 minutes:

![image](https://user-images.githubusercontent.com/11014745/114266834-187c4280-9a2b-11eb-8935-64df10de2368.png)

[2021-04-10 12:08] ASentientBot opened #14760 "Mac build crashes Penryn CPUs due to SSE4.2 instruction"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1
macOS 11.3 DP6

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
The `libtorrent-rasterbar.10.dylib` is compiled for Nehalem and newer CPUs and uses POPCNT instruction, causing a crash on, eg. my Core 2 Duo MacBook.

### What is the expected behavior
No crash.

[2021-04-10 13:38] Seeker2 commented on #14748
Another possibility is you may have a failing storage drive.

[2021-04-10 14:05] xavier2k6 commented on #14700
@spikeenix Did you have `64-bit` installed previously & then went to `32-bit` by chance?

[2021-04-10 14:05] xavier2k6 commented on #14742
@elisspace  Did you have `64-bit` installed previously & then went to `32-bit` by chance?

[2021-04-10 14:08] xavier2k6 commented on #14629
@ArcticGems Was that with a `32-bit` build too??

[2021-04-10 14:15] ArcticGems commented on #14629
No, it was 64-bit build of qBit.

(BTW, now I have new computer with Win 10, so I can't test anything anymore about this issue).

[2021-04-10 14:24] xavier2k6 commented on #14629
That's ok - thank you!

[2021-04-10 14:28] Legendarion commented on #14748
Maybe. It's an SSD bought in 2013 (Corsair Neutron 256GB) which they are download on.
Not sure if that's the case, but I also have the same problem on another PC that uses a regular HDD.

[2021-04-10 14:29] rafi-d commented on #14748
Might be a "known" issue with partial downloads of mulifiles torrents . Are you marking all files for diwnloading or just part of them?

[2021-04-10 14:29] xavier2k6 commented on #13581
@ManiacDC

Is it also happening with latest **4.3.4.1**?

Are you running `32-bit` or `64-bit` build of qBittorrent?

Are you running `32-bit` or `64-bit` build of Windows?

[2021-04-10 15:41] dreamboatcap opened #14761 "Auto-add torrent enhancing idea"
### qBittorrent version and Operating System
v4.3.4.1 Windows 10

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
Not a problem but a feature request. I don't know if this was requested before. When torrent file auto added from folder, its category is not assigned. Even if i choose the default category when adding the torrent before its behavior is not cha

[2021-04-10 15:50] Legendarion commented on #14748
Well, I do deselect what is not necessary and let only the movie file to save downloading-time.

[2021-04-10 17:14] rafi-d commented on #14748
I've guessed you are doing that... This is a bug with many torrent clients (bad managing/de-allocating pieces that are shared  to adjacent files). I am also a bit skeptic about fixing this soon... :(
 I can only recommend for you to at least NOT to do that (mark files to skip) "on-the-fly" - after you start the download. Do it all *before* you start downloading.

[2021-04-10 17:51] Shpigorx opened #14762 "Breaking lines in RSS description is strange"
### qBittorrent version and Operating System

Win 7 Pro x64 (6.1.760x)
V 4.3.4.1 x64

I use the only rss file. In most torrents description is not fits in desc panel and is showed in monospace font with scrollbar. A few other desc have flexible linebreaking and default font.

Is that a problem in rss file?
Here is [RSS file](https://github.com/qbittorrent/qBittorrent/files/6290427/rss.zip)

**Good

[2021-04-10 17:57] ManiacDC commented on #13581
@xavier2k6 it happened with 4.3.3 & 4.2.5. I just installed 4.3.4.1 and I'll try it now. I'm running 64-bit qBittorrent on 64 bit windows 10 20H2, I just updated to build 19042.906.

[2021-04-10 18:00] samayo commented on #7850
always the same issue with this client

[2021-04-10 18:20] kevincox opened #14763 "Support WebUI on Unix socket."
Right now the WebUI only supports binding to an IP and port. It would be nice if it could support binding to a unix socket.

The main reason why I want unix socket support is so that I can add permissions to the socket. Right now there is no way to prevent access to the WebUI from the local system, necessitating enabling the password functionality on a multi-user or multi-service system. However t

[2021-04-10 18:28] mchamp00 opened #14764 "Strange issue with permissions in docker (I think?)"
### qBittorrent version and Operating System
v4.3.4.1 running in docker v20.10.5 on Ubuntu server 20.04 LTS

### If on linux, libtorrent-rasterbar and Qt version
QT v5.12.8
Libtorrent v1.2.13.0

### What is the problem
Getting a "Cannot write to directory" error when trying to change the save path of a torrent in the list via right click -> "Set location."

### What is the expected behavior
qBitto

[2021-04-10 22:45] Asday commented on #7850
@shiftypenguin it sounds like they were exactly the issue in your case, so providing them would be very helpful.

[2021-04-10 23:50] flwwater opened #14765 "[feather request] auto-disable select some unwanted file when open one torrent"
**Please provide the following information**

### qBittorrent version and Operating System
qB:4.3.4

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem

### What is the expected behavior
Maybe a torrent  include multi file , but some files such as ".txt  .url " is  my unwanted download .
when i open a torrent using qBittorrent client, is there a way to auto d

[2021-04-10 23:54] flwwater commented on #14765
filter by fileSize( < 1kB ?) or by FilenamExtension (8.txt *.url *.html)

[2021-04-11 00:59] thalieht commented on #14765
Duplicate of #3369
Related #14480

[2021-04-11 00:59] #14765 closed

[2021-04-11 02:46] gspbeetle commented on #13772
![Capture](https://user-images.githubusercontent.com/33320637/114290541-ef9f9000-9ab2-11eb-8658-d311f67cb765.JPG)

[061c78f8f119a90998abbe46a9ab6916d16385e8.fastresume.txt](https://github.com/qbittorrent/qBittorrent/files/6291082/061c78f8f119a90998abbe46a9ab6916d16385e8.fastresume.txt)
[b7cb30ccd8c96ab939dd4d62796ef36b02704692.fastresume.txt](https://github.com/qbittorrent/qBittorrent/files/629108

[2021-04-11 04:24] Juser42 commented on #14748
I have noticed this problem too.  I never deselect files. You should go into advanced settings and turn on automatic recheck
after completion.

[2021-04-11 05:54] sam20e opened #14766 "qbittorrent 4.3.4.1 update issues"
Hello,

I'm running ubuntu 18.04. Why is that 4.3.4.1 is not available in your stable repo for this ubuntu version?

https://launchpad.net/~qbittorrent-team/+archive/ubuntu/qbittorrent-stable/+packages

I tried updating by running the commands but it says im using the latest version 4.3.3.

Can someone let me know a workaround to upgrade my script to 4.3.4.1?

Sorry for reporting this here - the f

[2021-04-11 06:09] RandomHypnotica opened #14767 "Crashing on startup"
QBitTorrent just started crashing on startup, seemingly out of the blue. Provides the following crash report

qBittorrent version: v4.3.0 (64-bit)
Libtorrent version: 1.2.10.0
Qt version: 5.15.1
Boost version: 1.74.0
OpenSSL version: 1.1.1h
zlib version: 1.2.11
OS version: Windows 10 Version 2004 10.0.19041 x86_64

Caught signal: SIGABRT
[code]

[2021-04-11 08:04] FranciscoPombal commented on #14767
Please try to reproduce with the most recent version, v4.3.4.1.

[2021-04-11 08:08] FranciscoPombal commented on #14766
Ubuntu 18.04 is too old now and does not have a recent enough version of Qt available in the repos. Either update to a more recent Ubuntu release that has Qt >= 5.12 (such as 20.04), or compile a recent enough Qt version and qBittorrent from source.

[2021-04-11 08:08] #14766 closed

[2021-04-11 08:23] FranciscoPombal commented on #14760
You'll have to ask @sledgehammer999 about such details with the official macOS builds. But yes, it sounds like the kind of issue that can be fixed with a simple change to a compiler flag - hopefully that is the case.

However, I would not change it for the official builds. Targeting older architectures would almost certainly cause a performance/efficiency regression for everyone on newer hardware

[2021-04-11 08:23] #14760 closed

[2021-04-11 08:53] Legendarion commented on #14748
I have now enabled it.

[2021-04-11 09:07] AdKiller opened #14769 "torrent from Opera Portable opens a new instance of qBittorrent"
### qBittorrent version and Operating System
4.3.3 64bit (regular installation - not portable) - Windows 10 64bit Pro 1909

### What is the problem
Opening a torrent from Opera Portable (portableapps.com) opens a new instance of qBittorrent.exe and new windows.

### What is the expected behavior
It should use the already running qBittorrent.exe or refuse multiple instances.

### Steps to reproduce

[2021-04-11 09:27] rikimaruv opened #14770 ""#" (queue number) column is missing on TableView AND column selection menu."
### qBittorrent version and Operating System
v4.3.4.1 Windows 10

### What is the problem
"#" (queue number) column is missing on TableView AND column selection menu.

### What is the expected behavior
"#" (queue number) column is present on column selection menu.

### Steps to reproduce
It's just not there (or am I blind?)

![image](https://user-images.githubusercontent.com/48455323/114298800-c2f

[2021-04-11 09:39] rikimaruv commented on #14770
This line looks suspicious to me:
if (!BitTorrent::Session::instance()->isQueueingSystemEnabled() && (i == TransferListModel::TR_QUEUE_POSITION))
            continue;

[2021-04-11 09:44] Legendarion commented on #14770
I have it. (Windows 7)

![Coloumn](https://user-images.githubusercontent.com/62836893/114299365-06e27b80-9abb-11eb-9b58-6cf522dec8e4.png)

[2021-04-11 09:44] elisspace commented on #14742
I installed it via the installer, just left it defaults for the location to install. I didn't intentionally switch to 32-bit although it does appear (via the About menu) the installation is 32-bit now. I use the update links when qb prompts me. Is it possible it sent me to a 32-bit download link for one of the updates?

At any rate, would it be worth reinstalling the 64-bit version? It's been work

[2021-04-11 09:47] rikimaruv commented on #14770
I **have to** enable Torrent Queuing it seems to show it.
Still can not sort like it was before.
If I sort by  "Completed On" column and then sort on the "#"(queue number) column I get "Completed On" ascending but I need descending.

[2021-04-11 10:06] xavier2k6 commented on #14767
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/13529. It is caused by torrents with web seeds.

(Going by stacktrace)

[2021-04-11 10:06] #14767 closed

[2021-04-11 10:15] rafi-d commented on #14748
I don't

Will this also auto- re-download pieces if it fails that recheck?

[2021-04-11 12:26] thalieht commented on #14770
You found it.

Different issue that i think will be solved in the next release. I lost track of this so if you care, search the pull requests.

[2021-04-11 12:26] #14770 closed

[2021-04-11 15:32] Hell13Cat opened #14771 "Add column to torrent list about "Private torrent" information"
### qBittorrent version and Operating System
4.3.4.1 Windows 10

### What is the problem
In some torrent clients, you can find out whether this torrent is private or not.

### What is the expected behavior
In a separate column, a label about the privacy of the torrent

[2021-04-11 16:31] mzso opened #14772 "The Python installer used by QB fails to use the proper folder."
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 (Don't think it's version specific)

### What is the problem
I see python log files appearing in the wrong folder
My temp folder is set to "%SYSTEMDRIVE%\IDEIGLENES\"
Yet the files ended up in "c:\IDEIGL~\". I guess some butchered, short, archaic folder name format ended up being used as a normal NTF

[2021-04-11 17:55] detalikota commented on #13122
I fixed the issue just by deleting the "bad" plugin, I was trying to put these and those, and found, that "rutracker" one was bad and made qBittorrent to not find any

[2021-04-11 18:18] texasbruce opened #14773 "Release DLL file instead of PDB"
### qBittorrent version and Operating System
Windows 4.3.4.1

### What is the problem
Release should have binary instead of debugging file

### What is the expected behavior
Release DLL file instead of PDB (debugging file)

[2021-04-12 00:40] rmartin16 commented on #14755
I think this is all mostly about balance...since nothing is without trade-offs. Any attempt to maintain compatibility will only create more work for code maintenance; alternatively, the work doesn't really goes away if compatibility isn't maintained....other people in the community will just have do it. I can sympathize, though, with already having more work than people to do it.

As for actual ap

[2021-04-12 00:45] davkastheranger19 opened #14774 "Unable to change WebUI port from the WebUI"
**Please provide the following information**

### qBittorrent version and Operating System
**qBittorrent v4.3.4.1 & Ubuntu 20.04**

### If on linux, libtorrent-rasterbar and Qt version
libtorrent-rasterbar10 Version 1.2.13+git20210323.34a979720b-1ppa1~20.04

### What is the problem
Can't change the WebUI port to 443 in the WebUI and if I change the port to 443 in the service and config file, the s

[2021-04-12 00:51] rmartin16 commented on #14755
There is also a completely different approach where compatibility isn't a problem at all. Let the (external) calling code determine which version of the API to invoke. That way, any application can continue using `v2.7` and they don't have to concern tehmselves with what was introduced in `v2.8`.....although, I don't think the current architecture of the API will allow something like this. Just th

[2021-04-12 01:03] Juser42 commented on #14748
yes, qBittorrent will resume downloading.

[2021-04-12 01:57] IRISHMAN04 opened #14775 "Refuses to quit when Windows attempts to shut down"
### qBittorrent version and Operating System
qBittorrent v4.3.4.1 (64-bit)
Windows 10 Pro Update 20H2 10.0.19042

### What is the problem
When I shutdown my computer, qBittorent stops it from shutting down with the message "Saving torrent progress". It stays on this window so long that Windows cancels the shutdown and locks itself.

### What is the expected behavior
qBittorent quits and allows my

[2021-04-12 08:26] Geniusssmit commented on #10108
Most of the private torrents has tags, so will be much appreciated

[2021-04-12 09:12] kamilmirza opened #14776 "Listening Port not open | No Direct Connection"
### qBittorrent version and Operating System
4.3.4.1 - Windows 10 (10.0.19042.870)

### What is the problem
Listening Port (TCP and μTP) is not open by qB
![qbittorrent_2021-04-12_13-49-05](https://user-images.githubusercontent.com/6561475/114367436-dfacac80-9b95-11eb-83cc-1fe1f9e3c1ed.png)
![qbittorrent_2021-04-12_13-45-14](https://user-images.githubusercontent.com/6561475/114367312-c146b100-9b95

[2021-04-12 16:28] glassez commented on #14773
DLL instead of PDB? What DLL do you mean?
PDB file contains debug info to provide "stacktrace" functionality in case of app crash.

[2021-04-12 16:34] glassez commented on #14774
AFAIK, ports 0-1023 is "well-known" or "system" ports. On Unix-like systems the process should be running as root to be able to use one of them.

[2021-04-12 20:01] ManiacDC commented on #13581
@xavier2k6 this just happened for me with 4.3.4.1 64 bit on Windows 10 20H2 64 bit

[2021-04-12 20:06] jasonprad opened #14780 "If incomplete path storage is full, there is not a good way to change incomplete path for specific torrents."
**Please provide the following information**

### qBittorrent version and Operating System
(type here)
4.3.4.1

### If on linux, libtorrent-rasterbar and Qt version
(type here)
Windows

### What is the problem
(type here)
I use a SSD for the incomplete path because it performs better than my spinning hard disk.  And once downloads are complete, it moves the files to my external (spinning) hdd.  Ho

[2021-04-12 20:27] lesderid opened #14781 "`getHost` should use Public Suffix List (or comparable)"
### qBittorrent version and Operating System
4.3.4.1

### What is the problem
Trackers in the tracker list with a domain with a public suffix that consists of more than one component have wrong names (and favicons).

Example: `myfavouritetracker.co.uk` has the public suffix `co.uk` and shows up in the list as `co.uk`

### What is the expected behavior
The tracker's name should include one componen

[2021-04-12 22:47] iterea opened #14782 "Unable to resume DL if drive fills, after clearing drive. Unless torrent re-added."
**Please provide the following information**

### qBittorrent version and Operating System
qbittorent 4.3.4.1  x64 and at least 2 perhaps 3 prior, unknown beyond that.
Windows 10 x64

### What is the problem
If while downloading the storage space being used fills, the torrent will cease to download and will not start again if the storage is cleared even to free space well beyond the total needed f

[2021-04-13 13:06] 821938089 opened #14784 "WebUI stop responding after adding a magnet link with lots of trackers"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent version: 4.3.0 nox
Operating System: Debian 9
Extra: Seedbox server

### If on linux, libtorrent-rasterbar and Qt version
Qt: 5.15.1
Libtorrent: 1.2.10.0

### What is the problem
Add a magnet link with lots of trackers will cause WebUI to stop responding for a long time.
Add a seed file with lots

[2021-04-13 15:34] glassez commented on #14098
@aminpaks
What is your progress in this case?

[2021-04-13 16:04] bacon-cheeseburger commented on #14130
I use qbittorrent-nox on a linux box, completely managing it using the webui and I've whitelisted my lan subnet so I don't have to bother logging in all the time. It seems like the webapi requires a cookie so for people with setups like mine it seems the whitelisting breaks the ability to use the webapi, which in turn makes using scripts to automate things not possible. I do this easily with other

[2021-04-13 18:07] PriitUring commented on #14745
If you wish to update the installer translation file of PortugueseBR then create a pull request, select Master, and navigate to this location and create your patch: https://github.com/qbittorrent/qBittorrent/blob/master/dist/windows/installer-translations/portugueseBR.nsi

If you wish to update in Transifex, then send a request to join the team: https://www.transifex.com/sledgehammer999/qbittorren

[2021-04-13 18:38] Baelyath commented on #13581
I've been having this issue as well.  Rebooting the computer resolved it until recently.  This ghost/zombie process appears at restart, preventing qbittorrent from working.  The only way I've been able to kill it is to reboot in safe mode and uninstall.  Task Manager, cmd line Taskkill (run as admin) and Power Shell (as admin) are unable to terminate.  As a side note, you are unable to uninstall t

[2021-04-13 19:14] mrandreastoth opened #14785 "Option to display add torrrent dialog only"

[2021-04-13 20:14] Felipefpl commented on #14745
I dont know how to make a pull request so i posted here, i'm already registered as a translator at transifex and translated the files there.

[2021-04-13 20:49] PriitUring commented on #14745
Try this:
1. Click on this link: https://github.com/qbittorrent/qBittorrent/blob/master/dist/windows/installer-translations/portugueseBR.nsi
2. On the right side, top corner, there's a pencil icon to edit the .nsi
3. Modify translation
4. Scroll down and press on the green button "propose changes".

[2021-04-13 22:02] PriitUring commented on #14745
Try this:
1. Click on this link: https://github.com/qbittorrent/qBittorrent/blob/master/dist/windows/installer-translations/portugueseBR.nsi
2. On the right side, top corner, there's a pencil icon to edit the .nsi
3. Modify translation
4. Scroll down and press on the green button "propose changes".
5. Click on green button "create pull request".
6. Click again on the green button "create pull requ

[2021-04-14 11:34] escape0707 commented on #8630
In the past month I realized that maybe my HDD simply can't handle constantly 10 MB/s write to random pieces, with the help of qB's <kbd>Ctrl</kbd> + <kbd>I</kbd> info. So if the swarm is that healthy, I'd better off enabling sequential download, and it works well!

 Also, as I'm downloading to a USB HDD and Windows 10 **disables OS caching to removable drives by default** after version 1809, I wi

[2021-04-14 11:50] gspbeetle commented on #13772
Update: 24b3f1785688d78ff82ad684091effffba76e451 is the only one that keep regenerating even after manual deletion on %AppData% folder
![Capture](https://user-images.githubusercontent.com/33320637/114705695-948fc680-9d5a-11eb-8db0-9fd273222f84.JPG)
![Capture2](https://user-images.githubusercontent.com/33320637/114705697-95c0f380-9d5a-11eb-95a5-d2fbbf0097b1.JPG)
![Capture3](https://user-images.gith

[2021-04-14 12:05] PalinuroSec commented on #13422
ping, i am interested too

[2021-04-14 14:07] Felipefpl commented on #14745
Thank you very much for teaching me how to do this, i cant believe it was THIS EASY. I did it, thanks to you. :)

[2021-04-14 14:29] marcmy opened #14789 "Torrents stuck on "moving" after completed"
### qBittorrent version and Operating System
qBittorrent v4.3.4.1 win 10 x64 pro (10.0.1xxxx)

### What is the problem
Torrents stuck on "moving" after completed

### What is the expected behavior
I set them to a category and they should move out of the temp folder into the category folder but they stay stuck on Moving status and never do anything. I checked disk activity and it's 0.

### Steps to

[2021-04-14 14:49] #14745 closed

[2021-04-14 17:41] glassez commented on #5693
I'm sorry, maybe I'm off topic and don't understand something... but I am sure that Proxies should not require any additional worries on the part of the services behind them.

Maybe that's really the problem?
@Chocobo1, what do you think of all this?

[2021-04-14 17:43] marcmy commented on #14789
Just to add to this, I disabled temp folder and then manually moved all the data to their respective categories folders, rechecked torrents and that fixed them, then re-enabled temp folder and everything seems fine now. Feel free to close unless someone wants to do some more investigating.

[2021-04-14 17:49] glassez commented on #14789
There are really the same locations in such messages?
The entire log would help.

[2021-04-14 17:56] marcmy commented on #14789
Yeah they were the same location.. as if the program thought the file was already in the category folder, and not in temp.

[2021-04-14 21:25] kharenis commented on #5693
At present, all the client-side references point to the root directory.  You're able to load the first page, but none of the dependencies load because they don't include whatever path you've configured your reverse proxy to use.
Having a configurable base path seems to be a pretty commonplace way to account for this.

[2021-04-15 00:28] eurobank opened #14791 "Queue Order"
**Please provide the following information**

### qBittorrent version and Operating System
Qbittorrent latest as shown in the capture and W10 Pro/64

### What is the problem
If you move the queue torrent up or down, the queue is not respected. See the capture it is self-explanatory

### What is the expected behavior
The moved UP torrents should be STARTED and the lowered torrents should be queued.

[2021-04-15 01:31] thalieht commented on #14791
Continuation of #12109

Well?

[2021-04-15 03:00] #5694 closed

[2021-04-15 09:11] eurobank commented on #14791
Well it doesn't apparently solve this. And also disabling the "do not count slow torrents" doesn't serve my purpose (and others i guess).

[2021-04-15 12:27] accelleratii opened #14793 "Upload Queueing & Seeding Limits"
### qBittorrent version and Operating System
v4.3.4.1 Windows 10

### What is the problem
Wishlist

### What is the expected behavior
Enable queueing for uploads, add option to "Seeding Limits" to move torrent in upload queue after it "ratio reaches", "seeding time reaches", "last activity reaches" user specified amounts.

![image](https://user-images.githubusercontent.com/15660299/114868845-6a481

[2021-04-15 13:54] thalieht commented on #14793
What does it mean to "move torrent in upload queue"?

[2021-04-15 16:09] a-raccoon opened #14797 "[Request] Change status `Downloading Metadata` from `Active` to `Stalled`"
A magnet link or infohash added to QBT starts off with the status of `Downloading Metadata`.  Currently, this status is categorized as an `Active` torrent.  I recommend it be moved to `Stalled` torrents.  I can have dozens of poorly seeded / dead torrents that don't see an active peer for weeks or months, so it makes more sense that this state be considered `Stalled` and should not be displayed wh

[2021-04-15 16:27] thalieht commented on #14791
Of course, i only meant it for testing purposes to find if that option plays a role in this issue.

Ok i tested it and this is exactly what happens for me. The only time (that i've observed) your pic happening is when the torrents in the middle are "slow" and torrents down in the queue are "fast" i.e. the ones in the middle were tried first, before they were found to be "slow" then the ones down t

[2021-04-15 16:36] thalieht commented on #14797
#12146

[2021-04-15 16:45] glassez commented on #13899
As far as I remember, "monitored folder" feature deletes `.torrent` files when adding torrents. Is this expected of you?
I'm sorry, I don't quite understand your scenario. You have an organized structure of folders containing the `.torrent` files, and you want to add torrents from them so that they are saved in a folder tree that has the same structure. But this is a one-time action. What's next?

[2021-04-15 16:53] #14797 closed

[2021-04-15 17:05] tuxayo commented on #14784
Hi, I likely have the same issue with qBt with Qt UI , I have around 60 torrents with 189 trackers each. Around 40 working and 150 not working.
When pausing and restarting them, I have a 10 second UI freeze and 1min of qBt process taking 1 cpu thread at 100%. This CPU activity happens periodically. Likely due to tracker refresh.

v4.3.3
Qt 5.15.2
libtorrent 1.2.11.0
boost 1.75.0
openssl 1.1.1k
zli

[2021-04-15 17:42] dpetroff commented on #14489
This has been a [recurring](https://github.com/qbittorrent/qBittorrent/issues/12599) [request](https://github.com/qbittorrent/qBittorrent/issues/10045).

[2021-04-15 19:21] ProTofik commented on #14747
Hi.
I have exactly the same problem, and had it for the past few months now. It will run fine sometimes for hours, sometimes for weeks, and then will crash without any obvious reason. A bit annoying because whenever it happens I have to SSH into the server and restart the service.

Not really sure what logs to provide so here is what I think may be somehow useful. Taken just now few hours after I

[2021-04-15 19:29] mspykerez commented on #13899
I basically want to add multiple .torrent files to qBittorrent at the same time and have their downloaded content saved to the respective folder from where the .torrent file originated from.

My scenario is that I have a folder which contains lots of other subfolders inside (which I often change/add/delete) and each one of said subfolders may contain a bunch of torrent files. Something like this:

[2021-04-15 20:48] SEKCobra opened #14798 "Sorting order of active Downloads with "Completed On""
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1

### If on linux, libtorrent-rasterbar and Qt version
Windows

### What is the problem
After a recent update, when you sort by "Completed On", active downloads are listed at the bottom. Before, the order was Active, finished and then stalled downloads. I much preferred this, as I like to monitor my a

[2021-04-15 21:13] adrian5 commented on #14782
I ran into the same issue a while ago, but in my case force re-check caused the download to resume. Just to give another datapoint. Either way, I would have assumed that "resume" would cause qBt to check if downloading is possible again.

[2021-04-15 21:21] sanmont opened #14799 "Clicking in search plugins crashes"
**Please provide the following information**

### qBittorrent version and Operating System
Empty filename passed to function

### If on linux, libtorrent-rasterbar and Qt version
libtorrent 1.1.11.0  /   Qt  5.11.3

### What is the problem
When I click in search plugins is quickly shows the plugins lists and then it crashes. I

### What is the expected behavior
Click on search plugins should show

[2021-04-15 22:01] 13Dima13 opened #14800 "Watch folder setting does not save"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4.1 Web UI (64-bit)
Debian Docker image  ghcr.io/linuxserver/qbittorrent:latest

### What is the problem
1. Can not add custom folder for monitor.
Work only with /**downloads**/ folder, any other options (ex: '/downloads/BT_File/') will  clean up field.
https://i.imgur.com/mOKemXx.png

I hav

[2021-04-15 22:02] TheLastGimbus commented on #13253
I have the same issue. Ubuntu, probably installed through apt...

[2021-04-16 01:34] #10674 closed

[2021-04-16 02:15] thalieht commented on #14800
Duplicate of #14241. Will be fixed in the next version.

[2021-04-16 02:15] #14800 closed

[2021-04-16 02:18] thalieht commented on #14799
Fixed long ago. Duplicate of #9667

[2021-04-16 02:18] #14799 closed

[2021-04-16 06:51] Chocobo1 commented on #5693
I think we can fix this trailing / issue, but we'll need more info on it, it isn't clear how/where we should handle this.

I suppose qbt could add a workaround for this (duplicate /) IF this is a separate issue of the aforementioned one.
https://stackoverflow.com/a/40683096

[2021-04-16 10:19] eurobank commented on #14791
Well you are writing history here, changing the meaning of Sorting.

Anyways, i see that always in simple issues, we make them hairy. I guess Qbittorrent is like "take or leave it".

Thanks

[2021-04-16 10:19] #14791 closed

[2021-04-16 10:34] thalieht commented on #14791
I don't know what you're talking about. I said it works as you expect for me.

[2021-04-16 10:40] thalieht commented on #14798
Duplicate of #14607

[2021-04-16 10:40] #14798 closed

[2021-04-16 11:44] glassez commented on #14793
Seems meaningless to me. Why not just pause it?
After all, the torrent once moved to so-called "upload queue" will still be placed there back every time it starts seeding (due to the previously reached limit).

[2021-04-16 14:11] Bazzu85 opened #14803 "[WEBUI] Search not downloading"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 Windows 10 home

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
WEBUI problem.
Using search (on rarbg but tried other site) and trying to download something (single or multiple), nothing is added.
Tried multiple release.
From the windows client works

### Wh

[2021-04-16 14:37] thalieht commented on #14803
Duplicate of #14635. Will be fixed in the next version.

[2021-04-16 14:37] #14803 closed

[2021-04-16 15:16] Dr4w opened #14804 "[Feature Request] Move "slow" torrents to the bottom of the Queue or Pause"
**qBittorrent version**: Nox 4.1.5
**Operating System**: Raspberry Pi OS (Linux)

### Motivation
I know there is the "Do not count slow torrents in these limits" option, but that doesn't do what I'd like to actually do, as even tho it "skips" the slow torrents, it keeps them active and downloading, which for people (like me) who have a kinda slow download speed is not ideal as it "steal" bandwith

[2021-04-16 16:18] Kybeer opened #14805 "Download from search plugin not working"
### qBittorrent version and Operating System
qBittorrent-nox 4.3.4.1
Fedora Server 33

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
This bug is present on 4.3.4.1 but was not there in 4.3.3

When downloading a torrent from any search engine in web interface under "Search" tab, the download is not added under "Transfers" tab.

This is apparently caused b

[2021-04-16 16:29] thalieht commented on #14805
Duplicate of #14635. Will be fixed in the next version.

[2021-04-16 16:29] #14805 closed

[2021-04-16 19:30] Golotvinov opened #14806 "Limiting upload speed also reduces the donwload speed"
### qBittorrent version and Operating System
v4.3.4.1, Windows 10 64-bit

### What is the problem
After limiting the upload speed of a torrent to 1KiB/s the download speed is reduced greatly (~10x slower)

### What is the expected behavior
Upload speed is 1KiB/s and the download speed remains  the same.

### Steps to reproduce
Right click on an active torret > Torrent options > In the Torrent spee

[2021-04-17 03:02] ArcticGems commented on #14806
That is how bittorrent works, the more you share (upload), the faster you download. It can't be changed.

[2021-04-17 03:17] #14716 closed

[2021-04-17 12:30] Golotvinov commented on #14806
I haven't had such problems with other bittorrent clients.

[2021-04-17 13:55] crowbait opened #14807 "Crash if network location is online but not responding"
### qBittorrent version and Operating System
qBittorrent v4.3.4.1 x64 from installer
Win10 Pro x64 20H2 b.19042.928

 10.0.19042

### What is the problem
When adding a torrent _while a network drive is mapped and currently not responding_, qBittorrent freezes after clicking [OK] to add the new torrent without ever recovering.

### Info and reproducing
The issue started appearing, after I mapped a

[2021-04-17 20:29] Nemo-qB commented on #14806
Thats greedy expecting unlimited downloadspeed but giving only 1KB/s to others. Thats normal behaviour and you deserve it this way.

[2021-04-18 04:57] rafi-d commented on #14806
@Golotvinov : see if your pref->speed->"Apply rate limit to transport overhead" - is *NOT* enabled. If it is - this is how the Internet TCP/UDP communication works, you'd need ~5% of your download as upload overhead for the sped to reach designed levels.

[2021-04-18 09:26] kambala-decapitator opened #14812 "App doesn't always hide from the first time on pressing Cmd+H"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1, macOS 10.15.7

### What is the problem
App doesn't always hide from the first time on pressing Cmd+H. On the second time it does.

### What is the expected behavior
App hides from the first time on pressing Cmd+H.

### Steps to reproduce
No idea, seems random, but I experience it a few times per day

[2021-04-18 20:30] curdubanbogdan opened #14814 "Upload not working, no peers connecting"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 qbittorrent / macOS Catalina 10.15.7

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
No peers connecting when uploading. Listening tcp/udp on port 54613. I am permitting from firewall router and system. I tried to telnet on this port from another location an

[2021-04-19 07:00] 7nik commented on #13680
And still happens at 4.3.3.

I think we can prevent facing this issue by enabling pre-allocation of disk space for all files.

[2021-04-19 07:02] accelleratii commented on #14793
Move to the end of queue, or specific place in queue.

So it resumes being seeded after the previous one is done/completed it's "limits".

Pause is what I use currently after torrent has been seeded for 24 hours, even if no one downloaded it, it will stop seeding and let other torrents to be uploaded. First one has to be restarted manually.

[2021-04-19 08:04] mzso commented on #13680
@7nik

Not necessarily a good workaround. By the time the space is allocated normal download might finish.

[2021-04-19 09:46] Archmrn opened #14817 "Download speed limits does not apply when target folder on HDD"
### qBittorrent version and Operating System
4.3.4.1 | Windows 10 19042.928

### What is the problem
Speed limits won't work if Download folder located on HDD

### What is the expected behavior
Speed limits according to settings

### Steps to reproduce
1. Download any .torrent file
2. Select destination folder on HDD (not SSD/SSHD!)
3. Go to Tools → Options → Speed
4. Set download speed limit (I s

[2021-04-19 11:00] kharenis commented on #5693
The simplest way without a configurable base path would probably be a js snippet in the index page to redirect the page if it's missing the trailing /.
It's only a problem because the relative paths only work if the path is empty, or there's a trailing / in the URL if there is a path.

On second thoughts a duplicate / isn't really an issue for qbt, it's up to the user to configure their reverse pr

[2021-04-19 11:12] mahdicut opened #14818 "Crashing"
**Please provide the following information**

### qBittorrent version and Operating System
qbittorrent v4.2.5 and O.S Win 10 X-64

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
when i'm trying to move between the tabs like moving from errors to active it crashes. from Crashing to opening again then fastresume won't work for some, they go into moving posi

[2021-04-19 11:18] boredazfcuk commented on #5693
I run SABnzbd, whose URL ends with a trailing slash, and that has no issues. Proxies handle trailing slashes on URLs just fine.

Double forward slash in a URL would be an issue though. Nginx would need a non-default module installing to perform a string replacement (https://github.com/yaoweibin/ngx_http_substitutions_filter_module) of "//" to "//".

That's going to cause issues with any legitimate

[2021-04-19 12:06] mzso opened #14819 ""Content Layout" feature should be applied to the file list"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 Windows

### What is the problem
When a user changes this option it's not updated on the file list to the right. Which is ripe for confusion and mistakes.
Also, it prevents the user from changing a folder when overriding to create one.

### What is the expected behavior
The root folder should be remo

[2021-04-19 12:51] rrrevin opened #14820 "ubuntu 18.04 (bionic) build for 4.3.4 not available in stable PPA?"
Just wondering when 4.3.4.X will be made available in your official stable PPA for bionic? I see the build for focal is there, but bionic seems to be missing.

Thanks for the great work all!

[2021-04-19 14:39] inthebrilliantblue opened #14821 "Feature request: Add category selector to watch folders in options"
In qBittorrrent, I can add a watch folder that saves to a specific folder. Would it be possible to add another column to the watch folders list that will add torrents / magnets loaded from the watch folder to a selected category? It would be nice to have to automatically have torrents loaded with categories for easy filtering in the UI.

[2021-04-19 15:15] Algorithman commented on #14707
Same here, seems upload limit isn't applied at all

[2021-04-19 15:31] ArcticGems commented on #14820
According to the news post on  https://www.qbittorrent.org/news.php, support for Ubuntu 18.04 (Bionic Beaver) has been dropped in 4.3.4.

[2021-04-19 16:22] thalieht commented on #14821
Duplicate of #6420

[2021-04-19 16:48] #14820 closed

[2021-04-19 16:51] wantija commented on #14040
Happens to me as well with my samba share when mounted through dolphin's network tab, from a properly configured /etc/fstab or mount it works

[2021-04-19 16:59] thalieht commented on #14793
Impossible. The queue you see is for downloads only. Uploads have a different queue which can only be... steered indirectly by adjusting 3 parameters, none of which are currently exposed in qBt: https://libtorrent.org/manual-ref.html#seeding-queue

[2021-04-19 17:07] accelleratii commented on #14793
Hence "Enable queueing for uploads", but on the other hand if this is not possible within qBt not much could be done. However, if seeding queue is that advanced, simply unlimiting my "maximum active uploads" should solve this issue.

[2021-04-19 17:17] thalieht commented on #14818
Not sure if you're referring to windows or qBt. If qBt, make sure windows defender doesn't quarantine it. About the issue... it **must** be reproduced in the latest qBt version.

[2021-04-19 17:21] thalieht commented on #14707
Duplicate of #13950

[2021-04-19 17:21] #14707 closed

[2021-04-19 17:23] thalieht commented on #14817
I do that and speed limits work for me. But if you're certain it's related you should mention it in the issue linked below.

Duplicate of  #13950

[2021-04-19 17:23] #14817 closed

[2021-04-19 19:30] mzso opened #14823 "Non-functional file association options"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1 Win10 (10.0.1xxxx)

### What is the problem
I can check them and apply, but nothing on the system changes.

### What is the expected behavior
Either associate torrent files, or don't allow the options.

### Extra info(if any)
I have QB in portable mode with ./profile folder present. This may be a fac

[2021-04-19 22:38] sakkamade opened #14824 "File manager in Content tab"
**Please provide the following information**

### qBittorrent version
Is not present in `4.3.4.1`

### What is the request
I want to be able to manage the torrent's structure within the _Content_ tab of _qbit_,
i.e. create/delete/move the file(s) and folder(s) of the torrent (at least on the level and higher of its root directory).

### What is the benefit
1. It should be possible then to have all

[2021-04-20 11:31] mzso commented on #14823
Well, I renamed the profile folder to test this. But it's the same. QB can't associate itself to torrent files, magnet links.

[2021-04-20 14:50] ArcticGems commented on #14823
Do you have other bittorrent programs?

If yes, qBit might have problem to associate to torrent files/magnet links because of that. Open the other bittorrent program and remove association to torrent files/magnet links.

[2021-04-20 15:39] #14793 closed

[2021-04-20 20:50] mzso commented on #14823
[**@ArcticGems**](https://github.com/ArcticGems) commented on [2021. ápr. 20. 16:50 CEST](https://github.com/qbittorrent/qBittorrent/issues/14823#issuecomment-823337596 "2021-04-20T14:50:05Z - Replied by Github Reply Comments"):

No. I recently reset Windows, that's why QB needs to be associated.

[2021-04-20 23:38] ctulloch137 commented on #14213
I'm having this issue, but also can't even get qbt to listen on its assigned port (and actually work).

[2021-04-20 23:50] Fayiette commented on #14213
I never got this fixed either, it's frustrating as hell.

[2021-04-21 00:23] ctulloch137 commented on #14213
I believe my general connection issue was actually my own fault.  When proxying didn't work I setup my vpn software to protect qbt only and no other apps.  Once I fired up the vpn software, upgraded it, and removed that config, qbt started working again (albeit version 4.2.5 currently).  4.1.9.1 had also seemed to work better - port listened at least for some reason - but it was trying to recheck

[2021-04-21 02:23] rrrevin opened #14826 "Ubuntu 18.04 con't (14820)"
In reference to https://github.com/qbittorrent/qBittorrent/issues/14820..
That was closed to quickly for me to put this followup.

Why is Ubuntu 18.04 no longer supported? 18.04 is LTS until Apr 2023, another 2 years. Technical issue or something else?

Update:
I just saw this in the release notes for 4.3.3. Can someone explain in simple terms?
_Support for macOS 10.13 (High Sierra) was dropped be

[2021-04-21 07:15] AlexALX commented on #14782
Having almost same problem. Can't resume at any way torrent even if do "force re-check". Must remove dl from list and add again - only after than it resumes download. Which is very annoying - because i lost parts what was partially downloaded and need to re-download that again.

How can we fix this?

[2021-04-21 10:14] ArcticGems commented on #14782
Hopefully fixed in PR = https://github.com/qbittorrent/qBittorrent/pull/14825

[2021-04-21 10:34] alidan opened #14827 "a way to stop torrents"
**Please provide the following information**

### qBittorrent version and Operating System
win 7 64bit
4.3.3

### What is the problem
torrents getting moved to error after moving the files.

### What is the expected behavior
just stop the torrents and not recheck till necessary

### Steps to reproduce
finish a torrent, close the program, move the file, open the program, the torrent should now be e

[2021-04-21 11:54] xavier2k6 commented on #14826
Basically, yes!

[2021-04-21 12:50] rrrevin commented on #14826
From what I understand, Xcode is a macOS only thing. How is this tied to Ubuntu?

[2021-04-21 16:30] Pheggas commented on #14502
I have similar issue with qBittorrent v4.3.4.1 on Ubuntu 20.04.  After a few days (like 3-4 days) i have currently 1,7 GB ram usage.

[2021-04-21 18:28] ArcticGems commented on #14826
They don't mean Xcode, they mean something else (C++17 or Qt??).

(Either something in qBit is now incompatible with 18.04 OR keeping support with 18.04 would now be to much "high maintenance")

[2021-04-21 20:12] sakkamade commented on #14826
@rrrevin Question it here https://github.com/qbittorrent/qBittorrent/pull/14427.

[2021-04-21 20:35] c0re100 commented on #14826
Cause 18.04 do not have Qt 5.11 or newer.
It's 5.9.5, so incompatible with 18.04
https://packages.ubuntu.com/bionic/libs/qt5-default

[2021-04-22 00:04] eldervamp opened #14829 "Hashing Threads setting not showing in Windows qBittorrent Client"
**Please provide the following information**

### qBittorrent version and Operating System
(qBittorrent 4.3.4.1 / Windows 10 x64 20H2)

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
(Hashing Threads option under Advanced settings / Libtorrent section not showing on qBittorrent Windows client but shows if you access the windows client via webui on same co

[2021-04-22 01:40] c0re100 commented on #14829
`Require libtorrent >= 2.0`
qBittorrent 4.3.4.1 is using libtorrent 1.2

[2021-04-22 01:48] eldervamp commented on #14829
Yes, both those screenshots are from the same qbittorrent client with libtorrent 1.2.13.0.

[2021-04-22 01:52] c0re100 commented on #14829
https://github.com/qbittorrent/qBittorrent/blob/41f2375053e80396c615b9c843f64709c5e84b25/src/gui/advancedsettings.cpp#L194-L197

Since webui is no way to detect which libtorrent you're using, so....

[2021-04-22 03:17] moom0o opened #14830 "Bind IP address qbittorrent-nox"
**Please provide the following information**

### qBittorrent version and Operating System
4.1.5, Debian 10

How am I supposed to bind to another IP address? My provider (buyvm) gives me 2 ip addresses because I paid for a ddos protected ip. I'd like to use the non protected ip because it's probably faster, but cant figure out how to do it? Any way how? All I could find was the web interface addre

[2021-04-22 06:10] Kobaruon commented on #14605
This can be a highly useful feature. It can also be added to Categories. I think it will serve the same purpose.

[2021-04-22 06:55] Anteus commented on #14830
Available under Advanced in 4.3.4.1.

[2021-04-22 08:20] slrslr opened #14831 "RSS feed with relative paths without domain name"
### qBittorrent version and Operating System
4.3.3.10

### What is the problem
Hello,
do you also see this issue in current qbt?
RSS feed reader tab, RSS feed like:
https://www.torrentdownloads.me/rss.xml?type=search&search=mountains+wallpapers
such feed does not use full URLs, many feeds are like that, and it saves space and is according to me correct way,

but qbt is unable to process such relat

[2021-04-22 09:33] ArcticGems commented on #14831
Can't you use regular expressions with https://www.torrentdownloads.me/rss.xml ?

[2021-04-22 09:42] slrslr commented on #14831
I do not know, i am a GUI user, i have not understood these, where, how to set it. I think qbt should handle this on background.

[2021-04-22 10:48] #14829 closed

[2021-04-22 10:52] #14830 closed

[2021-04-22 12:17] an0n666 commented on #14829
This hashing_thread option exists in RC1_1 and RC1_2 of libtorrent as well..donno why it would require libtorrent 2.0.

[2021-04-22 13:15] rrrevin commented on #14826
Yes, out of the box 18.04 has Qt 5.9.5. But, if you use this PPA you get 5.15.2
[https://launchpad.net/~beineri/+archive/ubuntu/opt-qt-5.15.2-bionic](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt-5.15.2-bionic)
No?

[2021-04-22 14:35] ArcticGems commented on #14831
Go to RSS tab, then click on "RSS Downloader", now click on "Use Regular Expressions".

Fill in those regular expressions you want to use.

[2021-04-22 16:38] feadraug opened #14833 "bug crash"
yy

[2021-04-22 16:40] #14833 closed

[2021-04-22 16:44] bajajankur21 opened #14834 "Closes after some time of running"
**Please provide the following information**

qBittorrent version: v4.1.5

Caught signal: SIGSEGV
Stack trace:
  /lib/x86_64-linux-gnu/libQt5Network.so.5 : ()+0x95b84  [0x7f10f812fb84]
  /lib/x86_64-linux-gnu/libQt5Network.so.5 : ()+0x94c49  [0x7f10f812ec49]
  /lib/x86_64-linux-gnu/libQt5Core.so.5 : QObject::event(QEvent*)+0xe2  [0x7f10f7df4072]
  /lib/x86_64-linux-gnu/libQt5Widgets.so.5 : QApplic

[2021-04-22 16:50] BonzTM commented on #11868
I also basically did the same thing on 1000 mixed torrents to update just some trackers from http to https.

1. Got a list of the hashes with `qbt torrent list -F json | jq ".[].hash" -r` >> hash_list
2. Iterated through all the hashes with a shell script
[code]

[2021-04-22 19:12] thalieht commented on #14834
4.3.4.1 is the latest and this was fixed long ago. Duplicate of #9667

[2021-04-22 19:12] #14834 closed

[2021-04-22 21:31] FranciscoPombal commented on #14826
@rrrevin

Alright, here is a more thorough explanation, since the explanation in the news post is in fact too light on details.

As others have said, the reason for dropping official support for 18.04 is that the Qt version in the distro's repos is too old. The macOS issue is different.

_Supported by Canonical_, not us. After all, the goal of the qBittorrent project is to develop qBittorrent, not

[2021-04-22 21:31] #14826 closed

[2021-04-22 22:35] FranciscoPombal commented on #10556
@Sopor @wodim

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:36] FranciscoPombal commented on #11677
@Mike-EE

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:37] FranciscoPombal commented on #12492
@pro100Hub

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:37] FranciscoPombal commented on #13142
@OlafvdSpek @skygunner

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:38] FranciscoPombal commented on #13680
@7nik @mzso (and everyone else)

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:39] FranciscoPombal commented on #14288
@mzso

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:39] FranciscoPombal commented on #14377
@syltrand @The5kull @TheOneVries

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-22 22:40] FranciscoPombal commented on #14672
@LiaNdrY

This may be fixed with https://github.com/qbittorrent/qBittorrent/pull/14825.
You can download test build for Windows that includes the fix here (under "Artifacts"): https://github.com/qbittorrent/qBittorrent/actions/runs/769568755.

[2021-04-23 00:42] ManiacDC commented on #13581
So this appears to be related to the computer going to sleep while qBittorrent is running. For the past several days, I've been exiting qBittorrent every time I put the computer to sleep and it has not yet frozen up yet.

This is obviously not convenient, and also not ideal as my PC wakes up during the night for backups, so I lose all that seeding time.

[2021-04-23 05:56] sakkamade commented on #14105
Persists in `4.3.4.1`.
Linux as well.

[2021-04-23 09:34] xavier2k6 commented on #14831
This is "Enhanced Edition"

[2021-04-23 09:40] slrslr commented on #14831
@ArticGems i do not see how this fixes the issue of being unable to download torrents from the RSS feed reader. I am not interested in automatic downloading (which i suppose the RSS Downloader section is about).

@xavier2k6 your non-enhanced version does not have mine described issue with mine described RSS feed?!

[2021-04-23 09:41] Mike-EE commented on #11677
@FranciscoPombal

Not fixed and the behavior is actually worse with the test build:

- Behavior with all production builds since my original report: approximately 30% of torrents (varying sizes and download speeds, no obvious pattern) will **pause** downloading, print the _File error alert. Torrent: XXXXXXX error: There is not enough space on the disk_ to the log, will restart downloading after 5

[2021-04-23 09:47] sakkamade commented on #14831
You should be the one to answer.

[2021-04-23 10:42] ArcticGems commented on #14831
Oh, so this is about someone else fork??

Is it c0re100's "qBittorrent Enhanced Edition"??

If so, then shouldn't you post your issue here =
https://github.com/c0re100/qBittorrent-Enhanced-Edition/issues

[2021-04-23 11:29] xavier2k6 commented on #14831
@slrslr Is that a confirmation that there's no issue with **Official qBittorrent**??

[2021-04-23 11:41] 94Abdelazim opened #14835 "Unable to connect to trackers while being on SOCKS5 proxy"
qBittorrent version and Operating System
(qBittorrent v4.3.4.11)
(windows 10 19041.867)

I use SOCKS5 on 127.0.0.1:1234 so that Ratio ghost can report different values to the tracker, as I'm on limited internet
Whenever I add a new torrent file it never downloads, until I disable the proxy and once it starts downloading I change back to SOCKS5
Is there anything can be done to get over this?
Thanks

[2021-04-23 11:59] xavier2k6 commented on #14835
This is "Enhanced Edition" of qBittorrent.

@94Abdelazim Do you experience the issue with **Official** qBittorrent **4.3.4.1**?

[2021-04-23 12:06] an0n666 commented on #14835
@xavier2k6 this guy using a cheat tool and expecting to get support xD

[2021-04-23 12:14] #14835 closed

[2021-04-23 12:37] FranciscoPombal commented on #11677
@glassez ping, feedback about https://github.com/qbittorrent/qBittorrent/pull/14825.

[2021-04-23 12:51] glassez commented on #11677
Screenshots of how does it really looks in both cases are welcome.
Also, please explain whether you really have insufficient disk space so your torrents often fall into the situation described above?

[2021-04-23 13:02] FranciscoPombal commented on #13581
Interesting. I wonder if others can reproduce the symptoms reliably with this new information. Let's wait for more reports.

[2021-04-23 13:25] Mike-EE commented on #11677
I can provide a screenshot tonight but I can say now that I currently have 6.5TB of free space on the QNAP NAS target (TS-451+ / QTS  v4.5.2.1566) with the qBt test build installed on an i7 / Win10-64 Home client PC.

[2021-04-23 14:09] glassez commented on #11677
BTW, #14825 doesn't pause/stop any torrents. It just display torrents that can't download (due to internal `upload_mode` caused by disk write error) as "errored". Also it allows you to manually leave this state by pressing "Resume" button. You could see this for yourself by looking at the code changes, if you have enough knowledge of C++.

[2021-04-23 14:12] slrslr commented on #14831
@xavier2k6 stop dreaming. I have not said anything like that and pay some respect to me trying to report the issue.
So because you guys not wanted to spend 30 seconds of your time trying, i spent/wasted 1 hour of my time trying to setup regular qbittorrent (not easy to do it on Linux when they not have latest packages in repos). So i have tested on 4.4.0alpha1 and can confirm what i have expected

[2021-04-23 14:19] glassez commented on #14831
When it comes to torrent trackers and similar things, it often can not be done at all (not to mention any specific time intervals in seconds), for example, due to the fact that these sites are not available to any of us due to legal restrictions or something else.

[2021-04-23 15:09] xavier2k6 commented on #14831
To me - this reads as.......official version doesn't have the described issue

You reported **your** issue with a "forked version" of qBittorrent on the **official qBittorrent issue tracker**

I'm sorry if the requirement of you confirming the issue with **official qBittorrent** is cumbersome/inconvenient but it's necessary to confirm if the issue lies with a third party version or if it is also p

[2021-04-23 16:24] LinFor opened #14837 "National characters in filenames substituted with libtorrent v2"
**Please provide the following information**

### qBittorrent version and Operating System
qbittorrent-nox v4.3.4.1 (v4_3_x branch) on debian:bullseye-slim

### If on linux, libtorrent-rasterbar and Qt version
libtorrent v2.0.3 (RC_2_0 branch gives same problem).
Qt v5.15.2

### What is the problem
qBittorrent built with libtorrent v2.0.3 produces corrupt filenames when filename contain national c

[2021-04-23 16:34] an0n666 commented on #14837
qBt does not officially support libtorrent 2.0.x yet.
You should report this issue to upstream(libtorrent) instead as it doesn't seem like a qBt issue.

[2021-04-23 17:36] ManiacDC commented on #13581
I appear to have spoken too soon. I tried to launch qBittorrent today and it didn't launch - there was a new zombie process. I had exited it yesterday, but apparently it didn't actually exit.

[2021-04-23 18:19] sakkamade commented on #14831
Cry more.

And you to the mantainers.

[2021-04-23 18:55] Baelyath commented on #13581
I found that the zombie process persists through a full shut down/restart.  The only way I've found to truly kill it is to boot into Safe Mode, then boot normally.  Typically the process shows up after a reboot, with the same process ID.

[2021-04-23 21:10] Kolcha commented on #12616
since today qBittorrent nightly builds use libtorrent 2.0
https://software.opensuse.org//download.html?project=home%3Anikoneko%3Aqbittorrent-nightly&package=qbittorrent

no any migration process is required, everything works out of the box
moreover, everything is backward compatible with libtorrent 1.2, so even if you revert qBittorrent to lt-1.2-based, you will see all torrents as it was for lt-2

[2021-04-23 21:31] ManiacDC commented on #13581
@Baelyath that's impossible. Can you see if you have fast startup enabled?
https://www.howtogeek.com/243901/the-pros-and-cons-of-windows-10s-fast-startup-mode/

That actually *hibernates* your computer rather than shutting it down. Disabling fast startup will make your computer shut down.

[2021-04-23 22:19] Baelyath commented on #13581
Ah, that explains so much.  I was pulling my hair out trying to figure out how a zombie process was returning when I rebooted.  I've disabled fast start up.  Thank you so much!

[2021-04-24 00:34] stylneo commented on #14510
Same thing is happening for me.
When I try to add either torrent, magnet its just freezes, but in my case it stays that way until I terminate the process (maybe it would start working again if I waited more? Tried giving it 10min then killed it).
It also freezes when I leave the options window (doesn't while I'm on it, only after I close it).

From the OP its seems, at first glance, we share CPU b

[2021-04-24 00:51] ManiacDC commented on #13581
Welcome! It's a _decision_ that Microsoft made, that's for sure.

[2021-04-24 05:36] glassez commented on #14837
@arvidn, ping!

[2021-04-24 05:37] glassez commented on #14837
@LinFor
Can you provide example torrent that is affected by this issue?

[2021-04-24 09:59] glassez commented on #11677
@an0n666, please participate as having experience in related issue. I'm in doubt about merging my fix into v4.3.x branch due to possible regressions.

[2021-04-24 11:41] cotwitch commented on #14731
@jagannatharjun If you need any kind of assistance, just let me know. I'll try to do my best in helping you in any way. This bug is a blocker for finishing this theme: https://github.com/qbittorrent/qBittorrent/issues/11917

[2021-04-24 12:37] jagannatharjun commented on #14731
@cotwitch please test https://github.com/qbittorrent/qBittorrent/pull/14840

[2021-04-24 15:49] an0n666 commented on #11677
Sorry but it looks like OP is having a slightly different issue. He has available disk space but still getting I/O errors on some torrents.

First time I didn't check if torrent resumes automatically so I tested again. Torrent gets errored and then resumes automatically after 10 minutes which is exactly as documented in libtorrent library.
However the issue with torrent not completing without forc

[2021-04-24 15:58] thalieht commented on #11677
I just tested the patch too and it works as expected.

[2021-04-24 18:35] mzso commented on #14288
[**@FranciscoPombal**](https://github.com/FranciscoPombal) commented on [2021. ápr. 23. 00:39 CEST](https://github.com/qbittorrent/qBittorrent/issues/14288#issuecomment-825227387 "2021-04-22T22:39:20Z - Replied by Github Reply Comments"):

Seems okay now. Tested a couple files, they finished after pressing download, or when QB was restarted.
(Mild side-issue: I can rename the QB program files whil

[2021-04-24 18:35] #14288 closed

[2021-04-24 18:56] sakkamade commented on #14831
I presume the true idea of my sentence is beyond your grasp, otherwise this "thumb down" wouldn't have appeared, hopefully.

What I was trying to convey is that you should show leastwise some regard to the mantainers by furnishing them with the most accurate and minute account of the issue which you experience. This is _your_ job as reporter.
Let alone this harsh vocabulary of yours.

[2021-04-24 19:39] reyqn commented on #7795
I have this error too while downloading torrents on a samba share (v4.3.4.1)

[2021-04-24 21:35] MrZed001 commented on #14824
The only big feature I miss from qbit :)

A File manager would solve a lot of problem.

Even the old utorrent (2.2) was able to manage the files downloading, and the already downloaded files too. Put them into torrent main dir easily, or even any dir on the HDD.

Like a series with a lot of episodes. All in separate subfolders.

Season1
- S1E01
- - file1x01
- S1E02
- - file1x02
etc...

I want to d

[2021-04-24 21:44] Matth7878 commented on #13405
I tried right now to log to WebUI with latest Firefox nightly for Android. I was expecting it not working (like previous time) but it did!

[2021-04-24 22:13] sakkamade commented on #14824
I wonder if you have forgotten of how _qbit_ handles the files/directories of identical names now.

Create a separate issue regarding this.

Don't quite follow you.

This is called swarm, I guess? and such a feature request should head to _libtorrent-rasterbar_ (https://github.com/qbittorrent/qBittorrent/issues/9416).

[2021-04-24 23:19] sakkamade commented on #14105
@glassez, (or someone else:heart:) May I simply make a PR with edited `qBittorrent/src/lang/qbittorrent_en_GB.ts`?
Or I must do it only via _Transifex_? (I fancy to edit some other strings as well.)
I should prefer PR...

[2021-04-25 01:25] Chocobo1 commented on #14105
That won't be accepted.

This.

[2021-04-25 01:26] sakkamade commented on #14105
I see.

[2021-04-25 05:56] Combinatix commented on #13405
No luck here. I have tried it right now, with Firefox Nightly, http://hostname:85 > I see blank screen. (FF Nightly 210424 17:00)
It works as expected in Chrome for Android

[2021-04-25 06:58] badgv opened #14842 "add tags and speed limit in RSS downloader?"
Is it possible to add tags and speed limits in the RSS downloader？

[2021-04-25 07:31] Matth7878 commented on #13405
I use : http://192.168.1.10:8080/
My Firefox version : Nightly 210424 17:00 (Build #2015806539)
Qbittorrent is the latest official for windows and 64bits.
WebUI in title is 4.3.4.1

I tried again this morning and still working! Don't know when it started working but before I was stuck at login screen.

[2021-04-25 07:52] maisun opened #14843 "qBittorrent v4.3.3.1 Web UI images not displayed in RSS feed"
Hi,
I run qBittorrent v4.3.3.1 with Docker and would like to report that all images from RSS feed are not displayed in Web UI (they are displayed as text "Image").
I changed the default Web UI to qb-web (https://github.com/CzBiX/qb-web) and now all images are displayed without issue.
Not sure what went wrong with my settings or default UI but it would be nice to show images from RSS feed.
Is it a

[2021-04-25 08:01] maisun opened #14844 "qBittorrent v4.3.3.1 intensive IO read when seeding"
Hi,
I switched from rTorrent to qBittorrent due to the fact that rTorrent reads the HDD intensively during seeding - in my setup rTorrent constantly read 50MB/s while uploading only 2-3MB/s.
Among many other good things, I found qBittorrent is better in that regard, but the issue still exists. I found in Netdata that qBittorrent reads between 5-15MB/s while seeding 1-2MB/s, I'd like to get down to

[2021-04-25 08:23] Nerva72 opened #14845 "qBittorrent seems to need 2X disk space for files"
**Please provide the following information**

### qBittorrent version and Operating System
yada yada

### If on linux, libtorrent-rasterbar and Qt version
yada yada

### What is the problem
When I start a download of a 1GB file, I've noticed qBT peaks at about 2GB of file use until it completes the download, at which point of course it drops back to just the 1GB file that was downloaded.   It's as

[2021-04-25 09:53] xavier2k6 commented on #14845
yada yada

@Nerva72 Please fill in the issue template correctly with qBittorrent version in use & operating system

[2021-04-25 10:31] The5kull commented on #14844
My guess it has something to do with both caches set rather high.
Try with "Outstanding memory.." on 32MiB and "Disk cache" on 512MiB.

[2021-04-25 10:36] The5kull commented on #14806
Ever since I started p2p-ing it's know that you have at least 100kb/s upload to get reasonable speeds from others. I don't know if this is hardcoded somewhere but going lower then 100kb/s cripples your download tremendously.

[2021-04-25 10:54] maisun commented on #14844
Thanks tried that but same problem :-(

[2021-04-25 11:13] MrZed001 commented on #14824
Sorry if I was a bit too much :)

I did not check how it is made in qbit. But I think there must be a mapping set between the
- torrent subdir + torrent filename
- physical subdir + physical filename
Where physical subdir can be a relative path (\Serial1\s01e01\) or absolute path (x:\tvshows\showname\Serial1\s01e01\)

**Issue:**
qbit needs a file manager for the content.

**Solution:**
- The File

[2021-04-25 11:38] LinFor commented on #14837
I found the problem.
Setting LC_* envs to something like *.UTF-8 solves the problem described above with libtorrent v2.0.3. I think it's right solution.
libtorrent v1.2.13 works well with LC_* envs set to POSIX.

[2021-04-25 11:38] #14837 closed

[2021-04-25 12:01] MrZed001 opened #14846 "TV shows automatic organizer"
### qBittorrent version and Operating System
v4.3.4.1, Windows x64

### What is the problem
Many download TV shows and need to put them manually under show folder (or set category, subcategory ... and even then it is messy)
A very easy task to be automated. And a big feature.

### What is the expected behavior
The scene has very strict regulations in TV show file and folder naming
tv.show.name.s[0

[2021-04-25 17:32] azev opened #14847 "[feature request] allow change program icon"
I'd like to suggest a feaure to allow changing the program icon (tray icon, task bar, title bar).
The default blue rounded icon is kind of dull.
Thanks

[2021-04-25 18:04] xavier2k6 commented on #14831
@slrslr Please refrain from any more 👎 of users posts/team members comments.

You said you were able to reproduce your original issue with **4.4.0alpha1**

Was this from a self compiled version?
- If yes
- Can you please provide what "qBittorrent commit" was used.
- Can you please provide what "libtorrent commit" was used.
- Can you please provide what "Qt version" was used.

If you used an altern

[2021-04-25 18:27] glassez commented on #14831
@xavier2k6
What you requested in the comment above is hardly necessary. qBittorrent RSS reader doesn't actually support so-called relative URLs.
What would really be nice to have is some sort of accessible RSS feed that returns URLs in this format.
BTW, the manner of communication of the issue reporter does not cause a desire to help in solving this problem.

[2021-04-25 18:41] slrslr commented on #14831
@xavier2k6 yes, compiled, (configure, make, make install). I do not know which Linux commands can show commit numbers.
Maybe you can guess it if i tell you that i cloned git 23. april, 15:20 UTC.

[2021-04-25 18:55] xavier2k6 commented on #14831
@glassez Appreciate the info, The RSS/Search features - I wouldn't be too familiar with myself as I don't necessarily use them.

Certain things are still a bit of a learning curve for me........

[2021-04-25 20:03] seventhsite opened #14848 "Does I need home directory for qbittorrent-nox?"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4.1
Ubuntu 20.04.2

### If on linux, libtorrent-rasterbar and Qt version
qbittorrent-nox

### What is the problem
[code]

[code]

[code]

[code]

I don't want to create specially directory for it. Is there any way to change this way to another location? (right with the temp torrent files). M

[2021-04-25 20:13] sakkamade commented on #14824
@MrZed001, These are not _alternatives_―these are <ins>separate</ins> issues:

―issue 1.

―issue 2, which impossible to implement until _qbit_ will be able to duly manage same-name files/folders, and not to rewrite them as it doing presently.

If you use the Settings -> Downloads -> Automatically add torrents from ... feature (load hundreds of torrents by copying the torrent file into that subdir)

[2021-04-25 20:52] thalieht commented on #14848
https://github.com/qbittorrent/qBittorrent/wiki/How-to-use-portable-mode

[2021-04-25 21:05] The5kull commented on #14844
I forgot to ask, what kind of storage unit are we talking about? Your information is missing that.

[2021-04-25 21:07] The5kull commented on #14806
Uncheck "Apply rate limit to transport overhead" solves that problem and still you get crippled download speeds at 1kb/s upload.

[2021-04-25 21:45] ManiacDC commented on #13581
So after a few more days, I seem to be running into this issue in 2 scenarios (both sporadic, neither of these happen every time):
1. If the computer goes to sleep while qBittorrent is running (it doesn't matter if it's transferring, and it even happens if all torrents are paused), qBittorrent will stop responding and get into the zombie state.
2. If I try to exit qBittorrent, the UI will close, b

[2021-04-25 21:47] MrZed001 commented on #14824
Thanks I will do so.

[2021-04-25 21:56] Demicro commented on #13581
When it happened to me, when disconnecting the external hard drive, the qbitorrent process closed automatically.

[2021-04-25 23:23] moom0o opened #14849 "qBittorrent not binding to the correct ip address"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1, Debian 10

### If on linux, libtorrent-rasterbar and Qt version

Qt: | 5.15.2
Libtorrent: | 1.2.13.0
Boost: | 1.76.0
OpenSSL: | 1.1.1k
zlib: | 1.2.11

### What is the problem
The ip address is not being binded correctly.

### What is the expected behavior
The ip should be binded to the one I set it

[2021-04-25 23:59] FranciscoPombal commented on #14837
Well, to be fair, you shouldn't be using anything other than UTF-8 nowadays anyway.

[2021-04-26 00:27] ManiacDC commented on #13581
All my torrents are on an internal drive. I had some on a network drive, but I've since deleted those.

[2021-04-26 02:02] #14731 closed

[2021-04-26 03:14] SiliconExarch commented on #13680
This seems to work - I installed the test build while I had 4 torrents in the glitched state, upon re-opening qBittorrent they all had the relevant error status and could be resumed immediately.

[2021-04-26 04:38] maisun commented on #14844
Sorry not sure what do you mean by storage unit?

[2021-04-26 05:00] ArcticGems commented on #14844
If it's internal/external and mechanical SATA/SATA SSD/M.2 NVMe etc...

[2021-04-26 05:09] maisun commented on #14844
The docker container runs on SATA SSD which is the system volume of my NAS. Downloaded files are on HDD Toshiba MG08 16TB

[2021-04-26 06:09] The5kull commented on #14844
The only reason for the intensive IO read would be fragmentation if you use such a big capacity drive. Also make sure you have checked "Pre-allocate disk space for all files" if you use a mechanical drive.

[2021-04-26 07:58] maisun commented on #14844
Ok, I have enabled the settings, and all files that I’m seeding were copied from another disk, so I don’t think it has something to do with disk fragmentation. Anyways the read io is constant, it’s not like reading for x minute then stop for y minutes.

[2021-04-26 08:11] pohar opened #14850 "Hungarian translation contains: {3 ?}"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorent v4.3.4.1, Windows 10

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
When using Hungarian language, in the Speed tab the Period ("Időtartam") value the "24 Hours" has some bad characters: "24 óra {3 ?}".
![qb_issue_hun](https://user-images.githubuserconte

[2021-04-26 09:54] superbonaci opened #14851 "Progress bar disappears on Ubuntu when selecting it"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.2.5
Kbuntu 21.04

### If on linux, libtorrent-rasterbar and Qt version
[code]

### What is the problem
When selecting a download, its progress bar hides:

Unselected:

![](https://i.imgur.com/J4aSHH3.png)

Selected:

![](https://i.imgur.com/j3daqQc.png)

### What is the expected behavior
Keep

[2021-04-26 11:10] ArcticGems commented on #14851
Are you using a custom theme in qBit?

[2021-04-26 13:24] FranciscoPombal commented on #14827
Duplicate of #11878 / #13556.

[2021-04-26 13:24] #14827 closed

[2021-04-26 13:26] FranciscoPombal commented on #14782
@iterea and others: please try the experimental build containing the fix from that PR: https://github.com/qbittorrent/qBittorrent/actions/runs/774839339

[2021-04-26 13:29] FranciscoPombal commented on #14823
@mzso

Please try to reproduce without portable mode, maybe that could be causing the issue.

[2021-04-26 13:31] #14814 closed

[2021-04-26 13:37] FranciscoPombal commented on #14784
Please try the latest version, 4.3.4.1. It comes with a newer libtorrent versions which I believe comes with fixes/mitigations for performance issues with announcing to many trackers simultaneously.

[2021-04-26 13:40] FranciscoPombal commented on #14742
It is recommended to use the 64-bit version. If it's working fine great! If a crash occurs and you can reproduce it, please open a new issue report. Thanks.

[2021-04-26 13:40] #14742 closed

[2021-04-26 13:43] #14764 closed

[2021-04-26 13:43] simonbcn opened #14854 "Allow sorting of categories"
Currently I believe the categories are displayed in alphabetical order.
I would like that they could be sorted manually and that this order would be respected both on the main screen and in the window when adding a torrent.

[2021-04-26 13:51] #14739 closed

[2021-04-26 13:59] tuxayo commented on #14784
Thanks Francisco. Is the version 1.2.12?
changelog: «    - OTHER: Raise minimum libtorrent version to 1.2.12 (glassez)»

[2021-04-26 14:42] mzso commented on #14823
[**@FranciscoPombal**](https://github.com/FranciscoPombal) commented on [2021. ápr. 26. 15:29 CEST](https://github.com/qbittorrent/qBittorrent/issues/14823#issuecomment-826836071 "2021-04-26T13:29:05Z - Replied by Github Reply Comments"):

It doesn't. No difference. I don't know the state of the checkboxes depend upon, but it's not the actual association in the system.
It's not real surprising tha

[2021-04-26 14:42] thalieht commented on #14850
Duplicate of #14105

[2021-04-26 14:42] #14850 closed

[2021-04-26 15:14] FranciscoPombal commented on #9084
I'm all for using more standard, less hacky solutions, if possible :+1:.

[2021-04-26 15:17] FranciscoPombal commented on #14823
@mzso

I'm not sure that's correct. I don't recall seeing any elevation prompts from qBittorrent and file associations have always "just worked" for me on my Windows installations.

[2021-04-26 15:19] FranciscoPombal commented on #14784
@tuxayo

Nope, it's actually >= 1.2.13.

This only concerns building requirements.

[2021-04-26 15:22] FranciscoPombal commented on #13680
Thanks for testing. If anyone has further issues with that build or more recent, please open a new issue report. The fix will of course be included in the next official release, in the mean time, feel free to continue using that build.

[2021-04-26 15:22] #13680 closed

[2021-04-26 15:28] FranciscoPombal commented on #13286
I think the consensus is that .lnk files should not be followed, but added as-is, just like other regular files. However, qBittorrent should warn about this, because the average Windows user won't know the difference between an .lnk and an actual symlink, and they might expect the .lnk to be followed in case it points to a folder.

In any case, I'd say including .lnks in torrents (or archives, or

[2021-04-26 15:34] FranciscoPombal commented on #14846
Sounds more like something that's too domain-specific and should be implemented as a custom script to be run with `Preferences -> Downloads -> Run external program on completion`

[2021-04-26 15:36] FranciscoPombal commented on #14845
OK then.

[2021-04-26 15:36] #14845 closed

[2021-04-26 15:43] FranciscoPombal commented on #14848
You already have a user account (`qbittorrent-nox`) setup exclusively to run qBittorrent, why is it a problem that it uses/creates files under the standard XDG hierarchy under that specific account's home dir?

[2021-04-26 15:48] FranciscoPombal commented on #14806
This has been discussed many times already. Unchecking Unchecking `Apply rate limit to transport overhead` will mitigate the "issue", but the nature of the BitTorrent protocol is such that you will get less in return if you upload less in exchange. This is by design. Duplicate of https://github.com/qbittorrent/qBittorrent/issues/12192 and probably many others.

[2021-04-26 15:48] #14806 closed

[2021-04-26 15:49] superbonaci commented on #14851
I don't know, maybe it's Plasma theme? How do I know that? I'm using the Breeze theme for Plasma.

[2021-04-26 15:51] FranciscoPombal commented on #14749
https://github.com/qbittorrent/qBittorrent/blob/master/CONTRIBUTING.md

[2021-04-26 15:51] #14749 closed

[2021-04-26 16:00] FranciscoPombal commented on #13814
Interesting new developments. Looks like qBittorrent is trying to bind to something it shouldn't or can't bind to, and that is causing the issue. I added but then removed the `Libtorrent` label because I'm actually not sure now if it could be the problem.

[2021-04-26 16:10] FranciscoPombal commented on #14690
You also probably want to post this to https://github.com/arvidn/libtorrent.

[2021-04-26 16:10] thalieht commented on #14851
Update... there are some fixes regarding this since then.

[2021-04-26 16:21] #14776 closed

[2021-04-26 16:23] #14699 closed

[2021-04-26 16:30] FranciscoPombal commented on #14675
I assigned the `Can't reproduce` label but I haven't tested with a setup identical to yours, just a standard Linux distro running on bare metal.

[2021-04-26 16:32] FranciscoPombal commented on #14651
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14489.

[2021-04-26 16:32] #14651 closed

[2021-04-26 16:35] FranciscoPombal commented on #14775
How many? It may be causing qBittorrent to spend a lot of time saving resume data. In any case, it certainly should not take all night, and anyway, I was under the impression that if programs hadn't successfully closed after some time when shutting down Windows would kill them.

[2021-04-26 16:37] FranciscoPombal commented on #14561
Seems more like a spurious issue with the system. If you can reproduce this or a similar problem, please open a new issue detailing that.

[2021-04-26 16:37] #14561 closed

[2021-04-26 16:37] superbonaci commented on #14851
Happens with these themes:

![](https://i.imgur.com/QRLdkxj.jpg)

- Breeze
- Kubuntu
- Breeze Twilight

Doesn't happen with:

- Breeze Dark

[2021-04-26 16:48] FranciscoPombal commented on #12690
@Arakys7 @a-raccoon

Please test if the problem is fixed with the test CI builds. They are under checks (at the bottom of the page) -> click details for the relevant OS version -> download the build in the `Artifacts` drop down.

[2021-04-26 16:50] #14705 closed

[2021-04-26 16:51] superbonaci commented on #14851
With Breeze Dark works:

![](https://i.imgur.com/Z3NbGVF.png)

[2021-04-26 16:58] slrslr commented on #13814
TECHNICAL NOTE, NO NEW DISCOVERY:
I know i can "nmcli connection down abc" but obviously as regular user does not know if that is that shutdown.
Also how to evaluate the impact of the shutdown, only the way that qbt will start normally?
I have an e-mail in my profile - it may be better to use it because i would have many stupid questions as a noob user so this thread can go "infinite", i am willin

[2021-04-26 17:00] a-raccoon commented on #12690
@FranciscoPombal bottom of which page? Are there compiled windows binaries? Testing for tag column sorting; do you know if tagging context menu persistence has also been addressed?

[2021-04-26 18:41] MrZed001 commented on #14846
After completion yes, a very simple program in any language could easily organise and move the TV torrent files to the desired structure ... only that would mean that **this torrent is no longer seeding**.
Extreme contra productive result.

Yes, it is specific. But very VERY big part of the torrent's downloaded are TV Shows.
Users ask for this feature for a decade. The scene supports it too, has s

[2021-04-26 19:01] csavard-sudo commented on #14489
Perhaps, but this approach seems tailored to a project such as this.

[2021-04-26 19:10] sakkamade commented on #12690
No, it has not, otherwise you'd have seen such title.
You are referring to https://github.com/qbittorrent/qBittorrent/issues/13492, if am not mistaken.

[2021-04-26 21:05] xavier2k6 commented on #14700
@spikeenix Thanks anyway for the report but it is of very little uses as it's an empty stack trace, no debug symbols etc.

Please ensure you install `64-bit` going forward if running `64-bit` OS.

[2021-04-26 21:05] #14700 closed

[2021-04-26 21:49] seventhsite commented on #14848
This is only my strange wishes - I want to have only one directory jf my profile in /home

[2021-04-26 21:53] xavier2k6 commented on #10847
@Chocobo1 I was just wondering if the planned deprecation of zlib support by OpenSSL would have much if any impact on us??

[2021-04-26 22:07] seventhsite commented on #14848
Thank you! It work!

[2021-04-26 22:07] #14848 closed

[2021-04-27 00:08] allanlaal opened #14859 "ADD "open in qBittorrent Search tab" as a special url handler to open searches from browsers"
like now we can set qbi to handle `magnet:` links
similarly I propose there would be a `searchtorrent:` or similar link, which qBittorrent can be registered to handle on ones computer

that link would open an (existing) qBittorrent instance and start a new Search in the search tab with default search settings

[2021-04-27 01:21] a-raccoon commented on #12690
I'm referring to the aforementioned bucket known as `Revise tag related implementations` which would include such things, if/when a solution is found.

[2021-04-27 02:40] ghost opened #14860 "Downloads never start in macOs Big Sur 11.2.3"
**Please provide the following information**

### qBittorrent version and Operating System
macOs Big Sur 11.2.3
Qbittorrent 4.3.4.1

### What is the problem
Downloads keep seeding forever after quitting the application. I tried downloading the stalled torrents with other applications and they work just fine.

### What is the expected behavior
Downloads should work.

### Steps to reproduce
- Downlo

[2021-04-27 03:00] sakkamade commented on #12690
@a-raccoon, Try to click upon `...` ┐

**Fix qbittorrent#12690.**

[2021-04-27 03:25] Chocobo1 commented on #10847
I think we are not affected and zlib is still a direct dependency of qbt.

[2021-04-27 04:31] glassez commented on #14859
How do you intend to use it? Who will provide such links?

[2021-04-27 08:36] xavier2k6 commented on #8861
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:36] #8861 closed

[2021-04-27 08:37] xavier2k6 commented on #11897
OP disappeared.....closing

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:37] #11897 closed

[2021-04-27 08:38] xavier2k6 commented on #8919
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:38] #8919 closed

[2021-04-27 08:40] xavier2k6 commented on #8947
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:40] #8947 closed

[2021-04-27 08:40] xavier2k6 commented on #8909
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:40] #8909 closed

[2021-04-27 08:41] xavier2k6 commented on #8960
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:41] #8960 closed

[2021-04-27 08:43] xavier2k6 commented on #8985
@mzso Is this still an issue for you in **4.3.4.1**?

[2021-04-27 08:44] xavier2k6 commented on #9243
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:44] #9243 closed

[2021-04-27 08:46] stdedos opened #14862 "4.1 series of qBittorrent are no longer supported"
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

_Originally posted by @xavier2k6 in https://github.com/qbittorrent/qBittorrent/issues/8960#issuecomment-827430006_

I will, as soon as I will need to re-import about 0.5 TB of Torrents from uTorrent, and all of the other contributing factors

[2021-04-27 08:46] xavier2k6 commented on #9051
@TrueXakeP Is this still an issue for you with **4.3.4.1**?

[2021-04-27 08:47] xavier2k6 commented on #9052
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:47] #9052 closed

[2021-04-27 08:48] xavier2k6 commented on #9077
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:48] #9077 closed

[2021-04-27 08:50] #14862 closed

[2021-04-27 08:53] xavier2k6 commented on #9221
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:53] #9221 closed

[2021-04-27 08:54] xavier2k6 commented on #10847
@Chocobo1 Thank you!

[2021-04-27 08:57] xavier2k6 commented on #9952
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:57] #9952 closed

[2021-04-27 08:58] xavier2k6 commented on #9968
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:58] #9968 closed

[2021-04-27 08:59] xavier2k6 commented on #10157
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 08:59] #10157 closed

[2021-04-27 09:02] xavier2k6 commented on #10247
4.1 series of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 09:02] #10247 closed

[2021-04-27 09:10] xavier2k6 commented on #9549
OP disappeared & icons have been updated since issue was created - closing.

[2021-04-27 09:10] #9549 closed

[2021-04-27 09:19] xavier2k6 commented on #9578
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 09:19] #9578 closed

[2021-04-27 09:20] xavier2k6 commented on #10444
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 09:20] #10444 closed

[2021-04-27 09:20] xavier2k6 commented on #10587
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 09:20] #10587 closed

[2021-04-27 09:21] xavier2k6 commented on #10640
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 09:21] #10640 closed

[2021-04-27 10:11] erickyun opened #14863 "How can I save changed settings for qbittorrent-nox in termux?"
**Please provide the following information**

### qBittorrent version and Operating System
qbittorrent-nox latest version v4.3.4.1 and termux android ubuntu-20.04

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
when I close termux, settings like rss feed and default download location will be lost?

### What is the expected behavior
How I can save settings

[2021-04-27 10:28] sappyyy opened #14864 "Command-line save path issue - torrent not adding when if the path containing = symbol"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4.1 Windows 10 19041.388

### What is the problem
When adding torrents from command line with --save-path= argument, if the path is containing "=" symbol in it, torrent is not added
example -
C:\Progs\qBittorrent2\qbittorrent.exe --profile=C:\Progs\qBittorrent2 --add-paused=true --skip-dialo

[2021-04-27 10:41] xavier2k6 commented on #12774
@FranciscoPombal I've assigned you to this, feel free to un-assign if you wish.

[2021-04-27 10:45] TrueXakeP commented on #9051
I'll check.

xavier2k6 ***@***.***> 27 апреля 2021 г. 11:47:01 написал:

[2021-04-27 10:48] xavier2k6 commented on #3128
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 10:48] #3128 closed

[2021-04-27 10:50] xavier2k6 commented on #8247
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 10:50] #8247 closed

[2021-04-27 16:07] xavier2k6 commented on #14302
OP disappeared

4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-27 16:07] #14302 closed

[2021-04-27 16:50] FranciscoPombal commented on #10847
@xavier2k6

Can you please provide a source for this?

[2021-04-27 19:10] Kolcha commented on #14379
successfully compiled master branch commit ab6141edb7fd67ab0037f642eacb7ce89907b8f5 for Apple M1 !
see last line in command line on screenshot, file type reported is arm64! no Rosetta installed on used MacBook !
qBittorrent runs as native ARM64 app, and it works!

you can [download experimental build here](https://www.dropbox.com/s/h5qapav5g8o8oc6/qbittorrent-master-macosx.dmg?dl=0) (link to Dropb

[2021-04-27 19:11] Kolcha commented on #14102
see https://github.com/qbittorrent/qBittorrent/issues/14379#issuecomment-827850457

[2021-04-27 21:00] AlexALX commented on #14782
Seems something still wrong. Did tested multiple times - when space ends, it show error, then i'm removing some files and continue download. It download up to ~99.4-99.5% and then stuck forever. But after i reopen qbittorrent - it finish download normally.

Parts looks as this when stuck: https://i.imgur.com/dIxez0p.png

Seems something prevents from finish it.

[2021-04-27 21:22] xavier2k6 commented on #10847
https://github.com/openssl/openssl/issues/14506

[2021-04-27 21:23] xavier2k6 commented on #14102
@Kolcha Thank you!, @Rhinocros Please subscribe to #14379

[2021-04-27 21:23] #14102 closed

[2021-04-27 23:08] Arakys7 commented on #12690
@FranciscoPombal
I tested using the v4.4.0alpha1 build on Windows
All my tags are sorted alphabetically, as expected.

Thank you for fixing this bug!

[2021-04-27 23:15] MightyFlix commented on #6236
That's the point; having to do this sucks. I want a simple and effective solution since the files are so prone to corruption; it's a major PITA to fiddle with the settings and manually add and recheck torrents, specially on hard drive storage. Other clients either have this by default or never crashed or corrupted config files with me. After using QB for less than a month it's already happened twi

[2021-04-27 23:28] Kolcha commented on #14379
Unofficial qBittorrent 4.3.4.1 release for Apple M1
--------------------------------------------------
compiled using the same libraries versions as official
no any source code changes, 332b173e080aa2deb2933eb848298fd98b71514b
**for Apple M1 only, NOT universal binary**
\>\>\>[download release 4.3.4.1](https://www.dropbox.com/s/g7cxl78nsftvzf9/qbittorrent-release-4.3.4.1-m1.dmg?dl=1)<<<
<img width

[2021-04-28 01:53] undead9786 opened #14866 "Cancel Recheck/Cancel Moving Data/Data Move Progress"
It would be great if you can cancel rechecks when accidentally running it, I understand if it's running you can't stop it but if it is pending it would be good to cancel it.
Another thing would be to cancel moving data and if it is in progress it will move it back to the original location.
Last thing is when moving data it would be helpful if you can see the progress like a recheck.

[2021-04-28 03:42] #12690 closed

[2021-04-28 05:26] confusedlad opened #14867 "Speed Throttling and Fluctuations"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4.1, Windows 10 20H2

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
Got a 150mbps internet connection, and a really healthy torrent, download speed on my qB v4.3.4.1 are very low and fluctuating: min- 2.5mBps
max- 5.2mBps  ; these are on ethernet
I

[2021-04-28 07:56] ted423 commented on #13286
.lnk support relative path, So that's why I use .lnk in my torrent.(and some people don't like rar or zip because they don't know what is in it)
Most users will not follow the documentation to use the software.
I think warn user is unnecessary. Because I don’t think software can cover everything. User will do something  at his own risk.
Some warning pop-ups may affect the convenience of software o

[2021-04-28 10:05] amik71 opened #14868 "DHT doesn't work when HTTP proxy is enabled"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent 4.3.4.1 on Windows 10 20H2

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
DHT does not work when torrent-only HTTP proxy is enabled.

### What is the expected behavior
It was assumed that with such settings, connection to trackers should go through a pr

[2021-04-28 13:47] thalieht commented on #14868
https://github.com/arvidn/libtorrent/issues/4078#issuecomment-553553001

[2021-04-28 14:17] aabbcczz opened #14869 "number is shown incorrectly"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1, windows, x64

### If on linux, libtorrent-rasterbar and Qt version
N/A

### What is the problem
many numbers in the UI can't be recognized

![qb_bug_1](https://user-images.githubusercontent.com/7569318/116419235-70aaa580-a86f-11eb-97ec-20a9c4d9c5f5.png)
![qb_bug_2](https://user-images.githubusercont

[2021-04-28 14:56] thalieht commented on #14869
Duplicate of #13028 #12923 and probably others. Read them.

[2021-04-28 16:31] JaphyRyder opened #14870 "Caught signal: SIGABRT"
Linux Terminal recently served up this message.
Good luck working things out! JR
*************************************************************
Please file a bug report at http://bug.qbittorrent.org and provide the following information:

qBittorrent version: v4.0.3

Caught signal: SIGABRT
Stack trace:
  /lib/x86_64-linux-gnu/libc.so.6 : gsignal()+0xc7  [0x7f3b503b5fb7]
  /lib/x86_64-linux-gnu/libc

[2021-04-28 16:44] thalieht commented on #14870
Thanks for the report but that version is too old. Whatever the problem, it may be fixed by now.

[2021-04-28 16:44] #14870 closed

[2021-04-29 07:57] anoname1 opened #14873 "Create torrent tracker list blank lines"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.4.1

### What is the problem
The tracker list of the "create torrent" window, given a blank line, will add the string "el" to the tracker list in the created torrent.

### What is the expected behavior
Skip the line and do not add any text to the torrent as it seems to break tracker functionality

### St

[2021-04-29 10:16] Ryrynz commented on #11917
You should swap the colors for ones similar-ish to the default ones and submit it to be the new default theme..

[2021-04-29 11:59] amik71 commented on #14868
Sure, I understand that udp doesn't work through http proxy, but I'm not trying to do it either.
I was trying to implement a direct connection for the dht network and access trackers through proxy, and it seemed to me that the "use proxy only for torrents" setting should have worked that way. Or am I wrong?

[2021-04-29 12:26] FranciscoPombal commented on #14379
@Kolcha How did you handle Qt? I thought that Qt would only get support for M1 in a future release. Surprised to see that Qt 5.15.2 works out of the box.

[2021-04-29 12:32] FranciscoPombal commented on #10847
@xavier2k6 Thanks. Fortunately we have nothing to worry about, and if even if we did, that change is something that'll happen post-3.0, so it should take quite a long time still: https://github.com/openssl/openssl/issues/14506#issuecomment-824578586

[2021-04-29 12:49] Kolcha commented on #14379
@FranciscoPombal even 5.12.x works :) but not exactly "out of the box" :)
all I did that changed only one line in some Qt' mkspecs file. and that change was caused by very unexpected thing - I got x86 Qt' binaries (moc was among them)! and system complained that something can't be executed (because I don't have Rosetta (I must have clean environment)
after that change build process went fine. also

[2021-04-29 13:04] pinyangcong commented on #13304
Disk cache set to '256MiB'

[2021-04-29 13:16] FranciscoPombal commented on #14379
@Kolcha

Thanks for the details.

I'm happy that you're looking into cross-compiling with x86-64 hosts - this means that we can create a GitHub Actions workflow for the procedure and get macOS ARM test builds working even before (if ever) GitHub introduces native macOS ARM runners. Still, I would suggest documenting the current build procedure (native compilation) on a wiki page and link it here,

[2021-04-29 13:41] FranciscoPombal commented on #13286
@ted423

Agreed about a plain directory structure being preferable to a zip/rar (especially because for some types of content it makes cross-seeding harder/impossible, among other reasons).

However, if the user is too lazy to read the documentation to find out the location of certain folders within your torrent (such as the `Plugins` directory in your example torrent above), that's on them ("User

[2021-04-29 14:40] ted423 commented on #13286
.lnk not only can had  relative path, but also can have command-Line arguments in it.
so as I said, .lnk is a file.
qb is a software, so he need to treat this like other software(7z or something).
this is a issue, and this is a bug.
please not ask me why not use a .bat or something instead. Because there still a little different and I don't do this.
I just want qb behavior like other software

[2021-04-29 14:52] hardhu opened #14874 "qbittorrent crash on start"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent version: v4.3.0 (64-bit) on Windows 10

### What is the problem
qbittorrent crashes on start

### What is the expected behavior
Launch the program by opening a .torrent file and start to download it

### Steps to reproduce
Double click on any .torrent file

### Extra info(if any)
Libtorrent versi

[2021-04-29 14:54] ted423 commented on #13286
put .lnk on linux and cat
![image](https://user-images.githubusercontent.com/7042766/116571333-91413100-a93d-11eb-8c09-ed05dc03108f.png)
 use txteditor open url .lnk

![image](https://user-images.githubusercontent.com/7042766/116571581-cc436480-a93d-11eb-81b9-37b0f82aea2e.png)

[2021-04-29 15:08] ted423 commented on #13286
Holy shit, my fault, in fact, some software will find the target.
So, behavior like 7z or winrar is what I think is better when qb make torrent

[2021-04-29 16:06] ArcticGems commented on #14874
Try upgrading to qBit 4.3.4.1 and see if qBit still crashes.

(if it still crashes, check if your anti-virus/firewall is doing it).

[2021-04-29 16:39] hardhu commented on #14874
Upgrading to 4.3.4.1 seems to have fixed the problem.

[2021-04-29 16:39] #14874 closed

[2021-04-29 18:58] Animo78 opened #14875 "Caught signal: SIGSEGV"
### qBittorrent version and Operating System
qBittorrent version: v4.1.5  Debian GNU/Linux 10 (buster) X64

### If on linux, libtorrent-rasterbar and Qt version
QT 5.11.3
Libtorrent: 1.1.11.0
Boost: 1.67.0

### What is the problem
Crash / Closing

### What is the expected behavior
Crash / Closing

### Steps to reproduce
Double clicking searched items and adding them to the download list.

### Extr

[2021-04-29 19:24] thalieht commented on #14875
Thanks for the report. That version is too old, not supported anymore.

[2021-04-29 19:24] #14875 closed

[2021-04-29 22:33] treysis commented on #14849
What does `netstat -tulpen | grep qbit` yield? You realize that the IP address in the peer list is not your IP, but the one of the peer that you are connected to?

[2021-04-29 22:36] treysis commented on #8602
I believe it's fixed in the current version and this issue can be closed.

[2021-04-29 23:49] sakkamade commented on #14851
Has been fixed in https://github.com/qbittorrent/qBittorrent/pull/14472.

[2021-04-30 00:25] superbonaci commented on #14851
Great.

[2021-04-30 00:25] #14851 closed

[2021-04-30 00:26] moom0o commented on #14849
[code]

[2021-04-30 02:21] moom0o commented on #14849
Ok, I don't think this is a qbittorrent problem.
![Nwu4Xq](https://user-images.githubusercontent.com/48740106/116640766-48877900-a939-11eb-8976-1497449a2eca.png)

[2021-04-30 02:30] SailingHank opened #14876 "New Update Cleared most all transfers"
**Please provide the following information**

### qBittorrent version and Operating System
 Latest

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
I closed down qtorrent to transfer some files.  When I reopened it, the interface was all different, and most all my pending transfers were all gone, except for 4 random transfers.  All the downloaded data is s

[2021-04-30 05:20] IRISHMAN04 commented on #14775
It was over 40, but they were all seeding so I assumed the progress wouldn't need to be saved. I'll remove them and see if that's a problem

[2021-04-30 05:56] SailingHank commented on #14876
I found the backups of the original torrents as well as the preferences file.  How do I go about loading that preferences file into the new qbittorent?  Also, how do I get it to read the information in the default file folders?  Nothing has been moved, its like its just ignoring it.

[2021-04-30 06:22] HsOjo opened #14877 "[qBittorrent-nox] double free or corruption (!prev) / free(): invalid pointer"
**Please provide the following information**

### qBittorrent version and Operating System

* qBittorrent version: v4.3.3
  * ```qbittorrent-nox/bionic,now 1:4.3.3.99~202101191832-7248-da0b276d5~ubuntu18.04.1 arm64 [installed]```
* xUbuntu 18.04.5 LTS (GNU/Linux 3.10.105-lineageos aarch64)

### If on linux, libtorrent-rasterbar and Qt version

[code]

### What is the problem

* After running for a

[2021-04-30 06:26] SailingHank commented on #14876
This:

https://github.com/qbittorrent/qBittorrent/issues/6236

Appears to be what actually happened.  Except all the data is right there where it should be, I have uninstalled and reinstalled past versions and new versions and qBittorent just doesnt care that its right there.

How is this possible?  Its not looking for its own data in its own default directories.  OK.  But how do I tell it to star

[2021-04-30 06:40] sakkamade commented on #6236
Ahaha. I wonder where did you read that qBittorrent _does_.
If you have crashes, open an appropriate issue.

Have been using it over a year, have changed the platform in meanwhile, have never had  corruption of config even once.

[2021-04-30 06:46] rOOb85 commented on #14636
OS Ubuntu 18.04 x64
qBittorrent v4.3.3
Qt: 5.9.5
Libtorrent:  1.2.13.0
Boost: 1.65.1
OpenSSL: 1.1.1
zlib: 1.2.11

Same issue here. I have done the following things in settings:

Set peer connection protocol to just TCP
Set the port number for incoming connections(added TCP and UDP port forward rules in my router so this port is open)
Unchecked  Use UPnP / NAT-PMP port forwarding from my router
Ena

[2021-04-30 07:01] sakkamade commented on #6236
@linuxlad Spare us your inchoate sarcasm.

[2021-04-30 07:11] escape0707 commented on #6236
@MightyFlix

No.

Good.

[2021-04-30 07:12] stdedos commented on #6236
No _you_ spare us _your_ sarcasm.

Yes, we have. There's a reason there are 2.3k open issues (as of now), and most of them "closed due to inactivity".

So that makes our reports of bugs "non-existent" because _you_ haven't?

---

Thank you for your non-contributing comments; now pls go away.

[2021-04-30 07:17] escape0707 commented on #6236
@stdedos

This project can have 2.3k **valid issue**, 2.3k **qualified PR**, but not 2.3k **iS tHiS iSsUe FiXeD~ i WaNt iT sObAdLy!**.

[2021-04-30 07:23] sakkamade commented on #6236
@stdedos Thank you for your honest boorishness; but if you have an examples where the crash of the client causing the corruption of the config files, you would better mention them here to make this issue more relevant, and not simply display your mental nature.

And I wonder how much _your_ commentary is contributing?

[2021-04-30 10:15] MightyFlix commented on #6236
I've edited my previous comment to be more clear, but the previous version was plain on this: I didn't read anywhere, just experienced it twice in less than a month; apparently you either couldn't grasp that or chose to ignore it.

Congrats for your anecdotal evidence, not what I'm looking for. This is the appropriate issue and it's open right now, others in this very thread already confirmed it h

[2021-04-30 10:33] sakkamade commented on #6236
Now that's goes beyond any reaaon.
 And why do we must blindly believe your "anecdotal evidence?"
I should think mine none the worse.

Thus I have adviced you to open the issue (a separate one) in which you would describe how did it crashes, how you are losing you config, and how this feature will be useful.
I trust there was not such, presently, and it would be really helpful.

As for these words

[2021-04-30 10:40] FranciscoPombal commented on #14775
I assume this means between 40-50. This is definitely not too many, and certainly not enough to "be causing qBittorrent to spend a lot of time saving resume data." like I speculated above. Maybe something like anti-virus is interfering?

[2021-04-30 10:45] FranciscoPombal commented on #13286
So, behavior like 7z or winrar is what I think is better when qb make torrent

Well, I think we have to agree to disagree on this on. I think it is better to change the current behaviour (qBittorrent follows `.lnk`s as if they were symlinks) to qBittorrent treating `.lnk`s as regular files.

[2021-04-30 10:50] xavier2k6 commented on #10118
OP ghosted - 4.1 series & below of qBittorrent are no longer supported

[2021-04-30 10:50] #10118 closed

[2021-04-30 10:51] xavier2k6 commented on #11150
4.1 series & below of qBittorrent are no longer supported

If you experience this issue with qBittorrent **4.3.4.1** or later, please feel free to open a "New Issue"

[2021-04-30 10:51] #11150 closed

[2021-04-30 10:53] FranciscoPombal commented on #14874
Most likely a duplicate of https://github.com/qbittorrent/qBittorrent/issues/13529, fixed long ago.

[2021-04-30 10:57] FranciscoPombal commented on #14863
Moved to discussions.

[2021-04-30 10:58] #14863 closed

[2021-04-30 11:19] FranciscoPombal commented on #14876
Not possible. Maybe you missed something?

Likely an issue on your end, moving to discussions for now. Here, other users may help you getting your setup working correctly. If you do uncover an actual bug in the troubleshooting process, please submit a new issue report (one may be created for you also).

[2021-04-30 11:19] #14876 closed

[2021-04-30 11:59] sledgehammer999 opened #14880 "Preparing 4.3.5 release"
This is a project management announcement.

I intend to start making the 4.3.5 release in a few hours.

Is there any last minute thing that I need to be aware of?

@qbittorrent/frequent-contributors

[2021-04-30 12:21] FranciscoPombal commented on #14873
See https://www.bittorrent.org/beps/bep_0003.html (specifically the section about "bencoding") and https://www.bittorrent.org/beps/bep_0012.html. What you are seeing is simply the bencoding delimiters of tracker `announce_list` elements. Nothing's wrong here. A blank line in the dialog simply separates between tiers.

Here is an example of the start of a `.torrent` file created with `mktorrent`:

[2021-04-30 12:21] #14873 closed

[2021-04-30 12:40] FranciscoPombal commented on #14880
@sledgehammer999

Other than backporting https://github.com/qbittorrent/qBittorrent/pull/14861 (trivial), there is nothing else on my wishlist for qBittorrent for this minor 4.3.x release. The stuff still open in https://github.com/qbittorrent/qBittorrent/milestone/67 is bound to be pushed to a future milestone anyway.

As for libtorrent, the most recent commit at the time of writing (`22af326f6c0

[2021-04-30 12:43] FranciscoPombal commented on #14880
https://github.com/qbittorrent/qBittorrent/pull/14714 would also be nice if backported in time.

[2021-04-30 12:53] FranciscoPombal commented on #14774
@davkastheranger19 Please try a port > 1024 (recommended), or running qBittorrent as root (not recommended).

[2021-04-30 13:41] FranciscoPombal commented on #14844
@arvidn ideas?

[2021-04-30 13:42] FranciscoPombal commented on #8985
@thalieht You've previously marked this as a confirmed bug. Can you still reproduce it?

[2021-04-30 13:42] glassez commented on #14880
There is nothing so important to postpone release for, IMO.

[2021-04-30 14:12] thalieht commented on #8985
I marked it because someone else confirmed it...

[2021-04-30 14:16] FranciscoPombal commented on #6236
This is an unfair insinuation that either the issue tracker is mismanaged, or that the bugs are not getting fixed, or both.
The issue tracker management has improved significantly since about 2 years ago or so - the singal-to-noise ratio is much higher, the vast majority of reports are assigned a label and receive a response from a project member or contributor within a short time of being posted,

[2021-04-30 14:22] FranciscoPombal commented on #8985
Well, what can you say about the reproducibility of this bug in the most recent version, @mzso @eltorqiro ?

[2021-04-30 14:55] Zymerdrew commented on #13664
Thank you, Aerasyn!  This PowerShell script worked for me.  For those who don't want to run some rando's PS script on their computer, these were my results Apr 30, 2021:

name                    domain
----                    ------
Ireland SOCKS #1        socks-ie1.nordvpn.com
Ireland SOCKS #2        socks-ie2.nordvpn.com
Ireland SOCKS #3        socks-ie3.nordvpn.com
Ireland SOCKS #4        socks

[2021-04-30 14:59] Aerasyn commented on #13664
Any Luck getting them to connect on any version past 4.1.9.1?

[2021-04-30 15:05] stdedos commented on #14207
I don't have any auto-managed torrents (precisely because I don't know what that is)

[2021-04-30 15:11] stdedos commented on #6236
I am not trying to pick a fight with the project. Neither insinuate any of the aforementioned things; I am sorry if that somehow felt personal, one way or another.

I meant that you could be swamped, you don't have enough resources for everything, and you cannot cater to everyone's wishes/whims - apart from the fair points that you have also made.

I know that, if _someone_ really wants something,

[2021-04-30 15:11] Zymerdrew commented on #13664
Yes - I'm on qbittorent v4.3.4.1 and added one by their name as displayed above (not IP#.)  Now it's working great.
![image](https://user-images.githubusercontent.com/62306526/116715581-d8164180-a9a4-11eb-9b0b-f82170f6757b.png)

[2021-04-30 15:44] arvidn commented on #14844
is this using libtorrent 1.2.x?
If so, the [read_cache_line_size](http://libtorrent.org/reference-Settings.html#read_cache_line_size) setting could be lowered.

If this is using libtorrent 2.0.x, the read-ahead is a kernel setting.

[2021-04-30 15:59] davkastheranger19 commented on #14774
If I have to run the service as root to get 443 to work, then I will just use a reverse proxy.
Thanks.
You can close the ticket.

[2021-04-30 16:22] maisun commented on #14844
I believe it’s Libtorrent V1.2.13.0.
Do you know how to change that setting in qbittorrent?

[2021-04-30 16:22] Aerasyn commented on #13664
Weird, I'm still getting the proxy error as I have gotten with every version after 4.1.9.1 :(
![image](https://user-images.githubusercontent.com/933664/116724451-86b28600-a995-11eb-8ed0-85df2aa69857.png)

[2021-04-30 16:56] maisun commented on #14425
Also experienced amplified read, would be nice to expose read_cache_line_size in advanced settings, thanks!

[2021-04-30 18:11] mzso commented on #8985
[**@FranciscoPombal**](https://github.com/FranciscoPombal) commented on [2021. ápr. 30. 16:22 CEST](https://github.com/qbittorrent/qBittorrent/issues/8985#issuecomment-830130145 "2021-04-30T14:22:43Z - Replied by Github Reply Comments"):

I tried doing it again. Added a magnet link with few peers, waited half a minute, removed it. But nothing strange happened. I also tried a big well seed torrent

[2021-05-01 00:19] 8tm commented on #14480
Why this issue is closed?
#14765 is also closed.

[2021-05-01 02:16] Gunni commented on #13839
I have a maybe similar issue? When clicking the tray icon, the main window pops up, i have a dark theme configured but for some reason the window flashes white for a moment before switching to my ui theme.

[2021-05-01 04:23] eltorqiro commented on #8985
Sorry I can't retest this, I don't use QB (or any torrent client) anymore,
and don't have a PC I can do a test with.  I know it was still present
halfway through 2020, but I can't recall the specific version number back
then.

It's fairly straightforward to test on Windows using the native Resource
Monitor.  When you delete a torrent (with files on disk option ticked), but
no files have yet been c

[2021-05-01 07:26] k-matti opened #14881 "Run two scripts on torrent complete"
Hello,

Is it possible to run two scripts on torrent complete? I know i can provide path to script to run in web ui but can i run multiple scripts?

[2021-05-01 11:19] thalieht commented on #14881
Run the 2nd script from the 1st?

[2021-05-01 11:21] k-matti commented on #14881
Yes this is kind a solution but i was thinking about run two separate script.

thanks

[2021-05-01 11:42] Felipefpl commented on #14880
Please dont forget to update all language files, they got updates. ;)

[2021-05-01 14:43] Souravgoswami opened #14883 "While downloading file has different name than shown in the QBittorrent name section"
**Please provide the following information**

### qBittorrent version and Operating System
QBittorrent 4.3.3
OS: Archlinu x86_64

### If on linux, libtorrent-rasterbar and Qt version
Libtorrent-rasterbar: 1:1.2.11-1
Qt: 5.15.2+kde+r180-1

### What is the problem
When I download some big files, I can't find it in the downloads folder or even in the / directory. It downloads fine, and after download

[2021-05-01 16:46] batuhankrmn opened #14885 "FileBot script that I wrote can't take the qbittorrent variables to run."
**Please provide the following information**

### qBittorrent version and Operating System
v4.3.4.1, Windows 10

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
I created a bat file to run multiple script but the variables in the script wont replaced with qbittorrent variables ( %F %N %L). I dont know how to add qbittorrent variables to bat file or If it i

[2021-05-01 16:47] sergeykad opened #14886 "Enabling "Torrent queuing" stops all upload"
### qBittorrent version and Operating System
qBittorrent 4.3.4.1 64-bit
Windows 10 64-bit (20H2 19042.928)

### What is the problem
Enabling "Torrent queuing" stops all upload. Performing clean installation does not solve the problem.

### What is the expected behavior
 "Torrent queuing" will limit upload according to the specified limits.

### Steps to reproduce
Have some downloaded torrents. Ena

[2021-05-01 17:29] element4l opened #14887 "[Wishlist] torrent options on add torrent window (or category/tag-specific options)"
It would be great to be able to set torrent options when adding a torrent, such as Speed and Share Limits and DHT. Either that or some kind of way to automatically assign specific torrent options to torrents in a category, tag, or from a list of trackers.

This would enable smooth unobstructive workflow. Currently, I click a magnet link, it opens the add torrent window, I add it, and qBittorrent m

[2021-05-01 17:31] glassez commented on #14883
You're probably confusing the Torrent Name with the File Name (although they are often the same for a torrent that contains a single file).
You can see the file names in the Content tab.

[2021-05-01 17:34] ncflagg commented on #7078
+1  Been wanting this forever.
To me, this should be an independent feature called "Download torrent files alphabetically".
Would also be nice to be able to set a custom order for parent folders inside each torrent.
Ideally, would like to see a dialog where I could just drag all the files around in a visually-ordered list.

[2021-05-01 18:03] DrSKiZZ opened #14888 "Editing existing categories in WebUI is non-existant"
**Please provide the following information**

### qBittorrent version and Operating System
Qbittorrent v4.3.41 Linux

### If on linux, libtorrent-rasterbar and Qt version
qbittorrent-nox

### What is the problem
Once categories are created you cant edit them.

### What is the expected behavior
Being able to edit categoryafter created

### Steps to reproduce
create category,

### Extra info(if any)

[2021-05-01 20:05] stickz opened #14890 "Queued torrent creation"
I would like to request a new feature be added to qBittorrent. Currently the torrent creator dialog box is disabled while a torrent is being created. It would be nice to be able to queue anther torrent file for creation.

[2021-05-01 20:46] sledgehammer999 commented on #14880
I am late. I saw the v4_3_x branch and realized that there wasn't something urgent in there. So I took a step back due to Easter festivities.
But I didn't stop entirely. I have updated all my toolchains, made local changelog entries, some housekeeping for release readiness and took a look at the master commits too.
So the final cut/release will happen in the first hours of Sunday morning (~12 hour

[2021-05-02 03:18] Chocobo1 commented on #14890
The torrent creator dialog isn't aimed for batch processing. There should be other tools that are already available for this task so I'm not sure qbt needs to follow.

[2021-05-02 07:28] escape0707 commented on #11166
I see a more proper use case could be some VPNs forbid using their service for BitTorrent trackers and peer connection but general RSS subscription is allowed.

[2021-05-02 13:49] stickz commented on #14890
The feature request is about being able to define multiple torrents for manual creation, without having to wait for the previous job to complete. It is not about redesigning the torrent creator dialog to automatically create torrents without user interaction.

This feature request aims to fill a gap in functionality that is not offered by other software. It is not possible to define the piece size

[2021-05-02 14:23] stickz commented on #14844
You can't change that without building a new custom docker image. rTorrent is actually better for reducing random disk reads than qBittorrent. You most likely didn't configure the `.rtorrent.rc` file properly.

These settings will greatly reduce the amount of random disk reads/writes on rTorrent.
[code]

[2021-05-02 15:57] maisun commented on #14844
I actually tried the send receive buffer with rtorrent but it didn’t help. With qBittorrent the read amplification is about 3-5 times but with rtorrent it was 10-20 times

[2021-05-02 18:23] mzso commented on #14823
Oh well, this is fully broken and no-one cares about it. I guess I'll just associate manually.

[2021-05-02 18:32] FranciscoPombal commented on #6236
@stdedos

OK, fair, apologies for assuming the worst. The discussion was starting to derail so I erred on the side of caution and defensiveness.

Honestly I don't think this particular feature request has a good chance of actually being implemented. I think the perceived need for this is both a self-inflicted problem (users who are not used to simply backing up their dotfiles/config files/folders)

[2021-05-02 19:09] stdedos commented on #6236
Idk how it became all of a sudden _that I am on the front seat of this_; the feature request is quite older than my comment. All I did is reply to a toxic bully (quite politely, if I may say so). (If I start explaining my rationale, this will end-up being a small story)

It is my belief that this feature will make export/import easier: I don't want want to know _how_ to back this up. If I press a

[2021-05-02 19:22] FranciscoPombal commented on #14885
Moved to Discussions (Q&A).

[2021-05-02 19:22] #14885 closed

[2021-05-02 19:25] FranciscoPombal commented on #14890
@stickz

Isn't this feature request more appropriate for such software then?

P.S.: you can also just use `mktorrent`.

[2021-05-02 19:35] sakkamade commented on #6236
@FranciscoPombal

Is this is a request for fastresumes also?
Quote of OP:

I would have never considered fastresumes as a config files likewise.
 Please change the title to avoid any confusion if so.

This is only your opinion. If many a people are actually experience the config loss, what some of users here rather desparately trying to imply, the user will decide whether this is useful or not.

N

[2021-05-02 20:23] discapes opened #14892 "Rendering artifact makes torrent progress bar text '37%' look like '87%' because it aligns with edge of blue bar."
qBittorrent v4.3.4.1 (Windows x64)

When the progress of a downloading torrent is at somewhere around 37%, the text on the progress bar looks like it's at 87%. See image.

![image](https://user-images.githubusercontent.com/48839377/116826447-acf64280-ab9c-11eb-99ad-0028de474f1b.png)

[2021-05-02 20:30] stickz commented on #14890
[mktorrent](https://github.com/pobrn/mktorrent) is only supported on Linux and it's a command line utility not a graphical user interface. [qMakeTorrent](https://github.com/kz26/qMakeTorrent) is no longer supported and the author of [dottorrent-gui](https://github.com/kz26/dottorrent-gui) [refused to implement these features](https://github.com/kz26/dottorrent-gui/issues/24#issuecomment-485181283)

[2021-05-02 21:01] k-matti commented on #14881
I try something like this but script 1 and script 2 don run

[code]
![image](https://user-images.githubusercontent.com/66017397/116827629-4a03ac00-ab9a-11eb-9ea6-cbe1524bcf0f.png)

all scripts are in the same folder

[2021-05-02 21:23] reyaz006 commented on #14453
Tried portable mode and fiddled around with it. Here are the results:

- The problem seems to be the port for incoming connections. Changing it solves the problem. But I changed it several times before seeing an effect.
- Changing this port seems to be a process that is not very well made. It can freeze for a few seconds right away, but more importantly it now eats 100% CPU (12% of a quad core CPU

[2021-05-02 22:44] #14880 closed

[2021-05-02 22:48] sledgehammer999 opened #14893 "Branching for 4.4.x"
This is a project management issue/discussion

Now, the last 4.3.x series release was done. The next branch will be v4_4_x.
I should branch off current master, right?

@qbittorrent/frequent-contributors

[2021-05-02 23:20] ArcticGems commented on #14453
Are you using tracker-only proxy? This is from libtorrent 1.2.13 changelog that the new qBittorrent v4.3.5 uses:

Full libtorrent 1.2.13 changelog:

[2021-05-02 23:28] harvestry-of-ghosts commented on #13603
4.3.5 is the 6th release in a row now with this issue still ongoing. What's the deal?

[2021-05-02 23:53] sakkamade commented on #14105
Has been fixed with `4.3.5`.

Closing it, since Magyar had also been corrected.

[2021-05-02 23:53] #14105 closed

[2021-05-03 01:32] ArcticGems commented on #13603
Still only use Qt 5.11. In QBit 4.4.x version they will start to use Qt 5.15 (I think?),
check out what it says about DPI in Qt 5.14 changelog =
https://wiki.qt.io/New_Features_in_Qt_5.14

[2021-05-03 01:36] CyrusNajmabadi opened #14894 "qbittorrent resolution scaling still often off."
As an example:

![image](https://user-images.githubusercontent.com/4564579/116834957-427ddc00-ab75-11eb-990c-e2b9d2607dba.png)

This is on the second to latest version (v4.3.4.1).  I'm on windows 10

![image](https://user-images.githubusercontent.com/4564579/116834969-56c1d900-ab75-11eb-8ec4-08d6dcfde71c.png)

Thanks!

[2021-05-03 03:47] curryking3 commented on #14489
Just had this issue with 4.3.5 qbitorrent may 2 2021, did not have the issue with 4.3.4 last month when i had switched to it originally from deluge on windows 10

more of the same flagged some pua thing, let it go through defender and it is currently working and uploading right now at least

[2021-05-03 04:35] EvocativeOlash commented on #14489
Yes the reaction seems more severe now, after allowing the download and trying to run it, after the block there is no easy away to bypass again.

[2021-05-03 04:41] glassez commented on #14893
I would still not give up on the possibility of producing fixup releases for it in the future.

I would not do this until we need to merge in master PRs intended for v4.5.

[2021-05-03 08:24] genrihx2 opened #14896 "problem Defender"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent 4.3.5

### If on linux, libtorrent-rasterbar and Qt version
windows 10

### What is the problem
problem  Windows Defender  Trojan:Win32/Tilevn.A

### What is the expected behavior
error  install
### Steps to reproduce
(type here)

### Extra info(if any)
This app may harm your device
Microsoft Def

[2021-05-03 08:30] mattspew commented on #14896
Having the exact same problem with Windows 10 and 4.3.5 X64 setup file.

[2021-05-03 08:30] sledgehammer999 commented on #14893
At least it is over for planned releases.

Then on what should the new branch be based off?

[2021-05-03 09:48] ZFake opened #14897 "Update dialogue blocks torrent addition dialogue's controls"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent v4.3.4 x64, Windows 10 Pro 20H2 19042.928

### What is the problem
In the rare occasion when update dialogue pops up while torrent addition dialogue is already open, it pops up focused under the torrent addition dialogue and blocks it's controls. The torrent addition dialogue itself stays movable

[2021-05-03 09:57] indig0F10w opened #14898 "qBittorrent 4.3.5 x64 install dialog stuck"
### qBittorrent version and Operating System
4.3.5 x64, Windows 10 Enterprise x64

### What is the problem
qBittorrent installation dialog doesn't close, only option working is "Launch qBittorrent".

### What is the expected behavior
Click Finish after installation and dialog should disappear.

### Steps to reproduce
Update to 4.3.5 x64

### Extra info(if any)
The only way to close install dialog

[2021-05-03 10:09] glassez commented on #14893
I meant that you could produce v4.4.x releases directly from the master until it becomes incompatible with v4.4 (i.e. when we want to merge commits for upcoming v4.5). Then you will explicitly create v4.4 branch, which will mean that only the commits intended for it will now merge into it.

[2021-05-03 10:09] nokti commented on #14886
In the queuing options put Maximum active torrents to infinity and Maximum active uploads to the desired number, that will solve your problem.

[2021-05-03 10:13] sledgehammer999 commented on #14893
Ok. I understood you.
But it is better for packagers to be based off a separate branch even if that branch copies master periodically. Master has too much traffic. The stable PPA shouldn't be based on it, (because it autoimports and autobuilds ~daily).

I will branch off later.

[2021-05-03 10:39] Kolcha commented on #14379
Unofficial qBittorrent 4.3.5 release for Apple M1
-----------------------------------------------
no any source code changes, 063844ed44bffd3fbf2ac2792590ba47bf3fb78e
**for Apple M1 only, NOT universal binary**

\>\>\>[download release 4.3.5](https://www.dropbox.com/s/bhywz220nr0d7d0/qbittorrent-release-4.3.5-m1.dmg?dl=1)<<<

<img width="1440" alt="Screenshot 2021-05-03 at 13 17 14" src="https://u

[2021-05-03 10:42] glassez commented on #14893
Ok.
Then what did you want to get in response to your question above?

P.S. You still need to prevent a past error to prevent unintended commits from leaking there.

[2021-05-03 11:02] Waldkoenig commented on #14165
My friend has probably related problems with the "Last seen" date where apparently the month and date got swapped. Here is a screenshot of a friends torrent client:
![image](https://user-images.githubusercontent.com/12908506/116868746-a3f28900-ac0f-11eb-8b6e-5dbb6c7aa4c7.png)
Take a look at the "Date added" column. It doesn't make sense.

[2021-05-03 11:02] munrobasher commented on #14896
Same problem here. Not the first time Windows Defender (alone) has flagged this:

[https://www.reddit.com/r/qBittorrent/comments/lwqjm9/qbitborrent_flagged_as_malware_by_microsoft/](https://www.reddit.com/r/qBittorrent/comments/lwqjm9/qbitborrent_flagged_as_malware_by_microsoft/)
[https://github.com/qbittorrent/qBittorrent/issues/14601](https://github.com/qbittorrent/qBittorrent/issues/14601)

[2021-05-03 11:04] munrobasher commented on #14489
Confirmed - had to turn off real time scan to allow it to install.

[2021-05-03 11:22] DartPower commented on #14896
Same problem.

[2021-05-03 11:22] BurhanDanger commented on #14489
Why is this issue still open? It's clearly not an issue with qbittorrrent

[2021-05-03 11:28] FranciscoPombal commented on #14896
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/14489

[2021-05-03 11:28] #14896 closed

[2021-05-03 11:29] FranciscoPombal commented on #14489
I agree with marking this as "not an issue", but it should be kept open for visibility. Otherwise, people will open more duplicate reports.

[2021-05-03 11:32] #14886 closed

[2021-05-03 11:33] xavier2k6 commented on #14898
@sledgehammer999 This isn't the first time something like this issue has happened.

Is NSIS 3.06.1 (Latest) being used to package binaries?

I know NSIS for qBittorrent was updated in the past but unsure of what version is being used currently?!

[2021-05-03 11:36] FranciscoPombal commented on #14881
Converted to discussion because this is a question related to usage of the program, not necessarily a bug. Here, other users may help you getting your setup working correctly. If you do uncover an actual bug in the troubleshooting process, please submit a new issue report (one may be created for you also).

[2021-05-03 11:36] #14881 closed

[2021-05-03 11:40] FranciscoPombal commented on #14894
Duplicate of https://github.com/qbittorrent/qBittorrent/issues/13749 and similar issues listed here: https://github.com/qbittorrent/qBittorrent/projects/2#column-12115743.

We're not expecting this problem to get better before moving to Qt6 at least.

[2021-05-03 11:40] #14894 closed

[2021-05-03 12:18] FranciscoPombal commented on #7078
There is no issue with the current behavior of "Download in sequential order", see https://github.com/qbittorrent/qBittorrent/issues/11353. qBittorrent does download pieces in sequential order correctly. The unexpected behavior you're seeing is due to whatever torrent creation tool that was used to create the torrent not adding the files and hashing their pieces in alphabetical order in the first

[2021-05-03 12:20] sledgehammer999 commented on #14893
Sorry I meant to close this.

I merely asked, in case there was more complex plan in the mind of someone else. Like start with cherry-picking specific commits from master and then working 2 different branches separately.

[2021-05-03 12:20] #14893 closed

[2021-05-03 12:51] munrobasher commented on #14489
We don't know 100% that it's not an issue with qbittorrent do we? It could be that Windows Defender is the only virus scanner correctly flagging it - unlikely I admit.

[2021-05-03 12:52] an0n666 commented on #14898
Yes I've also seen some people complaining about this in pvt trackers.

[2021-05-03 12:56] neilbeul opened #14901 "qBittorrent version crashing w/t the following message - Caught signal: SIGABRT"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent version: v4.3.5 running in Docker, on Ubuntu 20.04

### What is the problem
qBittorrent crashes repeatedly after 5-20 minutes

### Steps to reproduce
I've restarted the container in addition to recreating it with no difference therefore the problem is persistent

### Extra info(if any)
Caught sig

[2021-05-03 13:34] FranciscoPombal commented on #8985
Monitor.  When you delete a torrent (with files on disk option ticked), but
no files have yet been created on disk (e.g. no pieces or chunks
downloaded), QB starts scanning/searching through every file on all disks.
You can see that activity in Resource Monitor, so if it's not happening now
then it must be fixed :)

Yep, can't reproduce.

[2021-05-03 13:34] #8985 closed

[2021-05-03 13:35] FranciscoPombal commented on #14901
Converted to discussion because usage with docker is not officially supported. Here, other users may help you getting your setup working correctly. If you do uncover an actual bug in the troubleshooting process, please submit a new issue report (one may be created for you also).

[2021-05-03 13:36] #14901 closed

[2021-05-03 13:40] FranciscoPombal commented on #14849
Moved to discussions.

I think you are simply NAT'ed.

[2021-05-03 13:40] #14849 closed

[2021-05-03 13:45] FranciscoPombal commented on #14782
@glassez ping, can you reproduce this even in the most recent `master`? (https://github.com/qbittorrent/qBittorrent/issues/14782#issuecomment-827926939)

[2021-05-03 13:50] FranciscoPombal commented on #14867
Converted to discussion as this is most likely an issue on your end. Here, other users may help you getting your setup working correctly. If you do uncover an actual bug in the troubleshooting process, please submit a new issue report (one may be created for you also).

I can't reproduce these performance issues even with much worse machines than the one you mention.

Also, to reduce the number of

[2021-05-03 13:51] #14867 closed

[2021-05-03 13:53] #14713 closed

[2021-05-03 14:10] munrobasher commented on #14489
Sounds sensible...

[2021-05-03 14:23] FranciscoPombal commented on #14706
Converted to discussion because usage with docker is not officially supported. Here, other users may help you getting your setup working correctly. If you do uncover an actual bug in the troubleshooting process, please submit a new issue report (one may be created for you also).

The detailed information is appreciated. However, it would also be very useful to see your config (in plain text; redac

[2021-05-03 14:46] ZeroOmar commented on #14706
Both the old and new server are running version 4.3.4.1 like mentioned in the main post
Sorry forgot to include the config file

<details>
<summary>Here is the config file: (Expand me)</summary>
<p>

[code]

</p>
</details>

The config directory is mounted on a NVMe ZFS pool while the downloads directory is mounted on a HDD ZFS pool.

Since the main post after increasing the RAM the service never

[2021-05-03 14:46] treysis commented on #14823
Have you tried running qBT with administrative privileges?

[2021-05-03 14:51] FranciscoPombal commented on #14706
@ZeroOmar

Maybe there was a bug in the old setup that was actually allowing qBittorrent to consume more than 300 MB of RAM and misreporting its usage? Or maybe you simply have many more torrents now?

[2021-05-03 14:52] FranciscoPombal commented on #14823
Don't do this, this is not needed.

[2021-05-03 14:57] treysis commented on #14823
Well, I know this from 7-Zip: I can only set file associations if I run 7-Zip with administrative privileges. I haven't really looked into how qBT does file associations, so this was just a wild guess.

[2021-05-03 14:59] glassez commented on #14782
It is another related issue previously reported by @an0n666 in https://github.com/arvidn/libtorrent/issues/6073

[2021-05-03 15:20] fosam commented on #13603
@harvestry-of-ghosts What version of Windows 10 do yo have now?

[2021-05-03 16:49] ArcticGems commented on #14682
I have experienced this once to, but I have no idea on how to reproduce it.

(qBit 4.3.4.1 on Windows 10 64-bit)

[2021-05-03 16:52] Zymerdrew commented on #13664
Hmm... I had the same issue again today, so I changed to a different server, RESTARTED QT and it worked again.

Aerasyn, I noticed recently that even when I quit QT, it was still running in Task Manager - try looking there and killing the process if running after updating the proxy server location.

I also updated to the newest version (v4.3.5 x64) today, and it kept working.

[2021-05-03 21:08] reyaz006 commented on #14453
It's still using 100% CPU after 24h so I'm restarting it. Upgrading to 4.3.5 at the same time.

![image](https://user-images.githubusercontent.com/6751344/116932636-3116fb80-ac6b-11eb-8363-603ee839ddc5.png)

I don't know. Would it be useful if I tell that I can reproduce the issue on a fresh portable installation while I got main application instance running? I just set the port to the same value,

[2021-05-03 21:19] reyaz006 opened #14908 "Renaming window improvements"
- Bug: when new name includes "new line" character, qbt breaks the file name or torrent name internally and unable to rename it again anymore. Might need to restart qbt or remove torrent to get around this.
- Bug: even though the window width tries to always adapt to the name length, it's sometimes off by several characters. Might be related to cases where name includes non-ANSI unicode characters

[2021-05-03 22:42] Aerasyn commented on #13664
Yeah, the issue of QB still running in the task manager gets me too, and the servers sometimes not connecting is pretty common. I just switch to one of the others when that happens. But I am def curious about your results. Could you screen-shot the execution log in QB reporting the nord ip address connecting? Anytime i try a version of QB past 4.1.9.1 it always gives me the response from my previo

[2021-05-03 23:40] Ahmed-gamal-elmahdy opened #14910 "crash"
**Please provide the following information**

### qBittorrent version and Operating System
qBittorrent has crashed
qBittorrent version: v3.2.3
Libtorrent version: 1.0.6.0
Qt version: 4.8.7
Boost version: 1.55.0

[code]

### If on linux, libtorrent-rasterbar and Qt version
(type here)

### What is the problem
crash

### What is the expected behavior
(type here)

### Steps to reproduce
(type here)

[2021-05-03 23:53] FranciscoPombal commented on #14910
This version is too old.
https://github.com/qbittorrent/qBittorrent/blob/master/CONTRIBUTING.md

[2021-05-03 23:53] #14910 closed

[2021-05-04 06:11] GeraintH opened #14911 "display total size for selected torrents [Feature request]"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.5
win10 21h1

### What is the expected behavior
is it possible to add a function like displaying the total size for selected torrents?

[2021-05-04 08:56] jamesblonde007 opened #14912 "v4.3.5 not working on MacOS 11.3.1"
### qBittorrent version and Operating System
Qbit 4.3.5 on MacOS 11.3.1

### What is the problem
App locks up/freezes when starting and never recovers. Multiple restart of the app and the OS didn't fix this behaviour.

### What is the expected behavior
a running app

### Steps to reproduce
open the app

### Extra info(if any)
I am seeding and downloading torrents (from previous version) so this is

[2021-05-04 09:28] tfalbb opened #14913 "qBittorrent won't see whole HD"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.5 on Windows 10 (10.0.1xxxx)

### What is the problem
QBT stopped downloading files saying my HD was out of space. It isn't. It's reached the MBR limit but as the disk is configured to use GPT the whole 5TB should be useable. Windows can see it all fine, so why can't QBT?

### What is the expected behavi

[2021-05-04 09:35] jamesblonde007 commented on #14860
I had this issue as well. If you look at the tracker tab you should see a message similar to "not working" next to the trackers. In my case, I fixed this by changing the tracker URL from https to http but that might not fix the problem in all cases.

[2021-05-04 10:02] mzso commented on #14823
[**@treysis**](https://github.com/treysis) commented on [2021. máj. 3. 16:57 CEST](https://github.com/qbittorrent/qBittorrent/issues/14823#issuecomment-831315134 "2021-05-03T14:57:06Z - Replied by Github Reply Comments"):

I also had similar experiences. Also, tried it.

[2021-05-04 10:34] coladict opened #14914 "Opening files with path longer than MAX_PATH"
### qBittorrent version and Operating System
v4.3.5 on Windows 10

### What is the problem
Opening a file from the content window fails when file path is longer than MAX_PATH

### What is the expected behavior
Double-click the file and it should run the default program handler with it.

### Steps to reproduce
Download torrent with long filenames or in very deep subfolders with long enough filename

[2021-05-04 10:41] xavier2k6 commented on #14914
@coladict What windows 10 build version?

[2021-05-04 10:57] ArcticGems commented on #14914
Happend to me to.

Windows 10 Home 20H2 64-bit build 19042.928

[2021-05-04 10:59] thalieht commented on #14911
Duplicate of #5705

[2021-05-04 10:59] #14911 closed

[2021-05-04 11:21] coladict commented on #14914
@xavier2k6 straight from the settings menu:
Edition	Windows 10 Pro
Version	20H2
Installed on	‎10.‎6.‎2020 ‎г.
OS build	19042.928
Experience	Windows Feature Experience Pack 120.2212.551.0

[2021-05-04 11:33] xavier2k6 commented on #14914
@glassez @FranciscoPombal

Is qBittorrent using the correct option in the `manifest file` for `MAX_PATH`?

Recommended:
`<ws2:longPathAware>true</ws2:longPathAware>`

Ref: https://docs.microsoft.com/en-us/windows/win32/sbscs/application-manifests#longpathaware

qBittorrent `manifest` has:
<longPathAware>true</longPathAware>

I'm not sure if **MPC-HC's** use of `_MAX_PATH` instead of `MAX_PATH` has

[2021-05-04 11:42] treysis commented on #14823
So did it working running with elevation?

[2021-05-04 12:16] Evengard opened #14915 "Regression: qBittorrent tries to bind to port 0 when "random port on launch" option is ticked"
**Please provide the following information**

### qBittorrent version and Operating System
4.3.5, Win10

### What is the problem
When the option "Select a random port on application launch" is selected, qBittorrent tries to bind to port 0, failing and leaving everything in non-working state.

### What is the expected behavior
It should be binding to a random port instead of doing something illegal

[2021-05-04 12:30] an0n666 commented on #14914
The issue is with MPC-HC and not qBittorrent.

[2021-05-04 13:20] coladict commented on #14914
I just did a little testing and when launched through explorer the command line looks like:

When invoked through qBittorrent it's

You need to prefix the path when it's too long, or just always prefix it.

[2021-05-04 15:08] jamesblonde007 commented on #14912
It started working a few hours later which just reinforces my suspicion that there was a temporary torrent-related error causing the app to hang on startup. When the error condition disappeared, the app started to work again. At least that's my wild theory :)

[2021-05-04 15:11] ArcticGems commented on #14912
what does qBits execution log say?

[2021-05-04 15:14] an0n666 commented on #14823
Setting file associations for qBittorrent never worked for me. It's a known issue for last 2-3 years.

[2021-05-04 15:18] kennychenfs opened #14916 "How to uninstall qbittorrent?"
### qBittorrent version and Operating System
4.1.9, Ubuntu 18.04

### What is the problem
I built it from the source code, but I don't know how to uninstall it now.

[2021-05-04 15:21] #14916 closed

[2021-05-04 15:44] treysis commented on #14823
not even with admin privileges?

[2021-05-04 15:48] ArcticGems commented on #14823
Strange... It has always worked for me.

[2021-05-04 16:24] adem4ik opened #14918 "Unclear 'Downloaded' term in the "Trackers' tab"
**Please provide the following information**

### qBittorrent version and Operating System
qB v4.3.5 + Windows 10 Pro x64

### What is the problem
Unclear `Downloaded` term in the `Trackers` tab. In qB `Downloaded` widely used for `total data downloaded`.

### What is the expected behavior
`Downloads`, `Number of downloads` or `Download times`. I think it comes from the tracker and it knows how mu

[2021-05-04 16:31] adem4ik commented on #11554
It isn't an issue anymore, since popup was reworked:

[2021-05-04 16:33] adem4ik commented on #11554
It isn't an issue anymore, since popup was reworked:
![image](https://user-images.githubusercontent.com/4707112/117037752-e0111100-ad17-11eb-902d-f424e757578a.png)

[2021-05-04 16:33] #11554 closed

[2021-05-04 17:03] jamesblonde007 commented on #14912
I have attached the hang event log file

[qbittorrent_2021-05-04-115005_MacBookPro.log](https://github.com/qbittorrent/qBittorrent/files/6422729/qbittorrent_2021-05-04-115005_MacBookPro.log)